[email]-process-human-approved-response-.json
{
  "updatedAt": "2026-01-15T09:23:37.100Z",
  "createdAt": "2026-01-14T09:14:31.594Z",
  "id": "Z4BV7uCQ8dSjXR1w",
  "name": "[Email] Process human-approved response",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 2: Process human-approved response\n\n",
        "height": 100,
        "width": 640
      },
      "id": "a6db13ed-5248-4314-b37a-1ad78fd6d56a",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Slack Payload').item.json.original_message_ts }}\",\n  \"text\": \"Prospect reply approved\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Lead Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.lead_identifier }}|{{ $('Parse Slack Payload').item.json.lead_identifier }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Reply-from Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.reply_from_email }}|{{ $('Parse Slack Payload').item.json.reply_from_email }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Outreach Campaign:*\\n{{ $('Parse Slack Payload').item.json.campaign_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ $('Parse Slack Payload').item.json.lead_message && $('Parse Slack Payload').item.json.lead_message.length > 500 ? $('Parse Slack Payload').item.json.lead_message.substring(0, 500).replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') + '\\\\n\\\\n[Message truncated - view full reply in Lemlist]' : ($('Parse Slack Payload').item.json.lead_message || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ ($('Parse Slack Payload').item.json.ai_generated_response || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":e-mail: <https://app.lemlist.com/teams/{{ $('Parse Slack Payload').item.json.lemlist_team_id }}/inbox/list/myConversations/contacts/{{ $('Parse Slack Payload').item.json.lemlist_contact_id }}|View full conversation in Lemlist>\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":white_check_mark: *Approved* by <@{{ $('Parse Slack Payload').item.json.user_id }}>\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        -32
      ],
      "name": "Update Message - Approved",
      "id": "c0bb6280-cc23-4bba-8cde-1993c51dd7ee",
      "credentials": {
        "httpBearerAuth": {
          "id": "A9y0ZdmG00hI8udd",
          "name": "Slack's SDR Agent OAuth Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Slack Payload').item.json.original_message_ts }}\",\n  \"text\": \"Prospect reply - send failed\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Lead Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.lead_identifier }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Reply-from Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.reply_from_email }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Outreach Campaign:*\\n{{ $('Parse Slack Payload').item.json.campaign_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ $('Parse Slack Payload').item.json.lead_message && $('Parse Slack Payload').item.json.lead_message.length > 500 ? $('Parse Slack Payload').item.json.lead_message.substring(0, 500).replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') + '\\\\n\\\\n[Message truncated - view full reply in Lemlist]' : ($('Parse Slack Payload').item.json.lead_message || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ ($('Parse Slack Payload').item.json.ai_generated_response || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":e-mail: <https://app.lemlist.com/teams/{{ $('Parse Slack Payload').item.json.lemlist_team_id }}/inbox/list/myConversations/contacts/{{ $('Parse Slack Payload').item.json.lemlist_contact_id }}|View full conversation in Lemlist>\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":x: *Email Send Failed* - Approved by <@{{ $('Parse Slack Payload').item.json.user_id }}>\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1840,
        560
      ],
      "name": "Update Message - Error",
      "id": "5e15d02c-1bd0-4e09-b25b-503cc1a61c72",
      "credentials": {
        "httpBearerAuth": {
          "id": "A9y0ZdmG00hI8udd",
          "name": "Slack's SDR Agent OAuth Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Slack Payload').item.json.original_message_ts }}\",\n  \"text\": \"Prospect reply rejected\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Lead Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.lead_identifier }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Reply-from Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.reply_from_email }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Outreach Campaign:*\\n{{ $('Parse Slack Payload').item.json.campaign_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ $('Parse Slack Payload').item.json.lead_message && $('Parse Slack Payload').item.json.lead_message.length > 500 ? $('Parse Slack Payload').item.json.lead_message.substring(0, 500).replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') + '\\\\n\\\\n[Message truncated - view full reply in Lemlist]' : ($('Parse Slack Payload').item.json.lead_message || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ ($('Parse Slack Payload').item.json.ai_generated_response || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":e-mail: <https://app.lemlist.com/teams/{{ $('Parse Slack Payload').item.json.lemlist_team_id }}/inbox/list/myConversations/contacts/{{ $('Parse Slack Payload').item.json.lemlist_contact_id }}|View full conversation in Lemlist>\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":no_entry: *Rejected* by <@{{ $('Parse Slack Payload').item.json.user_id }}>\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        416
      ],
      "name": "Update Message - Rejected",
      "id": "a374ed4a-89e5-41ac-bc27-5b3d2afc32a5",
      "credentials": {
        "httpBearerAuth": {
          "id": "A9y0ZdmG00hI8udd",
          "name": "Slack's SDR Agent OAuth Token"
        }
      }
    },
    {
      "parameters": {
        "content": "When a user clicks a button in Slack, Slack sends a webhook payload to n8n workflow and expects a response within 3 seconds. Otherwise, it'll show an operation time-out error "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        496
      ],
      "typeVersion": 1,
      "id": "06eed927-712c-458c-9779-cdaba5654b58",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1616,
        368
      ],
      "name": "Google Gemini Chat1",
      "id": "351b911a-8b4a-4d00-8289-4488de226201",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"topic\": \"pricing\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1888,
        368
      ],
      "name": "Topic Output Parser1",
      "id": "23f02daf-e5c4-460d-9ad2-883318391959"
    },
    {
      "parameters": {
        "modelName": "text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2224,
        384
      ],
      "name": "Google Gemini Embeddings",
      "id": "045d227b-111b-4782-a8d7-f421af33fb35",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse conversation history to extract subject, metadata, and lead message\n\n  const messages = $input.first().json.data || [];\n  const latestMessage = messages[0] || {};\n\n  // Extract subject line\n  let subject = latestMessage.subject || 'Re: Follow-up';\n  if (!subject.toLowerCase().startsWith('re:')) {\n    subject = 'Re: ' + subject;\n  }\n\n  // Find the first email sent by us for metadata\n  const sentMessage = messages.find(msg => msg.type === 'emailsSent') || latestMessage;\n\n  // Find the latest lead message (type: \"emailsReplied\")\n  const leadReply = messages.find(msg => msg.type === 'emailsReplied');\n  let leadMessage = '';\n\n  if (leadReply && leadReply.message) {\n    // Clean up HTML tags and decode entities\n    leadMessage = leadReply.message\n      .replace(/<[^>]*>/g, '')           // Remove HTML tags\n      .replace(/&lt;/g, '<')             // Decode HTML entities\n      .replace(/&gt;/g, '>')\n      .replace(/&amp;/g, '&')\n      .replace(/&nbsp;/g, ' ')\n      .replace(/&#39;/g, \"'\")            // Decode apostrophe\n      .replace(/&quot;/g, '\"')           // Decode quotes\n      .replace(/&#x27;/g, \"'\")           // Decode hex apostrophe\n      .replace(/&apos;/g, \"'\")           // Decode apos\n      .replace(/\\s+/g, ' ')              // Collapse multiple spaces\n      .trim()                            // Remove leading/trailing whitespace\n      .substring(0, 500);                // Truncate to 500 characters\n  }\n\n  // Handle CC\n  let cc = null;\n  if (Array.isArray(sentMessage.cc)) {\n    cc = sentMessage.cc.length > 0 ? sentMessage.cc : null;\n  } else if (Array.isArray(latestMessage.cc)) {\n    cc = latestMessage.cc.length > 0 ? latestMessage.cc : null;\n  }\n\n  return {\n    json: {\n      subject: subject,\n      sendUserId: sentMessage.sendUserId || null,\n      sendUserEmail: sentMessage.sendUserEmail || null,\n      sendUserMailboxId: sentMessage.sendUserMailboxId || null,\n      contactId: latestMessage.contactId || null,\n      leadId: latestMessage.leadId || null,\n      cc: cc,\n      leadMessage: leadMessage  // Cleaned and truncated lead message\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        192
      ],
      "name": "Parse Conversation History",
      "id": "c8f231c4-a50f-47f9-9677-477c2c5d482e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-reply-approval",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -144,
        128
      ],
      "name": "Slack Webhook Trigger",
      "webhookId": "slack-reply-approval",
      "id": "8f0b0f30-e8aa-4f1e-886a-95cfe672fa47"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        64,
        320
      ],
      "name": "Respond to Slack",
      "id": "8262bccd-7e74-46ba-a844-7a1f4d9aabd5"
    },
    {
      "parameters": {
        "jsCode": "// Parse Slack interaction payload for RLHF\n\nconst payload = $input.first().json.body.payload;\nlet parsedPayload;\n\nif (typeof payload === 'string') {\n  parsedPayload = JSON.parse(payload);\n} else {\n  parsedPayload = payload;\n}\n\n// Extract basic action details\nconst action = parsedPayload.actions?.[0];\nconst actionId = action?.action_id;\nconst user = parsedPayload.user;\nconst channel = parsedPayload.channel;\nconst responseUrl = parsedPayload.response_url;\n\n// Helper function to extract text from markdown field\nfunction extractFromField(blocks, label) {\n  for (const block of blocks) {\n    if (block.type === 'section' && block.fields) {\n      for (const field of block.fields) {\n        if (field.text && field.text.includes(label)) {\n          const parts = field.text.split('\\n');\n          if (parts.length > 1) {\n            let value = parts[1];\n            const emailMatch = value.match(/<mailto:([^|>]+)\\|/);\n            if (emailMatch) {\n              return emailMatch[1];\n            }\n            return value.trim();\n          }\n        }\n      }\n    }\n  }\n  return null;\n}\n\n// Helper function to extract text from section with specific header\nfunction extractSectionText(blocks, header) {\n  for (const block of blocks) {\n    if (block.type === 'section' && block.text && block.text.text) {\n      if (block.text.text.includes(header)) {\n        const text = block.text.text;\n        const codeBlockMatch = text.match(/```([\\s\\S]*?)```/);\n        if (codeBlockMatch) {\n          return codeBlockMatch[1].trim();\n        }\n        const parts = text.split(header);\n        if (parts.length > 1) {\n          return parts[1].replace(/^\\n/, '').trim();\n        }\n      }\n    }\n  }\n  return null;\n}\n\n// Helper function to extract Lemlist IDs from URL in context block\nfunction extractLemlistIds(blocks) {\n  for (const block of blocks) {\n    if (block.type === 'context' && block.elements) {\n      for (const element of block.elements) {\n        if (element.text && element.text.includes('app.lemlist.com')) {\n          const urlMatch = element.text.match(/https:\\/\\/app\\.lemlist\\.com\\/teams\\/([^\\/]+)\\/inbox\\/list\\/myConversations\\/contacts\\/([^|>]+)/);\n          if (urlMatch) {\n            return {\n              teamId: urlMatch[1],\n              contactId: urlMatch[2]\n            };\n          }\n        }\n      }\n    }\n  }\n  return { teamId: null, contactId: null };\n}\n\nconst blocks = parsedPayload.message?.blocks || [];\n\nconst companyName = extractFromField(blocks, '*Company:*');\nconst leadEmail = extractFromField(blocks, '*Lead Email:*');\nconst replyFromEmail = extractFromField(blocks, '*Reply-from Email:*');\nconst outreachCampaign = extractFromField(blocks, '*Outreach Campaign:*');\nconst prospectReply = extractSectionText(blocks, \"*Prospect's Reply:*\");\nconst agentResponse = extractSectionText(blocks, '*Agent Generated Response:*');\nconst lemlistIds = extractLemlistIds(blocks);\nconst lemlistMessageId = action?.value;\n\nreturn {\n  json: {\n    action_id: actionId,\n    slack_channel_id: channel?.id,\n    slack_channel_name: channel?.name,\n    slack_user_name: user?.name || user?.username,\n    company_name: companyName,\n    lead_identifier: leadEmail,\n    reply_from_email: replyFromEmail,\n    campaign_name: outreachCampaign,\n    lead_message: prospectReply,\n    ai_generated_response: agentResponse,\n    lemlist_contact_id: lemlistIds.contactId,\n    lemlist_team_id: lemlistIds.teamId,\n    lemlist_message_id: lemlistMessageId,\n    user_id: user?.id,\n    response_url: responseUrl,\n    original_message_ts: parsedPayload.message?.ts,\n    team_id: parsedPayload.team?.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        320
      ],
      "name": "Parse Slack Payload",
      "id": "0840d52c-e4d6-450e-97a1-ea46837a4936"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-approve",
              "leftValue": "={{ $json.action_id }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        496,
        320
      ],
      "name": "Check Action",
      "id": "f8866b04-bfe6-4ddb-9c34-1205e3a37afc"
    },
    {
      "parameters": {
        "url": "=https://api.lemlist.com/api/inbox/{{ $('Parse Slack Payload').item.json.lemlist_contact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "lemlistApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        720,
        192
      ],
      "name": "Retrieve Conversation History",
      "id": "f29fcfaa-b69c-4eb3-9837-c777e32f9ef6",
      "credentials": {
        "lemlistApi": {
          "id": "6dgMHleAsx5bfyF9",
          "name": "Lemlist account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lemlist.com/api/inbox/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sendUserId",
              "value": "={{ $json.sendUserId }}"
            },
            {
              "name": "sendUserEmail",
              "value": "={{ $json.sendUserEmail }}"
            },
            {
              "name": "sendUserMailboxId",
              "value": "={{ $json.sendUserMailboxId }}"
            },
            {
              "name": "contactId",
              "value": "={{ $json.contactId }}"
            },
            {
              "name": "leadId",
              "value": "={{ $json.leadId }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "message",
              "value": "={{ '<p>' + $('Parse Slack Payload').item.json.ai_generated_response.split('\\n\\n').map(para => para.replace(/\\n/g, '<br>')).join('</p><p>') + '</p>' }}"
            },
            {
              "name": "cc",
              "value": "={{ $json.cc }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        192
      ],
      "name": "Send Email via Lemlist",
      "id": "80d7a160-204b-4808-b891-1818a837e993",
      "credentials": {
        "lemlistApi": {
          "id": "6dgMHleAsx5bfyF9",
          "name": "Lemlist account"
        },
        "httpBasicAuth": {
          "id": "ErJHjZR0I2frgqLU",
          "name": "Lemlist Account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-send-success",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            },
            {
              "id": "a9b819a9-7bac-4399-984e-28e3ddfd0802",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1376,
        192
      ],
      "name": "Check Send Status",
      "id": "87b3f84c-9d61-4c75-838e-8be311c3810f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"text\": \"Failed to send email\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":x: Failed to Send Email\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Error Details:*\\n```{{ $('Send Email via Lemlist').item.json.error || 'Unknown error occurred' }}```\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*To:*\\n{{ $('Parse Slack Payload').item.json.reply_from_email }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":warning: Please send the reply manually in Lemlist\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1616,
        560
      ],
      "name": "Post Error status to Slack",
      "id": "98f56553-2067-46d6-9bc4-1e233be2acd7",
      "credentials": {
        "httpBearerAuth": {
          "id": "A9y0ZdmG00hI8udd",
          "name": "Slack's SDR Agent OAuth Token"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Parse Conversation History').item.json.leadMessage }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI assistant that categorizes prospect messages into topics.\n\nAnalyze the prospect's message and categorize it into ONE of the following topics:\n\n**Valid Topics:**\n- pricing: Questions about cost, pricing plans, discounts, payment terms\n- product_feature: Questions about specific features, functionality, capabilities\n- competitor_comparison: Comparisons with competitors, asking why choose us\n- objection: Concerns, doubts, hesitations, or pushback\n- interested: Expressing interest, wanting to learn more, positive signals\n- not_interested: Clearly not interested, politely declining, no need\n- timing: Questions about implementation timeline, when to start, availability\n- technical: Technical questions, integrations, API, security, compliance\n- scheduling: Requesting a demo, meeting, call, or follow-up\n- general_inquiry: General questions that don't fit other categories\n- auto_reply: Auto-replies, bot replies, out of office messages\n\n**Instructions:**\n1. Read the prospect's message carefully\n2. Identify the main intent or topic\n3. Return ONLY the topic keyword (e.g., \"pricing\", \"product_feature\")\n4. Use lowercase and underscores for multi-word topics\n5. Choose the MOST relevant single topic\n\n**Output Format:**\nReturn a JSON object with the topic:\n{\n  \"topic\": \"<topic_keyword>\"\n}\n\n**Examples:**\nMessage: \"How much does this cost?\"\nOutput: {\"topic\": \"pricing\"}\n\nMessage: \"Does it integrate with POS?\"\nOutput: {\"topic\": \"technical\"}\n\nMessage: \"Not interested right now, thanks.\"\nOutput: {\"topic\": \"not_interested\"}\n\nMessage: \"Can you tell me more about the reporting features?\"\nOutput: {\"topic\": \"product_feature\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1664,
        176
      ],
      "name": "Categorize Lead Message Topic",
      "id": "d2a301d8-dc58-4b20-b37c-001a3994ac36"
    },
    {
      "parameters": {
        "jsCode": "// Prepare training document for Vector Store\nconst leadMessage = $('Parse Conversation History').first().json.leadMessage;\nconst responseSent = $('Parse Slack Payload').item.json.ai_generated_response;\nconst topic = $json.output?.topic || $json.topic || 'general_inquiry';\n\nconst now = new Date();\nconst timestamp = now.toLocaleString('en-SG', {\n  timeZone: 'Asia/Singapore',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: true\n});\n\nconst cleanedResponse = responseSent\n  .replace(/\\\\n/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Return as a single item\nreturn {\n  json: {\n    pageContent: leadMessage, //Standard key for text\n    custom_metadata: {\n      topic: topic,\n      response_sent: cleanedResponse,\n      created_at: timestamp\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        176
      ],
      "name": "Prepare Training Document",
      "id": "823e7e48-60d6-469e-91fe-a159ca48d587"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "outbound_responses",
          "mode": "list",
          "cachedResultName": "outbound_responses"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2288,
        176
      ],
      "name": "Store Approved Response to DB",
      "id": "fd9b425c-1d74-4b9d-a011-a9784c5709ee",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "metadata",
                "value": "={{ $json.custom_metadata }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2416,
        384
      ],
      "id": "b9f78736-bc0b-4bce-8b18-dfae149e0616",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2416,
        560
      ],
      "id": "3ea452e2-4307-45f7-a0f3-75a824b97cce",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"text\": \"Email sent successfully!\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":white_check_mark: Email Sent Successfully\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*To:*\\n{{ $('Parse Slack Payload').item.json.reply_from_email }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Approved by:*\\n{{ $('Parse Slack Payload').item.json.slack_user_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Subject:*\\n{{ $('Parse Conversation History').item.json.subject }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":e-mail: <https://app.lemlist.com/teams/{{ $('Parse Slack Payload').item.json.lemlist_team_id }}/inbox/list/myConversations/contacts/{{ $('Parse Slack Payload').item.json.lemlist_contact_id }}|View conversation in Lemlist>\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2640,
        176
      ],
      "name": "Post Success status to Slack",
      "id": "a859ec25-2b54-40cd-a4b3-f3210f3d7a22",
      "credentials": {
        "httpBearerAuth": {
          "id": "A9y0ZdmG00hI8udd",
          "name": "Slack's SDR Agent OAuth Token"
        }
      }
    }
  ],
  "connections": {
    "Google Gemini Chat1": {
      "ai_languageModel": [
        [
          {
            "node": "Categorize Lead Message Topic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Topic Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Categorize Lead Message Topic",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Store Approved Response to DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Parse Conversation History": {
      "main": [
        [
          {
            "node": "Send Email via Lemlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Slack Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Payload": {
      "main": [
        [
          {
            "node": "Check Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action": {
      "main": [
        [
          {
            "node": "Retrieve Conversation History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Message - Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Message - Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Conversation History": {
      "main": [
        [
          {
            "node": "Parse Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Lemlist": {
      "main": [
        [
          {
            "node": "Check Send Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Send Status": {
      "main": [
        [
          {
            "node": "Categorize Lead Message Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Error status to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Error status to Slack": {
      "main": [
        [
          {
            "node": "Update Message - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize Lead Message Topic": {
      "main": [
        [
          {
            "node": "Prepare Training Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Training Document": {
      "main": [
        [
          {
            "node": "Store Approved Response to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Approved Response to DB": {
      "main": [
        [
          {
            "node": "Post Success status to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Store Approved Response to DB",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Post Success status to Slack": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 60
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Parse Conversation History": [
      {
        "json": {
          "subject": "Re: Test - Oddle Reserve",
          "sendUserId": "usr_gYdTGt9D9RHqcwssi",
          "sendUserEmail": "chloei.garcia_m@oddle.me",
          "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
          "contactId": "ctc_GGiXv4DJjRS6GHRKw",
          "leadId": null,
          "cc": null,
          "leadMessage": "Hi Chloe,Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don't see a strong point in switch over from my current reservation system yet.Regards,ChelseaOn Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen <chelsea@oddle.me> wrote:Hi Chloe,Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don't see a strong point in switch over from my current reservation system yet.Regard"
        }
      }
    ],
    "Slack Webhook Trigger": [
      {
        "json": {
          "headers": {
            "host": "workflow.oddle.center",
            "user-agent": "Slackbot 1.0 (+https://api.slack.com/robots)",
            "accept": "application/json,*/*",
            "x-slack-signature": "v0=914b35bbe9ebf6ac46db5e3dac5b12c7cefd3f5b518ca36e7549b5678d47143e",
            "x-slack-request-timestamp": "1767686592",
            "content-length": "5306",
            "content-type": "application/x-www-form-urlencoded",
            "x-cloud-trace-context": "b7533262e299343c4ae353324e8c8ffe/12402408408513512778",
            "x-forwarded-proto": "https",
            "traceparent": "00-b7533262e299343c4ae353324e8c8ffe-ac1e34bc9cc4054a-00",
            "x-forwarded-for": "54.83.90.66",
            "forwarded": "for=\"54.83.90.66\";proto=https",
            "accept-encoding": "gzip,deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "payload": "{\"type\":\"block_actions\",\"user\":{\"id\":\"U0FASTJ1H\",\"username\":\"chelsea__on_leave_\",\"name\":\"chelsea__on_leave_\",\"team_id\":\"T030ZCV78\"},\"api_app_id\":\"A0A55SZF3EU\",\"token\":\"mA4Pk1zJFUdp77ZGdyQ7LFki\",\"container\":{\"type\":\"message\",\"message_ts\":\"1767683031.563899\",\"channel_id\":\"C0A3N12LT5Z\",\"is_ephemeral\":false},\"trigger_id\":\"10251470108369.3033437246.805e4c7bf710bc19c2c75d7470b56e0b\",\"team\":{\"id\":\"T030ZCV78\",\"domain\":\"oddle\"},\"enterprise\":null,\"is_enterprise_install\":false,\"channel\":{\"id\":\"C0A3N12LT5Z\",\"name\":\"noti-ai-sdr-test\"},\"message\":{\"user\":\"U0A484RHCNR\",\"type\":\"message\",\"ts\":\"1767683031.563899\",\"bot_id\":\"B0A4BHC4802\",\"app_id\":\"A0A55SZF3EU\",\"text\":\"New prospect reply needs approval\",\"team\":\"T030ZCV78\",\"blocks\":[{\"type\":\"header\",\"block_id\":\"bgdKP\",\"text\":{\"type\":\"plain_text\",\"text\":\":bell: New Prospect Reply\",\"emoji\":true}},{\"type\":\"divider\",\"block_id\":\"sLBkT\"},{\"type\":\"section\",\"block_id\":\"D89\\/l\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Company:*\\nChelsea's Bakery\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Lead Email:*\\n<mailto:chelsea@oddle.me|chelsea@oddle.me>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Reply-from Email:*\\n<mailto:chelsea@oddle.me|chelsea@oddle.me>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Outreach Campaign:*\\nChelsea's Test Campaign\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"M4IQR\"},{\"type\":\"section\",\"block_id\":\"HaFpZ\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Prospect's Reply:*\\n```Hi Chloe,\\n\\nThank you for your detailed explanation and for offering to clarify the\\npricing after the free 1-year trial. I still don't see a strong point in\\nswitch over from my current reservation system yet.\\n\\nRegards,\\nChelsea\\n\\nOn Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen &lt;chelsea@oddle.me...\\n\\n[Message truncated - view full reply in Lemlist]```\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"S3EZH\"},{\"type\":\"section\",\"block_id\":\"67e9D\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Agent Generated Response:*\\n```Hi Chelsea,\\n\\nThanks for being honest! I completely understand\\u2014if your current setup is working well for Chelsea's Bakery, there\\u2019s no immediate reason to change things up.\\n\\nJust so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?```\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"GCXmv\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\":e-mail: <https:\\/\\/app.lemlist.com\\/teams\\/tea_gYwPePZxuhFb6QraW\\/inbox\\/list\\/myConversations\\/contacts\\/ctc_GGiXv4DJjRS6GHRKw|View full conversation in Lemlist>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"6tuAZ\"},{\"type\":\"actions\",\"block_id\":\"approval_actions\",\"elements\":[{\"type\":\"button\",\"action_id\":\"approve\",\"text\":{\"type\":\"plain_text\",\"text\":\":white_check_mark: Approve &amp; Send\",\"emoji\":true},\"style\":\"primary\",\"value\":\"<CAFjBc67=qSvL1Yna0HHoyVMdy_-wrXv-1jdW7N_CO8YAep95DA@mail.gmail.com>\"},{\"type\":\"button\",\"action_id\":\"reject\",\"text\":{\"type\":\"plain_text\",\"text\":\":pencil2: Reject &amp; Edit\",\"emoji\":true},\"style\":\"danger\",\"url\":\"https:\\/\\/app.lemlist.com\\/teams\\/tea_gYwPePZxuhFb6QraW\\/inbox\\/list\\/myConversations\\/contacts\\/ctc_GGiXv4DJjRS6GHRKw\"}]}]},\"state\":{\"values\":{}},\"response_url\":\"https:\\/\\/hooks.slack.com\\/actions\\/T030ZCV78\\/10232163428803\\/1pbT4GPZJKjSJclomYNVqCtU\",\"actions\":[{\"action_id\":\"approve\",\"block_id\":\"approval_actions\",\"text\":{\"type\":\"plain_text\",\"text\":\":white_check_mark: Approve &amp; Send\",\"emoji\":true},\"value\":\"<CAFjBc67=qSvL1Yna0HHoyVMdy_-wrXv-1jdW7N_CO8YAep95DA@mail.gmail.com>\",\"style\":\"primary\",\"type\":\"button\",\"action_ts\":\"1767686592.631024\"}]}"
          },
          "webhookUrl": "https://workflow.oddle.center/webhook-test/slack-reply-approval",
          "executionMode": "test"
        }
      }
    ],
    "Parse Slack Payload": [
      {
        "json": {
          "action_id": "approve",
          "slack_channel_id": "C0A3N12LT5Z",
          "slack_channel_name": "noti-ai-sdr-test",
          "slack_user_name": "chelsea__on_leave_",
          "company_name": "Chelsea's Bakery",
          "lead_identifier": "chelsea@oddle.me",
          "reply_from_email": "chelsea@oddle.me",
          "campaign_name": "Chelsea's Test Campaign",
          "lead_message": "Hi Chloe,\n\nThank you for your detailed explanation and for offering to clarify the\npricing after the free 1-year trial. I still don't see a strong point in\nswitch over from my current reservation system yet.\n\nRegards,\nChelsea\n\nOn Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen &lt;chelsea@oddle.me...\n\n[Message truncated - view full reply in Lemlist]",
          "ai_generated_response": "Hi Chelsea,\n\nThanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.\n\nJust so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?",
          "lemlist_contact_id": "ctc_GGiXv4DJjRS6GHRKw",
          "lemlist_team_id": "tea_gYwPePZxuhFb6QraW",
          "lemlist_message_id": "<CAFjBc67=qSvL1Yna0HHoyVMdy_-wrXv-1jdW7N_CO8YAep95DA@mail.gmail.com>",
          "user_id": "U0FASTJ1H",
          "response_url": "https://hooks.slack.com/actions/T030ZCV78/10232163428803/1pbT4GPZJKjSJclomYNVqCtU",
          "original_message_ts": "1767683031.563899",
          "team_id": "T030ZCV78"
        }
      }
    ],
    "Retrieve Conversation History": [
      {
        "json": {
          "data": [
            {
              "_id": "act_TotChtqJNqXKuEgQ9",
              "type": "emailsSent",
              "messageId": "<CADemiWrgnOUE68GYWoKN7pS2HsVZv99FvQ+bDAaAYEZO8pKQ3A@mail.gmail.com>",
              "cc": [],
              "createdAt": "2026-01-12T02:45:24.551Z",
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "sendUserId": "usr_gYdTGt9D9RHqcwssi",
              "sendUserName": "Chloei Marithe Garcia",
              "sendUserEmail": "chloei.garcia_m@oddle.me",
              "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
              "contactId": "ctc_GGiXv4DJjRS6GHRKw",
              "message": "<html><div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_EQaszXpmKFsoPwZQL\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_EQaszXpmKFsoPwZQL\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/12/2026, 2:53:50 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_EKw9re4kfvhsXxbf8\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_EKw9re4kfvhsXxbf8\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/9/2026, 10:39:55 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_f9cRwWJwzRxsu8mry\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_f9cRwWJwzRxsu8mry\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/9/2026, 4:40:46 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_RZENR8J7qPMQ9EyMj\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_RZENR8J7qPMQ9EyMj\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/7/2026, 7:07:38 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_dihXzxs8TMbb5pYga\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_dihXzxs8TMbb5pYga\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/6/2026, 10:19:29 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\">Hi Chelsea,\n\nThanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.\n\nJust so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?\n<span summary=\"/api/reply/data-ll-tsk_CXzoEFXQ3o3oA8FLC\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_CXzoEFXQ3o3oA8FLC\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/2/2026, 7:57:48 AM, Chelsea Nguyen &#60;chelsea@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br>Regards,<br>Chelsea</div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div><br><div class=\"gmail_quote\"><div dir=\"ltr\" class=\"gmail_attr\">On Thu, 18 Dec 2025 at 15:47, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\" target=\"_blank\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\"><div>Hi Alan,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div><div></div></div></div>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n      </html>",
              "subject": "Re: Test - Oddle Reserve",
              "attachments": []
            },
            {
              "_id": "act_phnwsYDBGZMqW8D8W",
              "type": "emailsSent",
              "messageId": "<CADemiWqmM0fZo6jBXJN7Yqx9=jdsyOk-mBbUvdr05iBH=uCBag@mail.gmail.com>",
              "cc": [],
              "createdAt": "2026-01-12T01:53:50.350Z",
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "sendUserId": "usr_gYdTGt9D9RHqcwssi",
              "sendUserName": "Chloei Marithe Garcia",
              "sendUserEmail": "chloei.garcia_m@oddle.me",
              "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
              "contactId": "ctc_GGiXv4DJjRS6GHRKw",
              "message": "<html><div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_EKw9re4kfvhsXxbf8\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_EKw9re4kfvhsXxbf8\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/9/2026, 10:39:55 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_f9cRwWJwzRxsu8mry\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_f9cRwWJwzRxsu8mry\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/9/2026, 4:40:46 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_RZENR8J7qPMQ9EyMj\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_RZENR8J7qPMQ9EyMj\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/7/2026, 7:07:38 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_dihXzxs8TMbb5pYga\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_dihXzxs8TMbb5pYga\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/6/2026, 10:19:29 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\">Hi Chelsea,\n\nThanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.\n\nJust so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?\n<span summary=\"/api/reply/data-ll-tsk_CXzoEFXQ3o3oA8FLC\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_CXzoEFXQ3o3oA8FLC\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/2/2026, 7:57:48 AM, Chelsea Nguyen &#60;chelsea@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br>Regards,<br>Chelsea</div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div><br><div class=\"gmail_quote\"><div dir=\"ltr\" class=\"gmail_attr\">On Thu, 18 Dec 2025 at 15:47, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\" target=\"_blank\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\"><div>Hi Alan,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div><div></div></div></div>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n      </html>",
              "subject": "Re: Test - Oddle Reserve",
              "attachments": []
            },
            {
              "_id": "act_KMCCTbc3biiB8CAN9",
              "type": "emailsSent",
              "messageId": "<CADemiWp1q4hf85ZjUzcW8Xwb=KwOhR-AUc+on81ZZt+Eqge4bQ@mail.gmail.com>",
              "cc": [],
              "createdAt": "2026-01-09T09:39:55.330Z",
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "sendUserId": "usr_gYdTGt9D9RHqcwssi",
              "sendUserName": "Chloei Marithe Garcia",
              "sendUserEmail": "chloei.garcia_m@oddle.me",
              "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
              "contactId": "ctc_GGiXv4DJjRS6GHRKw",
              "message": "<html><div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_f9cRwWJwzRxsu8mry\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_f9cRwWJwzRxsu8mry\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/9/2026, 4:40:46 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_RZENR8J7qPMQ9EyMj\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_RZENR8J7qPMQ9EyMj\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/7/2026, 7:07:38 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_dihXzxs8TMbb5pYga\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_dihXzxs8TMbb5pYga\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/6/2026, 10:19:29 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\">Hi Chelsea,\n\nThanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.\n\nJust so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?\n<span summary=\"/api/reply/data-ll-tsk_CXzoEFXQ3o3oA8FLC\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_CXzoEFXQ3o3oA8FLC\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/2/2026, 7:57:48 AM, Chelsea Nguyen &#60;chelsea@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br>Regards,<br>Chelsea</div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div><br><div class=\"gmail_quote\"><div dir=\"ltr\" class=\"gmail_attr\">On Thu, 18 Dec 2025 at 15:47, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\" target=\"_blank\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\"><div>Hi Alan,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div><div></div></div></div>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n      </html>",
              "subject": "Re: Test - Oddle Reserve",
              "attachments": []
            },
            {
              "_id": "act_gEhQyZPW5NgpqDJqc",
              "type": "emailsSent",
              "messageId": "<CADemiWqEfQA3c3ceHYJibhB41XtfPJFifMgHuC_06RU0OA6kDg@mail.gmail.com>",
              "cc": [],
              "createdAt": "2026-01-09T03:40:46.352Z",
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "leadId": "lea_LtZ9ht7jK4FtJHqYR",
              "campaignId": "cam_peDaoGPEGHR28WExF",
              "sendUserId": "usr_gYdTGt9D9RHqcwssi",
              "sendUserName": "Chloei Marithe Garcia",
              "sendUserEmail": "chloei.garcia_m@oddle.me",
              "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
              "leadEmail": "chelsea@oddle.me",
              "contactId": "ctc_GGiXv4DJjRS6GHRKw",
              "message": "<html><div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_RZENR8J7qPMQ9EyMj\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_RZENR8J7qPMQ9EyMj\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/7/2026, 7:07:38 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_dihXzxs8TMbb5pYga\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_dihXzxs8TMbb5pYga\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/6/2026, 10:19:29 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\">Hi Chelsea,\n\nThanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.\n\nJust so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?\n<span summary=\"/api/reply/data-ll-tsk_CXzoEFXQ3o3oA8FLC\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_CXzoEFXQ3o3oA8FLC\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/2/2026, 7:57:48 AM, Chelsea Nguyen &#60;chelsea@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br>Regards,<br>Chelsea</div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div><br><div class=\"gmail_quote\"><div dir=\"ltr\" class=\"gmail_attr\">On Thu, 18 Dec 2025 at 15:47, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\" target=\"_blank\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\"><div>Hi Alan,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div><div></div></div></div>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n      </html>",
              "subject": "Re: Test - Oddle Reserve",
              "attachments": []
            },
            {
              "_id": "act_tpo6eTipj9Myk8FZf",
              "type": "emailsSent",
              "messageId": "<CADemiWo3--b1Br3wRNvW=MEUMT5v3NMhuY2+Y-6GFopKCK9cJg@mail.gmail.com>",
              "cc": [],
              "createdAt": "2026-01-09T03:07:52.935Z",
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "sendUserId": "usr_gYdTGt9D9RHqcwssi",
              "sendUserName": "Chloei Marithe Garcia",
              "sendUserEmail": "chloei.garcia_m@oddle.me",
              "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
              "contactId": "ctc_GGiXv4DJjRS6GHRKw",
              "message": "<html><div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p style=\"margin: 0px -8px; box-sizing: border-box;\">Hi Chelsea,&nbsp;<br style=\"box-sizing: border-box;\"><br style=\"box-sizing: border-box;\">Following up on my previous email, happy to hear what you think.<br style=\"box-sizing: border-box;\"><br style=\"box-sizing: border-box;\"><br style=\"box-sizing: border-box;\">Regards,<br style=\"box-sizing: border-box;\">Chelsea</p>\n<span summary=\"/api/reply/data-ll-tsk_ESgWb9Nay4bRM65ko\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_tN2v4CzXRtSkvwSkg/tsk_ESgWb9Nay4bRM65ko\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/7/2026, 7:07:38 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_dihXzxs8TMbb5pYga\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_dihXzxs8TMbb5pYga\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/6/2026, 10:19:29 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\">Hi Chelsea,\n\nThanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.\n\nJust so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?\n<span summary=\"/api/reply/data-ll-tsk_CXzoEFXQ3o3oA8FLC\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_CXzoEFXQ3o3oA8FLC\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/2/2026, 7:57:48 AM, Chelsea Nguyen &#60;chelsea@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br>Regards,<br>Chelsea</div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div><br><div class=\"gmail_quote\"><div dir=\"ltr\" class=\"gmail_attr\">On Thu, 18 Dec 2025 at 15:47, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\" target=\"_blank\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\"><div>Hi Alan,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div><div></div></div></div>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n      </html>",
              "subject": "Re: Test - Oddle Reserve",
              "attachments": []
            },
            {
              "_id": "act_dyyjC5uFTBcTDCGcz",
              "type": "emailsSent",
              "messageId": "<CADemiWpagQ5mN82PbGRa=ss_Jc3S=uEyTOM_vBdFTzKZLgYB2w@mail.gmail.com>",
              "cc": [],
              "createdAt": "2026-01-07T06:07:38.194Z",
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "leadId": "lea_LtZ9ht7jK4FtJHqYR",
              "campaignId": "cam_peDaoGPEGHR28WExF",
              "sendUserId": "usr_gYdTGt9D9RHqcwssi",
              "sendUserName": "Chloei Marithe Garcia",
              "sendUserEmail": "chloei.garcia_m@oddle.me",
              "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
              "leadEmail": "chelsea@oddle.me",
              "contactId": "ctc_GGiXv4DJjRS6GHRKw",
              "message": "<html><div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\"><p>Hi Chelsea,</p><p>Thanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.</p><p>Just so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?</p>\n<span summary=\"/api/reply/data-ll-tsk_dihXzxs8TMbb5pYga\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_dihXzxs8TMbb5pYga\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/6/2026, 10:19:29 AM, Chloei Garcia &#60;chloei.garcia_m@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\">Hi Chelsea,\n\nThanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.\n\nJust so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?\n<span summary=\"/api/reply/data-ll-tsk_CXzoEFXQ3o3oA8FLC\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_CXzoEFXQ3o3oA8FLC\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/2/2026, 7:57:48 AM, Chelsea Nguyen &#60;chelsea@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br>Regards,<br>Chelsea</div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div><br><div class=\"gmail_quote\"><div dir=\"ltr\" class=\"gmail_attr\">On Thu, 18 Dec 2025 at 15:47, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\" target=\"_blank\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\"><div>Hi Alan,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div><div></div></div></div>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n          </blockquote>\n        </div>\n          </blockquote>\n        </div>\n      </html>",
              "subject": "Re: Test - Oddle Reserve",
              "attachments": []
            },
            {
              "_id": "act_bLNz3S6Kye55ZfgmM",
              "type": "emailsSent",
              "messageId": "<CADemiWpKbLW9i_tev8TKEaDZBB_Oric+q=y0gLWS20vO7DOj7w@mail.gmail.com>",
              "cc": [],
              "createdAt": "2026-01-06T09:19:29.258Z",
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "leadId": "lea_LtZ9ht7jK4FtJHqYR",
              "campaignId": "cam_peDaoGPEGHR28WExF",
              "sendUserId": "usr_gYdTGt9D9RHqcwssi",
              "sendUserName": "Chloei Marithe Garcia",
              "sendUserEmail": "chloei.garcia_m@oddle.me",
              "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
              "leadEmail": "chelsea@oddle.me",
              "contactId": "ctc_GGiXv4DJjRS6GHRKw",
              "message": "<html><div style=\"min-width: 360px\"></div>\n        <div dir=\"ltr\">Hi Chelsea,\n\nThanks for being honest! I completely understand—if your current setup is working well for Chelsea's Bakery, there’s no immediate reason to change things up.\n\nJust so I can better understand your needs for the future, is there a specific feature or goal (like reducing monthly fees or better guest marketing tools) that would eventually make a switch worth considering for you?\n<span summary=\"/api/reply/data-ll-tsk_CXzoEFXQ3o3oA8FLC\"></span>\n<img alt=\"logo\" src=\"https://b2btrack.oddle.me/api/track/open/usr_gYdTGt9D9RHqcwssi/tsk_CXzoEFXQ3o3oA8FLC\" height=\"1\" width=\"1\"></div><br>\n        <div class=\"lemlist_quote_container gmail_quote_container\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\">\n          <div dir=\"ltr\" class=\"lemlist_attr gmail_attr\">On 1/2/2026, 7:57:48 AM, Chelsea Nguyen &#60;chelsea@oddle.me&#62; wrote:<br></div>\n          <blockquote class=\"lemlist_quote gmail_quote\">\n            <div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br>Regards,<br>Chelsea</div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div><br><div class=\"gmail_quote\"><div dir=\"ltr\" class=\"gmail_attr\">On Thu, 18 Dec 2025 at 15:47, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\" target=\"_blank\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\"><div>Hi Alan,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div><div></div></div></div>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><br>\n          </blockquote>\n        </div>\n      </html>",
              "subject": "Re: Test - Oddle Reserve",
              "attachments": []
            },
            {
              "_id": "act_GsXCAWhFoYjnFBq5n",
              "type": "emailsReplied",
              "messageId": "<CAFjBc67=qSvL1Yna0HHoyVMdy_-wrXv-1jdW7N_CO8YAep95DA@mail.gmail.com>",
              "createdAt": "2026-01-02T06:57:48.000Z",
              "fromEmail": "chelsea@oddle.me",
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "leadId": "lea_LtZ9ht7jK4FtJHqYR",
              "campaignId": "cam_peDaoGPEGHR28WExF",
              "sendUserId": "usr_gYdTGt9D9RHqcwssi",
              "sendUserName": "Chloei Marithe Garcia",
              "sendUserEmail": "chloei.garcia_m@oddle.me",
              "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
              "leadEmail": "chelsea@oddle.me",
              "contactId": "ctc_GGiXv4DJjRS6GHRKw",
              "message": "<div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br>Regards,<br>Chelsea</div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Fri, 2 Jan 2026 at 14:51, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div><br><div class=\"gmail_quote\"><div dir=\"ltr\" class=\"gmail_attr\">On Thu, 18 Dec 2025 at 15:47, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\" target=\"_blank\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\"><div>Hi Alan,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div><div></div></div></div>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><span class=\"gmail_signature_prefix\">-- </span><br><div dir=\"ltr\" class=\"gmail_signature\"><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><span class=\"gmail_signature_prefix\">-- </span><br><div dir=\"ltr\" class=\"gmail_signature\"><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div>\n",
              "subject": "Re: Test - Oddle Reserve",
              "attachments": []
            },
            {
              "_id": "act_MACGcDSW7s2rzNbRZ",
              "type": "emailsReplied",
              "messageId": "<CAFjBc66EBimA4ZnB1qSpmPHJcfGKLPdWXQ4u3xU09h3W8Fd+xg@mail.gmail.com>",
              "createdAt": "2026-01-02T06:51:02.000Z",
              "fromEmail": "chelsea@oddle.me",
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "leadId": "lea_LtZ9ht7jK4FtJHqYR",
              "campaignId": "cam_peDaoGPEGHR28WExF",
              "sendUserId": "usr_gYdTGt9D9RHqcwssi",
              "sendUserName": "Chloei Marithe Garcia",
              "sendUserEmail": "chloei.garcia_m@oddle.me",
              "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
              "leadEmail": "chelsea@oddle.me",
              "contactId": "ctc_GGiXv4DJjRS6GHRKw",
              "message": "<div dir=\"ltr\">Hi Chloe,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Thu, 18 Dec 2025 at 15:47, Chelsea Nguyen &lt;<a href=\"mailto:chelsea@oddle.me\">chelsea@oddle.me</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"ltr\"><div>Hi Alan,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div><div></div></div></div>\n</blockquote></div><div><br clear=\"all\"></div><div><br></div><span class=\"gmail_signature_prefix\">-- </span><br><div dir=\"ltr\" class=\"gmail_signature\"><div dir=\"ltr\">Regards,<div>Chelsea</div></div></div>\n",
              "subject": "Re: Test - Oddle Reserve",
              "attachments": []
            },
            {
              "_id": "act_bfTddve6YkibL8uHc",
              "type": "emailsReplied",
              "messageId": "<CAFjBc67=yberpTogPtiNLpi-h9SS6owGi9EsfBqpb-Beh8s+5g@mail.gmail.com>",
              "createdAt": "2025-12-18T07:47:17.000Z",
              "fromEmail": "chelsea@oddle.me",
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "leadId": "lea_LtZ9ht7jK4FtJHqYR",
              "campaignId": "cam_peDaoGPEGHR28WExF",
              "sendUserId": "usr_gYdTGt9D9RHqcwssi",
              "sendUserName": "Chloei Marithe Garcia",
              "sendUserEmail": "chloei.garcia_m@oddle.me",
              "sendUserMailboxId": "usm_hjsnvtva7qbPiaedC",
              "leadEmail": "chelsea@oddle.me",
              "contactId": "ctc_GGiXv4DJjRS6GHRKw",
              "message": "<div dir=\"ltr\"><div>Hi Alan,<br><br>Thank you for your detailed explanation and for offering to clarify the pricing after the free 1-year trial. I still don&#39;t see a strong point in switch over from my current reservation system yet.<br><br><div dir=\"ltr\">Regards,<div>Chelsea</div></div><div></div></div></div>\n",
              "subject": "Re: Test - Oddle Reserve",
              "attachments": []
            }
          ],
          "pagination": {
            "totalItems": 14,
            "currentPage": 1,
            "nextPage": 2,
            "previousPage": null,
            "perPage": 10,
            "totalPages": 2
          }
        }
      }
    ]
  },
  "versionId": "0563e157-cfe8-4a69-88c5-4fd964131eb5",
  "activeVersionId": "0563e157-cfe8-4a69-88c5-4fd964131eb5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-14T09:14:31.594Z",
      "createdAt": "2026-01-14T09:14:31.594Z",
      "role": "workflow:owner",
      "workflowId": "Z4BV7uCQ8dSjXR1w",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-15T02:39:22.025Z",
    "createdAt": "2026-01-15T02:39:04.732Z",
    "versionId": "0563e157-cfe8-4a69-88c5-4fd964131eb5",
    "workflowId": "Z4BV7uCQ8dSjXR1w",
    "nodes": [
      {
        "parameters": {
          "content": "## Workflow 2: Process human-approved response\n\n",
          "height": 100,
          "width": 640
        },
        "id": "a6db13ed-5248-4314-b37a-1ad78fd6d56a",
        "name": "Sticky Note16",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -160,
          -64
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.update",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Slack Payload').item.json.original_message_ts }}\",\n  \"text\": \"Prospect reply approved\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Lead Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.lead_identifier }}|{{ $('Parse Slack Payload').item.json.lead_identifier }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Reply-from Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.reply_from_email }}|{{ $('Parse Slack Payload').item.json.reply_from_email }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Outreach Campaign:*\\n{{ $('Parse Slack Payload').item.json.campaign_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ $('Parse Slack Payload').item.json.lead_message && $('Parse Slack Payload').item.json.lead_message.length > 500 ? $('Parse Slack Payload').item.json.lead_message.substring(0, 500).replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') + '\\\\n\\\\n[Message truncated - view full reply in Lemlist]' : ($('Parse Slack Payload').item.json.lead_message || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ ($('Parse Slack Payload').item.json.ai_generated_response || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":e-mail: <https://app.lemlist.com/teams/{{ $('Parse Slack Payload').item.json.lemlist_team_id }}/inbox/list/myConversations/contacts/{{ $('Parse Slack Payload').item.json.lemlist_contact_id }}|View full conversation in Lemlist>\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":white_check_mark: *Approved* by <@{{ $('Parse Slack Payload').item.json.user_id }}>\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          720,
          -32
        ],
        "name": "Update Message - Approved",
        "id": "c0bb6280-cc23-4bba-8cde-1993c51dd7ee",
        "credentials": {
          "httpBearerAuth": {
            "id": "A9y0ZdmG00hI8udd",
            "name": "Slack's SDR Agent OAuth Token"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.update",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Slack Payload').item.json.original_message_ts }}\",\n  \"text\": \"Prospect reply - send failed\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Lead Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.lead_identifier }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Reply-from Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.reply_from_email }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Outreach Campaign:*\\n{{ $('Parse Slack Payload').item.json.campaign_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ $('Parse Slack Payload').item.json.lead_message && $('Parse Slack Payload').item.json.lead_message.length > 500 ? $('Parse Slack Payload').item.json.lead_message.substring(0, 500).replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') + '\\\\n\\\\n[Message truncated - view full reply in Lemlist]' : ($('Parse Slack Payload').item.json.lead_message || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ ($('Parse Slack Payload').item.json.ai_generated_response || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":e-mail: <https://app.lemlist.com/teams/{{ $('Parse Slack Payload').item.json.lemlist_team_id }}/inbox/list/myConversations/contacts/{{ $('Parse Slack Payload').item.json.lemlist_contact_id }}|View full conversation in Lemlist>\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":x: *Email Send Failed* - Approved by <@{{ $('Parse Slack Payload').item.json.user_id }}>\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1840,
          560
        ],
        "name": "Update Message - Error",
        "id": "5e15d02c-1bd0-4e09-b25b-503cc1a61c72",
        "credentials": {
          "httpBearerAuth": {
            "id": "A9y0ZdmG00hI8udd",
            "name": "Slack's SDR Agent OAuth Token"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.update",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Slack Payload').item.json.original_message_ts }}\",\n  \"text\": \"Prospect reply rejected\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Lead Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.lead_identifier }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Reply-from Email:*\\n<mailto:{{ $('Parse Slack Payload').item.json.reply_from_email }}>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Outreach Campaign:*\\n{{ $('Parse Slack Payload').item.json.campaign_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ $('Parse Slack Payload').item.json.lead_message && $('Parse Slack Payload').item.json.lead_message.length > 500 ? $('Parse Slack Payload').item.json.lead_message.substring(0, 500).replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') + '\\\\n\\\\n[Message truncated - view full reply in Lemlist]' : ($('Parse Slack Payload').item.json.lead_message || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ ($('Parse Slack Payload').item.json.ai_generated_response || '').replace(/\\r\\n/g, '\\\\n').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '\\\\\"') }}```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":e-mail: <https://app.lemlist.com/teams/{{ $('Parse Slack Payload').item.json.lemlist_team_id }}/inbox/list/myConversations/contacts/{{ $('Parse Slack Payload').item.json.lemlist_contact_id }}|View full conversation in Lemlist>\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":no_entry: *Rejected* by <@{{ $('Parse Slack Payload').item.json.user_id }}>\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          720,
          416
        ],
        "name": "Update Message - Rejected",
        "id": "a374ed4a-89e5-41ac-bc27-5b3d2afc32a5",
        "credentials": {
          "httpBearerAuth": {
            "id": "A9y0ZdmG00hI8udd",
            "name": "Slack's SDR Agent OAuth Token"
          }
        }
      },
      {
        "parameters": {
          "content": "When a user clicks a button in Slack, Slack sends a webhook payload to n8n workflow and expects a response within 3 seconds. Otherwise, it'll show an operation time-out error "
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          64,
          496
        ],
        "typeVersion": 1,
        "id": "06eed927-712c-458c-9779-cdaba5654b58",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.0-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1616,
          368
        ],
        "name": "Google Gemini Chat1",
        "id": "351b911a-8b4a-4d00-8289-4488de226201",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"topic\": \"pricing\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1888,
          368
        ],
        "name": "Topic Output Parser1",
        "id": "23f02daf-e5c4-460d-9ad2-883318391959"
      },
      {
        "parameters": {
          "modelName": "text-embedding-004"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          2224,
          384
        ],
        "name": "Google Gemini Embeddings",
        "id": "045d227b-111b-4782-a8d7-f421af33fb35",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse conversation history to extract subject, metadata, and lead message\n\n  const messages = $input.first().json.data || [];\n  const latestMessage = messages[0] || {};\n\n  // Extract subject line\n  let subject = latestMessage.subject || 'Re: Follow-up';\n  if (!subject.toLowerCase().startsWith('re:')) {\n    subject = 'Re: ' + subject;\n  }\n\n  // Find the first email sent by us for metadata\n  const sentMessage = messages.find(msg => msg.type === 'emailsSent') || latestMessage;\n\n  // Find the latest lead message (type: \"emailsReplied\")\n  const leadReply = messages.find(msg => msg.type === 'emailsReplied');\n  let leadMessage = '';\n\n  if (leadReply && leadReply.message) {\n    // Clean up HTML tags and decode entities\n    leadMessage = leadReply.message\n      .replace(/<[^>]*>/g, '')           // Remove HTML tags\n      .replace(/&lt;/g, '<')             // Decode HTML entities\n      .replace(/&gt;/g, '>')\n      .replace(/&amp;/g, '&')\n      .replace(/&nbsp;/g, ' ')\n      .replace(/&#39;/g, \"'\")            // Decode apostrophe\n      .replace(/&quot;/g, '\"')           // Decode quotes\n      .replace(/&#x27;/g, \"'\")           // Decode hex apostrophe\n      .replace(/&apos;/g, \"'\")           // Decode apos\n      .replace(/\\s+/g, ' ')              // Collapse multiple spaces\n      .trim()                            // Remove leading/trailing whitespace\n      .substring(0, 500);                // Truncate to 500 characters\n  }\n\n  // Handle CC\n  let cc = null;\n  if (Array.isArray(sentMessage.cc)) {\n    cc = sentMessage.cc.length > 0 ? sentMessage.cc : null;\n  } else if (Array.isArray(latestMessage.cc)) {\n    cc = latestMessage.cc.length > 0 ? latestMessage.cc : null;\n  }\n\n  return {\n    json: {\n      subject: subject,\n      sendUserId: sentMessage.sendUserId || null,\n      sendUserEmail: sentMessage.sendUserEmail || null,\n      sendUserMailboxId: sentMessage.sendUserMailboxId || null,\n      contactId: latestMessage.contactId || null,\n      leadId: latestMessage.leadId || null,\n      cc: cc,\n      leadMessage: leadMessage  // Cleaned and truncated lead message\n    }\n  };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          944,
          192
        ],
        "name": "Parse Conversation History",
        "id": "c8f231c4-a50f-47f9-9677-477c2c5d482e"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "slack-reply-approval",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          -144,
          128
        ],
        "name": "Slack Webhook Trigger",
        "webhookId": "slack-reply-approval",
        "id": "8f0b0f30-e8aa-4f1e-886a-95cfe672fa47"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "OK",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          64,
          320
        ],
        "name": "Respond to Slack",
        "id": "8262bccd-7e74-46ba-a844-7a1f4d9aabd5"
      },
      {
        "parameters": {
          "jsCode": "// Parse Slack interaction payload for RLHF\n\nconst payload = $input.first().json.body.payload;\nlet parsedPayload;\n\nif (typeof payload === 'string') {\n  parsedPayload = JSON.parse(payload);\n} else {\n  parsedPayload = payload;\n}\n\n// Extract basic action details\nconst action = parsedPayload.actions?.[0];\nconst actionId = action?.action_id;\nconst user = parsedPayload.user;\nconst channel = parsedPayload.channel;\nconst responseUrl = parsedPayload.response_url;\n\n// Helper function to extract text from markdown field\nfunction extractFromField(blocks, label) {\n  for (const block of blocks) {\n    if (block.type === 'section' && block.fields) {\n      for (const field of block.fields) {\n        if (field.text && field.text.includes(label)) {\n          const parts = field.text.split('\\n');\n          if (parts.length > 1) {\n            let value = parts[1];\n            const emailMatch = value.match(/<mailto:([^|>]+)\\|/);\n            if (emailMatch) {\n              return emailMatch[1];\n            }\n            return value.trim();\n          }\n        }\n      }\n    }\n  }\n  return null;\n}\n\n// Helper function to extract text from section with specific header\nfunction extractSectionText(blocks, header) {\n  for (const block of blocks) {\n    if (block.type === 'section' && block.text && block.text.text) {\n      if (block.text.text.includes(header)) {\n        const text = block.text.text;\n        const codeBlockMatch = text.match(/```([\\s\\S]*?)```/);\n        if (codeBlockMatch) {\n          return codeBlockMatch[1].trim();\n        }\n        const parts = text.split(header);\n        if (parts.length > 1) {\n          return parts[1].replace(/^\\n/, '').trim();\n        }\n      }\n    }\n  }\n  return null;\n}\n\n// Helper function to extract Lemlist IDs from URL in context block\nfunction extractLemlistIds(blocks) {\n  for (const block of blocks) {\n    if (block.type === 'context' && block.elements) {\n      for (const element of block.elements) {\n        if (element.text && element.text.includes('app.lemlist.com')) {\n          const urlMatch = element.text.match(/https:\\/\\/app\\.lemlist\\.com\\/teams\\/([^\\/]+)\\/inbox\\/list\\/myConversations\\/contacts\\/([^|>]+)/);\n          if (urlMatch) {\n            return {\n              teamId: urlMatch[1],\n              contactId: urlMatch[2]\n            };\n          }\n        }\n      }\n    }\n  }\n  return { teamId: null, contactId: null };\n}\n\nconst blocks = parsedPayload.message?.blocks || [];\n\nconst companyName = extractFromField(blocks, '*Company:*');\nconst leadEmail = extractFromField(blocks, '*Lead Email:*');\nconst replyFromEmail = extractFromField(blocks, '*Reply-from Email:*');\nconst outreachCampaign = extractFromField(blocks, '*Outreach Campaign:*');\nconst prospectReply = extractSectionText(blocks, \"*Prospect's Reply:*\");\nconst agentResponse = extractSectionText(blocks, '*Agent Generated Response:*');\nconst lemlistIds = extractLemlistIds(blocks);\nconst lemlistMessageId = action?.value;\n\nreturn {\n  json: {\n    action_id: actionId,\n    slack_channel_id: channel?.id,\n    slack_channel_name: channel?.name,\n    slack_user_name: user?.name || user?.username,\n    company_name: companyName,\n    lead_identifier: leadEmail,\n    reply_from_email: replyFromEmail,\n    campaign_name: outreachCampaign,\n    lead_message: prospectReply,\n    ai_generated_response: agentResponse,\n    lemlist_contact_id: lemlistIds.contactId,\n    lemlist_team_id: lemlistIds.teamId,\n    lemlist_message_id: lemlistMessageId,\n    user_id: user?.id,\n    response_url: responseUrl,\n    original_message_ts: parsedPayload.message?.ts,\n    team_id: parsedPayload.team?.id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          320
        ],
        "name": "Parse Slack Payload",
        "id": "0840d52c-e4d6-450e-97a1-ea46837a4936"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "condition-approve",
                "leftValue": "={{ $json.action_id }}",
                "rightValue": "approve",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          496,
          320
        ],
        "name": "Check Action",
        "id": "f8866b04-bfe6-4ddb-9c34-1205e3a37afc"
      },
      {
        "parameters": {
          "url": "=https://api.lemlist.com/api/inbox/{{ $('Parse Slack Payload').item.json.lemlist_contact_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "lemlistApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          720,
          192
        ],
        "name": "Retrieve Conversation History",
        "id": "f29fcfaa-b69c-4eb3-9837-c777e32f9ef6",
        "credentials": {
          "lemlistApi": {
            "id": "6dgMHleAsx5bfyF9",
            "name": "Lemlist account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.lemlist.com/api/inbox/email",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "sendUserId",
                "value": "={{ $json.sendUserId }}"
              },
              {
                "name": "sendUserEmail",
                "value": "={{ $json.sendUserEmail }}"
              },
              {
                "name": "sendUserMailboxId",
                "value": "={{ $json.sendUserMailboxId }}"
              },
              {
                "name": "contactId",
                "value": "={{ $json.contactId }}"
              },
              {
                "name": "leadId",
                "value": "={{ $json.leadId }}"
              },
              {
                "name": "subject",
                "value": "={{ $json.subject }}"
              },
              {
                "name": "message",
                "value": "={{ '<p>' + $('Parse Slack Payload').item.json.ai_generated_response.split('\\n\\n').map(para => para.replace(/\\n/g, '<br>')).join('</p><p>') + '</p>' }}"
              },
              {
                "name": "cc",
                "value": "={{ $json.cc }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1152,
          192
        ],
        "name": "Send Email via Lemlist",
        "id": "80d7a160-204b-4808-b891-1818a837e993",
        "credentials": {
          "lemlistApi": {
            "id": "6dgMHleAsx5bfyF9",
            "name": "Lemlist account"
          },
          "httpBasicAuth": {
            "id": "ErJHjZR0I2frgqLU",
            "name": "Lemlist Account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "condition-send-success",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "isEmpty"
                }
              },
              {
                "id": "a9b819a9-7bac-4399-984e-28e3ddfd0802",
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1376,
          192
        ],
        "name": "Check Send Status",
        "id": "87b3f84c-9d61-4c75-838e-8be311c3810f"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"text\": \"Failed to send email\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":x: Failed to Send Email\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Error Details:*\\n```{{ $('Send Email via Lemlist').item.json.error || 'Unknown error occurred' }}```\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*To:*\\n{{ $('Parse Slack Payload').item.json.reply_from_email }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":warning: Please send the reply manually in Lemlist\"\n        }\n      ]\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1616,
          560
        ],
        "name": "Post Error status to Slack",
        "id": "98f56553-2067-46d6-9bc4-1e233be2acd7",
        "credentials": {
          "httpBearerAuth": {
            "id": "A9y0ZdmG00hI8udd",
            "name": "Slack's SDR Agent OAuth Token"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Parse Conversation History').item.json.leadMessage }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "You are an AI assistant that categorizes prospect messages into topics.\n\nAnalyze the prospect's message and categorize it into ONE of the following topics:\n\n**Valid Topics:**\n- pricing: Questions about cost, pricing plans, discounts, payment terms\n- product_feature: Questions about specific features, functionality, capabilities\n- competitor_comparison: Comparisons with competitors, asking why choose us\n- objection: Concerns, doubts, hesitations, or pushback\n- interested: Expressing interest, wanting to learn more, positive signals\n- not_interested: Clearly not interested, politely declining, no need\n- timing: Questions about implementation timeline, when to start, availability\n- technical: Technical questions, integrations, API, security, compliance\n- scheduling: Requesting a demo, meeting, call, or follow-up\n- general_inquiry: General questions that don't fit other categories\n- auto_reply: Auto-replies, bot replies, out of office messages\n\n**Instructions:**\n1. Read the prospect's message carefully\n2. Identify the main intent or topic\n3. Return ONLY the topic keyword (e.g., \"pricing\", \"product_feature\")\n4. Use lowercase and underscores for multi-word topics\n5. Choose the MOST relevant single topic\n\n**Output Format:**\nReturn a JSON object with the topic:\n{\n  \"topic\": \"<topic_keyword>\"\n}\n\n**Examples:**\nMessage: \"How much does this cost?\"\nOutput: {\"topic\": \"pricing\"}\n\nMessage: \"Does it integrate with POS?\"\nOutput: {\"topic\": \"technical\"}\n\nMessage: \"Not interested right now, thanks.\"\nOutput: {\"topic\": \"not_interested\"}\n\nMessage: \"Can you tell me more about the reporting features?\"\nOutput: {\"topic\": \"product_feature\"}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          1664,
          176
        ],
        "name": "Categorize Lead Message Topic",
        "id": "d2a301d8-dc58-4b20-b37c-001a3994ac36"
      },
      {
        "parameters": {
          "jsCode": "// Prepare training document for Vector Store\nconst leadMessage = $('Parse Conversation History').first().json.leadMessage;\nconst responseSent = $('Parse Slack Payload').item.json.ai_generated_response;\nconst topic = $json.output?.topic || $json.topic || 'general_inquiry';\n\nconst now = new Date();\nconst timestamp = now.toLocaleString('en-SG', {\n  timeZone: 'Asia/Singapore',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: true\n});\n\nconst cleanedResponse = responseSent\n  .replace(/\\\\n/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Return as a single item\nreturn {\n  json: {\n    pageContent: leadMessage, //Standard key for text\n    custom_metadata: {\n      topic: topic,\n      response_sent: cleanedResponse,\n      created_at: timestamp\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2048,
          176
        ],
        "name": "Prepare Training Document",
        "id": "823e7e48-60d6-469e-91fe-a159ca48d587"
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "outbound_responses",
            "mode": "list",
            "cachedResultName": "outbound_responses"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          2288,
          176
        ],
        "name": "Store Approved Response to DB",
        "id": "fd9b425c-1d74-4b9d-a011-a9784c5709ee",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $json.pageContent }}",
          "textSplittingMode": "custom",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "metadata",
                  "value": "={{ $json.custom_metadata }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          2416,
          384
        ],
        "id": "b9f78736-bc0b-4bce-8b18-dfae149e0616",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "separator": "*&^%$&*()",
          "chunkSize": 1000000
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          2416,
          560
        ],
        "id": "3ea452e2-4307-45f7-a0f3-75a824b97cce",
        "name": "Character Text Splitter"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"text\": \"Email sent successfully!\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":white_check_mark: Email Sent Successfully\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*To:*\\n{{ $('Parse Slack Payload').item.json.reply_from_email }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Approved by:*\\n{{ $('Parse Slack Payload').item.json.slack_user_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Subject:*\\n{{ $('Parse Conversation History').item.json.subject }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":e-mail: <https://app.lemlist.com/teams/{{ $('Parse Slack Payload').item.json.lemlist_team_id }}/inbox/list/myConversations/contacts/{{ $('Parse Slack Payload').item.json.lemlist_contact_id }}|View conversation in Lemlist>\"\n        }\n      ]\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2640,
          176
        ],
        "name": "Post Success status to Slack",
        "id": "a859ec25-2b54-40cd-a4b3-f3210f3d7a22",
        "credentials": {
          "httpBearerAuth": {
            "id": "A9y0ZdmG00hI8udd",
            "name": "Slack's SDR Agent OAuth Token"
          }
        }
      }
    ],
    "connections": {
      "Google Gemini Chat1": {
        "ai_languageModel": [
          [
            {
              "node": "Categorize Lead Message Topic",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Topic Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "Categorize Lead Message Topic",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Embeddings": {
        "ai_embedding": [
          [
            {
              "node": "Store Approved Response to DB",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Parse Conversation History": {
        "main": [
          [
            {
              "node": "Send Email via Lemlist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack Webhook Trigger": {
        "main": [
          [
            {
              "node": "Respond to Slack",
              "type": "main",
              "index": 0
            },
            {
              "node": "Parse Slack Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Slack Payload": {
        "main": [
          [
            {
              "node": "Check Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Action": {
        "main": [
          [
            {
              "node": "Retrieve Conversation History",
              "type": "main",
              "index": 0
            },
            {
              "node": "Update Message - Approved",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Message - Rejected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve Conversation History": {
        "main": [
          [
            {
              "node": "Parse Conversation History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Email via Lemlist": {
        "main": [
          [
            {
              "node": "Check Send Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Send Status": {
        "main": [
          [
            {
              "node": "Categorize Lead Message Topic",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Post Error status to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post Error status to Slack": {
        "main": [
          [
            {
              "node": "Update Message - Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Categorize Lead Message Topic": {
        "main": [
          [
            {
              "node": "Prepare Training Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Training Document": {
        "main": [
          [
            {
              "node": "Store Approved Response to DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Approved Response to DB": {
        "main": [
          [
            {
              "node": "Post Success status to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Store Approved Response to DB",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Post Success status to Slack": {
        "main": [
          []
        ]
      }
    },
    "authors": "Oddle Engineer",
    "name": "test run - 15 jan",
    "description": "",
    "autosaved": false
  },
  "tags": []
}