[email]-au-sdr-agent-au.json
{
  "updatedAt": "2026-04-24T09:06:15.687Z",
  "createdAt": "2026-03-23T10:25:54.378Z",
  "id": "nkkFQLQhhhlUQPCR",
  "name": "[Email] AU SDR Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.lemlist.com/api/inbox/{{ $('Reply Received').item.json.body.contactId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "lemlistApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1760,
        -416
      ],
      "name": "Get Conversation History",
      "id": "87be4064-e0a9-40d7-9adf-d3216e314d03",
      "credentials": {
        "lemlistApi": {
          "id": "6dgMHleAsx5bfyF9",
          "name": "Lemlist account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse and format Lemlist conversation history for AI agent\n\n// Helper function to strip HTML tags and decode HTML entities\nfunction stripHtml(html) {\n  if (!html) return '';\n  let text = html.replace(/<[^>]*>/g, ' ');\n  text = text\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&#x27;/g, \"'\")\n    .replace(/&apos;/g, \"'\")\n    .replace(/&#39;s/g, \"'s\");\n  text = text.replace(/\\s+/g, ' ').trim();\n  return text;\n}\n\nfunction formatTimestamp(isoDate) {\n  const date = new Date(isoDate);\n  const year = date.getFullYear();\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  const hours = String(date.getHours()).padStart(2, '0');\n  const minutes = String(date.getMinutes()).padStart(2, '0');\n  return `${year}-${month}-${day} ${hours}:${minutes}`;\n}\n\nconst inputData = $input.all();\nlet rawMessages = [];\n\nif (Array.isArray(inputData) && inputData.length > 0) {\n  const firstItem = inputData[0].json;\n  if (firstItem?.data && Array.isArray(firstItem.data)) {\n    rawMessages = firstItem.data;\n  } else if (Array.isArray(firstItem)) {\n    rawMessages = firstItem;\n  }\n}\n\nconst latestLeadReply = rawMessages.find(msg => msg.type === 'emailsReplied');\nconst anyMessageWithEmail = rawMessages.find(msg => msg.leadEmail);\n\nlet leadMessage = '';\nlet leadEmail = anyMessageWithEmail ? anyMessageWithEmail.leadEmail : null;\nlet companyName = null;\n\nif (latestLeadReply && latestLeadReply.message) {\n    let cleaned = stripHtml(latestLeadReply.message);\n    leadMessage = cleaned.split(/On\\s.*wrote:/i)[0]\n                         .split(/From:/i)[0]\n                         .split(/---/)[0]\n                         .trim();\n}\n\nif (leadEmail && leadEmail.includes('@')) {\n  const domain = leadEmail.split('@')[1].split('.')[0];\n  companyName = domain.charAt(0).toUpperCase() + domain.slice(1);\n}\n\nconst processedMessages = rawMessages.map(item => {\n  const isProspect = item.type === 'emailsReplied';\n  const role = isProspect ? 'Prospect' : 'SDR';\n  const senderName = isProspect \n    ? (item.fromEmail ? item.fromEmail.split('@')[0] : 'Prospect') \n    : (item.sendUserName || 'SDR');\n  \n  return {\n    timestamp: item.createdAt,\n    formattedTime: formatTimestamp(item.createdAt),\n    role: role,\n    sender: senderName,\n    message: stripHtml(item.message),\n    type: item.type,\n    subject: item.subject || ''\n  };\n});\n\nconst chronologicalMessages = [...processedMessages].sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));\n\nconst conversationThread = chronologicalMessages.map((msg, index) => {\n  const isLatest = index === 0;\n  const prefix = isLatest ? '[LATEST] ' : '';\n  return `${prefix}[${msg.formattedTime}] ${msg.role} (${msg.sender}): ${msg.message}`;\n}).join('\\n\\n');\n\nconst structuredConversation = {\n  totalMessages: chronologicalMessages.length,\n  messages: chronologicalMessages,\n  summary: {\n    prospectMessageCount: chronologicalMessages.filter(m => m.role === 'Prospect').length,\n    sdrMessageCount: chronologicalMessages.filter(m => m.role === 'SDR').length,\n    latestRole: chronologicalMessages[0]?.role || 'Unknown'\n  }\n};\n\nreturn {\n  json: {\n    leadMessage: leadMessage,\n    leadEmail: leadEmail,\n    companyName: companyName,\n    parsedConversation: structuredConversation,\n    conversationThreadFormatted: conversationThread,\n    contactId: rawMessages[0]?.contactId || null,\n    subject: rawMessages[0]?.subject || ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        -416
      ],
      "name": "Parse Conversation History",
      "id": "d72f2f95-cdec-4d83-9e2f-998a6b588f60"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack_channel",
              "name": "slackChannelId",
              "value": "C0A3N12LT5Z",
              "type": "string"
            },
            {
              "id": "webhook_path",
              "name": "webhookPath",
              "value": "slack-reply-approval",
              "type": "string"
            },
            {
              "id": "lemlist_base_url",
              "name": "lemlistBaseUrl",
              "value": "https://app.lemlist.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1984,
        -416
      ],
      "name": "Workflow Configuration",
      "id": "e961759c-3b09-4aea-b884-b99bb3bc8a02"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0AB3U5B1D4\",\n  \"text\": \"New prospect reply needs approval\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Reply Received').item.json.body.leadCompanyName }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Lead Email:*\\n{{ $('Reply Received').item.json.body.leadEmail }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Reply-from Email:*\\n{{ $('Reply Received').item.json.body.fromEmail }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Outreach Campaign:*\\n{{ $('Reply Received').item.json.body.name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Country:*\\nAustralia\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ (function() { let rawText = $('Reply Received').item.json.body.text || ''; let truncated = rawText.length > 300 ? rawText.substring(0, 300) + '...' : rawText; return JSON.stringify(truncated).slice(1, -1); })() }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ (function() { let agentText = $json.output.content || ''; return JSON.stringify(agentText).slice(1, -1); })() }}```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":e-mail: <https://app.lemlist.com/teams/{{ $('Reply Received').item.json.body.metaData.teamId }}/inbox/list/myConversations/contacts/{{ $('Reply Received').item.json.body.contactId }}|View full conversation in Lemlist>\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"approval_actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \":white_check_mark: Approve & Send\",\n            \"emoji\": true\n          },\n          \"style\": \"primary\",\n          \"action_id\": \"approve\",\n          \"value\": \"{{ $('Reply Received').item.json.body.messageId }}||{{ $('Reply Received').item.json.body.createdAt }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Reject & Edit\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"action_id\": \"reject\",\n          \"url\": \"https://app.lemlist.com/teams/{{ $('Reply Received').item.json.body.metaData.teamId }}/inbox/list/myConversations/contacts/{{ $('Reply Received').item.json.body.contactId }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        -416
      ],
      "id": "12d5e4e9-58fd-4668-9902-07cbc566bca0",
      "name": "Send to Slack for Approval",
      "credentials": {
        "httpBearerAuth": {
          "id": "A9y0ZdmG00hI8udd",
          "name": "Slack's Email SDR Agent"
        }
      }
    },
    {
      "parameters": {
        "content": "### Additional Agent to assist Sophie post appt fixed\n- Create Lead Profile, send to Attio & Slack\n- Hand off to AE: Send email to prospect & introduce AE with LP",
        "height": 128,
        "width": 496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        -720
      ],
      "typeVersion": 1,
      "id": "f1de37a0-023e-4541-83d0-f33f1d0a4966",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### To add: Manager Agent\n1) Look at conversation history\n2) Identify what needs to be done from the latest conversation\n- Generate a response -> Email agent\n- Create a Lead Profile -> LP agent\n- Update Attio -> CRM agent (not sure about this)",
        "height": 192,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2256,
        -800
      ],
      "typeVersion": 1,
      "id": "a4965a54-a9de-4e64-9a1d-c5a87ad0931d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Email from: {{ $json.email_from }}\n- Restaurant: {{ $json.company }}\n- Segment: {{ $('Reply Received').item.json.body['Target group'] }}\n- Subject: {{ $json.subject }}\n- Lead's's latest reply: {{ $json.lead_message }}\n- Conversation History: {{ $json.conversation_history }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role:**\nYou are an expert Sales Development Representative (SDR) at Oddle, handling replies to outbound email prospecting campaigns. Your goal is to address queries and objections from prospects and secure a discovery call with our team.\n\n---\n\n**Country Detection:**\nUse the Country field provided in the User Message. If Country is not provided, default to Australia.\n\n**Scheduling Links by Country:**\n\n| Country | Scheduling Link |\n|---|---|\n| Singapore | https://forms.oddle.me/oddle-discovery-call-singapore |\n| Malaysia | https://forms.oddle.me/oddle-discovery-call-malaysia |\n| Australia | https://forms.oddle.me/oddle-discovery-call-au |\n| United States | https://forms.oddle.me/oddle-discovery-call-us |\n\n**Country-Specific Messaging:**\n\n| Country | Pricing Phrase | Marketplace Names |\n|---|---|---|\n| Singapore | competitive rate for Singapore partners | GrabFood, Foodpanda, Deliveroo |\n| Malaysia | competitive rate for Malaysia partners | Grab, Foodpanda, ShopeeFood |\n| Australia | Founder Access rate for early AU partners | UberEats, DoorDash, Menulog |\n| United States | Founder rate for early US partners | DoorDash, UberEats, Grubhub |\n\n**Social Proof — use based on the prospect's country:**\n\n| Country | Partner Restaurants |\n|---|---|\n| Singapore | Brotzeit, Uncle Leong Seafood, Westlake, Sum Kee, Serangoon BBQ, Ba Shu Sichuan |\n| Malaysia | TGIF, Shake Shack, Madam Kwan's, Nando's MY, MyBurgerLab, Kampai Yakiniku, The Farm, Xenri Japanese Cuisine |\n| Australia | Ten Minas, The Penny Drop Cafe, Thai Ute Restaurant, Lumen People, Catalina Kitchen, Arcadia Liquors, Mister Minh |\n| United States | Pizza Express, Shake Shack, Paris Baguette, Jollibee, TGIF, Keng Eng Kee, Domo Dining, Beyond The Dough |\n\nUse social proof only when the prospect asks about local presence, references, or current users — or when handling a trust/credibility objection (\"never heard of you,\" \"are you new?\"). Drop 1–2 names naturally. Do not volunteer them unprompted.\n\nBrand proof statement (all countries): Oddle is trusted by 5,000+ restaurant brands across Asia.\n\n---\n\n**Response Guidelines & Formatting:**\n- Length: Under 100 words. Maximum 200 words.\n- Tone: Professional, friendly, consultative. Simple everyday words. No filler affirmations (\"That makes sense,\" \"Absolutely,\" \"Great question\"). Match the acknowledgement to context: warm for genuine positive agreement, neutral (\"Noted.\", \"Thanks for clarifying.\") for information or context-sharing, nothing for declines. Never \"Understood.\" — it reads as dismissive. Skip entirely if the response can open naturally without it.\n- Mirror: Match the prospect's length and density. Short and direct from them, lean from you.\n- Language: Plain business language. Outcomes over features. No jargon (e.g., not \"automated re-engagement\" — say \"follows up with past customers automatically\").\n- Format: No bold text. No em-dashes, use commas or periods instead. Hyphens only for lists. No formal sign-offs other than the signature block. Salutation on its own line (e.g., \"Hi Hayley,\"), followed by a blank line before the body. Closing line on its own separate paragraph with a blank line before the signature block. Body paragraphs: each idea gets its own paragraph with a blank line between them. For objection or rebuttal responses, use three paragraphs: (1) opening acknowledgement or warm opener, (2) the question or rebuttal, (3) the CTA.\n- Scheduling link: Never include it while still handling an objection.\n- Scheduling day awareness: Before referencing availability, check the current day. If it is Thursday or Friday, use \"next week\" not \"this week.\"\n- Scheduling link fallback: Always follow the scheduling link with a short line in a separate paragraph: \"If none of those times work, just reply and we'll find a time.\"\n- CTA variety: Vary the closing call-to-action. Do not repeat \"Worth a quick call\" in every reply. Alternatives: \"Open to a quick chat?\", \"Happy to jump on a call if you're curious.\", \"Would it be worth 15 mins to find out?\", \"Keen to take a look?\", \"Worth a conversation?\"\n- Quoted replies: The prospect's message may contain a quoted or replied portion from a previous email. Read it for context but respond only to the new content.\n- Output: Return in Markdown format.\n\n---\n\n**Knowledge Access:**\n- Product Knowledge Base: Retrieve product information about Oddle. Distill into 1–2 conversational sentences. Only answer product questions when asked.\n- Prospecting Guide Knowledge Base: Retrieve segment-specific context and talk tracks. Use as background context only (see below).\n- If a KB query returns no results or results unrelated to the prospect's message, discard them and proceed without. Do not force-fit irrelevant results.\n\n---\n\n**Prospecting Guide Context:**\nThe Prospecting Guide Knowledge Base contains segment-specific pain points, value props, and objection pivots organized by the prospect's current platform setup. Use it to:\n- Identify the prospect's segment: use the Segment field in the User Message if provided. If not, infer from context clues (e.g., mentions of GrabFood/Foodpanda/DoorDash = Marketplace Only; Sevenrooms/Chope/OpenTable = Reservation-related).\n- Adapt your USP emphasis to their segment:\n  - Marketplace Only: commission savings (~30%), customer data ownership, larger advance orders\n  - Marketplace + Reservation: unified data across channels, potential reservation cost savings, cross-channel re-engagement\n  - Reservation Only: turn the reservation system into a revenue driver, not just ops — CRM, re-engagement, broadcast marketing\n  - Eshop + Reservation: consolidate two separate systems, unified customer data, lower total cost\n- Ground objection responses in guide data points where relevant, e.g., \"~75% of Oddle orders are placed 6+ hours in advance\" for last-minute order objections; \"Oddle's avg order is 3–4x higher than typical marketplace orders\" for small-order concerns. Do not quote specific dollar figures — express as ratios or relative comparisons instead.\n\nDo NOT:\n- Ask the prospect qualifying questions from the guide. You are responding to outbound replies, not running a discovery call.\n- Reference segments, frameworks, or jargon from the guide in your messages to prospects.\n- Let the guide override scenario logic. It is context, not a script.\n\n---\n\n**Oddle Core USPs (primary source for building responses):**\n- 100% customer data ownership: Unlike marketplaces, all guest data belongs to the restaurant\n- Built-in CRM with automated targeted broadcasts to re-engage past diners to drive repeat business\n- Lifecycle layer: converts first-time marketplace guests into direct-booking regulars\n- Pricing: Use the pricing phrase from the country config above. It is guaranteed to be the most cost-effective option in the market.\n\n---\n\n**Processing Instruction:**\nWork through Steps 1–2 silently before producing output. Your response to the prospect must be ONLY the final email reply (salutation through signature). Do not include step labels, reasoning, or intent tags in your output.\n\n**Step 1: Input Parsing & Intent Classification**\nThe User Message contains these fields:\n- **Email from:** The prospect's email address.\n- **Restaurant:** The prospect's restaurant or company name.\n- **Country:** The prospect's country. Use this for all country-specific config (scheduling link, pricing phrase, marketplace names, social proof).\n- **Segment:** The prospect's current platform setup (e.g., Marketplace Only, Marketplace + Reservation). May not always be present — infer from context if absent.\n- **Lead's latest reply:** The most recent email from the prospect. Respond only to this.\n- **Conversation History:** The prior email thread. Read for context; also use to find the SDR's first name from their previous messages.\n\n- Identity: Find the SDR's first name in the Conversation History field.\n- Country: Use the Country field from the User Message.\n- Salutation: Use the lead's name from Lead's latest reply or Conversation History. If unavailable, use \"Hi [Restaurant] team,\".\n- History Check: Ensure you aren't repeating previous points or ignoring a question already asked.\n- Prospecting Guide Context: If the prospect's message suggests segment-specific concerns, query the Prospecting Guide Knowledge Base. Apply as background reasoning, not visible content.\n- Intent Classification: Identify exactly ONE primary intent from this list:\n  1. OPEN: Agreeable, low friction, wants to proceed (e.g., \"sure,\" \"sounds good,\" \"go ahead\")\n  2. HIGH_INTENT: Asking for a demo, pricing, or next steps\n  3. QUESTION: Asking about product, capabilities, or how something works\n  4. SOFT_OBJECTION: Pushback that leaves room (budget, timing, happy with current setup, competitor mention)\n  5. HARD_OBJECTION: Firm, unambiguous refusal with no room to continue — may or may not be hostile\n  6. UNSUBSCRIBE: Asks to be removed from mailing list or stop receiving emails\n  7. LAPSED_USER: Previously used Oddle and left\n  8. ICP_REDIRECT: Not a restaurant, or business model mismatch with Oddle's offering\n  9. CONTEXT_RICH: Prospect explains their current setup, system, or workflow in detail\n  10. REFERRAL: Pointing to a colleague or wrong contact\n  11. EXISTING_CLIENT: Prospect reveals they are already an active Oddle customer\n  12. EDGE_CASE: Does not fit any of the above\n- Once classified, execute the matching scenario in Step 2.\n- Avoid Over-Personalization: Do not insert the Company Name into the body. Use it only in the salutation if the lead's name is unavailable.\n\n**Objection Rebuttal Framework (for SOFT_OBJECTION):**\nWhen building a rebuttal, follow this decision tree:\n1. Competitor objection (\"we use [marketplace]\"): Oddle is not a replacement. It's an additional owned channel where the restaurant keeps 100% of customer data and captures orders that never reach [marketplace]. One sentence, then pivot.\n2. Price objection: Use the pricing phrase from the country config. Pivot to a call. If an AU lead insists a second time: \"It works out to less than AUD2.50 a day.\" Then pivot back to booking.\n3. \"Too busy\" / timing: Acknowledge, emphasize automation (runs without manual effort from the team). Suggest a specific time next week.\n4. \"Happy with current setup\": Ask one question that surfaces a gap, e.g., \"Does your current setup capture every customer's details so you can market to them directly?\" or \"Are you able to re-engage past customers without relying on the marketplace?\"\n5. Social proof request (\"never heard of you,\" \"are you new?\"): Pull 1–2 relevant names from the Social Proof table for their country, or use the brand proof statement.\n6. Unknown objection: Acknowledge in one sentence, pivot to call.\n\n---\n\n**Step 2: Scenario Logic (Select One)**\n\n**Warm / Low-Friction Reply (OPEN):**\n- When the prospect gives a short, warm, or low-resistance reply, do not launch into a product explanation.\n- Respond with one sentence acknowledging their openness, then provide the scheduling link with brief call agenda framing.\n- Keep it short. Match their energy.\n\n**High Intent (HIGH_INTENT):**\n- If they ask for a demo or show clear interest, reference availability and provide the scheduling link.\n- If they ask for a \"specific\" demo, briefly note it can be covered in the live session rather than asking more questions.\n\n**ICP Redirect (ICP_REDIRECT):**\n- If the prospect confirms they are not a restaurant or F&B establishment, close gracefully.\n- If their reply reveals a business model mismatch with reservations (counter-service, walk-in only, kiosk) — do not close. Pivot to Oddle Shop: there is still an opportunity to open an online ordering channel, capture guest data, and grow repeat business. End with a soft, forward-leaning CTA to a quick conversation to explore. Frame the pivot assertively and in the present tense (\"you could still open an online ordering channel for takeaways\") — not as a future conditional (\"if you ever start looking\"). Do not mention pricing, USPs, or the scheduling link.\n- If the prospect expresses uncertainty about fit (\"not sure if we fit,\" \"in the middle of something\") — do not pitch. Acknowledge their situation warmly, note there may be something worth a conversation as things develop, and offer a light exploratory call with no pressure. Do not mention USPs, pricing, or the scheduling link. If they then signal openness, send the scheduling link.\n\n**Questions / Information Request (QUESTION):**\n- Answer clearly using the Product Knowledge Base or Prospecting Guide context.\n- Focus on outcomes, not features.\n- On pricing: Never mention specific figures. Position as: we're offering a [pricing phrase from config], and it's guaranteed to be the most cost-effective option in the market. Direct them to a call.\n- End with a soft call to action.\n\n**Objections (SOFT_OBJECTION):**\n- The One-Try Rule: Do not concede on the first soft objection. Attempt ONE rebuttal using the Objection Rebuttal Framework above.\n- After one rebuttal: If the prospect objects again, do not push further. Close warmly — acknowledge their position, wish them well, and leave the door open.\n- Constraint: Do not send the scheduling link while handling the first objection. Earn a \"Yes\" to the idea of a conversation first.\n\n**Firm No (HARD_OBJECTION):**\n- Acknowledge gracefully and close the thread. Do not attempt a rebuttal.\n\n**Unsubscribe / Remove-me (UNSUBSCRIBE):**\n- Acknowledge without making a hard promise. Use \"We've updated our mailing list accordingly\" rather than \"We will no longer contact you.\"\n- Always end with a soft open door: \"If you're ever open to exploring how Oddle can help, feel free to reach out anytime.\"\n- Exception: If the tone is hostile or includes a legal threat, close cleanly with no open door. A terse single-word message like \"Stop\" is not hostile. Hostile means legal threats, profanity, or sustained aggression.\n\n**Context-Rich Reply (CONTEXT_RICH):**\n- Treat this as a discovery opportunity. Do not map to a generic objection script.\n- Acknowledge what they have set up correctly. Briefly validate their logic.\n- Identify the gap their current setup doesn't address, using Core USPs as the lens.\n- Common gap angles: customer data ownership, post-visit re-engagement automation, CRM and broadcast capabilities, reducing marketplace dependency for repeat visits.\n- Frame Oddle as the layer that sits alongside their current setup, not a replacement.\n- End with a soft CTA toward a discovery call.\n\n**Lapsed / Former Oddle User (LAPSED_USER):**\n- Do not close the loop. Treat as a soft objection: first ask why they stopped, then offer to share what has since improved.\n- Only close if they decline to engage after that.\n\n**Existing Client / Current Partner (EXISTING_CLIENT):**\n- If the prospect indicates they are already an active Oddle customer, do not pitch or suggest new features.\n- Acknowledge the outreach mix-up briefly and apologise.\n- Thank them for being a partner.\n- Offer to help with anything they need and close warmly.\n- No sales push, no scheduling link.\n\n**Unlisted Objections or Unrecognized Scenarios (EDGE_CASE):**\n- Do not make up data, invent features, or fabricate claims.\n- Acknowledge in one sentence, then pivot to the value of a quick conversation.\n- Example: \"Fair point — honestly the best way I can give you a proper answer is over a quick call. Worth 15 mins?\"\n- Never guess at specifics (pricing, integrations, features, timelines) not confirmed in your knowledge sources.\n\n**Needs to Check with or Talk to Their Boss:**\n- Do not wait for them to loop back. Offer to reach out directly.\n- Ask for the boss's name and email address.\n- Example: \"No worries, happy to reach out to them directly. Can you share their name and email?\"\n\n**Referrals & Contact Updates (REFERRAL):**\n- If they refer a colleague: Ask for that person's email address.\n- If it's the wrong brand or contact: Acknowledge, say we will update records.\n\n---\n\n**Email Signature:**\nFollow the format below, using the SDR's first name found in the Conversation History:\n\nCheers,\n[SDR's first name]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -656,
        -416
      ],
      "name": "Email Agent",
      "id": "dcbb4582-5f86-4d12-b974-61b049cfc73d",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Process prospect's reply & retrieve conversation history for context",
        "height": 420,
        "width": 1072
      },
      "id": "4f50d8d8-8841-4fac-806e-6645dc5a946e",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2416,
        -576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1152,
        -16
      ],
      "id": "4801550f-59b2-4fef-9ad9-249f6fd0f9d2",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to find similar prospect's reply and examples of approved responses to help draft new replies",
        "tableName": {
          "__rl": true,
          "value": "response_handling_guide",
          "mode": "list",
          "cachedResultName": "response_handling_guide"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1152,
        -192
      ],
      "id": "9e8518f0-3cf2-47ac-8516-1977e8411ca1",
      "name": "Response Handling Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"content\": \"Hi Yong Xiang, Thanks for the reply.\"}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -448,
        -240
      ],
      "id": "f1a9ed65-6c47-4699-b71b-3cdff21c6485",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "content": "## Generate response based on guideline & response handling knowledge base",
        "height": 960,
        "width": 992,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        -560
      ],
      "typeVersion": 1,
      "id": "298fb3c2-3895-43ed-9265-23271a043581",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42648864-a669-4190-ac38-217a44e8a4c5",
              "name": "email_from",
              "value": "={{ $('Parse Conversation History').item.json.leadEmail }}",
              "type": "string"
            },
            {
              "id": "d3c1e1b5-6bee-4c7a-9741-e943014b064f",
              "name": "company",
              "value": "={{ $('Parse Conversation History').item.json.companyName }}",
              "type": "string"
            },
            {
              "id": "419ee37f-3fb5-4ac5-84a9-1d28ee68d113",
              "name": "subject",
              "value": "={{ $('Parse Conversation History').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "51996ffa-b5d3-46e5-8e0b-c6f9374fb40b",
              "name": "lead_message",
              "value": "={{ $('Parse Conversation History').item.json.leadMessage }}",
              "type": "string"
            },
            {
              "id": "0ba486e0-44fc-40c5-a50e-f718265a40e2",
              "name": "conversation_history",
              "value": "={{ $('Parse Conversation History').item.json.conversationThreadFormatted }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        -416
      ],
      "id": "e295f398-5aec-442f-960d-5ab3e9332d82",
      "name": "Map fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        -96
      ],
      "id": "b11bb73c-8211-461c-8417-82b61826d7ad",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contains comprehensive product knowledge about Oddle, Oddle Reservation and Oddle Shop.",
        "tableName": {
          "__rl": true,
          "value": "oddle_eshop_knowledge_base",
          "mode": "list",
          "cachedResultName": "oddle_eshop_knowledge_base"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -544,
        64
      ],
      "id": "6fd57834-7c11-491b-ad64-37c8cec8361e",
      "name": "Product Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        224
      ],
      "id": "34e995de-723a-4037-8ca2-29e8099b9223",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2176,
        -416
      ],
      "id": "fe32984a-f03c-4d07-91cf-4d8fb8c8bd99",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lemlist-email-campaign",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2368,
        -416
      ],
      "id": "c3330aee-8ba9-461c-b257-0a69cd21b751",
      "name": "Reply Received",
      "webhookId": "d0007cc4-2986-497c-889b-0248e778f89f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/people/records/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"filter\": {\"email_addresses\": \"{{ $('Reply Received').item.json.body.leadEmail }}\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2256,
        16
      ],
      "id": "attio-find-person",
      "name": "Find Person in Attio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key_Header"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.attio.com/v2/objects/companies/records/{{ $json.data[0].values.company[0].target_record_id }}/entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1552,
        16
      ],
      "id": "attio-get-company-entries",
      "name": "Get Company List Entries",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key_Header"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update Attio entry in AU Attio list\nMark lead as Replied in au_or_outreach_2026 list, update Reply date\nChange list slug for different outreach",
        "height": 536,
        "width": 1068,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2416,
        -112
      ],
      "typeVersion": 1,
      "id": "sticky-attio-flow",
      "name": "Sticky Note Attio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "person-exists",
              "leftValue": "={{ $json.data[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2048,
        16
      ],
      "id": "if-person-found",
      "name": "Person Found?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "company-linked",
              "leftValue": "={{ $json.data[0].values.company[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1808,
        16
      ],
      "id": "if-company-linked",
      "name": "Company Linked?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "entry-exists",
              "leftValue": "={{ $json.data.filter(entry => entry.list_api_slug === 'au_or_outreach_2026')[0] }}",
              "rightValue": "au_or_outreach_2026",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2256,
        240
      ],
      "id": "if-entry-exists",
      "name": "List Entry Exists?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -800,
        -240
      ],
      "id": "5bec8564-a02d-427e-8a46-79a7860e2ba1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "U11ZFugtdDzwhsyC",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.attio.com/v2/lists/au_or_outreach_2026/entries/{{ $json.data.filter(entry => entry.list_api_slug === 'au_or_outreach_2026')[0].entry_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2048,
        240
      ],
      "id": "1d4f0c18-6490-4fd0-8344-283aee58c930",
      "name": "Get Attio Entry",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key_Header"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-outreach-status-empty",
              "leftValue": "={{ $('Get Attio Entry').item.json.data.entry_values.outreach_status }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1808,
        256
      ],
      "id": "8353e745-8df7-4739-b359-e9631f69f179",
      "name": "Outreach Status Empty"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.attio.com/v2/lists/au_or_outreach_2026/entries/{{ $('Get Attio Entry').item.json.data.id.entry_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"entry_values\": {\n      \"outreach_status\": \"Replied\",\n      \"replied_from\": \"Lemlist\",\n      \"reply_date\": \"{{ $now.format('yyyy-MM-dd') }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1552,
        240
      ],
      "id": "25e7eb50-3dac-42ad-8cb6-5ff9e79f1e00",
      "name": "Update Attio List Entry",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key_Header"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -880,
        144
      ],
      "id": "a30e592e-a141-4e67-a9e3-4779777db895",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to retrieve segment-specific sales context for a prospect based on their current platform setup. Query when you know or can infer the prospect's segment (marketplace-only, marketplace + reservation, reservation-only, or eshop + reservation). Returns pain points, value props, and objection pivots by segment, plus key data points to anchor rebuttals (e.g., advance order rates, avg order value comparisons, commission rates). Use as background reasoning only — do not surface guide content directly to prospects.",
        "tableName": {
          "__rl": true,
          "value": "oddle_prospecting_guide",
          "mode": "list",
          "cachedResultName": "oddle_prospecting_guide"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -880,
        -32
      ],
      "id": "94776b3a-16a6-4a45-a38b-bbc724b23b17",
      "name": "Prospecting Guide Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    }
  ],
  "connections": {
    "Get Conversation History": {
      "main": [
        [
          {
            "node": "Parse Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Conversation History": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack for Approval": {
      "main": [
        []
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "Send to Slack for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Response Handling Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Response Handling Knowledge Base": {
      "ai_tool": [
        []
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Email Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Map fields": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Product Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Product Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Person in Attio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Person in Attio": {
      "main": [
        [
          {
            "node": "Person Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Person Found?": {
      "main": [
        [
          {
            "node": "Company Linked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Linked?": {
      "main": [
        [
          {
            "node": "Get Company List Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company List Entries": {
      "main": [
        [
          {
            "node": "List Entry Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Entry Exists?": {
      "main": [
        [
          {
            "node": "Get Attio Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Received": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Attio Entry": {
      "main": [
        [
          {
            "node": "Outreach Status Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outreach Status Empty": {
      "main": [
        [
          {
            "node": "Update Attio List Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Prospecting Guide Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Prospecting Guide Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 5,
    "timezone": "Asia/Singapore",
    "errorWorkflow": "2SWvtvGbkteCtlr0"
  },
  "staticData": {
    "node:Reply Received": {
      "webhookId": "hoo_D2XyjPHC3jgJNeAkB"
    },
    "node:Reply Received1": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Reply Received": [
      {
        "json": {
          "headers": {
            "host": "workflow.oddle.center",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "content-length": "7188",
            "x-cloud-trace-context": "5a0d82e8cbccb0e3ac23e2a3faf3726e/17087535877384314923",
            "x-forwarded-proto": "https",
            "traceparent": "00-5a0d82e8cbccb0e3ac23e2a3faf3726e-ed231f58ca3c202b-00",
            "x-forwarded-for": "141.94.255.65",
            "forwarded": "for=\"141.94.255.65\";proto=https",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "_id": "act_eSaqXoZ74r7w3cw7A",
            "type": "emailsReplied",
            "emailId": "eml_DEzFHv2wgeqmbb6uY",
            "messageId": "<ME3P282MB3367758D29A63BA80422EC85CA56A@ME3P282MB3367.AUSP282.PROD.OUTLOOK.COM>",
            "createdBy": "usr_qowSk6Hg9irk3PjbH",
            "createdAt": "2026-03-26T22:33:47.000Z",
            "fromEmail": "marketing@venetoclub.com",
            "isFirst": true,
            "stopped": true,
            "subject": "RE: 15% of weekend revenue",
            "messagePreview": "Not interested.",
            "bot": false,
            "teamId": "tea_gYwPePZxuhFb6QraW",
            "leadId": "lea_R84xRY4auJWQmruQw",
            "campaignId": "cam_P39JSaJzPJxNBXsjn",
            "sequenceId": "seq_z57hwgYyjhiRRgQAr",
            "sequenceStep": 1,
            "emailTemplateId": "etp_Rwp3vTSXu2C6NhQqA",
            "sendUserId": "usr_qowSk6Hg9irk3PjbH",
            "totalSequenceStep": 1,
            "name": "[AU] No Reservation - No OS B2B (Mar '26)",
            "sendUserName": "RJ Kevin",
            "sendUserEmail": "rj@oddle.me",
            "sendUserMailboxId": "usm_vesq64gyHaCX5oqpw",
            "sendUserMailboxProviderId": "rj@oddle.me",
            "leadEmail": "marketing@venetoclub.com",
            "leadCompanyName": "Veneto Club",
            "contactId": "ctc_ftcry4GtC3TRWvgrN",
            "relatedSentAt": "2026-03-16T21:12:20.460Z",
            "metaData": {
              "teamId": "tea_gYwPePZxuhFb6QraW",
              "campaignId": "cam_P39JSaJzPJxNBXsjn",
              "leadId": "lea_R84xRY4auJWQmruQw",
              "type": "emailsReplied",
              "createdBy": "usr_qowSk6Hg9irk3PjbH",
              "s3ready": false,
              "taskId": "tsk_L5bnYPkZZp3xsCC2v"
            },
            "campaignName": "[AU] No Reservation - No OS B2B (Mar '26)",
            "html": "<html xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" xmlns:m=\"http://schemas.microsoft.com/office/2004/12/omml\" xmlns=\"http://www.w3.org/TR/REC-html40\">\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<meta name=\"Generator\" content=\"Microsoft Word 15 (filtered medium)\">\n<!--[if !mso]><style>v\\:* {behavior:url(#default#VML);}\no\\:* {behavior:url(#default#VML);}\nw\\:* {behavior:url(#default#VML);}\n.shape {behavior:url(#default#VML);}\n</style><![endif]--><style><!--\n/* Font Definitions */\n@font-face\n\t{font-family:\"Cambria Math\";\n\tpanose-1:2 4 5 3 5 4 6 3 2 4;}\n@font-face\n\t{font-family:Calibri;\n\tpanose-1:2 15 5 2 2 2 4 3 2 4;}\n@font-face\n\t{font-family:Aptos;}\n@font-face\n\t{font-family:\"Segoe UI\";\n\tpanose-1:2 11 5 2 4 2 4 2 2 3;}\n/* Style Definitions */\np.MsoNormal, li.MsoNormal, div.MsoNormal\n\t{margin:0cm;\n\tfont-size:12.0pt;\n\tfont-family:\"Aptos\",sans-serif;}\nspan.EmailStyle19\n\t{mso-style-type:personal-reply;\n\tfont-family:\"Aptos\",sans-serif;\n\tcolor:windowtext;}\n.MsoChpDefault\n\t{mso-style-type:export-only;\n\tfont-size:10.0pt;\n\tmso-ligatures:none;}\n@page WordSection1\n\t{size:612.0pt 792.0pt;\n\tmargin:72.0pt 72.0pt 72.0pt 72.0pt;}\ndiv.WordSection1\n\t{page:WordSection1;}\n--></style><!--[if gte mso 9]><xml>\n<o:shapedefaults v:ext=\"edit\" spidmax=\"1026\" />\n</xml><![endif]--><!--[if gte mso 9]><xml>\n<o:shapelayout v:ext=\"edit\">\n<o:idmap v:ext=\"edit\" data=\"1\" />\n</o:shapelayout></xml><![endif]-->\n</head>\n<body lang=\"EN-AU\" link=\"#467886\" vlink=\"#96607D\" style=\"word-wrap:break-word\">\n<div class=\"WordSection1\">\n<p class=\"MsoNormal\"><span style=\"mso-fareast-language:EN-US\">Not interested.<o:p></o:p></span></p>\n<p class=\"MsoNormal\"><span style=\"mso-fareast-language:EN-US\"><o:p>&nbsp;</o:p></span></p>\n<div>\n<div style=\"border:none;border-top:solid #E1E1E1 1.0pt;padding:3.0pt 0cm 0cm 0cm\">\n<p class=\"MsoNormal\"><b><span lang=\"EN-US\" style=\"font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif\">From:</span></b><span lang=\"EN-US\" style=\"font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif\"> RJ kevin &lt;rj@oddle.me&gt;\n<br>\n<b>Sent:</b> Thursday, 26 March 2026 8:23 AM<br>\n<b>To:</b> Veneto Club Marketing &lt;marketing@venetoclub.com&gt;<br>\n<b>Subject:</b> 15% of weekend revenue<o:p></o:p></span></p>\n</div>\n</div>\n<p class=\"MsoNormal\"><o:p>&nbsp;</o:p></p>\n<table class=\"MsoNormalTable\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"left\" width=\"100%\" style=\"width:100.0%\">\n<tbody>\n<tr>\n<td style=\"background:#910A19;padding:5.25pt 1.5pt 5.25pt 1.5pt\"></td>\n<td width=\"100%\" style=\"width:100.0%;background:#FDF2F4;padding:5.25pt 3.75pt 5.25pt 11.25pt\">\n<div>\n<p class=\"MsoNormal\" style=\"mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;mso-element:frame;mso-element-frame-hspace:2.25pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:column;mso-height-rule:exactly\">\n<span style=\"font-size:9.0pt;font-family:&quot;Segoe UI&quot;,sans-serif;color:#212121\">This message was sent from outside the company. Please do not click links or open attachments unless you recognise the source of this email and know the content is safe.\n</span><o:p></o:p></p>\n</div>\n</td>\n</tr>\n</tbody>\n</table>\n<div>\n<div>\n<div>\n<div>\n<p style=\"mso-margin-top-alt:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:0cm;box-sizing:border-box\" id=\"isPasted\">\nHi Veneto Club team,<o:p></o:p></p>\n<p style=\"mso-margin-top-alt:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:0cm;box-sizing:border-box\">\nQuick follow-up: when you're slammed on Friday nights, do you manage to answer every booking call?<o:p></o:p></p>\n<p style=\"mso-margin-top-alt:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:0cm;box-sizing:border-box\">\nMost venues using pen &amp; paper find they leak about 15% of their weekend revenue simply because the phone isn't manned during service.<o:p></o:p></p>\n<p style=\"mso-margin-top-alt:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:0cm;box-sizing:border-box\">\nIs fixing that on your radar this quarter?<o:p></o:p></p>\n<p style=\"mso-margin-top-alt:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:0cm;box-sizing:border-box\">\n<o:p>&nbsp;</o:p></p>\n<p style=\"mso-margin-top-alt:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:0cm;box-sizing:border-box\">\nRegards,<br>\nRJ Kevin<br id=\"isPasted\">\nGeneral Manager at Oddle<o:p></o:p></p>\n</div>\n</div>\n<p class=\"MsoNormal\"><img width=\"1\" height=\"1\" style=\"width:.0104in;height:.0104in\" id=\"_x0000_i1025\" src=\"https://b2btrack.oddle.me/api/track/open/usr_tN2v4CzXRtSkvwSkg/tsk_L5bnYPkZZp3xsCC2v\" alt=\"logo\"><o:p></o:p></p>\n</div>\n<p class=\"MsoNormal\"><o:p>&nbsp;</o:p></p>\n</div>\n</div>\n</body>\n</html>\n",
            "text": "Not interested.\n\nFrom: RJ kevin <rj@oddle.me>\nSent: Thursday, 26 March 2026 8:23 AM\nTo: Veneto Club Marketing <marketing@venetoclub.com>\nSubject: 15% of weekend revenue\n\nThis message was sent from outside the company. Please do not click links or open attachments unless you recognise the source of this email and know the content is safe.\n\nHi Veneto Club team,\n\nQuick follow-up: when you're slammed on Friday nights, do you manage to answer every booking call?\n\nMost venues using pen & paper find they leak about 15% of their weekend revenue simply because the phone isn't manned during service.\n\nIs fixing that on your radar this quarter?\n\n\n\nRegards,\nRJ Kevin\nGeneral Manager at Oddle\n\n\n",
            "companyName": "Veneto Club",
            "email": "marketing@venetoclub.com",
            "Target group": "No Reservation - No OS B2B",
            "emailTemplateName": "Blank"
          },
          "webhookUrl": "https://workflow.oddle.center/webhook/lemlist-email-campaign",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "6ecc31ae-74b7-4770-acac-06c2522a846d",
  "activeVersionId": "6ecc31ae-74b7-4770-acac-06c2522a846d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-23T10:25:54.378Z",
      "createdAt": "2026-03-23T10:25:54.378Z",
      "role": "workflow:owner",
      "workflowId": "nkkFQLQhhhlUQPCR",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-24T09:06:17.426Z",
    "createdAt": "2026-04-24T09:06:15.691Z",
    "versionId": "6ecc31ae-74b7-4770-acac-06c2522a846d",
    "workflowId": "nkkFQLQhhhlUQPCR",
    "nodes": [
      {
        "parameters": {
          "url": "=https://api.lemlist.com/api/inbox/{{ $('Reply Received').item.json.body.contactId }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "lemlistApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -1760,
          -416
        ],
        "name": "Get Conversation History",
        "id": "87be4064-e0a9-40d7-9adf-d3216e314d03",
        "credentials": {
          "lemlistApi": {
            "id": "6dgMHleAsx5bfyF9",
            "name": "Lemlist account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse and format Lemlist conversation history for AI agent\n\n// Helper function to strip HTML tags and decode HTML entities\nfunction stripHtml(html) {\n  if (!html) return '';\n  let text = html.replace(/<[^>]*>/g, ' ');\n  text = text\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&#x27;/g, \"'\")\n    .replace(/&apos;/g, \"'\")\n    .replace(/&#39;s/g, \"'s\");\n  text = text.replace(/\\s+/g, ' ').trim();\n  return text;\n}\n\nfunction formatTimestamp(isoDate) {\n  const date = new Date(isoDate);\n  const year = date.getFullYear();\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  const hours = String(date.getHours()).padStart(2, '0');\n  const minutes = String(date.getMinutes()).padStart(2, '0');\n  return `${year}-${month}-${day} ${hours}:${minutes}`;\n}\n\nconst inputData = $input.all();\nlet rawMessages = [];\n\nif (Array.isArray(inputData) && inputData.length > 0) {\n  const firstItem = inputData[0].json;\n  if (firstItem?.data && Array.isArray(firstItem.data)) {\n    rawMessages = firstItem.data;\n  } else if (Array.isArray(firstItem)) {\n    rawMessages = firstItem;\n  }\n}\n\nconst latestLeadReply = rawMessages.find(msg => msg.type === 'emailsReplied');\nconst anyMessageWithEmail = rawMessages.find(msg => msg.leadEmail);\n\nlet leadMessage = '';\nlet leadEmail = anyMessageWithEmail ? anyMessageWithEmail.leadEmail : null;\nlet companyName = null;\n\nif (latestLeadReply && latestLeadReply.message) {\n    let cleaned = stripHtml(latestLeadReply.message);\n    leadMessage = cleaned.split(/On\\s.*wrote:/i)[0]\n                         .split(/From:/i)[0]\n                         .split(/---/)[0]\n                         .trim();\n}\n\nif (leadEmail && leadEmail.includes('@')) {\n  const domain = leadEmail.split('@')[1].split('.')[0];\n  companyName = domain.charAt(0).toUpperCase() + domain.slice(1);\n}\n\nconst processedMessages = rawMessages.map(item => {\n  const isProspect = item.type === 'emailsReplied';\n  const role = isProspect ? 'Prospect' : 'SDR';\n  const senderName = isProspect \n    ? (item.fromEmail ? item.fromEmail.split('@')[0] : 'Prospect') \n    : (item.sendUserName || 'SDR');\n  \n  return {\n    timestamp: item.createdAt,\n    formattedTime: formatTimestamp(item.createdAt),\n    role: role,\n    sender: senderName,\n    message: stripHtml(item.message),\n    type: item.type,\n    subject: item.subject || ''\n  };\n});\n\nconst chronologicalMessages = [...processedMessages].sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));\n\nconst conversationThread = chronologicalMessages.map((msg, index) => {\n  const isLatest = index === 0;\n  const prefix = isLatest ? '[LATEST] ' : '';\n  return `${prefix}[${msg.formattedTime}] ${msg.role} (${msg.sender}): ${msg.message}`;\n}).join('\\n\\n');\n\nconst structuredConversation = {\n  totalMessages: chronologicalMessages.length,\n  messages: chronologicalMessages,\n  summary: {\n    prospectMessageCount: chronologicalMessages.filter(m => m.role === 'Prospect').length,\n    sdrMessageCount: chronologicalMessages.filter(m => m.role === 'SDR').length,\n    latestRole: chronologicalMessages[0]?.role || 'Unknown'\n  }\n};\n\nreturn {\n  json: {\n    leadMessage: leadMessage,\n    leadEmail: leadEmail,\n    companyName: companyName,\n    parsedConversation: structuredConversation,\n    conversationThreadFormatted: conversationThread,\n    contactId: rawMessages[0]?.contactId || null,\n    subject: rawMessages[0]?.subject || ''\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1536,
          -416
        ],
        "name": "Parse Conversation History",
        "id": "d72f2f95-cdec-4d83-9e2f-998a6b588f60"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "slack_channel",
                "name": "slackChannelId",
                "value": "C0A3N12LT5Z",
                "type": "string"
              },
              {
                "id": "webhook_path",
                "name": "webhookPath",
                "value": "slack-reply-approval",
                "type": "string"
              },
              {
                "id": "lemlist_base_url",
                "name": "lemlistBaseUrl",
                "value": "https://app.lemlist.com",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -1984,
          -416
        ],
        "name": "Workflow Configuration",
        "id": "e961759c-3b09-4aea-b884-b99bb3bc8a02"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"C0AB3U5B1D4\",\n  \"text\": \"New prospect reply needs approval\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $('Reply Received').item.json.body.leadCompanyName }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Lead Email:*\\n{{ $('Reply Received').item.json.body.leadEmail }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Reply-from Email:*\\n{{ $('Reply Received').item.json.body.fromEmail }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Outreach Campaign:*\\n{{ $('Reply Received').item.json.body.name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Country:*\\nAustralia\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ (function() { let rawText = $('Reply Received').item.json.body.text || ''; let truncated = rawText.length > 300 ? rawText.substring(0, 300) + '...' : rawText; return JSON.stringify(truncated).slice(1, -1); })() }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ (function() { let agentText = $json.output.content || ''; return JSON.stringify(agentText).slice(1, -1); })() }}```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":e-mail: <https://app.lemlist.com/teams/{{ $('Reply Received').item.json.body.metaData.teamId }}/inbox/list/myConversations/contacts/{{ $('Reply Received').item.json.body.contactId }}|View full conversation in Lemlist>\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"approval_actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \":white_check_mark: Approve & Send\",\n            \"emoji\": true\n          },\n          \"style\": \"primary\",\n          \"action_id\": \"approve\",\n          \"value\": \"{{ $('Reply Received').item.json.body.messageId }}||{{ $('Reply Received').item.json.body.createdAt }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Reject & Edit\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"action_id\": \"reject\",\n          \"url\": \"https://app.lemlist.com/teams/{{ $('Reply Received').item.json.body.metaData.teamId }}/inbox/list/myConversations/contacts/{{ $('Reply Received').item.json.body.contactId }}\"\n        }\n      ]\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -16,
          -416
        ],
        "id": "12d5e4e9-58fd-4668-9902-07cbc566bca0",
        "name": "Send to Slack for Approval",
        "credentials": {
          "httpBearerAuth": {
            "id": "A9y0ZdmG00hI8udd",
            "name": "Slack's Email SDR Agent"
          }
        }
      },
      {
        "parameters": {
          "content": "### Additional Agent to assist Sophie post appt fixed\n- Create Lead Profile, send to Attio & Slack\n- Hand off to AE: Send email to prospect & introduce AE with LP",
          "height": 128,
          "width": 496,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1184,
          -720
        ],
        "typeVersion": 1,
        "id": "f1de37a0-023e-4541-83d0-f33f1d0a4966",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### To add: Manager Agent\n1) Look at conversation history\n2) Identify what needs to be done from the latest conversation\n- Generate a response -> Email agent\n- Create a Lead Profile -> LP agent\n- Update Attio -> CRM agent (not sure about this)",
          "height": 192,
          "width": 384,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2256,
          -800
        ],
        "typeVersion": 1,
        "id": "a4965a54-a9de-4e64-9a1d-c5a87ad0931d",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=- Email from: {{ $json.email_from }}\n- Restaurant: {{ $json.company }}\n- Segment: {{ $('Reply Received').item.json.body['Target group'] }}\n- Subject: {{ $json.subject }}\n- Lead's's latest reply: {{ $json.lead_message }}\n- Conversation History: {{ $json.conversation_history }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=**Role:**\nYou are an expert Sales Development Representative (SDR) at Oddle, handling replies to outbound email prospecting campaigns. Your goal is to address queries and objections from prospects and secure a discovery call with our team.\n\n---\n\n**Country Detection:**\nUse the Country field provided in the User Message. If Country is not provided, default to Australia.\n\n**Scheduling Links by Country:**\n\n| Country | Scheduling Link |\n|---|---|\n| Singapore | https://forms.oddle.me/oddle-discovery-call-singapore |\n| Malaysia | https://forms.oddle.me/oddle-discovery-call-malaysia |\n| Australia | https://forms.oddle.me/oddle-discovery-call-au |\n| United States | https://forms.oddle.me/oddle-discovery-call-us |\n\n**Country-Specific Messaging:**\n\n| Country | Pricing Phrase | Marketplace Names |\n|---|---|---|\n| Singapore | competitive rate for Singapore partners | GrabFood, Foodpanda, Deliveroo |\n| Malaysia | competitive rate for Malaysia partners | Grab, Foodpanda, ShopeeFood |\n| Australia | Founder Access rate for early AU partners | UberEats, DoorDash, Menulog |\n| United States | Founder rate for early US partners | DoorDash, UberEats, Grubhub |\n\n**Social Proof — use based on the prospect's country:**\n\n| Country | Partner Restaurants |\n|---|---|\n| Singapore | Brotzeit, Uncle Leong Seafood, Westlake, Sum Kee, Serangoon BBQ, Ba Shu Sichuan |\n| Malaysia | TGIF, Shake Shack, Madam Kwan's, Nando's MY, MyBurgerLab, Kampai Yakiniku, The Farm, Xenri Japanese Cuisine |\n| Australia | Ten Minas, The Penny Drop Cafe, Thai Ute Restaurant, Lumen People, Catalina Kitchen, Arcadia Liquors, Mister Minh |\n| United States | Pizza Express, Shake Shack, Paris Baguette, Jollibee, TGIF, Keng Eng Kee, Domo Dining, Beyond The Dough |\n\nUse social proof only when the prospect asks about local presence, references, or current users — or when handling a trust/credibility objection (\"never heard of you,\" \"are you new?\"). Drop 1–2 names naturally. Do not volunteer them unprompted.\n\nBrand proof statement (all countries): Oddle is trusted by 5,000+ restaurant brands across Asia.\n\n---\n\n**Response Guidelines & Formatting:**\n- Length: Under 100 words. Maximum 200 words.\n- Tone: Professional, friendly, consultative. Simple everyday words. No filler affirmations (\"That makes sense,\" \"Absolutely,\" \"Great question\"). Match the acknowledgement to context: warm for genuine positive agreement, neutral (\"Noted.\", \"Thanks for clarifying.\") for information or context-sharing, nothing for declines. Never \"Understood.\" — it reads as dismissive. Skip entirely if the response can open naturally without it.\n- Mirror: Match the prospect's length and density. Short and direct from them, lean from you.\n- Language: Plain business language. Outcomes over features. No jargon (e.g., not \"automated re-engagement\" — say \"follows up with past customers automatically\").\n- Format: No bold text. No em-dashes, use commas or periods instead. Hyphens only for lists. No formal sign-offs other than the signature block. Salutation on its own line (e.g., \"Hi Hayley,\"), followed by a blank line before the body. Closing line on its own separate paragraph with a blank line before the signature block. Body paragraphs: each idea gets its own paragraph with a blank line between them. For objection or rebuttal responses, use three paragraphs: (1) opening acknowledgement or warm opener, (2) the question or rebuttal, (3) the CTA.\n- Scheduling link: Never include it while still handling an objection.\n- Scheduling day awareness: Before referencing availability, check the current day. If it is Thursday or Friday, use \"next week\" not \"this week.\"\n- Scheduling link fallback: Always follow the scheduling link with a short line in a separate paragraph: \"If none of those times work, just reply and we'll find a time.\"\n- CTA variety: Vary the closing call-to-action. Do not repeat \"Worth a quick call\" in every reply. Alternatives: \"Open to a quick chat?\", \"Happy to jump on a call if you're curious.\", \"Would it be worth 15 mins to find out?\", \"Keen to take a look?\", \"Worth a conversation?\"\n- Quoted replies: The prospect's message may contain a quoted or replied portion from a previous email. Read it for context but respond only to the new content.\n- Output: Return in Markdown format.\n\n---\n\n**Knowledge Access:**\n- Product Knowledge Base: Retrieve product information about Oddle. Distill into 1–2 conversational sentences. Only answer product questions when asked.\n- Prospecting Guide Knowledge Base: Retrieve segment-specific context and talk tracks. Use as background context only (see below).\n- If a KB query returns no results or results unrelated to the prospect's message, discard them and proceed without. Do not force-fit irrelevant results.\n\n---\n\n**Prospecting Guide Context:**\nThe Prospecting Guide Knowledge Base contains segment-specific pain points, value props, and objection pivots organized by the prospect's current platform setup. Use it to:\n- Identify the prospect's segment: use the Segment field in the User Message if provided. If not, infer from context clues (e.g., mentions of GrabFood/Foodpanda/DoorDash = Marketplace Only; Sevenrooms/Chope/OpenTable = Reservation-related).\n- Adapt your USP emphasis to their segment:\n  - Marketplace Only: commission savings (~30%), customer data ownership, larger advance orders\n  - Marketplace + Reservation: unified data across channels, potential reservation cost savings, cross-channel re-engagement\n  - Reservation Only: turn the reservation system into a revenue driver, not just ops — CRM, re-engagement, broadcast marketing\n  - Eshop + Reservation: consolidate two separate systems, unified customer data, lower total cost\n- Ground objection responses in guide data points where relevant, e.g., \"~75% of Oddle orders are placed 6+ hours in advance\" for last-minute order objections; \"Oddle's avg order is 3–4x higher than typical marketplace orders\" for small-order concerns. Do not quote specific dollar figures — express as ratios or relative comparisons instead.\n\nDo NOT:\n- Ask the prospect qualifying questions from the guide. You are responding to outbound replies, not running a discovery call.\n- Reference segments, frameworks, or jargon from the guide in your messages to prospects.\n- Let the guide override scenario logic. It is context, not a script.\n\n---\n\n**Oddle Core USPs (primary source for building responses):**\n- 100% customer data ownership: Unlike marketplaces, all guest data belongs to the restaurant\n- Built-in CRM with automated targeted broadcasts to re-engage past diners to drive repeat business\n- Lifecycle layer: converts first-time marketplace guests into direct-booking regulars\n- Pricing: Use the pricing phrase from the country config above. It is guaranteed to be the most cost-effective option in the market.\n\n---\n\n**Processing Instruction:**\nWork through Steps 1–2 silently before producing output. Your response to the prospect must be ONLY the final email reply (salutation through signature). Do not include step labels, reasoning, or intent tags in your output.\n\n**Step 1: Input Parsing & Intent Classification**\nThe User Message contains these fields:\n- **Email from:** The prospect's email address.\n- **Restaurant:** The prospect's restaurant or company name.\n- **Country:** The prospect's country. Use this for all country-specific config (scheduling link, pricing phrase, marketplace names, social proof).\n- **Segment:** The prospect's current platform setup (e.g., Marketplace Only, Marketplace + Reservation). May not always be present — infer from context if absent.\n- **Lead's latest reply:** The most recent email from the prospect. Respond only to this.\n- **Conversation History:** The prior email thread. Read for context; also use to find the SDR's first name from their previous messages.\n\n- Identity: Find the SDR's first name in the Conversation History field.\n- Country: Use the Country field from the User Message.\n- Salutation: Use the lead's name from Lead's latest reply or Conversation History. If unavailable, use \"Hi [Restaurant] team,\".\n- History Check: Ensure you aren't repeating previous points or ignoring a question already asked.\n- Prospecting Guide Context: If the prospect's message suggests segment-specific concerns, query the Prospecting Guide Knowledge Base. Apply as background reasoning, not visible content.\n- Intent Classification: Identify exactly ONE primary intent from this list:\n  1. OPEN: Agreeable, low friction, wants to proceed (e.g., \"sure,\" \"sounds good,\" \"go ahead\")\n  2. HIGH_INTENT: Asking for a demo, pricing, or next steps\n  3. QUESTION: Asking about product, capabilities, or how something works\n  4. SOFT_OBJECTION: Pushback that leaves room (budget, timing, happy with current setup, competitor mention)\n  5. HARD_OBJECTION: Firm, unambiguous refusal with no room to continue — may or may not be hostile\n  6. UNSUBSCRIBE: Asks to be removed from mailing list or stop receiving emails\n  7. LAPSED_USER: Previously used Oddle and left\n  8. ICP_REDIRECT: Not a restaurant, or business model mismatch with Oddle's offering\n  9. CONTEXT_RICH: Prospect explains their current setup, system, or workflow in detail\n  10. REFERRAL: Pointing to a colleague or wrong contact\n  11. EXISTING_CLIENT: Prospect reveals they are already an active Oddle customer\n  12. EDGE_CASE: Does not fit any of the above\n- Once classified, execute the matching scenario in Step 2.\n- Avoid Over-Personalization: Do not insert the Company Name into the body. Use it only in the salutation if the lead's name is unavailable.\n\n**Objection Rebuttal Framework (for SOFT_OBJECTION):**\nWhen building a rebuttal, follow this decision tree:\n1. Competitor objection (\"we use [marketplace]\"): Oddle is not a replacement. It's an additional owned channel where the restaurant keeps 100% of customer data and captures orders that never reach [marketplace]. One sentence, then pivot.\n2. Price objection: Use the pricing phrase from the country config. Pivot to a call. If an AU lead insists a second time: \"It works out to less than AUD2.50 a day.\" Then pivot back to booking.\n3. \"Too busy\" / timing: Acknowledge, emphasize automation (runs without manual effort from the team). Suggest a specific time next week.\n4. \"Happy with current setup\": Ask one question that surfaces a gap, e.g., \"Does your current setup capture every customer's details so you can market to them directly?\" or \"Are you able to re-engage past customers without relying on the marketplace?\"\n5. Social proof request (\"never heard of you,\" \"are you new?\"): Pull 1–2 relevant names from the Social Proof table for their country, or use the brand proof statement.\n6. Unknown objection: Acknowledge in one sentence, pivot to call.\n\n---\n\n**Step 2: Scenario Logic (Select One)**\n\n**Warm / Low-Friction Reply (OPEN):**\n- When the prospect gives a short, warm, or low-resistance reply, do not launch into a product explanation.\n- Respond with one sentence acknowledging their openness, then provide the scheduling link with brief call agenda framing.\n- Keep it short. Match their energy.\n\n**High Intent (HIGH_INTENT):**\n- If they ask for a demo or show clear interest, reference availability and provide the scheduling link.\n- If they ask for a \"specific\" demo, briefly note it can be covered in the live session rather than asking more questions.\n\n**ICP Redirect (ICP_REDIRECT):**\n- If the prospect confirms they are not a restaurant or F&B establishment, close gracefully.\n- If their reply reveals a business model mismatch with reservations (counter-service, walk-in only, kiosk) — do not close. Pivot to Oddle Shop: there is still an opportunity to open an online ordering channel, capture guest data, and grow repeat business. End with a soft, forward-leaning CTA to a quick conversation to explore. Frame the pivot assertively and in the present tense (\"you could still open an online ordering channel for takeaways\") — not as a future conditional (\"if you ever start looking\"). Do not mention pricing, USPs, or the scheduling link.\n- If the prospect expresses uncertainty about fit (\"not sure if we fit,\" \"in the middle of something\") — do not pitch. Acknowledge their situation warmly, note there may be something worth a conversation as things develop, and offer a light exploratory call with no pressure. Do not mention USPs, pricing, or the scheduling link. If they then signal openness, send the scheduling link.\n\n**Questions / Information Request (QUESTION):**\n- Answer clearly using the Product Knowledge Base or Prospecting Guide context.\n- Focus on outcomes, not features.\n- On pricing: Never mention specific figures. Position as: we're offering a [pricing phrase from config], and it's guaranteed to be the most cost-effective option in the market. Direct them to a call.\n- End with a soft call to action.\n\n**Objections (SOFT_OBJECTION):**\n- The One-Try Rule: Do not concede on the first soft objection. Attempt ONE rebuttal using the Objection Rebuttal Framework above.\n- After one rebuttal: If the prospect objects again, do not push further. Close warmly — acknowledge their position, wish them well, and leave the door open.\n- Constraint: Do not send the scheduling link while handling the first objection. Earn a \"Yes\" to the idea of a conversation first.\n\n**Firm No (HARD_OBJECTION):**\n- Acknowledge gracefully and close the thread. Do not attempt a rebuttal.\n\n**Unsubscribe / Remove-me (UNSUBSCRIBE):**\n- Acknowledge without making a hard promise. Use \"We've updated our mailing list accordingly\" rather than \"We will no longer contact you.\"\n- Always end with a soft open door: \"If you're ever open to exploring how Oddle can help, feel free to reach out anytime.\"\n- Exception: If the tone is hostile or includes a legal threat, close cleanly with no open door. A terse single-word message like \"Stop\" is not hostile. Hostile means legal threats, profanity, or sustained aggression.\n\n**Context-Rich Reply (CONTEXT_RICH):**\n- Treat this as a discovery opportunity. Do not map to a generic objection script.\n- Acknowledge what they have set up correctly. Briefly validate their logic.\n- Identify the gap their current setup doesn't address, using Core USPs as the lens.\n- Common gap angles: customer data ownership, post-visit re-engagement automation, CRM and broadcast capabilities, reducing marketplace dependency for repeat visits.\n- Frame Oddle as the layer that sits alongside their current setup, not a replacement.\n- End with a soft CTA toward a discovery call.\n\n**Lapsed / Former Oddle User (LAPSED_USER):**\n- Do not close the loop. Treat as a soft objection: first ask why they stopped, then offer to share what has since improved.\n- Only close if they decline to engage after that.\n\n**Existing Client / Current Partner (EXISTING_CLIENT):**\n- If the prospect indicates they are already an active Oddle customer, do not pitch or suggest new features.\n- Acknowledge the outreach mix-up briefly and apologise.\n- Thank them for being a partner.\n- Offer to help with anything they need and close warmly.\n- No sales push, no scheduling link.\n\n**Unlisted Objections or Unrecognized Scenarios (EDGE_CASE):**\n- Do not make up data, invent features, or fabricate claims.\n- Acknowledge in one sentence, then pivot to the value of a quick conversation.\n- Example: \"Fair point — honestly the best way I can give you a proper answer is over a quick call. Worth 15 mins?\"\n- Never guess at specifics (pricing, integrations, features, timelines) not confirmed in your knowledge sources.\n\n**Needs to Check with or Talk to Their Boss:**\n- Do not wait for them to loop back. Offer to reach out directly.\n- Ask for the boss's name and email address.\n- Example: \"No worries, happy to reach out to them directly. Can you share their name and email?\"\n\n**Referrals & Contact Updates (REFERRAL):**\n- If they refer a colleague: Ask for that person's email address.\n- If it's the wrong brand or contact: Acknowledge, say we will update records.\n\n---\n\n**Email Signature:**\nFollow the format below, using the SDR's first name found in the Conversation History:\n\nCheers,\n[SDR's first name]"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          -656,
          -416
        ],
        "name": "Email Agent",
        "id": "dcbb4582-5f86-4d12-b974-61b049cfc73d",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "content": "## Process prospect's reply & retrieve conversation history for context",
          "height": 420,
          "width": 1072
        },
        "id": "4f50d8d8-8841-4fac-806e-6645dc5a946e",
        "name": "Sticky Note15",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2416,
          -576
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-001"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          -1152,
          -16
        ],
        "id": "4801550f-59b2-4fef-9ad9-249f6fd0f9d2",
        "name": "Embeddings Google Gemini2",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Use this tool to find similar prospect's reply and examples of approved responses to help draft new replies",
          "tableName": {
            "__rl": true,
            "value": "response_handling_guide",
            "mode": "list",
            "cachedResultName": "response_handling_guide"
          },
          "topK": 5,
          "options": {
            "queryName": "match_documents"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          -1152,
          -192
        ],
        "id": "9e8518f0-3cf2-47ac-8516-1977e8411ca1",
        "name": "Response Handling Knowledge Base",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\"content\": \"Hi Yong Xiang, Thanks for the reply.\"}",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -448,
          -240
        ],
        "id": "f1a9ed65-6c47-4699-b71b-3cdff21c6485",
        "name": "Structured Output Parser1"
      },
      {
        "parameters": {
          "content": "## Generate response based on guideline & response handling knowledge base",
          "height": 960,
          "width": 992,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1184,
          -560
        ],
        "typeVersion": 1,
        "id": "298fb3c2-3895-43ed-9265-23271a043581",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "42648864-a669-4190-ac38-217a44e8a4c5",
                "name": "email_from",
                "value": "={{ $('Parse Conversation History').item.json.leadEmail }}",
                "type": "string"
              },
              {
                "id": "d3c1e1b5-6bee-4c7a-9741-e943014b064f",
                "name": "company",
                "value": "={{ $('Parse Conversation History').item.json.companyName }}",
                "type": "string"
              },
              {
                "id": "419ee37f-3fb5-4ac5-84a9-1d28ee68d113",
                "name": "subject",
                "value": "={{ $('Parse Conversation History').item.json.subject }}",
                "type": "string"
              },
              {
                "id": "51996ffa-b5d3-46e5-8e0b-c6f9374fb40b",
                "name": "lead_message",
                "value": "={{ $('Parse Conversation History').item.json.leadMessage }}",
                "type": "string"
              },
              {
                "id": "0ba486e0-44fc-40c5-a50e-f718265a40e2",
                "name": "conversation_history",
                "value": "={{ $('Parse Conversation History').item.json.conversationThreadFormatted }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1088,
          -416
        ],
        "id": "e295f398-5aec-442f-960d-5ab3e9332d82",
        "name": "Map fields"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -352,
          -96
        ],
        "id": "b11bb73c-8211-461c-8417-82b61826d7ad",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Contains comprehensive product knowledge about Oddle, Oddle Reservation and Oddle Shop.",
          "tableName": {
            "__rl": true,
            "value": "oddle_eshop_knowledge_base",
            "mode": "list",
            "cachedResultName": "oddle_eshop_knowledge_base"
          },
          "topK": 5,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          -544,
          64
        ],
        "id": "6fd57834-7c11-491b-ad64-37c8cec8361e",
        "name": "Product Knowledge Base",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-001"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          -544,
          224
        ],
        "id": "34e995de-723a-4037-8ca2-29e8099b9223",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "OK",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -2176,
          -416
        ],
        "id": "fe32984a-f03c-4d07-91cf-4d8fb8c8bd99",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "lemlist-email-campaign",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -2368,
          -416
        ],
        "id": "c3330aee-8ba9-461c-b257-0a69cd21b751",
        "name": "Reply Received",
        "webhookId": "d0007cc4-2986-497c-889b-0248e778f89f"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.attio.com/v2/objects/people/records/query",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"filter\": {\"email_addresses\": \"{{ $('Reply Received').item.json.body.leadEmail }}\"}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2256,
          16
        ],
        "id": "attio-find-person",
        "name": "Find Person in Attio",
        "credentials": {
          "httpHeaderAuth": {
            "id": "9CO17PzdcubAn70Q",
            "name": "Attio API Key_Header"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.attio.com/v2/objects/companies/records/{{ $json.data[0].values.company[0].target_record_id }}/entries",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1552,
          16
        ],
        "id": "attio-get-company-entries",
        "name": "Get Company List Entries",
        "credentials": {
          "httpHeaderAuth": {
            "id": "9CO17PzdcubAn70Q",
            "name": "Attio API Key_Header"
          }
        }
      },
      {
        "parameters": {
          "content": "## Update Attio entry in AU Attio list\nMark lead as Replied in au_or_outreach_2026 list, update Reply date\nChange list slug for different outreach",
          "height": 536,
          "width": 1068,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2416,
          -112
        ],
        "typeVersion": 1,
        "id": "sticky-attio-flow",
        "name": "Sticky Note Attio"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "person-exists",
                "leftValue": "={{ $json.data[0] }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2048,
          16
        ],
        "id": "if-person-found",
        "name": "Person Found?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "company-linked",
                "leftValue": "={{ $json.data[0].values.company[0] }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1808,
          16
        ],
        "id": "if-company-linked",
        "name": "Company Linked?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "entry-exists",
                "leftValue": "={{ $json.data.filter(entry => entry.list_api_slug === 'au_or_outreach_2026')[0] }}",
                "rightValue": "au_or_outreach_2026",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2256,
          240
        ],
        "id": "if-entry-exists",
        "name": "List Entry Exists?"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "gpt-4.1"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -800,
          -240
        ],
        "id": "5bec8564-a02d-427e-8a46-79a7860e2ba1",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "U11ZFugtdDzwhsyC",
            "name": "OpenAI Account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.attio.com/v2/lists/au_or_outreach_2026/entries/{{ $json.data.filter(entry => entry.list_api_slug === 'au_or_outreach_2026')[0].entry_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -2048,
          240
        ],
        "id": "1d4f0c18-6490-4fd0-8344-283aee58c930",
        "name": "Get Attio Entry",
        "credentials": {
          "httpHeaderAuth": {
            "id": "9CO17PzdcubAn70Q",
            "name": "Attio API Key_Header"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-outreach-status-empty",
                "leftValue": "={{ $('Get Attio Entry').item.json.data.entry_values.outreach_status }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1808,
          256
        ],
        "id": "8353e745-8df7-4739-b359-e9631f69f179",
        "name": "Outreach Status Empty"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.attio.com/v2/lists/au_or_outreach_2026/entries/{{ $('Get Attio Entry').item.json.data.id.entry_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\": {\n    \"entry_values\": {\n      \"outreach_status\": \"Replied\",\n      \"replied_from\": \"Lemlist\",\n      \"reply_date\": \"{{ $now.format('yyyy-MM-dd') }}\"\n    }\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1552,
          240
        ],
        "id": "25e7eb50-3dac-42ad-8cb6-5ff9e79f1e00",
        "name": "Update Attio List Entry",
        "credentials": {
          "httpHeaderAuth": {
            "id": "9CO17PzdcubAn70Q",
            "name": "Attio API Key_Header"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-001"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          -880,
          144
        ],
        "id": "a30e592e-a141-4e67-a9e3-4779777db895",
        "name": "Embeddings Google Gemini3",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Use this to retrieve segment-specific sales context for a prospect based on their current platform setup. Query when you know or can infer the prospect's segment (marketplace-only, marketplace + reservation, reservation-only, or eshop + reservation). Returns pain points, value props, and objection pivots by segment, plus key data points to anchor rebuttals (e.g., advance order rates, avg order value comparisons, commission rates). Use as background reasoning only — do not surface guide content directly to prospects.",
          "tableName": {
            "__rl": true,
            "value": "oddle_prospecting_guide",
            "mode": "list",
            "cachedResultName": "oddle_prospecting_guide"
          },
          "topK": 5,
          "options": {
            "queryName": "match_documents"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          -880,
          -32
        ],
        "id": "94776b3a-16a6-4a45-a38b-bbc724b23b17",
        "name": "Prospecting Guide Knowledge Base",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      }
    ],
    "connections": {
      "Get Conversation History": {
        "main": [
          [
            {
              "node": "Parse Conversation History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Conversation History": {
        "main": [
          [
            {
              "node": "Map fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Configuration": {
        "main": [
          [
            {
              "node": "Get Conversation History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Slack for Approval": {
        "main": [
          []
        ]
      },
      "Email Agent": {
        "main": [
          [
            {
              "node": "Send to Slack for Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini2": {
        "ai_embedding": [
          [
            {
              "node": "Response Handling Knowledge Base",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Response Handling Knowledge Base": {
        "ai_tool": [
          []
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "Email Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Map fields": {
        "main": [
          [
            {
              "node": "Email Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Product Knowledge Base": {
        "ai_tool": [
          [
            {
              "node": "Email Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Product Knowledge Base",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "Workflow Configuration",
              "type": "main",
              "index": 0
            },
            {
              "node": "Find Person in Attio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Person in Attio": {
        "main": [
          [
            {
              "node": "Person Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Person Found?": {
        "main": [
          [
            {
              "node": "Company Linked?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Company Linked?": {
        "main": [
          [
            {
              "node": "Get Company List Entries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Company List Entries": {
        "main": [
          [
            {
              "node": "List Entry Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Entry Exists?": {
        "main": [
          [
            {
              "node": "Get Attio Entry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply Received": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Email Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get Attio Entry": {
        "main": [
          [
            {
              "node": "Outreach Status Empty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Outreach Status Empty": {
        "main": [
          [
            {
              "node": "Update Attio List Entry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini3": {
        "ai_embedding": [
          [
            {
              "node": "Prospecting Guide Knowledge Base",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Prospecting Guide Knowledge Base": {
        "ai_tool": [
          [
            {
              "node": "Email Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Oddle Engineer",
    "name": "Version 6ecc31ae",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-02-10T02:52:51.422Z",
      "createdAt": "2026-02-10T02:52:51.422Z",
      "id": "4lS27QDaN4KgD7K0",
      "name": "au"
    }
  ]
}