[whatsapp]-sdr-agent---sg-os-marketplace-[new-wip]-os_marketplace.json
{
  "updatedAt": "2026-03-10T04:03:33.494Z",
  "createdAt": "2026-03-10T02:30:44.332Z",
  "id": "WamnPrGluo92mwT7",
  "name": "[WhatsApp] SDR Agent - SG OS Marketplace [New WIP]",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
          "mode": "list",
          "cachedResultName": "Evaluation for Email SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 308065534,
          "mode": "list",
          "cachedResultName": "au_whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Actual Response",
              "outputValue": "={{ $('Response Agent').item.json.output.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        3952,
        -1184
      ],
      "id": "beaeb37a-3954-427e-93ee-5059da86d2b0",
      "name": "Set Output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        3744,
        -1168
      ],
      "id": "d54a7f4a-c440-47f7-95ea-354bde9006c3",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "customMetrics",
        "metrics": {
          "assignments": [
            {
              "name": "Accuracy",
              "value": "={{ $json.Correctness }}",
              "type": "number",
              "id": "89160e24-b3f9-4bb7-80b4-48575b983260"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        4512,
        -1184
      ],
      "id": "34c32d6e-cf80-43d9-a5e2-9bd030828f3d",
      "name": "Score"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4304,
        -1008
      ],
      "id": "5c8e02af-6769-4bb0-8d55-d785679fcbdb",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
          "mode": "list",
          "cachedResultName": "Evaluation for Email SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 308065534,
          "mode": "list",
          "cachedResultName": "au_whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Body": "={{ $('When fetching a dataset row').item.json.Body }}",
            "Accuracy": "={{ $json.Accuracy }}"
          },
          "matchingColumns": [
            "Body"
          ],
          "schema": [
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Expected Response",
              "displayName": "Expected Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual Response",
              "displayName": "Actual Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Accuracy",
              "displayName": "Accuracy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4720,
        -1184
      ],
      "id": "f627c609-7b33-4662-81ff-b32e1b751db7",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json['Expected Response'] }}",
        "actualAnswer": "={{ $('Response Agent').item.json.output.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        4160,
        -1184
      ],
      "id": "1f5a43d7-52e2-478f-90b3-137b22cedd26",
      "name": "Evaluation1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gateway.latitude.so/api/v2/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"path\": \"whatsapp-sdr-alex\",\n  \"projectId\": 30399,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Map fields').item.json.lead_message }}\"\n    },\n    {\n      \"role\": \"sdr\",\n      \"content\": \"{{ $json.output.text }}\"\n    }\n  ],\n  \"customIdentifier\": \"{{ $('Receive Reply').item.json.body.payload.receiver.connector.identifierValue }}\",\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3744,
        -928
      ],
      "id": "bad05e79-0eb7-43be-a1ba-1d2763bd58bf",
      "name": "Send to Latitude",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cCn52k3tnxYrYO3l",
          "name": "Latitude API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Response Agent').item.json.output.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3952,
        -928
      ],
      "id": "9b048384-16fb-43ed-a392-64f4e698da36",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Evaluations - not set up yet",
        "height": 560,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3632,
        -1296
      ],
      "typeVersion": 1,
      "id": "3b7da7db-84c2-4ea0-9ef7-65208f4104a4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14648e8e-b352-4ea4-8f5a-b9a6335dbc6b",
              "name": "lead_message",
              "value": "={{ $json.Body }}",
              "type": "string"
            },
            {
              "id": "458a8b87-069c-423f-b662-e31d5e01d4eb",
              "name": "chat_history",
              "value": "=[2026-02-05 08:10] SDR: \"Hi Miss Saigon team, Alan from Oddle here. Noticed you're on SevenRooms—are you getting full value from it?\n\nWe’re offering AU brands 'Founder Access' at A$65/mo, locked in forever. We use your data to drive revenue, not just switch software.\n\nOpen to a brief 10-min chat this week?\"",
              "type": "string"
            },
            {
              "id": "a1f86e3c-8e7a-40ae-9e1a-0a7e74578d88",
              "name": "message_type",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        2288
      ],
      "id": "493e3568-1fd5-4198-851c-bec1f61d0732",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 308065534,
          "mode": "list",
          "cachedResultName": "au_whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        2720,
        2288
      ],
      "id": "6298e71a-abc0-4395-b41d-0a32821aa153",
      "name": "When fetching a dataset row2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "content": "## Evaluations - not set up yet",
        "height": 304,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        2192
      ],
      "typeVersion": 1,
      "id": "a98ae7c8-b1c5-4565-a10f-a4843a6033fa",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Receive Reply1').item.json.body.payload.sender.contact.identifierValue) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        1104
      ],
      "id": "fde83e12-47fc-45ce-990e-ca7e4d6856b8",
      "name": "Get Buffer Row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const receiveReply = $('Receive Reply1').item.json;\nconst payload = receiveReply.body.payload;\nconst phoneNumber = payload.sender.contact.identifierValue;\nconst channelId = payload.channelId;\nconst contactId = payload.sender.contact.id;\nconst messageType = payload.body.type;\nconst messageText = payload.body?.text?.text ||\n                    payload.body?.caption ||\n                    `[${messageType} message]`;\nconst now = new Date().toISOString();\n\nconst newMessage = { type: messageType, text: messageText, timestamp: now };\n\nconst getResponse = $input.item.json;\nconst existingRow = Array.isArray(getResponse) && getResponse.length > 0 ? getResponse[0] : null;\nconst existingMessages = existingRow?.messages || [];\n\nconst mergedMessages = [...existingMessages, newMessage];\n\nreturn [{\n  json: {\n    phone_number: phoneNumber,\n    messages: mergedMessages,\n    channel_id: channelId,\n    contact_id: contactId,\n    message_type: messageType,\n    updated_at: now\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1104
      ],
      "id": "3dc4e429-c9d9-49f6-8bdc-e589485391fe",
      "name": "Build Buffer Data1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        1104
      ],
      "id": "f2fbf35a-895e-471c-a6a6-a31123d47404",
      "name": "Upsert Buffer1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "debounce-myts-001",
              "name": "myTs",
              "type": "string",
              "value": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}"
            },
            {
              "id": "debounce-phone-001",
              "name": "phone_number",
              "type": "string",
              "value": "={{ $('Receive Reply1').item.json.body.payload.sender.contact.identifierValue }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        1104
      ],
      "id": "45946063-4be7-4e82-ab98-30712d96bc9b",
      "name": "Store myTs1"
    },
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Store myTs1').item.json.phone_number) }}&select=updated_at",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        1104
      ],
      "id": "237011fb-0730-4d19-8ad4-8e3ef7d44bbe",
      "name": "Read Buffer Timestamp1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "debounce-last-001",
              "leftValue": "={{ $('Store myTs1').item.json.myTs }}",
              "rightValue": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1408,
        1104
      ],
      "id": "db79e198-0369-4afb-910a-babbdb2694b3",
      "name": "Is Last Message?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1600,
        1344
      ],
      "id": "c639329a-9a35-4250-9cbf-fb00bd1a1e94",
      "name": "Stop Processing1"
    },
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Store myTs1').item.json.phone_number) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        1088
      ],
      "id": "7e3ef299-5040-475a-8bd5-c45810529b7a",
      "name": "Fetch Buffered Messages1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst row = Array.isArray(response) ? response[0] : response;\n\nif (!row || !row.messages || row.messages.length === 0) {\n  return [{\n    json: {\n      phone_number: $('Store myTs1').item.json.phone_number,\n      merged_text: '',\n      message_type: 'text',\n      message_count: 0\n    }\n  }];\n}\n\nconst messages = row.messages;\nconst textParts = messages\n  .map(m => (m.text && !m.text.startsWith('[')) ? m.text : null)\n  .filter(Boolean);\n\nconst merged_text = textParts.join('\\n');\n\n// Determine dominant message type by priority (non-text types take precedence)\nconst typePriority = ['image', 'file', 'voice', 'audio', 'video', 'link_preview', 'text'];\nconst foundTypes = new Set(messages.map(m => m.type));\nconst message_type = typePriority.find(t => foundTypes.has(t)) || 'text';\n\nreturn [{\n  json: {\n    phone_number: row.phone_number,\n    channel_id: row.channel_id,\n    contact_id: row.contact_id,\n    merged_text,\n    message_type,\n    message_count: messages.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        1088
      ],
      "id": "e61f21f3-8991-412e-9ef8-6121a1f3e9e6",
      "name": "Merge Messages1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($json.phone_number) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1968,
        1088
      ],
      "id": "cfe5dc5d-01d9-442e-99fc-46a87b1a921a",
      "name": "Clear Buffer1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0A8PJQ9KU3\",\n  \"text\": \"Unrecognized message type received\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":warning: Unrecognized Message Type\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Receive Reply1').item.json.body.payload.sender.contact.identifierValue }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Message type:*\\n`{{ $('Receive Reply1').item.json.body.payload.body.text }}`\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Status:* The AI Agent cannot process this message type automatically.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Action Required:* Please check this conversation directly on Bird & reply to the prospect.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        736
      ],
      "id": "9995124b-231f-4bca-9930-39293bc3018d",
      "name": "Notify in Slack",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1024,
        1104
      ],
      "id": "bb3ba0ee-aced-4898-baf8-eaa95d2ebacc",
      "name": "Wait 60s",
      "webhookId": "de029b13-b3c4-4f92-a3ae-a41ea500c116"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c761342-1b37-4add-b95d-3d09c764111d",
              "leftValue": "={{ $('Receive Reply1').item.json.body.payload.sender.contact.identifierValue }}",
              "rightValue": "+65",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        384
      ],
      "id": "85b4cbac-2155-4c44-8d2d-4eeea1201597",
      "name": "Check for reply from SG1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        608
      ],
      "id": "d1e02904-22e6-40f9-beeb-00fc3347f9ba",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Merge Messages1').item.json.merged_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a message classifier for a WhatsApp message.\n\nTask: Analyze the incoming message and determine if it was sent by a human or an automated bot/system.\n\nClassification Criteria:\n- auto_bot: Identify as this if the message contains standard automated patterns such as \"Thank you for contacting us,\" \"We will get back to you shortly,\" \"Select an option from the menu,\" or if it is a rigid, repetitive system notification.\n\n- human: Identify as this if the message contains natural language, slang, typos, specific questions, or conversational intent that varies from a script.\n\nConstraint: Your output must ONLY be a valid JSON object. Do not include any other text, greetings, or explanations.\n\nOutput Format: { \"classification\": \"human\" | \"auto_bot\", \"reason\": \"Brief explanation of why within 100 characters limit\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1440,
        -128
      ],
      "name": "Check if Bot Message1",
      "id": "edab3ca9-d4c0-470a-934a-467c1d9c9ef1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1392,
        32
      ],
      "name": "Google Gemini LLM1",
      "id": "b29da17b-0a3f-40e2-a094-b16bdbebab44",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"classification\": \"human\",\n  \"reason\": \"The user is asking about pricing and used informal language.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        32
      ],
      "name": "Topic Output Parser1",
      "id": "d3227d66-a7f1-4765-aa40-4adb48f27648"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.classification }}",
                    "rightValue": "human",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f620673b-58a0-4990-b57d-aeceafc007f7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Human reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ef99233a-2a44-4831-b14d-9a6928d5afce",
                    "leftValue": "={{ $json.output.classification }}",
                    "rightValue": "auto_bot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Auto reply"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1760,
        -128
      ],
      "id": "b9af586f-30ce-411e-9b72-5bfad81088a4",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M",
          "mode": "list",
          "cachedResultName": "SG Outreach - 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1134862533,
          "mode": "list",
          "cachedResultName": "outreach_wa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M/edit#gid=1134862533"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Replied",
            "phone number": "={{ $('Receive Reply1').item.json.body.payload.sender.contact.identifierValue.replace(/[+:]/g, '') }}"
          },
          "matchingColumns": [
            "phone number"
          ],
          "schema": [
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Place ID",
              "displayName": "Place ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Entry ID",
              "displayName": "Entry ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "delivery_mp",
              "displayName": "delivery_mp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reservation",
              "displayName": "reservation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number type",
              "displayName": "number type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "wa status",
              "displayName": "wa status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Target group",
              "displayName": "Target group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "remarks",
              "displayName": "remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Msg 1",
              "displayName": "Msg 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Msg 2",
              "displayName": "Msg 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Msg 3",
              "displayName": "Msg 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        -368
      ],
      "id": "3cdc3821-de35-4a59-bfc3-eafe98136250",
      "name": "Update status as \"Replied\"1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $('Merge Messages1').item.json.merged_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4b0383d3-4863-4053-934e-fc01af256554",
      "name": "Format response1",
      "type": "n8n-nodes-base.set",
      "position": [
        2064,
        -144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2064,
        80
      ],
      "id": "08156656-e5f1-4b8f-9ee6-2d1c3318e426",
      "name": "Skip auto reply1"
    },
    {
      "parameters": {
        "jsCode": "// Extract the main payload\nconst payload = $input.item.json.body.payload;\nconst imageBody = payload?.body?.image?.images;\nconst imagesFound = [];\n\nif (imageBody && Array.isArray(imageBody)) {\n  for (const img of imageBody) {\n    if (img.mediaUrl) {\n      // Extract Media ID from the end of the URL\n      const mediaId = img.mediaUrl.split('/').pop();\n\n      imagesFound.push({\n        messageId: payload.id, \n        mediaFileId: mediaId,\n        imageUrl: img.mediaUrl,\n        caption: payload.body.caption || \"\",\n        senderNumber: payload.sender?.contact?.identifierValue || \"\",\n        sender: payload.sender?.contact?.annotations?.name || \"Unknown\"\n      });\n    }\n  }\n}\n\n// Return the extracted data or a fallback if no images exist\nreturn imagesFound.length > 0 ? imagesFound : [{ imageUrl: null, status: \"no image found\" }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        336
      ],
      "id": "68a34a78-fdfc-4886-a214-df38e75c7c94",
      "name": "Get image file ID1"
    },
    {
      "parameters": {
        "url": "=https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/{{ $('Get image file ID1').item.json.messageId }}/media/{{ $('Get image file ID1').item.json.mediaFileId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "AccessKey JpV6a4ZnSnvXExEeUW0Rd046hsBMwmBpjmWN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        336
      ],
      "id": "85a03837-c8cd-4595-9977-943ade25a124",
      "name": "Retrieve image from Bird1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1824,
        336
      ],
      "id": "2bd84b16-9249-451c-b3f3-cb856416b745",
      "name": "Analyze image1",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ca5d18c7-1a29-421c-a8ba-5ff27fe65103",
      "name": "Format image description1",
      "type": "n8n-nodes-base.set",
      "position": [
        2064,
        336
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Merge Messages1').item.json.message_type }}"
            },
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "da4b602a-28ca-4b0d-a747-c3d3698c3731",
              "name": "message_caption",
              "type": "string",
              "value": "={{ $('Redirect Message Types1').item.json.body.messages[0].video?.caption || $('Redirect Message Types1').item.json.body.messages[0].image?.caption || $('Redirect Message Types1').item.json.body.messages[0].audio?.caption || \"\" }}"
            },
            {
              "id": "5a8f313b-0472-44a5-ba73-0907a983f351",
              "name": "channel_id",
              "value": "={{ $('Receive Reply1').item.json.body.payload.channelId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4d25c2fb-d549-4e92-be42-82586cdc3e97",
      "name": "Get User's Message1",
      "type": "n8n-nodes-base.set",
      "position": [
        2480,
        336
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/contacts/{{ $('Receive Reply1').item.json.body.payload.sender.contact.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "attribute",
              "value": "=company"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "authorization",
              "value": "AccessKey BxjtqcaqGqWSDGALVyjM3DQwaSzeYCACSwX7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2688,
        336
      ],
      "id": "79a62065-5a34-4028-8c04-fbae66e4a038",
      "name": "Get company name1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/participants/{{ $('Receive Reply1').item.json.body.payload.sender.contact.id }}/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channelId",
              "value": "={{ $('Receive Reply1').item.json.body.payload.channelId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "authorization",
              "value": "AccessKey BxjtqcaqGqWSDGALVyjM3DQwaSzeYCACSwX7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2896,
        336
      ],
      "id": "cecd1014-0324-494f-9a90-9ee2c385fb63",
      "name": "Get conversation ID1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/conversations/{{ $json.results[0].id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3088,
        336
      ],
      "id": "df51ace9-404f-4adb-b820-00205fd4037e",
      "name": "Get Chat History1",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "1R4VMEjneoFtqiZe",
          "name": "Bird API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\nitems.forEach(item => {\n  const messages = item.json.results || [];\n  if (messages.length === 0) return;\n  const sortedMessages = [...messages].sort((a, b) => \n    new Date(b.createdAt) - new Date(a.createdAt)\n  );\n  let conversationThread = [];\n  let latestLeadMessage = \"\";\n  let lastProspectTime = null;\n  let firstSdrReplyTime = null;\n  let prospectMessages = [];\n  sortedMessages.forEach(msg => {\n    const isProspect = msg.sender.type === 'contact';\n    const isUser = msg.sender.type === 'user';\n    const roleLabel = isProspect ? 'Prospect' : 'SDR';\n    const msgDate = new Date(msg.createdAt);\n    const dateStr = msgDate.toLocaleString('en-SG', { timeZone: 'Asia/Singapore', day: 'numeric', month: 'short' }) + ' ' + msgDate.toLocaleString('en-SG', { timeZone: 'Asia/Singapore', hour: '2-digit', minute: '2-digit', hour12: false });\n    const body = msg.body?.text?.text || \"[Media/Other]\";\n    if (conversationThread.length < 10) {\n      conversationThread.push(`[${dateStr}] ${roleLabel}: ${body}`);\n    }\n    if (isProspect) {\n      if (!latestLeadMessage) latestLeadMessage = body; \n      lastProspectTime = msgDate;\n      prospectMessages.push({ dateStr, body, msgDate });\n    } else if (isUser) {\n      firstSdrReplyTime = msgDate;\n    }\n  });\n  let latestMessages = \"\";\n  if (prospectMessages.length > 0) {\n    const mostRecentProspectTime = prospectMessages[0].msgDate;\n    const threeMinutesMs = 3 * 60 * 1000;\n    latestMessages = prospectMessages\n      .filter(m => Math.abs(mostRecentProspectTime - m.msgDate) <= threeMinutesMs)\n      .map(m => `[${m.dateStr}] ${m.body}`)\n      .reverse()\n      .join('\\n\\n');\n  }\n  let responseTimeMinutes = 0;\n  if (lastProspectTime && firstSdrReplyTime) {\n    const diffMs = Math.abs(firstSdrReplyTime - lastProspectTime);\n    responseTimeMinutes = Math.round(diffMs / 60000);\n  }\n  output.push({\n    leadMessage: latestLeadMessage,\n    conversationId: sortedMessages[0].conversationId,\n    conversationThreadFormatted: conversationThread.reverse().join('\\n\\n'),\n    latestMessages: latestMessages,\n    responseTimeMinutes: responseTimeMinutes,\n    summary: {\n      totalMessages: sortedMessages.length,\n      latestRole: sortedMessages[0].sender.type === 'contact' ? 'Prospect' : 'SDR'\n    }\n  });\n});\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        336
      ],
      "name": "Parse Chat History1",
      "id": "5cbe072d-3ca7-4f6e-bb7f-aa63694dccea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32819e6c-b831-4634-9f34-1b9e4b0ae992",
              "name": "lead_message",
              "value": "={{ $json.leadMessage }}",
              "type": "string"
            },
            {
              "id": "4f3d555d-03c1-4ef4-8b93-67a0991726b3",
              "name": "latest_messages",
              "value": "={{ $json.latestMessages }}",
              "type": "string"
            },
            {
              "id": "367e8059-b953-48de-b357-2d862d36b76f",
              "name": "chat_history",
              "value": "={{ $json.conversationThreadFormatted }}",
              "type": "string"
            },
            {
              "id": "35c81836-0c3f-4a23-96a8-39476ab73c8c",
              "name": "message_type",
              "value": "={{ $('Get User\\'s Message').item.json.message_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3472,
        336
      ],
      "id": "4574bf02-8a33-4011-bea1-7eeb6b2ad07b",
      "name": "Map fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Prospect's latest messages: {{ $json.latest_messages }}\n- Message type: {{ $json.message_type }}\n- Chat history: {{ $json.chat_history }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role:**\nYou are Alan, an expert Sales Development Representative (SDR) communicating via WhatsApp Business. Your goal is to manage incoming chat replies from prospects, address their queries/objections using approved logic, and ultimately secure a discovery call.\n\n**Knowledge Access:**\n- Response Handling Knowledge Base (KB): Use this to retrieve 1-5 examples. Crucial: Extract the logical pivot (the rebuttal/strategy). Mirror examples to avoid repeating past mistakes.\n- Product Knowledge Base: Use this to retrieve product information. Distill into 1-2 conversational sentences for WhatsApp. Only answer when asked.\n- Oddle Shop product site (https://www.oddle.me/sg/products/restaurant-online-ordering-system): Use for general questions about Oddle Shop / eShop product.\n- Oddle Reserve product site (https://www.oddle.me/sg/products/restaurant-reservation-system): Use for general questions about Oddle Reservation system product.\n\n**Step 1: Input Parsing**\n- Prospect's latest messages contains the most recent 1-3 messages you must respond to.\n- Chat history contains up to 10 messages from the prospect only, in chronological order (oldest to newest). It does not include your previous replies. Use it to understand the prospect's journey, track what they've already said or asked, and avoid addressing things out of context.\n- Always read the full chat history before drafting. Your response must be relevant to the entire conversation thread, not just the latest message in isolation.\n\n**Step 2: Contextual Analysis & Knowledge Base Mapping**\n- Salutation: Never use the Company Name in a salutation. Omit the greeting entirely and start with the answer.\n- History Check: Ensure you aren't repeating previous points or ignoring a question already asked.\n- Strategic Mapping: Identify the core intent of the lead's message (e.g., \"Happy with current provider,\" \"Price objection,\" \"Too busy\").\n- KB Match Assessment: Before drafting, score how closely the prospect's reply matches a KB example (0-100%).\n\t- 80-100% match: Treat the KB example as a script template. Adopt the same questions, the same concessions, and the same specific pivots verbatim. Do not deviate.\n\t- Below 80% match / No clear KB match: Do not force-fit a KB example. Build the response directly from Oddle's Product Knowledge Base. Identify what the prospect's reply reveals about their current setup or gap, then position the most relevant Oddle strength against that gap in 1-2 sentences maximum.\n- Avoid Over-Personalization: Do not insert the Company Name into the body of the response.\n\n\n**Step 3: Scenario Logic (Select One)**\n\n**Warm / Low-Friction Reply (Prospect is Open or Agreeable)**\n- When the prospect gives a short, warm, or low-resistance reply (e.g., \"sure, tell us more,\" \"go ahead,\"), do not launch into a product explanation.\n- Respond with one casual sentence acknowledging their openness, then drop the scheduling link immediately.\n- Example: \"Perfect, let's find a time then, here's the link: https://forms.oddle.me/oddle-discovery-call-singapore\"\n- Keep it under 20 words. Match their energy.\n\n**High Intent (Interested/Demo Request):**\n- If they ask for a demo or show clear interest, provide the scheduling link: https://forms.oddle.me/oddle-discovery-call-singapore.\n- Note: If they ask for a \"specific\" demo, briefly mention we can cover that in the live session rather than asking them more questions\n\n**Questions / Information Request:**\n- Answer questions clearly using the KB, Product Knowledge Base, or Websites.\n\t- Focus on the result (owning data/reducing commissions) rather than the features.\n\t- Example: Instead of \"Oddle is an all-in-one platform...\", say \"We help you own your customer data so you're not just relying on marketplaces like Grab or Foodpanda.\"\n- End with a soft call to action (e.g., \"Would it be helpful to see how this looks in practice?\").\n\n**Objections (Competitor, Budget, Timing, or \"We are happy/all set\"):**\n- The One-Try Rule: Do not concede on the first soft objection. Attempt ONE rebuttal using KB or Product Knowledge Base depending on your KB match score.\n- 80-100% KB match: Replicate the exact sales pivot used in the KB.\n\t- If the KB asks about \"review windows,\" you ask about review windows.\n\t- If the KB asks about \"automation vs cost,\" you ask about automation vs cost.\n- Below 80% KB match: Build the rebuttal from Product Knowledge Base. Identify the gap the prospect's current setup doesn't address and position Oddle against it in 1-2 sentences.\n- Lapsed / Former Oddle User: If the prospect mentions they previously used Oddle and left, do not close the loop immediately. Treat this as a soft objection and attempt ONE rebuttal by first asking why they stopped, then offering to share what has since improved. Only close the loop if they decline to engage after that.\n- Firm No: Only acknowledge gracefully and end the thread if the prospect is explicitly firm (e.g., \"Do not contact me again\" or \"Stop\").\n- Constraint: Do not send the scheduling link in this phase; earn a \"Yes\" to the idea of a conversation first.\n\n**Last-Minute / On-Demand Orders**\n- Acknowledge it, then pivot to data ownership and repeat orders. Oddle helps restaurants capture last-minute orders through their own branded channel while owning 100% of customer data to be re-engaged for future orders instead of staying in the marketplace ecosystem. Do not invent feature-specific answers (e.g., \"set lead time to zero\") that are not found in Product Knowledge Base.\n\n**Scenario: Local Social Proof (Singapore)**\n- If a lead asks about restaurant partners that switched to another platform and returned to Oddle, mention exactly 1-2 names from this list: Brotzeit (from Getz), Uncle Leong Seafood, Westlake (switched from NinjaOS), Sum Kee (from Getz), Serangoon BBQ (from Atlas), Ba Shu Sichuan (from Firstcom).\n- Constraint: Do not volunteer these names unless specifically asked.\n\n**Referrals & Contact Updates:**\n- If they refer a colleague: Ask for that person's name and phone number. If they only provide email, ask for name and phone number. If they already provide a number, just acknowledge.\n- If it's the wrong brand/contact: Apologise, ask for the right contact number, say we will update records. For example: \"Sorry, thanks for letting me know. Do you have their number by any chance? I'll also update our records to make sure we reach out to the right person in charge.\"\n\n\n**Step 4: Response Guidelines & Formatting**\n- Length: Be ruthlessly concise. Aim for under 50 words. Hard cap at 100 words. If you can say it in 10, do it. Never pad a response with context already covered earlier in the conversation.\n- Tone: Casual, direct, human. Write like a real person texting, not a corporate chatbot. Use contractions naturally (it's, you're, we're, that's, don't). No enthusiasm fillers (e.g., skip \"That is great to hear!\", \"I hope you're having a good week,\" or \"Looking forward to our chat.\").\n- The \"One Screen\" Rule: The entire reply must fit on one phone screen without a \"read more\" break. Two short paragraphs maximum. If your draft feels like it needs a third paragraph, cut it.\n- The \"Mirror\" Rule: Match the length and energy of the prospect's message. Short reply from them, short reply from you. Warm and casual from them, warm and casual from you.\n- Ending: Never use \"Looking forward to...\" or formal sign-offs. End with the link or the question.\n- Visuals: Do not bold any text. Replace em-dashes (—) with commas or periods.\n- Brevity: Use a simple hyphen (-) for list items if needed. No other symbols.\n- Vocabulary: Use vocabulary appropriate for food online ordering context. \"Customer\" not \"guest,\" \"restaurant\" not \"venue,\" \"order\" not \"visit.\"\n- Do not send the scheduling link when the lead is still hesitant or when you're still handling the objection.\n- Markdown: Return the message in Markdown format."
        }
      },
      "id": "d7a692a7-f8d7-4207-94df-7f762ab059d0",
      "name": "Response Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3888,
        336
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "id": "2af1f958-42c9-47bb-bf7d-1e5f15ce495f",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3808,
        528
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"text\": \"Hi, do you take reservation for 10-12 pax?\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4128,
        528
      ],
      "id": "54ee4006-0b23-474b-9e2f-7ad053a80406",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to find similar prospect's reply and examples of approved responses to help draft new replies",
        "tableName": {
          "__rl": true,
          "value": "response_handling_wa_sg_os",
          "mode": "list",
          "cachedResultName": "response_handling_wa_sg_os"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3760,
        752
      ],
      "id": "cb13d625-13be-4455-9a56-44207a8f5af3",
      "name": "Response Handling Knowledge Base1",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        3760,
        912
      ],
      "id": "54f3aa13-4f37-4b64-81d9-5b5b8131d622",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0AHMPEV5DX\",\n  \"text\": \"New prospect reply needs approval\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Receive Reply1').item.json.body.payload.sender.contact.identifierValue }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Get company name1').item.json.attributes.company }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Map fields1').item.json.latest_messages || '';\n    return JSON.stringify(rawText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ JSON.stringify($json.output.text || '').slice(1, -1) }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"approval_actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \":white_check_mark: Approve & Send\",\n            \"emoji\": true\n          },\n          \"style\": \"primary\",\n          \"action_id\": \"approve\",\n          \"value\": \"{{ $('Parse Chat History1').item.json.conversationId }}|{{ $('Receive Reply1').item.json.body.payload.channelId }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✏ Reject & Send manually\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"action_id\": \"reject\",\n          \"value\": \"{{ $('Parse Chat History1').item.json.conversationId }}|{{ $('Receive Reply1').item.json.body.payload.channelId }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4528,
        336
      ],
      "id": "218a868c-34ad-469d-ad37-057cac1c4c2b",
      "name": "Send to Slack for Approval1",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7fdd2218-ff0a-4fd7-a0e3-7ecaf0e92eab",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        384
      ],
      "id": "bf591879-597a-45fd-b414-ab62f56f1d66",
      "name": "Receive Reply1",
      "webhookId": "7fdd2218-ff0a-4fd7-a0e3-7ecaf0e92eab"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec5e944c-7656-4860-adb7-edcfa8b95ed0",
                    "leftValue": "={{ $('Merge Messages1').item.json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89131ef6-0956-449c-b0ea-31fffced6303",
                    "leftValue": "={{ $('Merge Messages1').item.json.message_type }}",
                    "rightValue": "link_preview",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Link provided"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Merge Messages1').item.json.message_type }}",
                    "rightValue": "image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75e367cd-3913-4ea4-a2ea-b0442b3325fb",
                    "leftValue": "={{ $('Merge Messages1').item.json.message_type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Merge Messages1').item.json.message_type }}",
                    "rightValue": "audio",
                    "id": "1113da73-5d4e-450e-90b3-960e6bec2e3c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Merge Messages1').item.json.message_type }}",
                    "rightValue": "video"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Other Message Type"
        }
      },
      "id": "88e160da-3a9f-49c6-88a3-a14ed5be6631",
      "name": "Redirect Message Types1",
      "type": "n8n-nodes-base.switch",
      "position": [
        800,
        288
      ],
      "typeVersion": 3.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        4080,
        912
      ],
      "id": "1740aee1-668c-4192-8e26-8ae6fa8c3c84",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contains comprehensive product knowledge about Oddle and Oddle Shop, including what the platform does, key features, and value propositions. Use this to answer prospect questions about Oddle's products and capabilities.",
        "tableName": {
          "__rl": true,
          "value": "oddle_eshop_knowledge_base",
          "mode": "list",
          "cachedResultName": "oddle_eshop_knowledge_base"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        4080,
        752
      ],
      "id": "b317e9d2-6812-45eb-baa7-8f7b5bc3d028",
      "name": "Product Knowledge Base1",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Route country\nLocalization required",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        304
      ],
      "typeVersion": 1,
      "id": "403706f4-7fd2-4c4f-8009-cbb9cfa2f757",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Capturing all lead's messages in 1 minute",
        "height": 544,
        "width": 2080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        976
      ],
      "typeVersion": 1,
      "id": "d783cc25-18f1-4a7c-a690-00b7ae48b840",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Notify in Slack channel\nChannel ID localization required",
        "height": 288,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        640
      ],
      "typeVersion": 1,
      "id": "9728a1ae-f7fb-4e13-a384-8110193b73a2",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Update outreach Gsheet\nLocalization required",
        "height": 272,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        -448
      ],
      "typeVersion": 1,
      "id": "1351e8bc-14fc-46b1-b7a7-930938322cd3",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Process text message & filter out auto message",
        "height": 432,
        "width": 576,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        -256
      ],
      "typeVersion": 1,
      "id": "4a118515-c7de-46ae-920f-b3e58dd2cc9f",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Process image messages",
        "height": 288,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        256
      ],
      "typeVersion": 1,
      "id": "e6d49249-e3c4-449f-84d1-1c318360ca61",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Retrieve chat history",
        "height": 336,
        "width": 1152,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2448,
        224
      ],
      "typeVersion": 1,
      "id": "66914828-3ae8-4b1e-b5b6-cabbd99cb5f5",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Send to Slack for approval\nChannel ID localization required",
        "height": 320,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4432,
        256
      ],
      "typeVersion": 1,
      "id": "6570c120-8232-44da-87d6-20433bb40154",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Main SDR agent drafting response\nLocalization required for:\n1) System prompt\n2) Response Handling KB",
        "height": 944,
        "width": 688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3680,
        176
      ],
      "typeVersion": 1,
      "id": "0849222e-77c7-4809-8e0d-148d669fcc9c",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Set up webhook path\nChange path",
        "height": 240,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        304
      ],
      "typeVersion": 1,
      "id": "992f46fe-758a-4e61-a171-3c90457ad603",
      "name": "Sticky Note21"
    }
  ],
  "connections": {
    "Set Output": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Set Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluation1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation1": {
      "main": [
        [
          {
            "node": "Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Latitude": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Buffer Row1": {
      "main": [
        [
          {
            "node": "Build Buffer Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Buffer Data1": {
      "main": [
        [
          {
            "node": "Upsert Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Buffer1": {
      "main": [
        [
          {
            "node": "Store myTs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store myTs1": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Buffer Timestamp1": {
      "main": [
        [
          {
            "node": "Is Last Message?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Last Message?1": {
      "main": [
        [
          {
            "node": "Fetch Buffered Messages1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop Processing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Buffered Messages1": {
      "main": [
        [
          {
            "node": "Merge Messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Messages1": {
      "main": [
        [
          {
            "node": "Clear Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Buffer1": {
      "main": [
        [
          {
            "node": "Redirect Message Types1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "Read Buffer Timestamp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for reply from SG1": {
      "main": [
        [
          {
            "node": "Get Buffer Row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Bot Message1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini LLM1": {
      "ai_languageModel": [
        [
          {
            "node": "Check if Bot Message1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Topic Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Check if Bot Message1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Format response1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update status as \"Replied\"1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip auto reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format response1": {
      "main": [
        [
          {
            "node": "Get User's Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image file ID1": {
      "main": [
        [
          {
            "node": "Retrieve image from Bird1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve image from Bird1": {
      "main": [
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "Format image description1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format image description1": {
      "main": [
        [
          {
            "node": "Get User's Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Message1": {
      "main": [
        [
          {
            "node": "Get company name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get company name1": {
      "main": [
        [
          {
            "node": "Get conversation ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get conversation ID1": {
      "main": [
        [
          {
            "node": "Get Chat History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History1": {
      "main": [
        [
          {
            "node": "Parse Chat History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat History1": {
      "main": [
        [
          {
            "node": "Map fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields1": {
      "main": [
        [
          {
            "node": "Response Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent1": {
      "main": [
        [
          {
            "node": "Send to Slack for Approval1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Response Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Response Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Response Handling Knowledge Base1": {
      "ai_tool": [
        [
          {
            "node": "Response Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Response Handling Knowledge Base1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Receive Reply1": {
      "main": [
        [
          {
            "node": "Check for reply from SG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirect Message Types1": {
      "main": [
        [
          {
            "node": "Check if Bot Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Bot Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image file ID1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Product Knowledge Base1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Product Knowledge Base1": {
      "ai_tool": [
        [
          {
            "node": "Response Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 5,
    "timezone": "Asia/Singapore",
    "errorWorkflow": "2SWvtvGbkteCtlr0"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When fetching a dataset row2": [
      {
        "json": {
          "row_number": 2,
          "Body": "NowBookIt already sends reminders",
          "Expected Response": "Fair point, we look at it slightly differently though. Reminders handle the bookings you already have, we focus on generating new ones and growing your database, like:\n• Cancellation recovery: auto win back guests who drop off\n• Targeted broadcasts: re-engage diners who haven't visited in months\n\nWould you like me to show you the difference?",
          "Actual Response": "",
          "Accuracy": "",
          "_rowsLeft": 16
        }
      }
    ],
    "Get image file ID1": [
      {
        "json": {
          "messageId": "851d9f54-e819-49d6-af44-bd61bfab664d",
          "mediaFileId": "fe47f106-ad60-4615-8847-4e511a40d19c",
          "imageUrl": "https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/851d9f54-e819-49d6-af44-bd61bfab664d/media/fe47f106-ad60-4615-8847-4e511a40d19c",
          "caption": "",
          "senderNumber": "+6585315474",
          "sender": "Nooruddin"
        }
      }
    ],
    "Analyze image1": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "This image is a screenshot from an Android mobile phone showing a \"Thank you\" confirmation page for an online discovery call.\n\n**Image Description:**\n\nThe screenshot is predominantly white, with a gray background visible around a central white card.\n\nAt the very top, a dark gray status bar shows:\n*   On the left: \"16:33\" (time), followed by icons for what appear to be tabs, messages, and Gmail (\"M\").\n*   On the right: \"Vo)) LTE\", \"4G\" connectivity, an upward arrow, \"50%\" battery life, and a battery icon.\n\nBelow the status bar is a dark gray browser address bar, displaying:\n*   A home icon and a refresh/settings icon on the left.\n*   The URL: \"forms.oddle.me/oddle-discc\" (partially visible).\n*   On the right: The number \"11\" (likely indicating open tabs) and a three-dot menu icon.\n\nThe main content of the screen features:\n*   A light blue circle with a dark blue checkmark inside, centered at the top.\n*   Below the checkmark, the text \"Thank you\" is displayed in large, bold, dark gray letters.\n*   A white rectangular card with rounded corners is centered below the \"Thank you\" message. This card contains details about an event:\n    *   The title \"Oddle Online Discovery Call Singapore\" in bold, dark gray text.\n    *   Below the title, there's a section for the organizer: A green square icon with a white \"J\" inside, next to \"Jia Li Yew\" and \"Organizer\" below it.\n    *   Next, a globe icon is shown beside the text \"Asia/Singapore\".\n    *   A clock icon is displayed next to the date and time: \"Mar 4, 2026 10:30 AM - 11:30 AM\".\n    *   Finally, a video camera icon is present next to \"Google Meet\", indicating the meeting platform.\n\nAt the bottom of the screen, there's a standard Android navigation bar with three icons:\n*   Three vertical lines (recent apps button).\n*   A circle (home button).\n*   A left arrow (back button).\n\n**Text Transcription:**\n\n*   16:33\n*   M\n*   forms.oddle.me/oddle-discc\n*   Vo)) LTE\n*   4G\n*   50%\n*   11\n*   Thank you\n*   Oddle Online Discovery Call Singapore\n*   J\n*   Jia Li Yew\n*   Organizer\n*   Asia/Singapore\n*   Mar 4, 2026 10:30 AM - 11:30 AM\n*   Google Meet"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "Receive Reply1": [
      {
        "json": {
          "headers": {
            "host": "workflow.oddle.center",
            "messagebird-request-id": "705c5b19-aed2-47bd-b07e-29da035b75ea",
            "messagebird-request-timestamp": "1772676417",
            "user-agent": "Messagebird/Requests develop:8c9cc536",
            "content-type": "application/json; charset=utf-8",
            "content-length": "892",
            "x-cloud-trace-context": "239a524e613b8e4d6b9b0bdbd7d73657/8710713604325250556",
            "x-forwarded-proto": "https",
            "traceparent": "00-239a524e613b8e4d6b9b0bdbd7d73657-78e2abdf2df815fc-00",
            "x-forwarded-for": "3.111.114.53",
            "forwarded": "for=\"3.111.114.53\";proto=https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "service": "channels",
            "event": "whatsapp.inbound",
            "payload": {
              "id": "a6822ee1-9d64-43af-82d1-760f521740f7",
              "channelId": "22c5243b-3d44-4590-82d7-534d77642dbd",
              "sender": {
                "contact": {
                  "id": "8aec3ba2-0dee-470d-a775-ac17887af799",
                  "identifierKey": "phonenumber",
                  "identifierValue": "+6590570654",
                  "annotations": {
                    "name": "Chelsea Nguyen"
                  }
                }
              },
              "receiver": {
                "connector": {
                  "id": "e2d11e1a-aae7-46bf-aaad-ed0a745ecac0",
                  "identifierValue": "+6588055922"
                }
              },
              "body": {
                "type": "text",
                "text": {
                  "text": "Do we have access to it?"
                }
              },
              "meta": {
                "extraInformation": {
                  "timestamp": "1772676415",
                  "user_locale": "cmn"
                }
              },
              "reference": "",
              "parts": [
                {
                  "platformReference": "wamid.HBgKNjU5MDU3MDY1NBUCABIYFDNBRDIwMkExREI0Mzc4NEZGRTJEAA=="
                }
              ],
              "status": "delivered",
              "reason": "",
              "direction": "incoming",
              "chargeableUnits": 1,
              "lastStatusAt": "2026-03-05T02:06:57.499Z",
              "createdAt": "2026-03-05T02:06:57.432Z",
              "updatedAt": "2026-03-05T02:06:57.499Z",
              "batchId": null
            }
          },
          "webhookUrl": "https://workflow.oddle.center/webhook/sg-wa-sdr-os",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "fe56e59e-b513-4c50-8cfc-2f156248bbb9",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-10T02:30:44.332Z",
      "createdAt": "2026-03-10T02:30:44.332Z",
      "role": "workflow:owner",
      "workflowId": "WamnPrGluo92mwT7",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-02-25T08:52:06.128Z",
      "createdAt": "2026-02-25T08:52:06.128Z",
      "id": "noSkE7clLQKsDr2Z",
      "name": "os_marketplace"
    },
    {
      "updatedAt": "2026-02-25T08:51:58.633Z",
      "createdAt": "2026-02-25T08:51:58.633Z",
      "id": "k1knXy75FUYO6sZK",
      "name": "sg"
    }
  ]
}