[whatsapp]-sdr-agent---sg-os-marketplace-sg.json
{
  "updatedAt": "2026-03-05T06:44:01.622Z",
  "createdAt": "2026-03-02T11:02:53.080Z",
  "id": "LToj6ycrS3KEQCZa",
  "name": "[WhatsApp] SDR Agent - SG OS Marketplace",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
          "mode": "list",
          "cachedResultName": "Evaluation for Email SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 308065534,
          "mode": "list",
          "cachedResultName": "au_whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Actual Response",
              "outputValue": "={{ $('Response Agent').item.json.output.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        3648,
        -384
      ],
      "id": "eaf1783b-da49-4b3a-9706-d04bbda09d41",
      "name": "Set Output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        3440,
        -368
      ],
      "id": "7ddf2eca-64b2-48df-966f-4a9e9f551a39",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "customMetrics",
        "metrics": {
          "assignments": [
            {
              "name": "Accuracy",
              "value": "={{ $json.Correctness }}",
              "type": "number",
              "id": "89160e24-b3f9-4bb7-80b4-48575b983260"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        4208,
        -384
      ],
      "id": "dbc8f375-65c9-4c7a-8666-7a7d392aab64",
      "name": "Score"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4000,
        -208
      ],
      "id": "3ee06b21-ddea-4076-b02a-a00c732ff710",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
          "mode": "list",
          "cachedResultName": "Evaluation for Email SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 308065534,
          "mode": "list",
          "cachedResultName": "au_whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Body": "={{ $('When fetching a dataset row').item.json.Body }}",
            "Accuracy": "={{ $json.Accuracy }}"
          },
          "matchingColumns": [
            "Body"
          ],
          "schema": [
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Expected Response",
              "displayName": "Expected Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual Response",
              "displayName": "Actual Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Accuracy",
              "displayName": "Accuracy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4416,
        -384
      ],
      "id": "cb50f3c6-6d9f-4964-bee2-5f30476a78c4",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json['Expected Response'] }}",
        "actualAnswer": "={{ $('Response Agent').item.json.output.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        3856,
        -384
      ],
      "id": "9766bc37-eb8d-49a2-b54c-259cc20238e5",
      "name": "Evaluation1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gateway.latitude.so/api/v2/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"path\": \"whatsapp-sdr-alex\",\n  \"projectId\": 30399,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Map fields').item.json.lead_message }}\"\n    },\n    {\n      \"role\": \"sdr\",\n      \"content\": \"{{ $json.output.text }}\"\n    }\n  ],\n  \"customIdentifier\": \"{{ $('Receive Reply').item.json.body.payload.receiver.connector.identifierValue }}\",\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3440,
        -128
      ],
      "id": "9418f326-8c00-4206-bd23-a76d64b9d6b5",
      "name": "Send to Latitude",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cCn52k3tnxYrYO3l",
          "name": "Latitude API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Response Agent').item.json.output.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3648,
        -128
      ],
      "id": "9e009f9f-fea0-4ffb-912f-103be7f80fa5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Evaluations - not set up yet",
        "height": 560,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3328,
        -496
      ],
      "typeVersion": 1,
      "id": "0c8dbf52-9d72-4a9c-8009-feb0d0c6181a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Receive Reply').item.json.body.payload.sender.contact.identifierValue) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        1136
      ],
      "id": "0f3bedee-80dd-408c-aced-edf203df922c",
      "name": "Get Buffer Row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const receiveReply = $('Receive Reply').item.json;\nconst payload = receiveReply.body.payload;\nconst phoneNumber = payload.sender.contact.identifierValue;\nconst channelId = payload.channelId;\nconst contactId = payload.sender.contact.id;\nconst messageType = payload.body.type;\nconst messageText = payload.body?.text?.text ||\n                    payload.body?.caption ||\n                    `[${messageType} message]`;\nconst now = new Date().toISOString();\n\nconst newMessage = { type: messageType, text: messageText, timestamp: now };\n\nconst getResponse = $input.item.json;\nconst existingRow = Array.isArray(getResponse) && getResponse.length > 0 ? getResponse[0] : null;\nconst existingMessages = existingRow?.messages || [];\n\nconst mergedMessages = [...existingMessages, newMessage];\n\nreturn [{\n  json: {\n    phone_number: phoneNumber,\n    messages: mergedMessages,\n    channel_id: channelId,\n    contact_id: contactId,\n    message_type: messageType,\n    updated_at: now\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        1136
      ],
      "id": "9a20ae59-34ba-4538-8cf2-048f4ae3cdbd",
      "name": "Build Buffer Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        1136
      ],
      "id": "1c8a3a28-9098-45ad-8b37-1ba88326ad85",
      "name": "Upsert Buffer",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "debounce-myts-001",
              "name": "myTs",
              "type": "string",
              "value": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}"
            },
            {
              "id": "debounce-phone-001",
              "name": "phone_number",
              "type": "string",
              "value": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1136
      ],
      "id": "a75857d1-03c2-42ad-883e-5af3cb9345b4",
      "name": "Store myTs"
    },
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Store myTs').item.json.phone_number) }}&select=updated_at",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        1136
      ],
      "id": "eb1ebec9-99a9-4f37-931c-a130618777a1",
      "name": "Read Buffer Timestamp",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "debounce-last-001",
              "leftValue": "={{ $('Store myTs').item.json.myTs }}",
              "rightValue": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        1136
      ],
      "id": "0b94307b-a1b1-43e2-9aba-f1dbb71bcbda",
      "name": "Is Last Message?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1248,
        1376
      ],
      "id": "8724d736-657c-419e-93a4-716962cb22ad",
      "name": "Stop Processing"
    },
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Store myTs').item.json.phone_number) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        1120
      ],
      "id": "9d2ccd5d-e8bf-464c-ba8b-01ccaa0757f0",
      "name": "Fetch Buffered Messages",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst row = Array.isArray(response) ? response[0] : response;\n\nif (!row || !row.messages || row.messages.length === 0) {\n  return [{\n    json: {\n      phone_number: $('Store myTs').item.json.phone_number,\n      merged_text: '',\n      message_type: 'text',\n      message_count: 0\n    }\n  }];\n}\n\nconst messages = row.messages;\nconst textParts = messages\n  .map(m => (m.text && !m.text.startsWith('[')) ? m.text : null)\n  .filter(Boolean);\n\nconst merged_text = textParts.join('\\n');\nconst types = [...new Set(messages.map(m => m.type))];\nconst message_type = types.length === 1 ? types[0] : 'mixed';\n\nreturn [{\n  json: {\n    phone_number: row.phone_number,\n    channel_id: row.channel_id,\n    contact_id: row.contact_id,\n    merged_text,\n    message_type,\n    message_count: messages.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        1120
      ],
      "id": "f36df824-a4a5-4c0b-b771-a8757ded2018",
      "name": "Merge Messages"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($json.phone_number) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1616,
        1120
      ],
      "id": "c6b07f0f-bc06-4505-95c3-d1dc0a2068d7",
      "name": "Clear Buffer",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0A8PJQ9KU3\",\n  \"text\": \"Unrecognized message type received\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":warning: Unrecognized Message Type\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Redirect Message Types').item.json.body.messages[0].from }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Message type:*\\n`{{ $('Redirect Message Types').item.json.body.messages[0].type }}`\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Status:* The AI Agent cannot process this message type automatically.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Action Required:* Please check this conversation directly on Bird & reply to the prospect.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        768
      ],
      "id": "837415e3-b04b-4f97-a0d6-72e93922cba2",
      "name": "Notify in Slack2",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14648e8e-b352-4ea4-8f5a-b9a6335dbc6b",
              "name": "lead_message",
              "value": "={{ $json.Body }}",
              "type": "string"
            },
            {
              "id": "458a8b87-069c-423f-b662-e31d5e01d4eb",
              "name": "chat_history",
              "value": "=[2026-02-05 08:10] SDR: \"Hi Miss Saigon team, Alan from Oddle here. Noticed you're on SevenRooms—are you getting full value from it?\n\nWe’re offering AU brands 'Founder Access' at A$65/mo, locked in forever. We use your data to drive revenue, not just switch software.\n\nOpen to a brief 10-min chat this week?\"",
              "type": "string"
            },
            {
              "id": "a1f86e3c-8e7a-40ae-9e1a-0a7e74578d88",
              "name": "message_type",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2976,
        816
      ],
      "id": "0f15fbd9-1d06-4e83-8821-ba170b1a37e1",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 308065534,
          "mode": "list",
          "cachedResultName": "au_whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        2736,
        816
      ],
      "id": "e3da9c80-fd72-48e1-ac33-3f0f09e11154",
      "name": "When fetching a dataset row2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        1136
      ],
      "id": "faab5579-5f35-4af0-bc09-96cff152946f",
      "name": "Wait 60s1",
      "webhookId": "a5b6c7d8-e9f0-4321-8765-901234567890"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c761342-1b37-4add-b95d-3d09c764111d",
              "leftValue": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}",
              "rightValue": "+65",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        416
      ],
      "id": "b1402898-a32f-4b50-8f78-922243d15bf7",
      "name": "Check for reply from SG"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        112,
        640
      ],
      "id": "8430fb2d-9ed4-4996-a8bc-5d364593ab1d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Merge Messages').item.json.merged_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a message classifier for a WhatsApp message.\n\nTask: Analyze the incoming message and determine if it was sent by a human or an automated bot/system.\n\nClassification Criteria:\n- auto_bot: Identify as this if the message contains standard automated patterns such as \"Thank you for contacting us,\" \"We will get back to you shortly,\" \"Select an option from the menu,\" or if it is a rigid, repetitive system notification.\n\n- human: Identify as this if the message contains natural language, slang, typos, specific questions, or conversational intent that varies from a script.\n\nConstraint: Your output must ONLY be a valid JSON object. Do not include any other text, greetings, or explanations.\n\nOutput Format: { \"classification\": \"human\" | \"auto_bot\", \"reason\": \"Brief explanation of why within 100 characters limit\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1088,
        -96
      ],
      "name": "Check if Bot Message",
      "id": "fe780a06-9030-4f8e-8246-0a13520370d1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1040,
        64
      ],
      "name": "Google Gemini LLM",
      "id": "a57e37f0-6f1e-4fbd-9b13-14a84debf254",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"classification\": \"human\",\n  \"reason\": \"The user is asking about pricing and used informal language.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1264,
        64
      ],
      "name": "Topic Output Parser",
      "id": "39e3838b-a5f1-4fb8-83d7-f2686c198022"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.classification }}",
                    "rightValue": "human",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f620673b-58a0-4990-b57d-aeceafc007f7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Human reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ef99233a-2a44-4831-b14d-9a6928d5afce",
                    "leftValue": "={{ $json.output.classification }}",
                    "rightValue": "auto_bot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Auto reply"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1408,
        -96
      ],
      "id": "98180625-34a1-465b-8882-c314d8834eba",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M",
          "mode": "list",
          "cachedResultName": "SG Outreach - 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1134862533,
          "mode": "list",
          "cachedResultName": "outreach_wa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M/edit#gid=1134862533"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Replied",
            "phone number": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue.replace(/[+:]/g, '') }}"
          },
          "matchingColumns": [
            "phone number"
          ],
          "schema": [
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Place ID",
              "displayName": "Place ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Entry ID",
              "displayName": "Entry ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "delivery_mp",
              "displayName": "delivery_mp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reservation",
              "displayName": "reservation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number type",
              "displayName": "number type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "wa status",
              "displayName": "wa status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Target group",
              "displayName": "Target group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "remarks",
              "displayName": "remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Msg 1",
              "displayName": "Msg 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Msg 2",
              "displayName": "Msg 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Msg 3",
              "displayName": "Msg 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        -336
      ],
      "id": "0d3e30d2-d4be-429c-ba71-345b0ca572cc",
      "name": "Update status as \"Replied\"",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $('Merge Messages').item.json.merged_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b4fdba6b-7eb6-4d08-9780-c1fe10f9b30e",
      "name": "Format response",
      "type": "n8n-nodes-base.set",
      "position": [
        1712,
        -112
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1712,
        112
      ],
      "id": "e03dbeb6-3e0c-471e-b95b-051ac581d511",
      "name": "Skip auto reply"
    },
    {
      "parameters": {
        "jsCode": "// Extract the main payload\nconst payload = $input.item.json.body.payload;\nconst imageBody = payload?.body?.image?.images;\nconst imagesFound = [];\n\nif (imageBody && Array.isArray(imageBody)) {\n  for (const img of imageBody) {\n    if (img.mediaUrl) {\n      // Extract Media ID from the end of the URL\n      const mediaId = img.mediaUrl.split('/').pop();\n\n      imagesFound.push({\n        messageId: payload.id, \n        mediaFileId: mediaId,\n        imageUrl: img.mediaUrl,\n        caption: payload.body.caption || \"\",\n        senderNumber: payload.sender?.contact?.identifierValue || \"\",\n        sender: payload.sender?.contact?.annotations?.name || \"Unknown\"\n      });\n    }\n  }\n}\n\n// Return the extracted data or a fallback if no images exist\nreturn imagesFound.length > 0 ? imagesFound : [{ imageUrl: null, status: \"no image found\" }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        368
      ],
      "id": "f16b157e-47e0-477f-bbe0-9dd0ae323e38",
      "name": "Get image file ID"
    },
    {
      "parameters": {
        "url": "=https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/{{ $('Get image file ID').item.json.messageId }}/media/{{ $('Get image file ID').item.json.mediaFileId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "AccessKey JpV6a4ZnSnvXExEeUW0Rd046hsBMwmBpjmWN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        368
      ],
      "id": "2033df74-3aaa-4bb4-8e10-6ab6a9779b6b",
      "name": "Retrieve image from Bird",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1472,
        368
      ],
      "id": "a6970e8e-782b-4037-958a-89dda727b086",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "204f336d-e2c0-4b68-a118-9fccb87221bf",
      "name": "Format image description",
      "type": "n8n-nodes-base.set",
      "position": [
        1712,
        368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Receive Reply').item.json.body.payload.body.type }}"
            },
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "da4b602a-28ca-4b0d-a747-c3d3698c3731",
              "name": "message_caption",
              "type": "string",
              "value": "={{ $('Redirect Message Types').item.json.body.messages[0].video?.caption || $('Redirect Message Types').item.json.body.messages[0].image?.caption || $('Redirect Message Types').item.json.body.messages[0].audio?.caption || \"\" }}"
            },
            {
              "id": "5a8f313b-0472-44a5-ba73-0907a983f351",
              "name": "channel_id",
              "value": "={{ $('Receive Reply').item.json.body.payload.channelId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "13bbebe6-2229-4523-8912-8d52f3da0fa4",
      "name": "Get User's Message",
      "type": "n8n-nodes-base.set",
      "position": [
        2128,
        368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/contacts/{{ $('Receive Reply').item.json.body.payload.sender.contact.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "attribute",
              "value": "=company"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "authorization",
              "value": "AccessKey BxjtqcaqGqWSDGALVyjM3DQwaSzeYCACSwX7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2336,
        368
      ],
      "id": "ba2ae82c-c7be-4be9-8997-4697d68af660",
      "name": "Get company name",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/participants/{{ $('Receive Reply').item.json.body.payload.sender.contact.id }}/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channelId",
              "value": "={{ $('Receive Reply').item.json.body.payload.channelId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "authorization",
              "value": "AccessKey BxjtqcaqGqWSDGALVyjM3DQwaSzeYCACSwX7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2544,
        368
      ],
      "id": "dfd5ed3a-6198-4114-8180-2503bbf11072",
      "name": "Get conversation ID",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/conversations/{{ $json.results[0].id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2736,
        368
      ],
      "id": "4bd2ff03-d584-4f9c-a8e4-dc7d2a70945f",
      "name": "Get Chat History",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "1R4VMEjneoFtqiZe",
          "name": "Bird API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\nitems.forEach(item => {\n  const messages = item.json.results || [];\n  if (messages.length === 0) return;\n  const sortedMessages = [...messages].sort((a, b) => \n    new Date(b.createdAt) - new Date(a.createdAt)\n  );\n  let conversationThread = [];\n  let latestLeadMessage = \"\";\n  let lastProspectTime = null;\n  let firstSdrReplyTime = null;\n  let prospectMessages = [];\n  sortedMessages.forEach(msg => {\n    const isProspect = msg.sender.type === 'contact';\n    const isUser = msg.sender.type === 'user';\n    const roleLabel = isProspect ? 'Prospect' : 'SDR';\n    const msgDate = new Date(msg.createdAt);\n    const dateStr = msgDate.toLocaleString('en-SG', { timeZone: 'Asia/Singapore', day: 'numeric', month: 'short' }) + ' ' + msgDate.toLocaleString('en-SG', { timeZone: 'Asia/Singapore', hour: '2-digit', minute: '2-digit', hour12: false });\n    const body = msg.body?.text?.text || \"[Media/Other]\";\n    if (conversationThread.length < 10) {\n      conversationThread.push(`[${dateStr}] ${roleLabel}: ${body}`);\n    }\n    if (isProspect) {\n      if (!latestLeadMessage) latestLeadMessage = body; \n      lastProspectTime = msgDate;\n      prospectMessages.push({ dateStr, body, msgDate });\n    } else if (isUser) {\n      firstSdrReplyTime = msgDate;\n    }\n  });\n  let latestMessages = \"\";\n  if (prospectMessages.length > 0) {\n    const mostRecentProspectTime = prospectMessages[0].msgDate;\n    const threeMinutesMs = 3 * 60 * 1000;\n    latestMessages = prospectMessages\n      .filter(m => Math.abs(mostRecentProspectTime - m.msgDate) <= threeMinutesMs)\n      .map(m => `[${m.dateStr}] ${m.body}`)\n      .reverse()\n      .join('\\n\\n');\n  }\n  let responseTimeMinutes = 0;\n  if (lastProspectTime && firstSdrReplyTime) {\n    const diffMs = Math.abs(firstSdrReplyTime - lastProspectTime);\n    responseTimeMinutes = Math.round(diffMs / 60000);\n  }\n  output.push({\n    leadMessage: latestLeadMessage,\n    conversationId: sortedMessages[0].conversationId,\n    conversationThreadFormatted: conversationThread.reverse().join('\\n\\n'),\n    latestMessages: latestMessages,\n    responseTimeMinutes: responseTimeMinutes,\n    summary: {\n      totalMessages: sortedMessages.length,\n      latestRole: sortedMessages[0].sender.type === 'contact' ? 'Prospect' : 'SDR'\n    }\n  });\n});\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        368
      ],
      "name": "Parse Chat History",
      "id": "071dd0f1-0c17-40ba-82d0-2b1d01be3b1f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32819e6c-b831-4634-9f34-1b9e4b0ae992",
              "name": "lead_message",
              "value": "={{ $json.leadMessage }}",
              "type": "string"
            },
            {
              "id": "4f3d555d-03c1-4ef4-8b93-67a0991726b3",
              "name": "latest_messages",
              "value": "={{ $json.latestMessages }}",
              "type": "string"
            },
            {
              "id": "367e8059-b953-48de-b357-2d862d36b76f",
              "name": "chat_history",
              "value": "={{ $json.conversationThreadFormatted }}",
              "type": "string"
            },
            {
              "id": "35c81836-0c3f-4a23-96a8-39476ab73c8c",
              "name": "message_type",
              "value": "={{ $('Get User\\'s Message').item.json.message_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        368
      ],
      "id": "6fb569be-af3c-4798-b444-6248a6237656",
      "name": "Map fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Prospect's latest messages: {{ $json.latest_messages }}\n- Message type: {{ $json.message_type }}\n- Chat history: {{ $json.chat_history }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role:**\nYou are Alan, an expert Sales Development Representative (SDR) communicating via WhatsApp Business. Your goal is to manage incoming chat replies from prospects, address their queries/objections using approved logic, and ultimately secure a discovery call.\n\n**Knowledge Access:**\n- Response Handling Knowledge Base (KB): Use this to retrieve 1-5 examples. Crucial: Extract the logical pivot (the rebuttal/strategy). Mirror examples to avoid repeating past mistakes.\n- Product Knowledge Base: Use this to retrieve product information. Distill into 1-2 conversational sentences for WhatsApp. Only answer when asked.\n- Oddle Shop product site (https://www.oddle.me/sg/products/restaurant-online-ordering-system): Use for general questions about Oddle Shop / eShop product.\n- Oddle Reserve product site (https://www.oddle.me/sg/products/restaurant-reservation-system): Use for general questions about Oddle Reservation system product.\n\n**Step 1: Input Parsing**\n- Prospect's latest messages contains the most recent 1-3 messages you must respond to.\n- Chat history contains up to 10 messages from the prospect only, in chronological order (oldest to newest). It does not include your previous replies. Use it to understand the prospect's journey, track what they've already said or asked, and avoid addressing things out of context.\n- Always read the full chat history before drafting. Your response must be relevant to the entire conversation thread, not just the latest message in isolation.\n\n**Step 2: Contextual Analysis & Knowledge Base Mapping**\n- Salutation: Never use the Company Name in a salutation. Omit the greeting entirely and start with the answer.\n- History Check: Ensure you aren't repeating previous points or ignoring a question already asked.\n- Strategic Mapping: Identify the core intent of the lead's message (e.g., \"Happy with current provider,\" \"Price objection,\" \"Too busy\").\n- KB Match Assessment: Before drafting, score how closely the prospect's reply matches a KB example (0-100%).\n\t- 80-100% match: Treat the KB example as a script template. Adopt the same questions, the same concessions, and the same specific pivots verbatim. Do not deviate.\n\t- Below 80% match / No clear KB match: Do not force-fit a KB example. Build the response directly from Oddle's Product Knowledge Base. Identify what the prospect's reply reveals about their current setup or gap, then position the most relevant Oddle strength against that gap in 1-2 sentences maximum.\n- Avoid Over-Personalization: Do not insert the Company Name into the body of the response.\n\n\n**Step 3: Scenario Logic (Select One)**\n\n**Warm / Low-Friction Reply (Prospect is Open or Agreeable)**\n- When the prospect gives a short, warm, or low-resistance reply (e.g., \"sure, tell us more,\" \"go ahead,\"), do not launch into a product explanation.\n- Respond with one casual sentence acknowledging their openness, then drop the scheduling link immediately.\n- Example: \"Perfect, let's find a time then, here's the link: https://forms.oddle.me/oddle-discovery-call-singapore\"\n- Keep it under 20 words. Match their energy.\n\n**High Intent (Interested/Demo Request):**\n- If they ask for a demo or show clear interest, provide the scheduling link: https://forms.oddle.me/oddle-discovery-call-singapore.\n- Note: If they ask for a \"specific\" demo, briefly mention we can cover that in the live session rather than asking them more questions\n\n**Questions / Information Request:**\n- Answer questions clearly using the KB, Product Knowledge Base, or Websites.\n\t- Focus on the result (owning data/reducing commissions) rather than the features.\n\t- Example: Instead of \"Oddle is an all-in-one platform...\", say \"We help you own your customer data so you're not just relying on marketplaces like Grab or Foodpanda.\"\n- End with a soft call to action (e.g., \"Would it be helpful to see how this looks in practice?\").\n\n**Objections (Competitor, Budget, Timing, or \"We are happy/all set\"):**\n- The One-Try Rule: Do not concede on the first soft objection. Attempt ONE rebuttal using KB or Product Knowledge Base depending on your KB match score.\n- 80-100% KB match: Replicate the exact sales pivot used in the KB.\n\t- If the KB asks about \"review windows,\" you ask about review windows.\n\t- If the KB asks about \"automation vs cost,\" you ask about automation vs cost.\n- Below 80% KB match: Build the rebuttal from Product Knowledge Base. Identify the gap the prospect's current setup doesn't address and position Oddle against it in 1-2 sentences.\n- Lapsed / Former Oddle User: If the prospect mentions they previously used Oddle and left, do not close the loop immediately. Treat this as a soft objection and attempt ONE rebuttal by first asking why they stopped, then offering to share what has since improved. Only close the loop if they decline to engage after that.\n- Firm No: Only acknowledge gracefully and end the thread if the prospect is explicitly firm (e.g., \"Do not contact me again\" or \"Stop\").\n- Constraint: Do not send the scheduling link in this phase; earn a \"Yes\" to the idea of a conversation first.\n\n**Last-Minute / On-Demand Orders**\n- Acknowledge it, then pivot to data ownership and repeat orders. Oddle helps restaurants capture last-minute orders through their own branded channel while owning 100% of customer data to be re-engaged for future orders instead of staying in the marketplace ecosystem. Do not invent feature-specific answers (e.g., \"set lead time to zero\") that are not found in Product Knowledge Base.\n\n**Scenario: Local Social Proof (Singapore)**\n- If a lead asks about restaurant partners that switched to another platform and returned to Oddle, mention exactly 1-2 names from this list: Brotzeit (from Getz), Uncle Leong Seafood, Westlake (switched from NinjaOS), Sum Kee (from Getz), Serangoon BBQ (from Atlas), Ba Shu Sichuan (from Firstcom).\n- Constraint: Do not volunteer these names unless specifically asked.\n\n**Referrals & Contact Updates:**\n- If they refer a colleague: Ask for that person's name and phone number. If they only provide email, ask for name and phone number. If they already provide a number, just acknowledge.\n- If it's the wrong brand/contact: Apologise, ask for the right contact number, say we will update records. For example: \"Sorry, thanks for letting me know. Do you have their number by any chance? I'll also update our records to make sure we reach out to the right person in charge.\"\n\n\n**Step 4: Response Guidelines & Formatting**\n- Length: Be ruthlessly concise. Aim for under 50 words. Hard cap at 100 words. If you can say it in 10, do it. Never pad a response with context already covered earlier in the conversation.\n- Tone: Casual, direct, human. Write like a real person texting, not a corporate chatbot. Use contractions naturally (it's, you're, we're, that's, don't). No enthusiasm fillers (e.g., skip \"That is great to hear!\", \"I hope you're having a good week,\" or \"Looking forward to our chat.\").\n- The \"One Screen\" Rule: The entire reply must fit on one phone screen without a \"read more\" break. Two short paragraphs maximum. If your draft feels like it needs a third paragraph, cut it.\n- The \"Mirror\" Rule: Match the length and energy of the prospect's message. Short reply from them, short reply from you. Warm and casual from them, warm and casual from you.\n- Ending: Never use \"Looking forward to...\" or formal sign-offs. End with the link or the question.\n- Visuals: Do not bold any text. Replace em-dashes (—) with commas or periods.\n- Brevity: Use a simple hyphen (-) for list items if needed. No other symbols.\n- Vocabulary: Use vocabulary appropriate for food online ordering context. \"Customer\" not \"guest,\" \"restaurant\" not \"venue,\" \"order\" not \"visit.\"\n- Do not send the scheduling link when the lead is still hesitant or when you're still handling the objection.\n- Markdown: Return the message in Markdown format."
        }
      },
      "id": "ab03c1be-6103-4c89-a5eb-9b87029972c5",
      "name": "Response Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3536,
        368
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "id": "885dbad4-9879-4f03-a165-887356ca7543",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3456,
        560
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"text\": \"Hi, do you take reservation for 10-12 pax?\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3776,
        560
      ],
      "id": "3ab51c4e-3d4d-4173-b3cb-4d81438b1995",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to find similar prospect's reply and examples of approved responses to help draft new replies",
        "tableName": {
          "__rl": true,
          "value": "response_handling_wa_sg_os",
          "mode": "list",
          "cachedResultName": "response_handling_wa_sg_os"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3408,
        784
      ],
      "id": "39d991d2-97fe-4ddb-861a-eb181d314817",
      "name": "Response Handling Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        3408,
        944
      ],
      "id": "75c06217-c326-4e9f-9aff-ce05ad99c327",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0AHMPEV5DX\",\n  \"text\": \"New prospect reply needs approval\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Get company name').item.json.attributes.company }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Map fields').item.json.latest_messages || '';\n    return JSON.stringify(rawText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ JSON.stringify($json.output.text || '').slice(1, -1) }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"approval_actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \":white_check_mark: Approve & Send\",\n            \"emoji\": true\n          },\n          \"style\": \"primary\",\n          \"action_id\": \"approve\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}|{{ $('Receive Reply').item.json.body.payload.channelId }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✏ Reject & Send manually\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"action_id\": \"reject\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}|{{ $('Receive Reply').item.json.body.payload.channelId }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4176,
        368
      ],
      "id": "3ac36f63-b43d-41f7-b380-4d8ec2214c0e",
      "name": "Send to Slack for Approval",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sg-wa-sdr-agent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        416
      ],
      "id": "e929c6c6-4d2f-461f-b9db-f8eda61d8153",
      "name": "Receive Reply",
      "webhookId": "2328420a-63a9-41f7-9c81-5d9f6a75f4a8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec5e944c-7656-4860-adb7-edcfa8b95ed0",
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89131ef6-0956-449c-b0ea-31fffced6303",
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "link_preview",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Link provided"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75e367cd-3913-4ea4-a2ea-b0442b3325fb",
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "audio",
                    "id": "1113da73-5d4e-450e-90b3-960e6bec2e3c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "video"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Other Message Type"
        }
      },
      "id": "bc67b0ec-be92-4a10-8bfa-c847a28f2798",
      "name": "Redirect Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        448,
        320
      ],
      "typeVersion": 3.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        3728,
        944
      ],
      "id": "09237498-e98e-4374-90c7-ef08bd2a5920",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contains comprehensive product knowledge about Oddle and Oddle Shop, including what the platform does, key features, and value propositions. Use this to answer prospect questions about Oddle's products and capabilities.",
        "tableName": {
          "__rl": true,
          "value": "oddle_eshop_knowledge_base",
          "mode": "list",
          "cachedResultName": "oddle_eshop_knowledge_base"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3728,
        784
      ],
      "id": "3182de7a-ccf6-4ff5-858f-eabb5af4e155",
      "name": "Product Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Route country\nLocalization required",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        336
      ],
      "typeVersion": 1,
      "id": "dc6fbe5b-095e-410a-af82-76e0ff1dccd3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Capturing all lead's messages in 1 minute",
        "height": 544,
        "width": 2080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        1008
      ],
      "typeVersion": 1,
      "id": "84356e37-1668-4aea-b969-f5a77ddaed17",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Notify in Slack channel\nChannel ID localization required",
        "height": 288,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        672
      ],
      "typeVersion": 1,
      "id": "21667cdf-cddf-4170-afcd-12bfb18fd3f4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Update outreach Gsheet\nLocalization required",
        "height": 272,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -416
      ],
      "typeVersion": 1,
      "id": "fb435785-9be3-40dd-aee4-9f2547477291",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Process text message & filter out auto message",
        "height": 432,
        "width": 576,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -224
      ],
      "typeVersion": 1,
      "id": "be26665e-8f6b-4a4e-8660-8a4f6574ae0c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Process image messages",
        "height": 288,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        288
      ],
      "typeVersion": 1,
      "id": "37a404c1-7696-4fa2-b77e-a606df98367b",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Retrieve chat history",
        "height": 336,
        "width": 1152,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2096,
        256
      ],
      "typeVersion": 1,
      "id": "f0ced896-65b4-4a39-9d8b-f21e877c1947",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Send to Slack for approval\nChannel ID localization required",
        "height": 320,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4080,
        288
      ],
      "typeVersion": 1,
      "id": "0d3ca240-b8ae-4eb3-b5f4-1de2dbd4488f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Main SDR agent drafting response\nLocalization required for:\n1) System prompt\n2) Response Handling KB",
        "height": 944,
        "width": 688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3328,
        208
      ],
      "typeVersion": 1,
      "id": "944dbbb5-a9fd-4a58-985a-170364481510",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Evaluations - not set up yet",
        "height": 304,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2544,
        720
      ],
      "typeVersion": 1,
      "id": "42ac19fa-0ca3-4e7b-98d7-99494718e457",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Set up webhook path\nChange path",
        "height": 240,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        336
      ],
      "typeVersion": 1,
      "id": "5d6ea876-74c4-414b-b47b-0f7b1be872ef",
      "name": "Sticky Note11"
    }
  ],
  "connections": {
    "Set Output": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Set Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluation1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation1": {
      "main": [
        [
          {
            "node": "Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Latitude": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Buffer Row": {
      "main": [
        [
          {
            "node": "Build Buffer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Buffer Data": {
      "main": [
        [
          {
            "node": "Upsert Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Buffer": {
      "main": [
        [
          {
            "node": "Store myTs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store myTs": {
      "main": [
        [
          {
            "node": "Wait 60s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Buffer Timestamp": {
      "main": [
        [
          {
            "node": "Is Last Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Last Message?": {
      "main": [
        [
          {
            "node": "Fetch Buffered Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Buffered Messages": {
      "main": [
        [
          {
            "node": "Merge Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Messages": {
      "main": [
        [
          {
            "node": "Clear Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Buffer": {
      "main": [
        [
          {
            "node": "Redirect Message Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s1": {
      "main": [
        [
          {
            "node": "Read Buffer Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for reply from SG": {
      "main": [
        [
          {
            "node": "Get Buffer Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Bot Message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Check if Bot Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Topic Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Check if Bot Message",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Format response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update status as \"Replied\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip auto reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format response": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image file ID": {
      "main": [
        [
          {
            "node": "Retrieve image from Bird",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve image from Bird": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Format image description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format image description": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Message": {
      "main": [
        [
          {
            "node": "Get company name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get company name": {
      "main": [
        [
          {
            "node": "Get conversation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get conversation ID": {
      "main": [
        [
          {
            "node": "Get Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History": {
      "main": [
        [
          {
            "node": "Parse Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat History": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields": {
      "main": [
        [
          {
            "node": "Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent": {
      "main": [
        [
          {
            "node": "Send to Slack for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Response Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Response Handling Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Response Handling Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Receive Reply": {
      "main": [
        [
          {
            "node": "Check for reply from SG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirect Message Types": {
      "main": [
        [
          {
            "node": "Check if Bot Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Bot Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image file ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Product Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Product Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 5,
    "timezone": "Asia/Singapore",
    "errorWorkflow": "2SWvtvGbkteCtlr0"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When fetching a dataset row2": [
      {
        "json": {
          "row_number": 2,
          "Body": "NowBookIt already sends reminders",
          "Expected Response": "Fair point, we look at it slightly differently though. Reminders handle the bookings you already have, we focus on generating new ones and growing your database, like:\n• Cancellation recovery: auto win back guests who drop off\n• Targeted broadcasts: re-engage diners who haven't visited in months\n\nWould you like me to show you the difference?",
          "Actual Response": "",
          "Accuracy": "",
          "_rowsLeft": 16
        }
      }
    ],
    "Get image file ID": [
      {
        "json": {
          "messageId": "851d9f54-e819-49d6-af44-bd61bfab664d",
          "mediaFileId": "fe47f106-ad60-4615-8847-4e511a40d19c",
          "imageUrl": "https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/851d9f54-e819-49d6-af44-bd61bfab664d/media/fe47f106-ad60-4615-8847-4e511a40d19c",
          "caption": "",
          "senderNumber": "+6585315474",
          "sender": "Nooruddin"
        }
      }
    ],
    "Analyze image": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "This image is a screenshot from an Android mobile phone showing a \"Thank you\" confirmation page for an online discovery call.\n\n**Image Description:**\n\nThe screenshot is predominantly white, with a gray background visible around a central white card.\n\nAt the very top, a dark gray status bar shows:\n*   On the left: \"16:33\" (time), followed by icons for what appear to be tabs, messages, and Gmail (\"M\").\n*   On the right: \"Vo)) LTE\", \"4G\" connectivity, an upward arrow, \"50%\" battery life, and a battery icon.\n\nBelow the status bar is a dark gray browser address bar, displaying:\n*   A home icon and a refresh/settings icon on the left.\n*   The URL: \"forms.oddle.me/oddle-discc\" (partially visible).\n*   On the right: The number \"11\" (likely indicating open tabs) and a three-dot menu icon.\n\nThe main content of the screen features:\n*   A light blue circle with a dark blue checkmark inside, centered at the top.\n*   Below the checkmark, the text \"Thank you\" is displayed in large, bold, dark gray letters.\n*   A white rectangular card with rounded corners is centered below the \"Thank you\" message. This card contains details about an event:\n    *   The title \"Oddle Online Discovery Call Singapore\" in bold, dark gray text.\n    *   Below the title, there's a section for the organizer: A green square icon with a white \"J\" inside, next to \"Jia Li Yew\" and \"Organizer\" below it.\n    *   Next, a globe icon is shown beside the text \"Asia/Singapore\".\n    *   A clock icon is displayed next to the date and time: \"Mar 4, 2026 10:30 AM - 11:30 AM\".\n    *   Finally, a video camera icon is present next to \"Google Meet\", indicating the meeting platform.\n\nAt the bottom of the screen, there's a standard Android navigation bar with three icons:\n*   Three vertical lines (recent apps button).\n*   A circle (home button).\n*   A left arrow (back button).\n\n**Text Transcription:**\n\n*   16:33\n*   M\n*   forms.oddle.me/oddle-discc\n*   Vo)) LTE\n*   4G\n*   50%\n*   11\n*   Thank you\n*   Oddle Online Discovery Call Singapore\n*   J\n*   Jia Li Yew\n*   Organizer\n*   Asia/Singapore\n*   Mar 4, 2026 10:30 AM - 11:30 AM\n*   Google Meet"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "Receive Reply": [
      {
        "json": {
          "headers": {
            "host": "workflow.oddle.center",
            "messagebird-request-id": "705c5b19-aed2-47bd-b07e-29da035b75ea",
            "messagebird-request-timestamp": "1772676417",
            "user-agent": "Messagebird/Requests develop:8c9cc536",
            "content-type": "application/json; charset=utf-8",
            "content-length": "892",
            "x-cloud-trace-context": "239a524e613b8e4d6b9b0bdbd7d73657/8710713604325250556",
            "x-forwarded-proto": "https",
            "traceparent": "00-239a524e613b8e4d6b9b0bdbd7d73657-78e2abdf2df815fc-00",
            "x-forwarded-for": "3.111.114.53",
            "forwarded": "for=\"3.111.114.53\";proto=https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "service": "channels",
            "event": "whatsapp.inbound",
            "payload": {
              "id": "a6822ee1-9d64-43af-82d1-760f521740f7",
              "channelId": "22c5243b-3d44-4590-82d7-534d77642dbd",
              "sender": {
                "contact": {
                  "id": "8aec3ba2-0dee-470d-a775-ac17887af799",
                  "identifierKey": "phonenumber",
                  "identifierValue": "+6590570654",
                  "annotations": {
                    "name": "Chelsea Nguyen"
                  }
                }
              },
              "receiver": {
                "connector": {
                  "id": "e2d11e1a-aae7-46bf-aaad-ed0a745ecac0",
                  "identifierValue": "+6588055922"
                }
              },
              "body": {
                "type": "text",
                "text": {
                  "text": "Do we have access to it?"
                }
              },
              "meta": {
                "extraInformation": {
                  "timestamp": "1772676415",
                  "user_locale": "cmn"
                }
              },
              "reference": "",
              "parts": [
                {
                  "platformReference": "wamid.HBgKNjU5MDU3MDY1NBUCABIYFDNBRDIwMkExREI0Mzc4NEZGRTJEAA=="
                }
              ],
              "status": "delivered",
              "reason": "",
              "direction": "incoming",
              "chargeableUnits": 1,
              "lastStatusAt": "2026-03-05T02:06:57.499Z",
              "createdAt": "2026-03-05T02:06:57.432Z",
              "updatedAt": "2026-03-05T02:06:57.499Z",
              "batchId": null
            }
          },
          "webhookUrl": "https://workflow.oddle.center/webhook/sg-wa-sdr-os",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "30321fbb-4b15-4390-9f05-088c707acd8f",
  "activeVersionId": "30321fbb-4b15-4390-9f05-088c707acd8f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T11:02:53.080Z",
      "createdAt": "2026-03-02T11:02:53.080Z",
      "role": "workflow:owner",
      "workflowId": "LToj6ycrS3KEQCZa",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-05T06:44:03.884Z",
    "createdAt": "2026-03-05T06:44:01.626Z",
    "versionId": "30321fbb-4b15-4390-9f05-088c707acd8f",
    "workflowId": "LToj6ycrS3KEQCZa",
    "nodes": [
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
            "mode": "list",
            "cachedResultName": "Evaluation for Email SDR Agent",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 308065534,
            "mode": "list",
            "cachedResultName": "au_whatsapp",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
          },
          "outputs": {
            "values": [
              {
                "outputName": "Actual Response",
                "outputValue": "={{ $('Response Agent').item.json.output.text }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.evaluation",
        "typeVersion": 4.7,
        "position": [
          3648,
          -384
        ],
        "id": "eaf1783b-da49-4b3a-9706-d04bbda09d41",
        "name": "Set Output",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "H3k1lZEtuCVhMzHl",
            "name": "Google Sheets account 1"
          }
        }
      },
      {
        "parameters": {
          "operation": "checkIfEvaluating"
        },
        "type": "n8n-nodes-base.evaluation",
        "typeVersion": 4.7,
        "position": [
          3440,
          -368
        ],
        "id": "7ddf2eca-64b2-48df-966f-4a9e9f551a39",
        "name": "Evaluation"
      },
      {
        "parameters": {
          "operation": "setMetrics",
          "metric": "customMetrics",
          "metrics": {
            "assignments": [
              {
                "name": "Accuracy",
                "value": "={{ $json.Correctness }}",
                "type": "number",
                "id": "89160e24-b3f9-4bb7-80b4-48575b983260"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.evaluation",
        "typeVersion": 4.7,
        "position": [
          4208,
          -384
        ],
        "id": "dbc8f375-65c9-4c7a-8666-7a7d392aab64",
        "name": "Score"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          4000,
          -208
        ],
        "id": "3ee06b21-ddea-4076-b02a-a00c732ff710",
        "name": "Google Gemini Chat Model2",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
            "mode": "list",
            "cachedResultName": "Evaluation for Email SDR Agent",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 308065534,
            "mode": "list",
            "cachedResultName": "au_whatsapp",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Body": "={{ $('When fetching a dataset row').item.json.Body }}",
              "Accuracy": "={{ $json.Accuracy }}"
            },
            "matchingColumns": [
              "Body"
            ],
            "schema": [
              {
                "id": "Body",
                "displayName": "Body",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Expected Response",
                "displayName": "Expected Response",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Actual Response",
                "displayName": "Actual Response",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Accuracy",
                "displayName": "Accuracy",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          4416,
          -384
        ],
        "id": "cb50f3c6-6d9f-4964-bee2-5f30476a78c4",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "H3k1lZEtuCVhMzHl",
            "name": "Google Sheets account 1"
          }
        }
      },
      {
        "parameters": {
          "operation": "setMetrics",
          "expectedAnswer": "={{ $('When fetching a dataset row').item.json['Expected Response'] }}",
          "actualAnswer": "={{ $('Response Agent').item.json.output.text }}",
          "options": {}
        },
        "type": "n8n-nodes-base.evaluation",
        "typeVersion": 4.8,
        "position": [
          3856,
          -384
        ],
        "id": "9766bc37-eb8d-49a2-b54c-259cc20238e5",
        "name": "Evaluation1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://gateway.latitude.so/api/v2/logs",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"path\": \"whatsapp-sdr-alex\",\n  \"projectId\": 30399,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Map fields').item.json.lead_message }}\"\n    },\n    {\n      \"role\": \"sdr\",\n      \"content\": \"{{ $json.output.text }}\"\n    }\n  ],\n  \"customIdentifier\": \"{{ $('Receive Reply').item.json.body.payload.receiver.connector.identifierValue }}\",\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3440,
          -128
        ],
        "id": "9418f326-8c00-4206-bd23-a76d64b9d6b5",
        "name": "Send to Latitude",
        "credentials": {
          "httpHeaderAuth": {
            "id": "cCn52k3tnxYrYO3l",
            "name": "Latitude API Key"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $('Response Agent').item.json.output.text }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          3648,
          -128
        ],
        "id": "9e009f9f-fea0-4ffb-912f-103be7f80fa5",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "content": "## Evaluations - not set up yet",
          "height": 560,
          "width": 1440
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3328,
          -496
        ],
        "typeVersion": 1,
        "id": "0c8dbf52-9d72-4a9c-8009-feb0d0c6181a",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Receive Reply').item.json.body.payload.sender.contact.identifierValue) }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -112,
          1136
        ],
        "id": "0f3bedee-80dd-408c-aced-edf203df922c",
        "name": "Get Buffer Row",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const receiveReply = $('Receive Reply').item.json;\nconst payload = receiveReply.body.payload;\nconst phoneNumber = payload.sender.contact.identifierValue;\nconst channelId = payload.channelId;\nconst contactId = payload.sender.contact.id;\nconst messageType = payload.body.type;\nconst messageText = payload.body?.text?.text ||\n                    payload.body?.caption ||\n                    `[${messageType} message]`;\nconst now = new Date().toISOString();\n\nconst newMessage = { type: messageType, text: messageText, timestamp: now };\n\nconst getResponse = $input.item.json;\nconst existingRow = Array.isArray(getResponse) && getResponse.length > 0 ? getResponse[0] : null;\nconst existingMessages = existingRow?.messages || [];\n\nconst mergedMessages = [...existingMessages, newMessage];\n\nreturn [{\n  json: {\n    phone_number: phoneNumber,\n    messages: mergedMessages,\n    channel_id: channelId,\n    contact_id: contactId,\n    message_type: messageType,\n    updated_at: now\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          96,
          1136
        ],
        "id": "9a20ae59-34ba-4538-8cf2-048f4ae3cdbd",
        "name": "Build Buffer Data"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates,return=representation"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          288,
          1136
        ],
        "id": "1c8a3a28-9098-45ad-8b37-1ba88326ad85",
        "name": "Upsert Buffer",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "debounce-myts-001",
                "name": "myTs",
                "type": "string",
                "value": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}"
              },
              {
                "id": "debounce-phone-001",
                "name": "phone_number",
                "type": "string",
                "value": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          480,
          1136
        ],
        "id": "a75857d1-03c2-42ad-883e-5af3cb9345b4",
        "name": "Store myTs"
      },
      {
        "parameters": {
          "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Store myTs').item.json.phone_number) }}&select=updated_at",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          864,
          1136
        ],
        "id": "eb1ebec9-99a9-4f37-931c-a130618777a1",
        "name": "Read Buffer Timestamp",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "debounce-last-001",
                "leftValue": "={{ $('Store myTs').item.json.myTs }}",
                "rightValue": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1056,
          1136
        ],
        "id": "0b94307b-a1b1-43e2-9aba-f1dbb71bcbda",
        "name": "Is Last Message?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1248,
          1376
        ],
        "id": "8724d736-657c-419e-93a4-716962cb22ad",
        "name": "Stop Processing"
      },
      {
        "parameters": {
          "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Store myTs').item.json.phone_number) }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1248,
          1120
        ],
        "id": "9d2ccd5d-e8bf-464c-ba8b-01ccaa0757f0",
        "name": "Fetch Buffered Messages",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.item.json;\nconst row = Array.isArray(response) ? response[0] : response;\n\nif (!row || !row.messages || row.messages.length === 0) {\n  return [{\n    json: {\n      phone_number: $('Store myTs').item.json.phone_number,\n      merged_text: '',\n      message_type: 'text',\n      message_count: 0\n    }\n  }];\n}\n\nconst messages = row.messages;\nconst textParts = messages\n  .map(m => (m.text && !m.text.startsWith('[')) ? m.text : null)\n  .filter(Boolean);\n\nconst merged_text = textParts.join('\\n');\nconst types = [...new Set(messages.map(m => m.type))];\nconst message_type = types.length === 1 ? types[0] : 'mixed';\n\nreturn [{\n  json: {\n    phone_number: row.phone_number,\n    channel_id: row.channel_id,\n    contact_id: row.contact_id,\n    merged_text,\n    message_type,\n    message_count: messages.length\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          1120
        ],
        "id": "f36df824-a4a5-4c0b-b771-a8757ded2018",
        "name": "Merge Messages"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($json.phone_number) }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1616,
          1120
        ],
        "id": "c6b07f0f-bc06-4505-95c3-d1dc0a2068d7",
        "name": "Clear Buffer",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"C0A8PJQ9KU3\",\n  \"text\": \"Unrecognized message type received\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":warning: Unrecognized Message Type\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Redirect Message Types').item.json.body.messages[0].from }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Message type:*\\n`{{ $('Redirect Message Types').item.json.body.messages[0].type }}`\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Status:* The AI Agent cannot process this message type automatically.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Action Required:* Please check this conversation directly on Bird & reply to the prospect.\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1072,
          768
        ],
        "id": "837415e3-b04b-4f97-a0d6-72e93922cba2",
        "name": "Notify in Slack2",
        "credentials": {
          "httpBearerAuth": {
            "id": "8F3Mb23D8ZFkrAh6",
            "name": "Slack's WhatsApp Agent Alex"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "14648e8e-b352-4ea4-8f5a-b9a6335dbc6b",
                "name": "lead_message",
                "value": "={{ $json.Body }}",
                "type": "string"
              },
              {
                "id": "458a8b87-069c-423f-b662-e31d5e01d4eb",
                "name": "chat_history",
                "value": "=[2026-02-05 08:10] SDR: \"Hi Miss Saigon team, Alan from Oddle here. Noticed you're on SevenRooms—are you getting full value from it?\n\nWe’re offering AU brands 'Founder Access' at A$65/mo, locked in forever. We use your data to drive revenue, not just switch software.\n\nOpen to a brief 10-min chat this week?\"",
                "type": "string"
              },
              {
                "id": "a1f86e3c-8e7a-40ae-9e1a-0a7e74578d88",
                "name": "message_type",
                "value": "text",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2976,
          816
        ],
        "id": "0f15fbd9-1d06-4e83-8821-ba170b1a37e1",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
            "mode": "list"
          },
          "sheetName": {
            "__rl": true,
            "value": 308065534,
            "mode": "list",
            "cachedResultName": "au_whatsapp",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
          }
        },
        "type": "n8n-nodes-base.evaluationTrigger",
        "typeVersion": 4.6,
        "position": [
          2736,
          816
        ],
        "id": "e3da9c80-fd72-48e1-ac33-3f0f09e11154",
        "name": "When fetching a dataset row2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "H3k1lZEtuCVhMzHl",
            "name": "Google Sheets account 1"
          }
        }
      },
      {
        "parameters": {
          "amount": 60
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          672,
          1136
        ],
        "id": "faab5579-5f35-4af0-bc09-96cff152946f",
        "name": "Wait 60s1",
        "webhookId": "a5b6c7d8-e9f0-4321-8765-901234567890"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2c761342-1b37-4add-b95d-3d09c764111d",
                "leftValue": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}",
                "rightValue": "+65",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -96,
          416
        ],
        "id": "b1402898-a32f-4b50-8f78-922243d15bf7",
        "name": "Check for reply from SG"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          112,
          640
        ],
        "id": "8430fb2d-9ed4-4996-a8bc-5d364593ab1d",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Merge Messages').item.json.merged_text }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "You are a message classifier for a WhatsApp message.\n\nTask: Analyze the incoming message and determine if it was sent by a human or an automated bot/system.\n\nClassification Criteria:\n- auto_bot: Identify as this if the message contains standard automated patterns such as \"Thank you for contacting us,\" \"We will get back to you shortly,\" \"Select an option from the menu,\" or if it is a rigid, repetitive system notification.\n\n- human: Identify as this if the message contains natural language, slang, typos, specific questions, or conversational intent that varies from a script.\n\nConstraint: Your output must ONLY be a valid JSON object. Do not include any other text, greetings, or explanations.\n\nOutput Format: { \"classification\": \"human\" | \"auto_bot\", \"reason\": \"Brief explanation of why within 100 characters limit\" }"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          1088,
          -96
        ],
        "name": "Check if Bot Message",
        "id": "fe780a06-9030-4f8e-8246-0a13520370d1"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-flash-preview",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1040,
          64
        ],
        "name": "Google Gemini LLM",
        "id": "a57e37f0-6f1e-4fbd-9b13-14a84debf254",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"classification\": \"human\",\n  \"reason\": \"The user is asking about pricing and used informal language.\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1264,
          64
        ],
        "name": "Topic Output Parser",
        "id": "39e3838b-a5f1-4fb8-83d7-f2686c198022"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output.classification }}",
                      "rightValue": "human",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "f620673b-58a0-4990-b57d-aeceafc007f7"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Human reply"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ef99233a-2a44-4831-b14d-9a6928d5afce",
                      "leftValue": "={{ $json.output.classification }}",
                      "rightValue": "auto_bot",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Auto reply"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1408,
          -96
        ],
        "id": "98180625-34a1-465b-8882-c314d8834eba",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M",
            "mode": "list",
            "cachedResultName": "SG Outreach - 2026",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1134862533,
            "mode": "list",
            "cachedResultName": "outreach_wa",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M/edit#gid=1134862533"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Status": "Replied",
              "phone number": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue.replace(/[+:]/g, '') }}"
            },
            "matchingColumns": [
              "phone number"
            ],
            "schema": [
              {
                "id": "Record ID",
                "displayName": "Record ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Place ID",
                "displayName": "Place ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Entry ID",
                "displayName": "Entry ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "brand",
                "displayName": "brand",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "company name",
                "displayName": "company name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "delivery_mp",
                "displayName": "delivery_mp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "reservation",
                "displayName": "reservation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "phone number",
                "displayName": "phone number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "number type",
                "displayName": "number type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "wa status",
                "displayName": "wa status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Target group",
                "displayName": "Target group",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "remarks",
                "displayName": "remarks",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Msg 1",
                "displayName": "Msg 1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Msg 2",
                "displayName": "Msg 2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Msg 3",
                "displayName": "Msg 3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1712,
          -336
        ],
        "id": "0d3e30d2-d4be-429c-ba71-345b0ca572cc",
        "name": "Update status as \"Replied\"",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "H3k1lZEtuCVhMzHl",
            "name": "Google Sheets account 1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
                "name": "text",
                "type": "string",
                "value": "={{ $('Merge Messages').item.json.merged_text }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b4fdba6b-7eb6-4d08-9780-c1fe10f9b30e",
        "name": "Format response",
        "type": "n8n-nodes-base.set",
        "position": [
          1712,
          -112
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1712,
          112
        ],
        "id": "e03dbeb6-3e0c-471e-b95b-051ac581d511",
        "name": "Skip auto reply"
      },
      {
        "parameters": {
          "jsCode": "// Extract the main payload\nconst payload = $input.item.json.body.payload;\nconst imageBody = payload?.body?.image?.images;\nconst imagesFound = [];\n\nif (imageBody && Array.isArray(imageBody)) {\n  for (const img of imageBody) {\n    if (img.mediaUrl) {\n      // Extract Media ID from the end of the URL\n      const mediaId = img.mediaUrl.split('/').pop();\n\n      imagesFound.push({\n        messageId: payload.id, \n        mediaFileId: mediaId,\n        imageUrl: img.mediaUrl,\n        caption: payload.body.caption || \"\",\n        senderNumber: payload.sender?.contact?.identifierValue || \"\",\n        sender: payload.sender?.contact?.annotations?.name || \"Unknown\"\n      });\n    }\n  }\n}\n\n// Return the extracted data or a fallback if no images exist\nreturn imagesFound.length > 0 ? imagesFound : [{ imageUrl: null, status: \"no image found\" }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          368
        ],
        "id": "f16b157e-47e0-477f-bbe0-9dd0ae323e38",
        "name": "Get image file ID"
      },
      {
        "parameters": {
          "url": "=https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/{{ $('Get image file ID').item.json.messageId }}/media/{{ $('Get image file ID').item.json.mediaFileId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "AccessKey JpV6a4ZnSnvXExEeUW0Rd046hsBMwmBpjmWN"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1248,
          368
        ],
        "id": "2033df74-3aaa-4bb4-8e10-6ab6a9779b6b",
        "name": "Retrieve image from Bird",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image.",
          "inputType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          1472,
          368
        ],
        "id": "a6970e8e-782b-4037-958a-89dda727b086",
        "name": "Analyze image",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
                "name": "text",
                "type": "string",
                "value": "={{ $json.content.parts[0].text }}"
              }
            ]
          },
          "options": {}
        },
        "id": "204f336d-e2c0-4b68-a118-9fccb87221bf",
        "name": "Format image description",
        "type": "n8n-nodes-base.set",
        "position": [
          1712,
          368
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
                "name": "message_type",
                "type": "string",
                "value": "={{ $('Receive Reply').item.json.body.payload.body.type }}"
              },
              {
                "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
                "name": "message_text",
                "type": "string",
                "value": "={{ $json.text }}"
              },
              {
                "id": "da4b602a-28ca-4b0d-a747-c3d3698c3731",
                "name": "message_caption",
                "type": "string",
                "value": "={{ $('Redirect Message Types').item.json.body.messages[0].video?.caption || $('Redirect Message Types').item.json.body.messages[0].image?.caption || $('Redirect Message Types').item.json.body.messages[0].audio?.caption || \"\" }}"
              },
              {
                "id": "5a8f313b-0472-44a5-ba73-0907a983f351",
                "name": "channel_id",
                "value": "={{ $('Receive Reply').item.json.body.payload.channelId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "13bbebe6-2229-4523-8912-8d52f3da0fa4",
        "name": "Get User's Message",
        "type": "n8n-nodes-base.set",
        "position": [
          2128,
          368
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/contacts/{{ $('Receive Reply').item.json.body.payload.sender.contact.id }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "attribute",
                "value": "=company"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "*/*"
              },
              {
                "name": "authorization",
                "value": "AccessKey BxjtqcaqGqWSDGALVyjM3DQwaSzeYCACSwX7"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2336,
          368
        ],
        "id": "ba2ae82c-c7be-4be9-8997-4697d68af660",
        "name": "Get company name",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/participants/{{ $('Receive Reply').item.json.body.payload.sender.contact.id }}/conversations",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "channelId",
                "value": "={{ $('Receive Reply').item.json.body.payload.channelId }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "*/*"
              },
              {
                "name": "authorization",
                "value": "AccessKey BxjtqcaqGqWSDGALVyjM3DQwaSzeYCACSwX7"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2544,
          368
        ],
        "id": "dfd5ed3a-6198-4114-8180-2503bbf11072",
        "name": "Get conversation ID",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/conversations/{{ $json.results[0].id }}/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "count",
                "value": "10"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "*/*"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2736,
          368
        ],
        "id": "4bd2ff03-d584-4f9c-a8e4-dc7d2a70945f",
        "name": "Get Chat History",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "1R4VMEjneoFtqiZe",
            "name": "Bird API Key"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst output = [];\nitems.forEach(item => {\n  const messages = item.json.results || [];\n  if (messages.length === 0) return;\n  const sortedMessages = [...messages].sort((a, b) => \n    new Date(b.createdAt) - new Date(a.createdAt)\n  );\n  let conversationThread = [];\n  let latestLeadMessage = \"\";\n  let lastProspectTime = null;\n  let firstSdrReplyTime = null;\n  let prospectMessages = [];\n  sortedMessages.forEach(msg => {\n    const isProspect = msg.sender.type === 'contact';\n    const isUser = msg.sender.type === 'user';\n    const roleLabel = isProspect ? 'Prospect' : 'SDR';\n    const msgDate = new Date(msg.createdAt);\n    const dateStr = msgDate.toLocaleString('en-SG', { timeZone: 'Asia/Singapore', day: 'numeric', month: 'short' }) + ' ' + msgDate.toLocaleString('en-SG', { timeZone: 'Asia/Singapore', hour: '2-digit', minute: '2-digit', hour12: false });\n    const body = msg.body?.text?.text || \"[Media/Other]\";\n    if (conversationThread.length < 10) {\n      conversationThread.push(`[${dateStr}] ${roleLabel}: ${body}`);\n    }\n    if (isProspect) {\n      if (!latestLeadMessage) latestLeadMessage = body; \n      lastProspectTime = msgDate;\n      prospectMessages.push({ dateStr, body, msgDate });\n    } else if (isUser) {\n      firstSdrReplyTime = msgDate;\n    }\n  });\n  let latestMessages = \"\";\n  if (prospectMessages.length > 0) {\n    const mostRecentProspectTime = prospectMessages[0].msgDate;\n    const threeMinutesMs = 3 * 60 * 1000;\n    latestMessages = prospectMessages\n      .filter(m => Math.abs(mostRecentProspectTime - m.msgDate) <= threeMinutesMs)\n      .map(m => `[${m.dateStr}] ${m.body}`)\n      .reverse()\n      .join('\\n\\n');\n  }\n  let responseTimeMinutes = 0;\n  if (lastProspectTime && firstSdrReplyTime) {\n    const diffMs = Math.abs(firstSdrReplyTime - lastProspectTime);\n    responseTimeMinutes = Math.round(diffMs / 60000);\n  }\n  output.push({\n    leadMessage: latestLeadMessage,\n    conversationId: sortedMessages[0].conversationId,\n    conversationThreadFormatted: conversationThread.reverse().join('\\n\\n'),\n    latestMessages: latestMessages,\n    responseTimeMinutes: responseTimeMinutes,\n    summary: {\n      totalMessages: sortedMessages.length,\n      latestRole: sortedMessages[0].sender.type === 'contact' ? 'Prospect' : 'SDR'\n    }\n  });\n});\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2928,
          368
        ],
        "name": "Parse Chat History",
        "id": "071dd0f1-0c17-40ba-82d0-2b1d01be3b1f"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "32819e6c-b831-4634-9f34-1b9e4b0ae992",
                "name": "lead_message",
                "value": "={{ $json.leadMessage }}",
                "type": "string"
              },
              {
                "id": "4f3d555d-03c1-4ef4-8b93-67a0991726b3",
                "name": "latest_messages",
                "value": "={{ $json.latestMessages }}",
                "type": "string"
              },
              {
                "id": "367e8059-b953-48de-b357-2d862d36b76f",
                "name": "chat_history",
                "value": "={{ $json.conversationThreadFormatted }}",
                "type": "string"
              },
              {
                "id": "35c81836-0c3f-4a23-96a8-39476ab73c8c",
                "name": "message_type",
                "value": "={{ $('Get User\\'s Message').item.json.message_type }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3120,
          368
        ],
        "id": "6fb569be-af3c-4798-b444-6248a6237656",
        "name": "Map fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=- Prospect's latest messages: {{ $json.latest_messages }}\n- Message type: {{ $json.message_type }}\n- Chat history: {{ $json.chat_history }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=**Role:**\nYou are Alan, an expert Sales Development Representative (SDR) communicating via WhatsApp Business. Your goal is to manage incoming chat replies from prospects, address their queries/objections using approved logic, and ultimately secure a discovery call.\n\n**Knowledge Access:**\n- Response Handling Knowledge Base (KB): Use this to retrieve 1-5 examples. Crucial: Extract the logical pivot (the rebuttal/strategy). Mirror examples to avoid repeating past mistakes.\n- Product Knowledge Base: Use this to retrieve product information. Distill into 1-2 conversational sentences for WhatsApp. Only answer when asked.\n- Oddle Shop product site (https://www.oddle.me/sg/products/restaurant-online-ordering-system): Use for general questions about Oddle Shop / eShop product.\n- Oddle Reserve product site (https://www.oddle.me/sg/products/restaurant-reservation-system): Use for general questions about Oddle Reservation system product.\n\n**Step 1: Input Parsing**\n- Prospect's latest messages contains the most recent 1-3 messages you must respond to.\n- Chat history contains up to 10 messages from the prospect only, in chronological order (oldest to newest). It does not include your previous replies. Use it to understand the prospect's journey, track what they've already said or asked, and avoid addressing things out of context.\n- Always read the full chat history before drafting. Your response must be relevant to the entire conversation thread, not just the latest message in isolation.\n\n**Step 2: Contextual Analysis & Knowledge Base Mapping**\n- Salutation: Never use the Company Name in a salutation. Omit the greeting entirely and start with the answer.\n- History Check: Ensure you aren't repeating previous points or ignoring a question already asked.\n- Strategic Mapping: Identify the core intent of the lead's message (e.g., \"Happy with current provider,\" \"Price objection,\" \"Too busy\").\n- KB Match Assessment: Before drafting, score how closely the prospect's reply matches a KB example (0-100%).\n\t- 80-100% match: Treat the KB example as a script template. Adopt the same questions, the same concessions, and the same specific pivots verbatim. Do not deviate.\n\t- Below 80% match / No clear KB match: Do not force-fit a KB example. Build the response directly from Oddle's Product Knowledge Base. Identify what the prospect's reply reveals about their current setup or gap, then position the most relevant Oddle strength against that gap in 1-2 sentences maximum.\n- Avoid Over-Personalization: Do not insert the Company Name into the body of the response.\n\n\n**Step 3: Scenario Logic (Select One)**\n\n**Warm / Low-Friction Reply (Prospect is Open or Agreeable)**\n- When the prospect gives a short, warm, or low-resistance reply (e.g., \"sure, tell us more,\" \"go ahead,\"), do not launch into a product explanation.\n- Respond with one casual sentence acknowledging their openness, then drop the scheduling link immediately.\n- Example: \"Perfect, let's find a time then, here's the link: https://forms.oddle.me/oddle-discovery-call-singapore\"\n- Keep it under 20 words. Match their energy.\n\n**High Intent (Interested/Demo Request):**\n- If they ask for a demo or show clear interest, provide the scheduling link: https://forms.oddle.me/oddle-discovery-call-singapore.\n- Note: If they ask for a \"specific\" demo, briefly mention we can cover that in the live session rather than asking them more questions\n\n**Questions / Information Request:**\n- Answer questions clearly using the KB, Product Knowledge Base, or Websites.\n\t- Focus on the result (owning data/reducing commissions) rather than the features.\n\t- Example: Instead of \"Oddle is an all-in-one platform...\", say \"We help you own your customer data so you're not just relying on marketplaces like Grab or Foodpanda.\"\n- End with a soft call to action (e.g., \"Would it be helpful to see how this looks in practice?\").\n\n**Objections (Competitor, Budget, Timing, or \"We are happy/all set\"):**\n- The One-Try Rule: Do not concede on the first soft objection. Attempt ONE rebuttal using KB or Product Knowledge Base depending on your KB match score.\n- 80-100% KB match: Replicate the exact sales pivot used in the KB.\n\t- If the KB asks about \"review windows,\" you ask about review windows.\n\t- If the KB asks about \"automation vs cost,\" you ask about automation vs cost.\n- Below 80% KB match: Build the rebuttal from Product Knowledge Base. Identify the gap the prospect's current setup doesn't address and position Oddle against it in 1-2 sentences.\n- Lapsed / Former Oddle User: If the prospect mentions they previously used Oddle and left, do not close the loop immediately. Treat this as a soft objection and attempt ONE rebuttal by first asking why they stopped, then offering to share what has since improved. Only close the loop if they decline to engage after that.\n- Firm No: Only acknowledge gracefully and end the thread if the prospect is explicitly firm (e.g., \"Do not contact me again\" or \"Stop\").\n- Constraint: Do not send the scheduling link in this phase; earn a \"Yes\" to the idea of a conversation first.\n\n**Last-Minute / On-Demand Orders**\n- Acknowledge it, then pivot to data ownership and repeat orders. Oddle helps restaurants capture last-minute orders through their own branded channel while owning 100% of customer data to be re-engaged for future orders instead of staying in the marketplace ecosystem. Do not invent feature-specific answers (e.g., \"set lead time to zero\") that are not found in Product Knowledge Base.\n\n**Scenario: Local Social Proof (Singapore)**\n- If a lead asks about restaurant partners that switched to another platform and returned to Oddle, mention exactly 1-2 names from this list: Brotzeit (from Getz), Uncle Leong Seafood, Westlake (switched from NinjaOS), Sum Kee (from Getz), Serangoon BBQ (from Atlas), Ba Shu Sichuan (from Firstcom).\n- Constraint: Do not volunteer these names unless specifically asked.\n\n**Referrals & Contact Updates:**\n- If they refer a colleague: Ask for that person's name and phone number. If they only provide email, ask for name and phone number. If they already provide a number, just acknowledge.\n- If it's the wrong brand/contact: Apologise, ask for the right contact number, say we will update records. For example: \"Sorry, thanks for letting me know. Do you have their number by any chance? I'll also update our records to make sure we reach out to the right person in charge.\"\n\n\n**Step 4: Response Guidelines & Formatting**\n- Length: Be ruthlessly concise. Aim for under 50 words. Hard cap at 100 words. If you can say it in 10, do it. Never pad a response with context already covered earlier in the conversation.\n- Tone: Casual, direct, human. Write like a real person texting, not a corporate chatbot. Use contractions naturally (it's, you're, we're, that's, don't). No enthusiasm fillers (e.g., skip \"That is great to hear!\", \"I hope you're having a good week,\" or \"Looking forward to our chat.\").\n- The \"One Screen\" Rule: The entire reply must fit on one phone screen without a \"read more\" break. Two short paragraphs maximum. If your draft feels like it needs a third paragraph, cut it.\n- The \"Mirror\" Rule: Match the length and energy of the prospect's message. Short reply from them, short reply from you. Warm and casual from them, warm and casual from you.\n- Ending: Never use \"Looking forward to...\" or formal sign-offs. End with the link or the question.\n- Visuals: Do not bold any text. Replace em-dashes (—) with commas or periods.\n- Brevity: Use a simple hyphen (-) for list items if needed. No other symbols.\n- Vocabulary: Use vocabulary appropriate for food online ordering context. \"Customer\" not \"guest,\" \"restaurant\" not \"venue,\" \"order\" not \"visit.\"\n- Do not send the scheduling link when the lead is still hesitant or when you're still handling the objection.\n- Markdown: Return the message in Markdown format."
          }
        },
        "id": "ab03c1be-6103-4c89-a5eb-9b87029972c5",
        "name": "Response Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          3536,
          368
        ],
        "typeVersion": 1.6
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-flash-preview",
          "options": {}
        },
        "id": "885dbad4-9879-4f03-a165-887356ca7543",
        "name": "Google Gemini Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          3456,
          560
        ],
        "typeVersion": 1,
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n\t\"text\": \"Hi, do you take reservation for 10-12 pax?\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          3776,
          560
        ],
        "id": "3ab51c4e-3d4d-4173-b3cb-4d81438b1995",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Use this tool to find similar prospect's reply and examples of approved responses to help draft new replies",
          "tableName": {
            "__rl": true,
            "value": "response_handling_wa_sg_os",
            "mode": "list",
            "cachedResultName": "response_handling_wa_sg_os"
          },
          "topK": 5,
          "options": {
            "queryName": "match_documents"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          3408,
          784
        ],
        "id": "39d991d2-97fe-4ddb-861a-eb181d314817",
        "name": "Response Handling Knowledge Base",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-001"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          3408,
          944
        ],
        "id": "75c06217-c326-4e9f-9aff-ce05ad99c327",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"C0AHMPEV5DX\",\n  \"text\": \"New prospect reply needs approval\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Get company name').item.json.attributes.company }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Map fields').item.json.latest_messages || '';\n    return JSON.stringify(rawText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ JSON.stringify($json.output.text || '').slice(1, -1) }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"approval_actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \":white_check_mark: Approve & Send\",\n            \"emoji\": true\n          },\n          \"style\": \"primary\",\n          \"action_id\": \"approve\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}|{{ $('Receive Reply').item.json.body.payload.channelId }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✏ Reject & Send manually\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"action_id\": \"reject\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}|{{ $('Receive Reply').item.json.body.payload.channelId }}\"\n        }\n      ]\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4176,
          368
        ],
        "id": "3ac36f63-b43d-41f7-b380-4d8ec2214c0e",
        "name": "Send to Slack for Approval",
        "credentials": {
          "httpBearerAuth": {
            "id": "8F3Mb23D8ZFkrAh6",
            "name": "Slack's WhatsApp Agent Alex"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "sg-wa-sdr-agent",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -384,
          416
        ],
        "id": "e929c6c6-4d2f-461f-b9db-f8eda61d8153",
        "name": "Receive Reply",
        "webhookId": "2328420a-63a9-41f7-9c81-5d9f6a75f4a8"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ec5e944c-7656-4860-adb7-edcfa8b95ed0",
                      "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Text Message"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "89131ef6-0956-449c-b0ea-31fffced6303",
                      "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                      "rightValue": "link_preview",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Link provided"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                      "rightValue": "image"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Image Message"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "75e367cd-3913-4ea4-a2ea-b0442b3325fb",
                      "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                      "rightValue": "voice",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Voice Message"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                      "rightValue": "audio",
                      "id": "1113da73-5d4e-450e-90b3-960e6bec2e3c"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Audio Message"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                      "rightValue": "video"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Video Message"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "Other Message Type"
          }
        },
        "id": "bc67b0ec-be92-4a10-8bfa-c847a28f2798",
        "name": "Redirect Message Types",
        "type": "n8n-nodes-base.switch",
        "position": [
          448,
          320
        ],
        "typeVersion": 3.2,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-001"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          3728,
          944
        ],
        "id": "09237498-e98e-4374-90c7-ef08bd2a5920",
        "name": "Embeddings Google Gemini1",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Contains comprehensive product knowledge about Oddle and Oddle Shop, including what the platform does, key features, and value propositions. Use this to answer prospect questions about Oddle's products and capabilities.",
          "tableName": {
            "__rl": true,
            "value": "oddle_eshop_knowledge_base",
            "mode": "list",
            "cachedResultName": "oddle_eshop_knowledge_base"
          },
          "topK": 5,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          3728,
          784
        ],
        "id": "3182de7a-ccf6-4ff5-858f-eabb5af4e155",
        "name": "Product Knowledge Base",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Route country\nLocalization required",
          "height": 240,
          "width": 368,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -160,
          336
        ],
        "typeVersion": 1,
        "id": "dc6fbe5b-095e-410a-af82-76e0ff1dccd3",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Capturing all lead's messages in 1 minute",
          "height": 544,
          "width": 2080,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -160,
          1008
        ],
        "typeVersion": 1,
        "id": "84356e37-1668-4aea-b969-f5a77ddaed17",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## Notify in Slack channel\nChannel ID localization required",
          "height": 288,
          "width": 352,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          976,
          672
        ],
        "typeVersion": 1,
        "id": "21667cdf-cddf-4170-afcd-12bfb18fd3f4",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Update outreach Gsheet\nLocalization required",
          "height": 272,
          "width": 320,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1616,
          -416
        ],
        "typeVersion": 1,
        "id": "fb435785-9be3-40dd-aee4-9f2547477291",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Process text message & filter out auto message",
          "height": 432,
          "width": 576,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          960,
          -224
        ],
        "typeVersion": 1,
        "id": "be26665e-8f6b-4a4e-8660-8a4f6574ae0c",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "content": "## Process image messages",
          "height": 288,
          "width": 912,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          960,
          288
        ],
        "typeVersion": 1,
        "id": "37a404c1-7696-4fa2-b77e-a606df98367b",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "content": "## Retrieve chat history",
          "height": 336,
          "width": 1152,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2096,
          256
        ],
        "typeVersion": 1,
        "id": "f0ced896-65b4-4a39-9d8b-f21e877c1947",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "## Send to Slack for approval\nChannel ID localization required",
          "height": 320,
          "width": 432,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4080,
          288
        ],
        "typeVersion": 1,
        "id": "0d3ca240-b8ae-4eb3-b5f4-1de2dbd4488f",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Main SDR agent drafting response\nLocalization required for:\n1) System prompt\n2) Response Handling KB",
          "height": 944,
          "width": 688,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3328,
          208
        ],
        "typeVersion": 1,
        "id": "944dbbb5-a9fd-4a58-985a-170364481510",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Evaluations - not set up yet",
          "height": 304,
          "width": 688
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2544,
          720
        ],
        "typeVersion": 1,
        "id": "42ac19fa-0ca3-4e7b-98d7-99494718e457",
        "name": "Sticky Note10"
      },
      {
        "parameters": {
          "content": "## Set up webhook path\nChange path",
          "height": 240,
          "width": 304,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -496,
          336
        ],
        "typeVersion": 1,
        "id": "5d6ea876-74c4-414b-b47b-0f7b1be872ef",
        "name": "Sticky Note11"
      }
    ],
    "connections": {
      "Set Output": {
        "main": [
          [
            {
              "node": "Evaluation1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluation": {
        "main": [
          [
            {
              "node": "Set Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Score": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Evaluation1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Evaluation1": {
        "main": [
          [
            {
              "node": "Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Latitude": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Buffer Row": {
        "main": [
          [
            {
              "node": "Build Buffer Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Buffer Data": {
        "main": [
          [
            {
              "node": "Upsert Buffer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Buffer": {
        "main": [
          [
            {
              "node": "Store myTs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store myTs": {
        "main": [
          [
            {
              "node": "Wait 60s1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Buffer Timestamp": {
        "main": [
          [
            {
              "node": "Is Last Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Last Message?": {
        "main": [
          [
            {
              "node": "Fetch Buffered Messages",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Buffered Messages": {
        "main": [
          [
            {
              "node": "Merge Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Messages": {
        "main": [
          [
            {
              "node": "Clear Buffer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clear Buffer": {
        "main": [
          [
            {
              "node": "Redirect Message Types",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When fetching a dataset row2": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 60s1": {
        "main": [
          [
            {
              "node": "Read Buffer Timestamp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for reply from SG": {
        "main": [
          [
            {
              "node": "Get Buffer Row",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if Bot Message": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini LLM": {
        "ai_languageModel": [
          [
            {
              "node": "Check if Bot Message",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Topic Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Check if Bot Message",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Format response",
              "type": "main",
              "index": 0
            },
            {
              "node": "Update status as \"Replied\"",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Skip auto reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format response": {
        "main": [
          [
            {
              "node": "Get User's Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get image file ID": {
        "main": [
          [
            {
              "node": "Retrieve image from Bird",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve image from Bird": {
        "main": [
          [
            {
              "node": "Analyze image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze image": {
        "main": [
          [
            {
              "node": "Format image description",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format image description": {
        "main": [
          [
            {
              "node": "Get User's Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User's Message": {
        "main": [
          [
            {
              "node": "Get company name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get company name": {
        "main": [
          [
            {
              "node": "Get conversation ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get conversation ID": {
        "main": [
          [
            {
              "node": "Get Chat History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Chat History": {
        "main": [
          [
            {
              "node": "Parse Chat History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Chat History": {
        "main": [
          [
            {
              "node": "Map fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map fields": {
        "main": [
          [
            {
              "node": "Response Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Response Agent": {
        "main": [
          [
            {
              "node": "Send to Slack for Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Response Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Response Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Response Handling Knowledge Base": {
        "ai_tool": [
          [
            {
              "node": "Response Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Response Handling Knowledge Base",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Receive Reply": {
        "main": [
          [
            {
              "node": "Check for reply from SG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redirect Message Types": {
        "main": [
          [
            {
              "node": "Check if Bot Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Check if Bot Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get image file ID",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify in Slack2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify in Slack2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify in Slack2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify in Slack2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini1": {
        "ai_embedding": [
          [
            {
              "node": "Product Knowledge Base",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Product Knowledge Base": {
        "ai_tool": [
          [
            {
              "node": "Response Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Oddle Engineer",
    "name": "Version 30321fbb",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-02-25T08:51:58.633Z",
      "createdAt": "2026-02-25T08:51:58.633Z",
      "id": "k1knXy75FUYO6sZK",
      "name": "sg"
    },
    {
      "updatedAt": "2026-02-25T08:52:06.128Z",
      "createdAt": "2026-02-25T08:52:06.128Z",
      "id": "noSkE7clLQKsDr2Z",
      "name": "os_marketplace"
    }
  ]
}