[whatsapp]-sdr-agent---my-[new]-.json
{
  "updatedAt": "2026-04-08T11:00:37.672Z",
  "createdAt": "2026-04-08T08:37:11.407Z",
  "id": "rRHP8Xsh6VisRxqP",
  "name": "[WhatsApp] SDR Agent - MY [new]",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Receive Reply').item.json.body.payload.sender.contact.identifierValue) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1920,
        1664
      ],
      "id": "45f4ffc0-cd79-422f-8e7c-3815f330d3ac",
      "name": "Get Buffer Row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const receiveReply = $('Receive Reply').item.json;\nconst payload = receiveReply.body.payload;\nconst phoneNumber = payload.sender.contact.identifierValue;\nconst channelId = payload.channelId;\nconst contactId = payload.sender.contact.id;\nconst messageType = payload.body.type;\nconst messageText = payload.body?.text?.text ||\n                    payload.body?.image?.text ||\n                    payload.body?.caption ||\n                    `[${messageType} message]`;\nconst now = new Date().toISOString();\n\nconst newMessage = { type: messageType, text: messageText, timestamp: now };\n\nconst getResponse = $input.item.json;\nconst existingRow = Array.isArray(getResponse) && getResponse.length > 0 ? getResponse[0] : null;\nconst existingMessages = existingRow?.messages || [];\n\nconst mergedMessages = [...existingMessages, newMessage];\n\nreturn [{\n  json: {\n    phone_number: phoneNumber,\n    messages: mergedMessages,\n    channel_id: channelId,\n    contact_id: contactId,\n    message_type: messageType,\n    updated_at: now\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        1664
      ],
      "id": "2085a516-6469-4639-9dd6-1f45e87c0208",
      "name": "Build Buffer Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1520,
        1664
      ],
      "id": "d4254da1-3beb-4bd4-b207-02ba398af4f6",
      "name": "Upsert Buffer",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "debounce-myts-001",
              "name": "myTs",
              "type": "string",
              "value": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}"
            },
            {
              "id": "debounce-phone-001",
              "name": "phone_number",
              "type": "string",
              "value": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        1664
      ],
      "id": "ef36af14-e7a6-4abe-a8e7-b7298f62c4e0",
      "name": "Store myTs"
    },
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Store myTs').item.json.phone_number) }}&select=updated_at",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -944,
        1664
      ],
      "id": "788e670e-e55e-48c3-9499-a48909c7ecf5",
      "name": "Read Buffer Timestamp",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "debounce-last-001",
              "leftValue": "={{ $('Store myTs').item.json.myTs }}",
              "rightValue": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        1664
      ],
      "id": "d367c607-a23e-41b2-900a-2b3655de3cf5",
      "name": "Is Last Message?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -560,
        1904
      ],
      "id": "9d31cda4-5e4c-4802-b72e-881f9611b336",
      "name": "Stop Processing"
    },
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($('Store myTs').item.json.phone_number) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        1648
      ],
      "id": "72bbe9a7-d0dc-41a5-a10b-eb00c255f2b5",
      "name": "Fetch Buffered Messages",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst row = Array.isArray(response) ? response[0] : response;\n\nif (!row || !row.messages || row.messages.length === 0) {\n  return [{\n    json: {\n      phone_number: $('Store myTs').item.json.phone_number,\n      merged_text: '',\n      message_type: $('Store myTs').item.json.message_type || 'text',\n      message_count: 0\n    }\n  }];\n}\n\nconst messages = row.messages;\nconst textParts = messages\n  .map(m => (m.text && !m.text.startsWith('[')) ? m.text : null)\n  .filter(Boolean);\n\nconst merged_text = textParts.join('\\n');\n\n// Determine dominant message type by priority (non-text types take precedence)\nconst typePriority = ['image', 'file', 'voice', 'audio', 'video', 'link_preview', 'text'];\nconst foundTypes = new Set(messages.map(m => m.type));\nconst message_type = typePriority.find(t => foundTypes.has(t)) || 'text';\n\nreturn [{\n  json: {\n    phone_number: row.phone_number,\n    channel_id: row.channel_id,\n    contact_id: row.contact_id,\n    merged_text,\n    message_type,\n    message_count: messages.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        1648
      ],
      "id": "3d4d8e1c-86bf-4c53-8dd4-aa3e48dd4be3",
      "name": "Merge Messages"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/whatsapp_message_buffer?phone_number=eq.{{ encodeURIComponent($json.phone_number) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        1648
      ],
      "id": "a2572897-a97c-4b44-827a-3dc85366b09d",
      "name": "Clear Buffer",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0AJJT9FJUV\",\n  \"text\": \"Unrecognized message type received\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":warning: Unrecognized Message Type\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Message type:*\\n`{{ $('Receive Reply').item.json.body.payload.body.text }}`\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Receive Reply').item.json.body.payload.sender.contact.annotations.name || 'Unknown' }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Status:* The AI Agent cannot process this message type automatically.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Action Required:* Please check this conversation directly on Bird & reply to the prospect.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        1296
      ],
      "id": "575b8d00-e00d-4652-9d93-897bf806a9cc",
      "name": "Notify in Slack2",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1136,
        1664
      ],
      "id": "724d0619-0976-49b0-9933-48140d090505",
      "name": "Wait 60s1",
      "webhookId": "2d992482-7988-41b0-8077-20e354ba0933"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1696,
        1168
      ],
      "id": "712875fb-4455-42de-a566-1ba9ad282430",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Merge Messages').item.json.merged_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a message classifier for WhatsApp business messages.\n\nTask: Determine if a message was sent by an automated bot/system or a real human.\n\n## Classify as `auto_bot` if the message contains ANY of:\n- A \"Welcome to [Business Name]\" or generic greeting opener\n- Multiple URLs or links (menus, bookings, maps, Instagram, etc.)\n- Templated info blocks: operating hours, pricing, location, contact details\n- Emoji used as visual bullet points or decorators in a structured list\n- Phrases like \"Thank you for contacting us\", \"We will get back to you shortly\", \"Click for menu\"\n- FAQ links or pre-written Q&A redirects\n- A rigid menu of numbered/lettered options to select\n\n## Classify as `human` if the message:\n- References a specific internal action (\"I'll raise this\", \"I checked with the team\")\n- Contains conditional or uncertain language (\"if they're interested\", \"we might be able to\")\n- Asks the recipient to send or provide something (a proposal, details, availability)\n- Has natural imperfections: typos, informal phrasing, incomplete sentences\n- Responds directly and specifically to what was said, rather than delivering a pre-written block\n- Contains no links and no structured info blocks\n- Expresses disinterest, rejection, or dismissal (\"not interested\", \"no thanks\", \"please stop\", \"remove me\")\n- Short, blunt replies even if they contain polite closings — \"Thank you for reaching out\" after a rejection is human, bots do not decline offers\n\n## Key Rule:\nFormal or professional tone alone does NOT make a message a bot.\nA human can write formally. Look for STRUCTURE and LINKS, not just tone.\nPolite closing phrases like \"Thank you for reaching out\" do NOT indicate a bot when paired with a rejection or short dismissal. Bots do not turn down offers.\n\n## Constraint:\nYour output must ONLY be a valid JSON object. No other text.\n\n## Output Format:\n{ \"classification\": \"human\" | \"auto_bot\", \"reason\": \"Brief explanation within 100 characters\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -720,
        432
      ],
      "name": "Check if Bot Message",
      "id": "023aa919-58c9-4627-93cf-ceda26620981"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -768,
        592
      ],
      "name": "Google Gemini LLM",
      "id": "47f3ea79-31b6-4ddc-a19c-f4d5fc04023c",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"classification\": \"human\",\n  \"reason\": \"The user is asking about pricing and used informal language.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -544,
        592
      ],
      "name": "Topic Output Parser",
      "id": "444a4414-79e6-49c9-b3fb-9a2919eddef9"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.classification }}",
                    "rightValue": "human",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f620673b-58a0-4990-b57d-aeceafc007f7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Human reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ef99233a-2a44-4831-b14d-9a6928d5afce",
                    "leftValue": "={{ $json.output.classification }}",
                    "rightValue": "auto_bot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Auto reply"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -400,
        432
      ],
      "id": "76284062-f11f-41d1-999e-74aadb1c0c3e",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pp0BfVzddGg5_Mc9-tmG16xyyENK8Z1_k6PCQ17ABRg",
          "mode": "list",
          "cachedResultName": "MY Outreach - 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pp0BfVzddGg5_Mc9-tmG16xyyENK8Z1_k6PCQ17ABRg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1134862533,
          "mode": "list",
          "cachedResultName": "outreach_wa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pp0BfVzddGg5_Mc9-tmG16xyyENK8Z1_k6PCQ17ABRg/edit#gid=1134862533"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone number": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue.replace(/[+:]/g, '') }}",
            "Status": "Replied"
          },
          "matchingColumns": [
            "phone number"
          ],
          "schema": [
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Place ID",
              "displayName": "Place ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Entry ID",
              "displayName": "Entry ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "delivery_mp",
              "displayName": "delivery_mp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reservation",
              "displayName": "reservation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number type",
              "displayName": "number type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dupe",
              "displayName": "dupe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "wa status",
              "displayName": "wa status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Target group",
              "displayName": "Target group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "remarks",
              "displayName": "remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Msg 1",
              "displayName": "Msg 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Msg 2",
              "displayName": "Msg 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Msg 3",
              "displayName": "Msg 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        192
      ],
      "id": "999a7058-63f4-4efa-84df-9ba7cf5dfb6f",
      "name": "Update status as \"Replied\"",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $('Merge Messages').item.json.merged_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2390900c-6f98-4a54-afcc-6236a610f56c",
      "name": "Format response",
      "type": "n8n-nodes-base.set",
      "position": [
        -96,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -96,
        640
      ],
      "id": "f328f9d5-6b8e-409c-b81e-b19d47996c03",
      "name": "Skip auto reply"
    },
    {
      "parameters": {
        "jsCode": "// Extract the main payload\nconst payload = $('Receive Reply').item.json.body.payload;\nconst imageBody = payload?.body?.image?.images;\nconst imagesFound = [];\n\nif (imageBody && Array.isArray(imageBody)) {\n  for (const img of imageBody) {\n    if (img.mediaUrl) {\n      // Extract Media ID from the end of the URL\n      const mediaId = img.mediaUrl.split('/').pop();\n\n      imagesFound.push({\n        messageId: payload.id, \n        mediaFileId: mediaId,\n        imageUrl: img.mediaUrl,\n        caption: payload.body?.image?.text || payload.body?.caption || \"\",\n        senderNumber: payload.sender?.contact?.identifierValue || \"\",\n        sender: payload.sender?.contact?.annotations?.name || \"Unknown\"\n      });\n    }\n  }\n}\n\n// Return the extracted data or a fallback if no images exist\nreturn imagesFound.length > 0 ? imagesFound : [{ imageUrl: null, status: \"no image found\" }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        896
      ],
      "id": "dec6c152-931e-4685-9828-17450d929886",
      "name": "Get image file ID"
    },
    {
      "parameters": {
        "url": "=https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/{{ $('Get image file ID').item.json.messageId }}/media/{{ $('Get image file ID').item.json.mediaFileId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "AccessKey JpV6a4ZnSnvXExEeUW0Rd046hsBMwmBpjmWN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        896
      ],
      "id": "705b2613-451c-4036-b16b-afa929545b82",
      "name": "Retrieve image from Bird",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -336,
        896
      ],
      "id": "57727bd4-f403-4432-9173-c17abb64af8e",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.content.parts[0].text + ($('Get image file ID').item.json.caption ? '\\n\\nUser\\'s caption: \"' + $('Get image file ID').item.json.caption + '\"' : '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "566cedb0-6c7d-4634-9115-f9d49578a03d",
      "name": "Format image description",
      "type": "n8n-nodes-base.set",
      "position": [
        -96,
        896
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Merge Messages').item.json.message_type }}"
            },
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "da4b602a-28ca-4b0d-a747-c3d3698c3731",
              "name": "image_caption",
              "type": "string",
              "value": "={{ $('Receive Reply').item.json.body.payload.body.image.text || $('Receive Reply').item.json.body.payload.body.video.text || $('Receive Reply').item.json.body.payload.body.audio.text || \"\" }}"
            },
            {
              "id": "5a8f313b-0472-44a5-ba73-0907a983f351",
              "name": "channel_id",
              "value": "={{ $('Receive Reply').item.json.body.payload.channelId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7001b371-9628-46a6-ae7a-416ebfe22ea3",
      "name": "Get User's Message",
      "type": "n8n-nodes-base.set",
      "position": [
        320,
        896
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/contacts/{{ $('Receive Reply').item.json.body.payload.sender.contact.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "attribute",
              "value": "=company"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "authorization",
              "value": "AccessKey BxjtqcaqGqWSDGALVyjM3DQwaSzeYCACSwX7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        896
      ],
      "id": "2b4ad6d7-d0a7-4754-921c-1c6b27c733f5",
      "name": "Get company name",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/participants/{{ $('Receive Reply').item.json.body.payload.sender.contact.id }}/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channelId",
              "value": "={{ $('Receive Reply').item.json.body.payload.channelId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "authorization",
              "value": "AccessKey BxjtqcaqGqWSDGALVyjM3DQwaSzeYCACSwX7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        896
      ],
      "id": "1c7978db-5d35-4b3d-890c-92631fbb2828",
      "name": "Get conversation ID",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/conversations/{{ $json.results[0].id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        896
      ],
      "id": "d061886e-39de-4b07-a4ca-dc8250953ee5",
      "name": "Get Chat History",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "1R4VMEjneoFtqiZe",
          "name": "Bird API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\n// Get processed message data from earlier in the flow\nconst processedMessage = $('Get User\\'s Message').item.json;\nconst messageType = processedMessage.message_type;\nconst messageText = processedMessage.message_text;\nconst messageCaption = processedMessage.message_caption;\n\n// Build the processed body for image messages\nlet processedImageBody = null;\nif (messageType === 'image' && messageText) {\n  processedImageBody = messageText;\n  if (messageCaption) {\n    processedImageBody += `\\n\\nCaption: \"${messageCaption}\"`;\n  }\n}\n\nitems.forEach(item => {\n  const messages = item.json.results || [];\n  if (messages.length === 0) return;\n\n  const sortedMessages = [...messages].sort((a, b) =>\n    new Date(b.createdAt) - new Date(a.createdAt)\n  );\n\n  let conversationThread = [];\n  let latestLeadMessage = \"\";\n  let lastProspectTime = null;\n  let firstSdrReplyTime = null;\n  let prospectMessages = [];\n  let isFirstProspectMessage = true;\n\n  sortedMessages.forEach(msg => {\n    const isProspect = msg.sender.type === 'contact';\n    const isUser = msg.sender.type === 'user';\n    const roleLabel = isProspect ? 'Prospect' : 'SDR';\n\n    const msgDate = new Date(msg.createdAt);\n    const dateStr = msgDate.toLocaleString('en-SG', {\n      timeZone: 'Asia/Singapore',\n      day: 'numeric',\n      month: 'short'\n    }) + ' ' + msgDate.toLocaleString('en-SG', {\n      timeZone: 'Asia/Singapore',\n      hour: '2-digit',\n      minute: '2-digit',\n      hour12: false\n    });\n\n    // Default body from raw message\n    let body = msg.body?.text?.text || \"[Media/Other]\";\n\n    // For the most recent prospect message, substitute processed image data if available\n    if (isProspect && isFirstProspectMessage && processedImageBody) {\n      body = processedImageBody;\n    }\n\n    if (conversationThread.length < 10) {\n      conversationThread.push(`[${dateStr}] ${roleLabel}: ${body}`);\n    }\n\n    if (isProspect) {\n      if (!latestLeadMessage) latestLeadMessage = body;\n      lastProspectTime = msgDate;\n      prospectMessages.push({ dateStr, body, msgDate });\n      isFirstProspectMessage = false;\n    } else if (isUser) {\n      firstSdrReplyTime = msgDate;\n    }\n  });\n\n  let latestMessages = \"\";\n  if (prospectMessages.length > 0) {\n    const mostRecentProspectTime = prospectMessages[0].msgDate;\n    const threeMinutesMs = 3 * 60 * 1000;\n    latestMessages = prospectMessages\n      .filter(m => Math.abs(mostRecentProspectTime - m.msgDate) <= threeMinutesMs)\n      .map(m => `[${m.dateStr}] ${m.body}`)\n      .reverse()\n      .join('\\n\\n');\n  }\n\n  let responseTimeMinutes = 0;\n  if (lastProspectTime && firstSdrReplyTime) {\n    const diffMs = Math.abs(firstSdrReplyTime - lastProspectTime);\n    responseTimeMinutes = Math.round(diffMs / 60000);\n  }\n\n  output.push({\n    json: {\n      leadMessage: latestLeadMessage,\n      conversationId: sortedMessages[0].conversationId,\n      conversationThreadFormatted: conversationThread.reverse().join('\\n\\n'),\n      latestMessages: latestMessages,\n      responseTimeMinutes: responseTimeMinutes,\n      summary: {\n        totalMessages: sortedMessages.length,\n        latestRole: sortedMessages[0].sender.type === 'contact' ? 'Prospect' : 'SDR'\n      }\n    }\n  });\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        896
      ],
      "name": "Parse Chat History",
      "id": "e5f59c98-c3d5-43bc-ba1e-471c9c96106f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32819e6c-b831-4634-9f34-1b9e4b0ae992",
              "name": "lead_message",
              "value": "={{ $json.leadMessage }}",
              "type": "string"
            },
            {
              "id": "4f3d555d-03c1-4ef4-8b93-67a0991726b3",
              "name": "latest_messages",
              "value": "={{ $json.latestMessages }}",
              "type": "string"
            },
            {
              "id": "367e8059-b953-48de-b357-2d862d36b76f",
              "name": "chat_history",
              "value": "={{ $json.conversationThreadFormatted }}",
              "type": "string"
            },
            {
              "id": "35c81836-0c3f-4a23-96a8-39476ab73c8c",
              "name": "message_type",
              "value": "={{ $('Get User\\'s Message').item.json.message_type }}",
              "type": "string"
            },
            {
              "id": "fc03f6dd-1e3d-410e-97e7-96356303655f",
              "name": "image_caption",
              "value": "={{ $('Receive Reply').item.json.body.payload.body.image.text || $('Receive Reply').item.json.body.payload.body.video.text || $('Receive Reply').item.json.body.payload.body.audio.text || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        896
      ],
      "id": "8731d266-7434-465c-bcb4-8fcf354026e1",
      "name": "Map fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Prospect's latest messages: {{ $json.lead_message }}\n- Message type: {{ $json.message_type }}\n- Chat history: {{ $json.chat_history }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role:**\nYou are Alan, an expert Sales Development Representative (SDR) communicating via WhatsApp Business. Your goal is to manage incoming chat replies from prospects, address their queries/objections using approved logic, and ultimately secure a discovery call.\n\n**Response Guidelines & Formatting:**\n- Length: Under 40 words. Hard cap at 100. Never pad with context already covered.\n- Tone: Casual, direct, human — like texting a contact, not writing an email. Contractions are fine. Simple everyday words only, avoid formal phrases like \"may I,\" \"I'd be happy to,\" or \"regarding.\" No fillers (\"That's great!\", \"Hope you're well\"). If acknowledgment is needed, one word max: \"Understood.\" or \"Ok.\" — or skip it.\n- Mirror: Match the prospect's length and energy. Short from them, short from you.\n- One Screen: Two short paragraphs max. If it needs a third, cut something.\n- Language: Plain business language. Outcomes over features. No jargon.\n- Vocabulary: Online ordering context, use \"customer/order/restaurant.\" Reservations context, use \"guest/reservation/table.\" Mixed or unclear, default to online ordering.\n- Format: No bold text. No em-dashes or dashes, use commas or periods instead. Hyphens only for lists. No formal sign-offs. End with the link or a question.\n- Scheduling link: Never include it while still handling an objection.\n- Output: Return in Markdown format.\n\n**Knowledge Access:**\n- Response Handling Knowledge Base (KB): Use this to retrieve 1-3 examples. Crucial: Extract the logical pivot (the rebuttal/strategy). Mirror examples to avoid repeating past mistakes.\n- Product Knowledge Base: Use this to retrieve general information about Oddle and product information. Distill into 1-2 conversational sentences for WhatsApp. Only answer when asked.\n- Skills Repository: Your sales capabilities and task instructions are stored in skill files in a GitHub repository. Use the `List Files by Path Name` tool to browse directories and the `Get a File from GitHub` tool to fetch skill file contents. See the **Skills Access** section below for details.\n\n**Skills Access:**\nYour sales capabilities and instructions for completing tasks — including drafting responses to prospects — are stored in skill files in a GitHub repository listed in the Available Skills section below.\n\nWhen to use skills:\n- Always check for a relevant skill when drafting a response to a prospect. Skills contain proven sales techniques, response frameworks, and messaging strategies that should inform how you write replies.\n- Use skills alongside the KB and Product Knowledge Base. The KB provides example responses and rebuttals specific to past conversations. Skills provide broader sales methodology and response strategies. Combine both to craft the best reply.\n- Also use skills for structured sales tasks like account research, call prep, competitive intel, and outreach drafting.\n\nHow to use skills:\n1. Identify which skill(s) are relevant to the request by checking the Available Skills list below. Use the `List Files by Path Name` tool to traverse directories as needed (use concurrent calls when browsing multiple directories).\n2. Fetch the relevant skill files using the `Get a File from GitHub` tool (use concurrent calls when fetching multiple files).\n3. Follow the instructions in those skill files to complete the task.\n\nCombining skills with KB:\n- KB gives you the specific rebuttal logic and example pivots for the prospect's scenario.\n- Skills give you the sales methodology and messaging framework for how to structure and deliver the response.\n- Apply both: use the KB match to determine what to say, and the skill instructions to determine how to say it.\n\nImportant:\n- Do NOT answer based on general knowledge for tasks covered by a skill file — follow the skill file instructions.\n- All responses must still follow the Response Guidelines & Formatting rules above (word limits, tone, formatting).\n\nAvailable Skills:\n{{ \n// 🚨 ONLY UPDATE THIS IF YOU KNOW WHAT YOU'RE DOING 🚨\nJSON.stringify(\n  $('Remove Errors and Dot Files')\n    .all()\n    .map(item => ({\n      \"type\": item.json.type,\n      \"path\": item.json.path,\n      \"orgName\": item.json.url.split('/')[4],\n      \"repoName\": item.json.url.split('/')[5],\n    }))\n    .filter(i => \n      i.path.toLowerCase().split('/').last() !== \"readme.md\" && \n      i.path.toLowerCase().split('/').last() !== \"template\" &&\n      i.path.toLowerCase().split('/').last() !== \"license\"\n    ),\n  null,\n  2\n) \n}}\n\n**Oddle Core USPs (use when KB match is below 80%):**\n- 100% customer data ownership: Unlike marketplaces, all guest data belongs to the restaurant\n- Built-in CRM with automated targeted broadcasts to re-engage past diners\n- Lifecycle layer: converts first-time marketplace guests into direct-booking regulars\n- Automation runs without manual effort from the restaurant team\n- Competitive rate for MY partners, guaranteed to be the most cost-effective option in the market\n\n**Step 1: Input Parsing**\n- Prospect's latest messages contains the most recent 1-3 messages you must respond to.\n- Chat history contains up to 10 messages from the prospect only, in chronological order (oldest to newest). It does not include your previous replies. Use it to understand the prospect's journey, track what they've already said or asked, and avoid addressing things out of context.\n- Always read the full chat history before drafting. Your response must be relevant to the entire conversation thread, not just the latest message in isolation.\n\n**Language Detection & Translation:**\n- Detect the language of the prospect's message. If it is not English, silently translate it to English for your understanding, then always reply in English regardless of the language they used.\n- Do not acknowledge or comment on the language switch. Just respond in English naturally.\n\n**Step 2: Contextual Analysis & Knowledge Base Mapping**\n- Salutation: Never use the Company Name in a salutation. Omit the greeting entirely and start with the answer.\n- History Check: Ensure you aren't repeating previous points or ignoring a question already asked.\n- Strategic Mapping: Identify the core intent of the lead's message (e.g., \"Happy with current provider,\" \"Price objection,\" \"Too busy\").\n- KB Match Assessment: Before drafting, score how closely the prospect's reply matches a KB example (0-100%).\n\t- 80-100% match: Treat the KB example as a script template. Adopt the same questions, the same concessions, and the same specific pivots verbatim. Do not deviate.\n\t- Below 80% match / No clear KB match: Do not force-fit a KB example. Build the response directly from Oddle's Product Knowledge Base. Identify what the prospect's reply reveals about their current setup or gap, then position the most relevant Oddle strength against that gap in 1-2 sentences maximum.\n- Avoid Over-Personalization: Do not insert the Company Name into the body of the response.\n\n**Step 3: Scenario Logic (Select One)**\n\n**Warm / Low-Friction Reply (Prospect is Open or Agreeable)**\n- When the prospect gives a short, warm, or low-resistance reply (e.g., \"sure, tell us more,\" \"go ahead\"), do not launch into a product explanation.\n- Respond with one casual sentence acknowledging their openness, then drop the scheduling link immediately.\n- Scheduling link: https://forms.oddle.me/oddle-discovery-call-malaysia\n- Keep it under 20 words. Match their energy.\n\n**High Intent (Interested/Demo Request):**\n- If they ask for a demo or show clear interest, provide the scheduling link: https://forms.oddle.me/oddle-discovery-call-malaysia\n- Note: If they ask for a \"specific\" demo, briefly mention we can cover that in the live session rather than asking them more questions.\n\n**Questions / Information Request:**\n- Answer questions clearly using the KB, Product Knowledge Base, or Websites.\n\t- Focus on the result (owning data/reducing commissions) rather than the features.\n\t- Example: Instead of \"Oddle is an all-in-one platform...\", say \"We help you own your customer data so you're not just relying on marketplaces like Grab or Foodpanda.\"\n- On pricing: Never mention specific pricing figures. Instead, position it as: we're offering a competitive rate for Malaysia partners, and it's guaranteed to be the most cost-effective option in the market. Direct them to a call to find out more.\n\t- Example: \"We're offering a very competitive rate for Malaysia partners, and we guarantee it's the most cost-effective in the market. Best to hop on a quick call so we can walk you through it.\"\n- End with a soft call to action (e.g., \"Would it be helpful to see how this looks like?\").\n\n**Objections (Competitor, Budget, Timing, or \"We are happy/all set\"):**\n- The One-Try Rule: Do not concede on the first soft objection. Attempt ONE rebuttal using KB or Product Knowledge Base depending on your KB match score.\n- 80-100% KB match: Replicate the exact sales pivot used in the KB.\n\t- If the KB asks about \"review windows,\" you ask about review windows.\n\t- If the KB asks about \"automation vs cost,\" you ask about automation vs cost.\n- Below 80% KB match: Build the rebuttal from Product Knowledge Base. Identify the gap the prospect's current setup doesn't address and position Oddle against it in 1-2 sentences.\n- Pricing objections specifically: Do not discuss or reveal any pricing. Acknowledge the concern briefly, then angle it as: we're offering a very competitive rate for Malaysia partners and it's guaranteed to be the most cost-effective in the market, so it's worth a quick chat.\n- Lapsed / Former Oddle User: If the prospect mentions they previously used Oddle and left, do not close the loop immediately. Treat this as a soft objection and attempt ONE rebuttal by first asking why they stopped, then offering to share what has since improved. Only close the loop if they decline to engage after that.\n- Firm No: Only acknowledge gracefully and end the thread if the prospect is explicitly firm (e.g., \"Do not contact me again\" or \"Stop\").\n- Constraint: Do not send the scheduling link in this phase; earn a \"Yes\" to the idea of a conversation first.\n\n**Unlisted Objections or Unrecognized Scenarios:**\n- If a prospect raises an objection, scenario, or question that does not match any logic in this prompt or the KB, do not make up data, invent features, or fabricate claims.\n- Handle it gracefully using general business reasoning. Acknowledge the concern in one sentence, then pivot back to the value of a quick conversation where it can be properly addressed.\n- Example: \"Fair point, and honestly the best way I can give you a proper answer is over a quick call. Worth 15 mins?\"\n- Never guess at specifics (pricing, integrations, features, timelines) that aren't confirmed in your knowledge sources.\n\n**Needs to Check with or Talk to Their Boss:**\n- Do not wait for them to loop back. Offer to reach out directly.\n- Ask for the boss's name and phone number so you can contact them directly.\n- Example: \"No worries, happy to reach out to them directly. Can you share their name and number?\"\n\n**Last-Minute / On-Demand Orders:**\n- Acknowledge it, then pivot to data ownership and repeat orders. Oddle helps restaurants capture last-minute orders through their own branded channel while owning 100% of customer data to be re-engaged for future orders instead of staying in the marketplace ecosystem. Do not invent feature-specific answers (e.g., \"set lead time to zero\") that are not found in Product Knowledge Base.\n\n**Referrals & Contact Updates:**\n- If they refer a colleague: Ask for that person's name and phone number. If they only provide email, ask for name and phone number. If they already provide a number, just acknowledge.\n- If it's the wrong brand/contact: Apologise, ask for the right contact number, say we will update records. For example: \"Sorry, thanks for letting me know. Do you have their number by any chance? I'll also update our records to make sure we reach out to the right person in charge.\""
        }
      },
      "id": "ab9317de-7c66-4708-8a11-3bea387f8e9c",
      "name": "Response Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1728,
        896
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"text\": \"Hi, do you take reservation for 10-12 pax?\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1968,
        1088
      ],
      "id": "72062fa0-d838-4f20-a3b0-00b41b33cd7b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to find similar prospect's reply and examples of approved responses to help draft new replies",
        "tableName": {
          "__rl": true,
          "value": "response_handling_wa_my",
          "mode": "list",
          "cachedResultName": "response_handling_wa_my"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1600,
        1312
      ],
      "id": "0c4e7a45-dc3f-4b95-acc5-cb0be485bc26",
      "name": "Response Handling Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        1472
      ],
      "id": "9d26ee68-eb34-42a4-8dca-d7118b797ba0",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0AJJT9FJUV\",\n  \"text\": \"New prospect reply needs approval\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Get company name').item.json.attributes.company }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Receive Reply').item.json.body.payload.sender.contact.annotations.name || 'Unknown' }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Map fields').item.json.latest_messages || '';\n    return JSON.stringify(rawText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ JSON.stringify($json.output.text || '').slice(1, -1) }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"approval_actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \":white_check_mark: Approve & Send\",\n            \"emoji\": true\n          },\n          \"style\": \"primary\",\n          \"action_id\": \"approve\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}|{{ $('Receive Reply').item.json.body.payload.channelId }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✏ Reject & Send manually\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"action_id\": \"reject\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}|{{ $('Receive Reply').item.json.body.payload.channelId }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2368,
        896
      ],
      "id": "0225bb1a-ff2d-4caf-a66e-de6974a09f91",
      "name": "Send to Slack for Approval",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "my-wa-sdr-agent-obsolete",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2192,
        944
      ],
      "id": "ad38d366-80d2-4467-9730-77536e866c6a",
      "name": "Receive Reply",
      "webhookId": "2b98b675-91a2-4785-b504-bfbfe47f048f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec5e944c-7656-4860-adb7-edcfa8b95ed0",
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89131ef6-0956-449c-b0ea-31fffced6303",
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "link_preview",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Link provided"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75e367cd-3913-4ea4-a2ea-b0442b3325fb",
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "audio",
                    "id": "1113da73-5d4e-450e-90b3-960e6bec2e3c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "video"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Other Message Type"
        }
      },
      "id": "9b8142c7-f1db-46e2-b440-d2595144dba3",
      "name": "Redirect Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1360,
        848
      ],
      "typeVersion": 3.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1920,
        1472
      ],
      "id": "beb7fc4c-d9df-4de7-837b-88779ac862f8",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contains comprehensive product knowledge about Oddle and Oddle Shop, including what the platform does, key features, and value propositions. Use this to answer prospect questions about Oddle's products and capabilities.",
        "tableName": {
          "__rl": true,
          "value": "oddle_eshop_knowledge_base",
          "mode": "list",
          "cachedResultName": "oddle_eshop_knowledge_base"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1920,
        1312
      ],
      "id": "fce02f9b-505d-4ff1-aaef-83871b1ae63d",
      "name": "Product Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Route country\nLocalization required",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1968,
        864
      ],
      "typeVersion": 1,
      "id": "814db860-dc4b-4688-bf55-a499a01edb45",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Capturing all lead's messages in 1 minute",
        "height": 544,
        "width": 2080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1968,
        1536
      ],
      "typeVersion": 1,
      "id": "05ef9156-7b31-41bc-b36c-05280c23af6c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Notify in Slack channel\nChannel ID localization required",
        "height": 288,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        1200
      ],
      "typeVersion": 1,
      "id": "a7f21c1d-9be1-4358-8d45-235b55e46864",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Update outreach Gsheet\nLocalization required",
        "height": 272,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        112
      ],
      "typeVersion": 1,
      "id": "dce9e7e1-27f2-4b69-9cab-8d7bc9ca6d21",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Process text message & filter out auto message",
        "height": 432,
        "width": 576,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        304
      ],
      "typeVersion": 1,
      "id": "5ffa4f76-8807-439a-9cf7-c7f760fa8276",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Process image messages",
        "height": 288,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        816
      ],
      "typeVersion": 1,
      "id": "2ea95d5d-1511-41aa-a1bc-129e2dd95149",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Retrieve chat history",
        "height": 336,
        "width": 1152,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        784
      ],
      "typeVersion": 1,
      "id": "1245f413-e305-4866-bf58-37c5a8bcdb67",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Send to Slack for approval\nChannel ID localization required",
        "height": 320,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2272,
        816
      ],
      "typeVersion": 1,
      "id": "f604cfbb-242c-4b4d-b6bd-4f0420027c47",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Main SDR agent drafting response\nLocalization required for:\n1) System prompt\n2) Response Handling KB",
        "height": 944,
        "width": 688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        736
      ],
      "typeVersion": 1,
      "id": "ddad4b6b-521d-499c-9e6b-ee7a9ba22606",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Set up webhook path\nChange path",
        "height": 240,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2304,
        864
      ],
      "typeVersion": 1,
      "id": "d821e932-0818-439f-8b35-409d5ae78156",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2c761342-1b37-4add-b95d-3d09c764111d",
              "leftValue": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}",
              "rightValue": "+60",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1904,
        944
      ],
      "id": "f6ec881c-b66b-451f-a0fe-cd7bca2b4bb9",
      "name": "Check for reply from MY"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        720
      ],
      "id": "59a79149-1e18-49eb-85ee-e60a576869ee",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1584,
        1104
      ],
      "id": "fddc203a-5657-4b5e-9463-d00660538c5a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "U11ZFugtdDzwhsyC",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0296220-ef00-4d98-881e-9eb5f920983e",
              "leftValue": "={{ $('Get company name').item.json.attributes.attioEntryId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        544
      ],
      "id": "7dec6c08-023c-4481-af56-cfd913f4adc6",
      "name": "Attio Entry ID available"
    },
    {
      "parameters": {
        "content": "## Update Attio entry\nLocalization required",
        "height": 272,
        "width": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        448
      ],
      "typeVersion": 1,
      "id": "43f57c65-5583-4afe-8372-61daf59bd195",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "url": "=https://api.attio.com/v2/lists/au_or_outreach_2026/entries/{{ $('Get company name').item.json.attributes.attioEntryId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        544
      ],
      "id": "60f67944-3dd9-423a-95d7-6821106cd297",
      "name": "Get Attio Entry",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key_Header"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-outreach-status-empty",
              "leftValue": "={{ $('Get Attio Entry').item.json.data.entry_values.outreach_status }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        544
      ],
      "id": "c773cbd2-ceb7-4791-a1fc-51906e9b970b",
      "name": "Outreach Status Empty"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.attio.com/v2/lists/my_outreach_2026/entries/{{ $('Get company name').item.json.attributes.attioEntryId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"entry_values\": {\n      \"outreach_status\": \"Replied\",\n      \"replied_from\": \"WA\",\n      \"reply_date\": \"{{ $now.format('yyyy-MM-dd') }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        544
      ],
      "id": "84eeb766-c4ae-4394-a4aa-fa498ed8a674",
      "name": "Update Attio Outreach Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key_Header"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8955dd58-72aa-49a9-a6aa-7c1679ee5b51",
              "name": "SKILLS_REPOS",
              "type": "array",
              "value": "=[\n  \"https://github.com/anthropics/knowledge-work-plugins\"\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "dc589fe1-5a23-4edf-b86b-b5a0faad2ce5",
      "name": "Set GitHub Repo URLs",
      "type": "n8n-nodes-base.set",
      "position": [
        1824,
        368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $json.SKILLS_REPOS[0] }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.SKILLS_REPOS[0] }}",
          "mode": "url"
        },
        "filePath": "/sales"
      },
      "id": "38634fff-d24e-4aca-8c49-a638e812f251",
      "name": "List Skills Dirs",
      "type": "n8n-nodes-base.github",
      "position": [
        2160,
        368
      ],
      "webhookId": "4ec37c56-9985-42e6-baf5-fe4ac627182b",
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "MN304Nl1YXPhHchM",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "275c05ea-cde6-4b6a-9916-afe5cda498d9",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            },
            {
              "id": "b07c5b48-668a-4ca2-9ba2-b84509d8f93d",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "."
            }
          ]
        },
        "options": {}
      },
      "id": "fa712167-6c76-4610-977e-5268018fcec4",
      "name": "Remove Errors and Dot Files",
      "type": "n8n-nodes-base.filter",
      "position": [
        2448,
        368
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "## TODO Add Skills\nYou can use any skill that is publicly available on GitHub.\n\nPreselected is Anthropic's example [Skills Repo](https://github.com/anthropics/skills) and [Knowledge Work Skills](https://github.com/anthropics/knowledge-work-plugins) Repo\n\nIf you add more, ensure to match the same array syntax",
        "height": 448,
        "width": 256,
        "color": 3
      },
      "id": "fa5be757-29e1-44f4-8b25-13c8b54f4a16",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Fetch & Prepare Skills for Agent\nThis:\n1. Gets the directory from the GitHub Repository\n2. Removes duplicates & irrelevant files to save context\n3. Gets nested `/skills` directory if it exists\n4. Merge all data together to prepare for use in the Agent node's system prompt\n",
        "height": 528,
        "width": 736,
        "color": 7
      },
      "id": "902fa966-686b-4b10-a2a9-a2209816d9f6",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "List the files and directories inside of dirs.\nUse this tool on any DIR to see the files and other directories inside of it",
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "=anthropics",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=knowledge-work-plugins",
          "mode": "name"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Path', \"`/` would be root, `/folder` would list files in the folder named folder\", 'string') }}"
      },
      "id": "730d2a0a-b4c1-4fa7-b3dd-b1bed2429fd3",
      "name": "List Files by Path Name",
      "type": "n8n-nodes-base.githubTool",
      "position": [
        2304,
        1520
      ],
      "webhookId": "b309da8c-2f65-4c37-bb15-7c8a88c482ba",
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "MN304Nl1YXPhHchM",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get text content from a file on github from org, repo name, and path to file",
        "url": "=https://api.github.com/repos/{{ $fromAI('repoOwnerUsername', ``, 'string') }}/{{ $fromAI('repoName', ``, 'string') }}/contents/{{ \n  $fromAI('File_Path', ``, 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.raw+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2544,
        1568
      ],
      "id": "23f7e7de-bbaa-4840-8716-8ce4eee52ea9",
      "name": "Get a file from Github",
      "credentials": {
        "githubOAuth2Api": {
          "id": "MN304Nl1YXPhHchM",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "HTTP request is used here instead of the built in GitHub node because the node returns base 64, but in the HTTP node we can request it as a text file through headers",
        "height": 288,
        "color": 7
      },
      "id": "9b28625d-0771-44a5-b186-e7ba6d8b8ece",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2464,
        1392
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This lets the agent look through the directories to find relevant files",
        "height": 272,
        "width": 192,
        "color": 7
      },
      "id": "35c89e47-1396-4725-9a9e-fa5c256dc9c6",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How the Agent Uses the Skills\nThe agent uses the `List Files by Path Name` as much as needed to explore the file skills repo. The `Get a File From GitHub` returns the full text from the skill markdown files. \n\nThis mimics exactly how skills work in Claude Code or Open Code\n",
        "height": 464,
        "width": 464,
        "color": 7
      },
      "id": "b7f619d3-683f-474a-8cd9-f5bbccd34513",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        1216
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Get Buffer Row": {
      "main": [
        [
          {
            "node": "Build Buffer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Buffer Data": {
      "main": [
        [
          {
            "node": "Upsert Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Buffer": {
      "main": [
        [
          {
            "node": "Store myTs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store myTs": {
      "main": [
        [
          {
            "node": "Wait 60s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Buffer Timestamp": {
      "main": [
        [
          {
            "node": "Is Last Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Last Message?": {
      "main": [
        [
          {
            "node": "Fetch Buffered Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Buffered Messages": {
      "main": [
        [
          {
            "node": "Merge Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Messages": {
      "main": [
        [
          {
            "node": "Clear Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Buffer": {
      "main": [
        [
          {
            "node": "Redirect Message Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s1": {
      "main": [
        [
          {
            "node": "Read Buffer Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Bot Message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Check if Bot Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Topic Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Check if Bot Message",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Format response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update status as \"Replied\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip auto reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format response": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image file ID": {
      "main": [
        [
          {
            "node": "Retrieve image from Bird",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve image from Bird": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Format image description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format image description": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Message": {
      "main": [
        [
          {
            "node": "Get company name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get company name": {
      "main": [
        [
          {
            "node": "Get conversation ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attio Entry ID available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get conversation ID": {
      "main": [
        [
          {
            "node": "Get Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History": {
      "main": [
        [
          {
            "node": "Parse Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat History": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields": {
      "main": [
        [
          {
            "node": "Response Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set GitHub Repo URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent": {
      "main": [
        [
          {
            "node": "Send to Slack for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Response Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Response Handling Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Response Handling Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Receive Reply": {
      "main": [
        [
          {
            "node": "Check for reply from MY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirect Message Types": {
      "main": [
        [
          {
            "node": "Check if Bot Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Bot Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image file ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Product Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Product Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check for reply from MY": {
      "main": [
        [
          {
            "node": "Get Buffer Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Topic Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Attio Entry ID available": {
      "main": [
        [
          {
            "node": "Get Attio Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attio Entry": {
      "main": [
        [
          {
            "node": "Outreach Status Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outreach Status Empty": {
      "main": [
        [
          {
            "node": "Update Attio Outreach Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Repo URLs": {
      "main": [
        [
          {
            "node": "List Skills Dirs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Skills Dirs": {
      "main": [
        [
          {
            "node": "Remove Errors and Dot Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files by Path Name": {
      "ai_tool": [
        [
          {
            "node": "Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a file from Github": {
      "ai_tool": [
        [
          {
            "node": "Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Receive Reply": [
      {
        "json": {
          "headers": {
            "host": "workflow.oddle.center",
            "content-type": "application/json; charset=utf-8",
            "messagebird-request-id": "dea94cdb-2be9-4b26-96d6-03ea6230eb2c",
            "messagebird-request-timestamp": "1774340474",
            "user-agent": "Messagebird/Requests develop:8c9cc536",
            "content-length": "901",
            "x-cloud-trace-context": "f8a76321d3b70e8ad58a7e7ae1c466b0/191917657866521087",
            "x-forwarded-proto": "https",
            "traceparent": "00-f8a76321d3b70e8ad58a7e7ae1c466b0-02a9d417cf4249ff-00",
            "x-forwarded-for": "3.111.114.53",
            "forwarded": "for=\"3.111.114.53\";proto=https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "service": "channels",
            "event": "whatsapp.inbound",
            "payload": {
              "id": "66ac1350-abf8-45be-addb-d046d9962233",
              "channelId": "22c5243b-3d44-4590-82d7-534d77642dbd",
              "sender": {
                "contact": {
                  "id": "3d8cc1ab-6de3-4456-9f01-c9bdb07a2dbb",
                  "identifierKey": "phonenumber",
                  "identifierValue": "+60123938910",
                  "annotations": {
                    "name": "Joyce"
                  }
                }
              },
              "receiver": {
                "connector": {
                  "id": "e2d11e1a-aae7-46bf-aaad-ed0a745ecac0",
                  "identifierValue": "+6588055922"
                }
              },
              "body": {
                "type": "text",
                "text": {
                  "text": "Can check if we are in?"
                }
              },
              "meta": {
                "extraInformation": {
                  "timestamp": "1774340472",
                  "user_locale": "ms-MY"
                }
              },
              "reference": "",
              "parts": [
                {
                  "platformReference": "wamid.HBgLNjAxMjM5Mzg5MTAVAgASGCBBQ0UxREYyQTA0NTA3NkYzOTE5MkQ3NkQ2ODg2ODY0RgA="
                }
              ],
              "status": "delivered",
              "reason": "",
              "direction": "incoming",
              "chargeableUnits": 1,
              "lastStatusAt": "2026-03-24T08:21:14.087Z",
              "createdAt": "2026-03-24T08:21:13.994Z",
              "updatedAt": "2026-03-24T08:21:14.087Z",
              "batchId": null
            }
          },
          "webhookUrl": "https://workflow.oddle.center/webhook/my-wa-sdr-agent",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "8ac1d0e0-98f6-46f2-9b8e-5f0c81da7a88",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-08T08:37:11.407Z",
      "createdAt": "2026-04-08T08:37:11.407Z",
      "role": "workflow:owner",
      "workflowId": "rRHP8Xsh6VisRxqP",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": null,
  "tags": []
}