[whatsapp]-sdr-agent---os-marketplace-[v1]-os_marketplace.json
{
  "updatedAt": "2026-05-04T03:53:23.286Z",
  "createdAt": "2026-02-25T08:52:31.198Z",
  "id": "wNAgEdw1aQPMSRjf",
  "name": "[WhatsApp] SDR Agent - OS Marketplace [v1]",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Receive Reply').item.json.body.payload.body.type }}"
            },
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "da4b602a-28ca-4b0d-a747-c3d3698c3731",
              "name": "message_caption",
              "type": "string",
              "value": "={{ $('Redirect Message Types').item.json.body.messages[0].video?.caption || $('Redirect Message Types').item.json.body.messages[0].image?.caption || $('Redirect Message Types').item.json.body.messages[0].audio?.caption || \"\" }}"
            },
            {
              "id": "9612af65-3421-4b94-b3c3-4231c762b351",
              "name": "chat_id",
              "value": "={{ $('Receive Reply').item.json.body.messages[0].chat_id }}",
              "type": "string"
            },
            {
              "id": "5a8f313b-0472-44a5-ba73-0907a983f351",
              "name": "channel_id",
              "value": "={{ $('Receive Reply').item.json.body.payload.channelId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "42d229f5-9e7f-4c13-be52-ffbb814dc7e6",
      "name": "Get User's Message",
      "type": "n8n-nodes-base.set",
      "position": [
        2032,
        -96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec5e944c-7656-4860-adb7-edcfa8b95ed0",
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89131ef6-0956-449c-b0ea-31fffced6303",
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "link_preview",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Link provided"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75e367cd-3913-4ea4-a2ea-b0442b3325fb",
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "audio",
                    "id": "1113da73-5d4e-450e-90b3-960e6bec2e3c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Receive Reply').item.json.body.payload.body.type }}",
                    "rightValue": "video"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Other Message Type"
        }
      },
      "id": "0c49edcc-4d11-41aa-89bb-fb235da3ab15",
      "name": "Redirect Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        352,
        -144
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sg-sdr-os",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -48
      ],
      "id": "7db42b56-a767-4c91-bfc5-0c20941f3265",
      "name": "Receive Reply",
      "webhookId": "2328420a-63a9-41f7-9c81-5d9f6a75f4a8"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"classification\": \"human\",\n  \"reason\": \"The user is asking about pricing and used informal language.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1168,
        -400
      ],
      "name": "Topic Output Parser",
      "id": "e2d6a7ee-e8cd-4e62-ab73-8ed6d3523616"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Receive Reply').item.json.body.payload.body.text.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a message classifier for a WhatsApp message.\n\nTask: Analyze the incoming message and determine if it was sent by a human or an automated bot/system.\n\nClassification Criteria:\n- auto_bot: Identify as this if the message contains standard automated patterns such as \"Thank you for contacting us,\" \"We will get back to you shortly,\" \"Select an option from the menu,\" or if it is a rigid, repetitive system notification.\n\n- human: Identify as this if the message contains natural language, slang, typos, specific questions, or conversational intent that varies from a script.\n\nConstraint: Your output must ONLY be a valid JSON object. Do not include any other text, greetings, or explanations.\n\nOutput Format: { \"classification\": \"human\" | \"auto_bot\", \"reason\": \"Brief explanation of why within 100 characters limit\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        992,
        -560
      ],
      "name": "Check if Bot Message",
      "id": "b1238a42-3fbb-477a-9fc0-5baf1871645d"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        -400
      ],
      "name": "Google Gemini LLM",
      "id": "68109d97-49b2-4170-8889-3a7945311a35",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nitems.forEach(item => {\n  const messages = item.json.results || [];\n  if (messages.length === 0) return;\n\n  // 1. Sort messages by createdAt (Newest to Oldest)\n  const sortedMessages = [...messages].sort((a, b) => \n    new Date(b.createdAt) - new Date(a.createdAt)\n  );\n\n  let conversationThread = [];\n  let latestLeadMessage = \"\";\n  let lastProspectTime = null;\n  let firstSdrReplyTime = null;\n  let contactParticipantId = null;\n  let userParticipantId = null; // Initialize variable for internal user\n\n  sortedMessages.forEach(msg => {\n    const isProspect = msg.sender.type === 'contact';\n    const isUser = msg.sender.type === 'user';\n    const roleLabel = isProspect ? 'Prospect' : 'SDR';\n    \n    // Capture contactParticipantId from the first 'contact' type found\n    if (isProspect && !contactParticipantId) {\n      contactParticipantId = msg.sender.id;\n    }\n\n    // Capture userParticipantId from the first 'user' type found\n    if (isUser && !userParticipantId) {\n      userParticipantId = msg.sender.id;\n    }\n\n    const msgDate = new Date(msg.createdAt);\n    const dateStr = msgDate.toISOString().replace('T', ' ').substring(0, 16);\n    const body = msg.body?.text?.text || \"[Media/Other]\";\n\n    // Build Thread (Latest -> Earliest)\n    conversationThread.push(`[${dateStr}] ${roleLabel}: ${body}`);\n\n    if (isProspect) {\n      if (!latestLeadMessage) latestLeadMessage = body; \n      lastProspectTime = msgDate;\n    } else if (isUser) {\n      firstSdrReplyTime = msgDate;\n    }\n  });\n\n  // 2. Calculate Response Time (Minutes)\n  let responseTimeMinutes = 0;\n  if (lastProspectTime && firstSdrReplyTime) {\n    const diffMs = Math.abs(firstSdrReplyTime - lastProspectTime);\n    responseTimeMinutes = Math.round(diffMs / 60000);\n  }\n\n  output.push({\n    leadMessage: latestLeadMessage,\n    conversationId: sortedMessages[0].conversationId,\n    contactParticipantId: contactParticipantId,\n    userParticipantId: userParticipantId, // Added new field here\n    conversationThreadFormatted: conversationThread.join('\\n\\n'),\n    responseTimeMinutes: responseTimeMinutes,\n    summary: {\n      totalMessages: sortedMessages.length,\n      latestRole: sortedMessages[0].sender.type === 'contact' ? 'Prospect' : 'SDR'\n    }\n  });\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        -96
      ],
      "name": "Parse Chat History",
      "id": "4bb78e30-8739-4ffd-9b25-51d0c6dd19b4"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1424,
        -96
      ],
      "id": "8d70e694-9fa7-4dc8-ab9f-337e41a1fe9b",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "26c91514-02b8-4c82-ae12-a05d7417b727",
      "name": "Format image description",
      "type": "n8n-nodes-base.set",
      "position": [
        1664,
        -96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $('Redirect Message Types').item.json.body.payload.body.text.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "650f20fd-134d-4934-a7a2-230c0790436e",
      "name": "Format response",
      "type": "n8n-nodes-base.set",
      "position": [
        1552,
        -576
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0A8PJQ9KU3\",\n  \"text\": \"Unrecognized message type received\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":warning: Unrecognized Message Type\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Redirect Message Types').item.json.body.messages[0].from }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Message type:*\\n`{{ $('Redirect Message Types').item.json.body.messages[0].type }}`\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Status:* The AI Agent cannot process this message type automatically.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Action Required:* Please check this conversation directly on Bird & reply to the prospect.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        336
      ],
      "id": "0aa2baed-cfef-46ea-8b36-a5bdd39e40a9",
      "name": "Notify in Slack",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "id": "3fd6b0b1-12dc-4572-9a98-97c0100f39e3",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3536,
        96
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"text\": \"Hi, do you take reservation for 10-12 pax?\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3856,
        96
      ],
      "id": "cf0a3faa-a600-445f-9c9e-0b3d76b06fc7",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.classification }}",
                    "rightValue": "human",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f620673b-58a0-4990-b57d-aeceafc007f7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Human reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ef99233a-2a44-4831-b14d-9a6928d5afce",
                    "leftValue": "={{ $json.output.classification }}",
                    "rightValue": "auto_bot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Auto reply"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1312,
        -560
      ],
      "id": "5d43f9c1-07d3-445c-8cae-f44d4e0a4234",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1552,
        -384
      ],
      "id": "ae5d9f21-8283-4f55-bb26-1f68fe7f5bb2",
      "name": "Skip auto reply"
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/participants/{{ $('Receive Reply').item.json.body.payload.sender.contact.id }}/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channelId",
              "value": "={{ $('Receive Reply').item.json.body.payload.channelId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "authorization",
              "value": "AccessKey BxjtqcaqGqWSDGALVyjM3DQwaSzeYCACSwX7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2496,
        -96
      ],
      "id": "77de98d0-6987-4ebc-86f6-aed14889e335",
      "name": "Get conversation ID"
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/conversations/{{ $json.results[0].id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2768,
        -96
      ],
      "id": "0b0598de-74ff-4e49-b926-906ba426e33e",
      "name": "Get Chat History",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1R4VMEjneoFtqiZe",
          "name": "Bird API Key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Prospect's latest message: {{ $json.lead_message }}\n- Message type: {{ $json.message_type }}\n- Chat history: {{ $json.chat_history }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role:**\nYou are Alan, an expert Sales Development Representative (SDR) communicating via WhatsApp Business. Your goal is to manage incoming chat replies from prospects, address their queries/objections using approved logic, and ultimately secure a discovery call.\n\n**Knowledge Access:**\n- Response Handling Knowledge Base (KB): Use this to retrieve 1-5 examples. Crucial: Extract the logical pivot (the rebuttal/strategy). Mirror examples to avoid repeating past mistakes.\n- Product Knowledge Base: Use this to retrieve product information. Distill into 1-2 conversational sentences for WhatsApp. Only answer when asked.\n- Website (https://www.oddle.me): Use for specific product/feature queries.\n- Oddle Shop product site (https://www.oddle.me/sg/products/restaurant-online-ordering-system): Use for general questions about Oddle Shop / eShop product.\n- Oddle Reserve product site (https://www.oddle.me/sg/products/restaurant-reservation-system): Use for general questions about Oddle Reservation system product.\n\n**Step 1: Contextual Analysis & Knowledge Base Mapping**\n- Salutation: Never use the Company Name in a salutation. Omit the greeting entirely and start with the answer.\n- History Check: Ensure you aren't repeating previous points or ignoring a question already asked.\n- Strategic Mapping: Identify the core intent of the lead's message (e.g., \"Happy with current provider,\" \"Price objection,\" \"Too busy\").\n- KB Match Assessment: Before drafting, score how closely the prospect's reply matches a KB example (0-100%).\n\t- 80-100% match: Treat the KB example as a script template. Adopt the same questions, the same concessions, and the same specific pivots verbatim. Do not deviate.\n\t- Below 80% match / No clear KB match: Do not force-fit a KB example. Build the response directly from Oddle's Product Knowledge Base. Identify what the prospect's reply reveals about their current setup or gap, then position the most relevant Oddle strength against that gap in 1-2 sentences maximum.\n- Avoid Over-Personalization: Do not insert the Company Name into the body of the response.\n\n\n**Step 2: Scenario Logic (Select One)**\n\n**Warm / Low-Friction Reply (Prospect is Open or Agreeable)**\n- When the prospect gives a short, warm, or low-resistance reply (e.g., \"sure, tell us more,\" \"go ahead,\"), do not launch into a product explanation.\n- Respond with one casual sentence acknowledging their openness, then drop the scheduling link immediately.\n- Example: \"Perfect, let's find a time then, here's the link: https://forms.oddle.me/oddle-discovery-call-singapore\"\n- Keep it under 20 words. Match their energy.\n\n**High Intent (Interested/Demo Request):**\n- If they ask for a demo or show clear interest, provide the scheduling link: https://forms.oddle.me/oddle-discovery-call-singapore.\n- Note: If they ask for a \"specific\" demo, briefly mention we can cover that in the live session rather than asking them more questions\n\n**Questions / Information Request:**\n- Answer questions clearly using the KB, Product Knowledge Base, or Websites.\n\t- Focus on the result (owning data/reducing commissions) rather than the features.\n\t- Example: Instead of \"Oddle is an all-in-one platform...\", say \"We help you own your customer data so you're not just relying on marketplaces like Grab or Foodpanda.\"\n- End with a soft call to action (e.g., \"Would it be helpful to see how this looks in practice?\").\n\n**Objections (Competitor, Budget, Timing, or \"We are happy/all set\"):**\n- The One-Try Rule: Do not concede on the first soft objection. Attempt ONE rebuttal using KB or Product Knowledge Base depending on your KB match score.\n- 80-100% KB match: Replicate the exact sales pivot used in the KB.\n\t- If the KB asks about \"review windows,\" you ask about review windows.\n\t- If the KB asks about \"automation vs cost,\" you ask about automation vs cost.\n- Below 80% KB match: Build the rebuttal from Product Knowledge Base. Identify the gap the prospect's current setup doesn't address and position Oddle against it in 1-2 sentences.\n- Lapsed / Former Oddle User: If the prospect mentions they previously used Oddle and left, do not close the loop immediately. Treat this as a soft objection and attempt ONE rebuttal by first asking why they stopped, then offering to share what has since improved. Only close the loop if they decline to engage after that.\n- Firm No: Only acknowledge gracefully and end the thread if the prospect is explicitly firm (e.g., \"Do not contact me again\" or \"Stop\").\n- Constraint: Do not send the scheduling link in this phase; earn a \"Yes\" to the idea of a conversation first.\n\n**Last-Minute / On-Demand Orders**\n- Acknowledge it, then pivot to data ownership and repeat orders. Oddle helps restaurants capture last-minute orders through their own branded channel while owning 100% of customer data to be re-engaged for future orders instead of staying in the marketplace ecosystem. Do not invent feature-specific answers (e.g., \"set lead time to zero\") that are not found in Product Knowledge Base.\n\n**Scenario: Local Social Proof (Singapore)**\n- If a lead asks about restaurant partners that switched to another platform and returned to Oddle, mention exactly 1-2 names from this list: Brotzeit (from Getz), Uncle Leong Seafood, Westlake (switched from NinjaOS), Sum Kee (from Getz), Serangoon BBQ (from Atlas), Ba Shu Sichuan (from Firstcom).\n- Constraint: Do not volunteer these names unless specifically asked.\n\n**Referrals & Contact Updates:**\n- If they refer a colleague: Ask for that person's name and phone number. If they only provide email, ask for name and phone number. If they already provide a number, just acknowledge.\n- If it's the wrong brand/contact: Apologise, ask for the right contact number, say we will update records. For example: \"Sorry, thanks for letting me know. Do you have their number by any chance? I'll also update our records to make sure we reach out to the right person in charge.\"\n\n\n**Step 3: Response Guidelines & Formatting**\n- Length: Be ruthlessly concise. Aim for under 50 words. Hard cap at 100 words. If you can say it in 10, do it.\n- Tone: Casual, direct, human. Write like a real person texting, not a corporate chatbot. No enthusiasm fillers (e.g., skip \"That is great to hear!\", \"I hope you're having a good week,\" or \"Looking forward to our chat.\").\n- The \"One Screen\" Rule: The entire reply must fit on one phone screen without a \"read more\" break. Two short paragraphs maximum. If your draft feels like it needs a third paragraph, cut it.\n- The \"Mirror\" Rule: Match the length and energy of the prospect's message. Short reply from them, short reply from you. Warm and casual from them, warm and casual from you.\n- Ending: Never use \"Looking forward to...\" or formal sign-offs. End with the link or the question.\n- Visuals: Do not bold any text. Replace em-dashes (—) with commas or periods.\n- Brevity: Use a simple hyphen (-) for list items if needed. No other symbols.\n- Vocabulary: Use vocabulary appropriate for food online ordering context. \"Customer\" not \"guest,\" \"restaurant\" not \"venue,\" \"order\" not \"visit.\"\n- Do not send the scheduling link when the lead is still hesitant or when you're still handling the objection.\n- Markdown: Return the message in Markdown format."
        }
      },
      "id": "db341755-374a-4d0b-986f-23c6568a2076",
      "name": "Response Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3616,
        -96
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        3504,
        448
      ],
      "id": "910ef193-135e-475a-af96-7bfcf1f8f6c0",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to find similar prospect's reply and examples of approved responses to help draft new replies",
        "tableName": {
          "__rl": true,
          "value": "response_handling_wa_sg_os",
          "mode": "list",
          "cachedResultName": "response_handling_wa_sg_os"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3504,
        288
      ],
      "id": "1ee1c33d-05c1-4325-a91e-3deda6514d8e",
      "name": "Response Handling Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/contacts/{{ $('Receive Reply').item.json.body.payload.sender.contact.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "attribute",
              "value": "=company"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "authorization",
              "value": "AccessKey BxjtqcaqGqWSDGALVyjM3DQwaSzeYCACSwX7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2272,
        -96
      ],
      "id": "dc73c58b-78b4-4048-a245-39f354e26008",
      "name": "Get company name"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0AHMPEV5DX\",\n  \"text\": \"New prospect reply needs approval\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Redirect Message Types').item.json.body.payload.sender.contact.identifierValue }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Get company name').item.json.attributes.company }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Get User\\'s Message').item.json.message_text || '';\n    let truncated = rawText.length > 300 \n      ? rawText.substring(0, 300) + '...\\n\\n[Message truncated - view full reply in Bird]' \n      : rawText;\n    return JSON.stringify(truncated).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ JSON.stringify($json.output.text || '').slice(1, -1) }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"approval_actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \":white_check_mark: Approve & Send\",\n            \"emoji\": true\n          },\n          \"style\": \"primary\",\n          \"action_id\": \"approve\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}|{{ $('Parse Chat History').item.json.userParticipantId }}|{{ $('Receive Reply').item.json.body.payload.channelId }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✏ Reject & Send manually\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"action_id\": \"reject\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}|{{ $('Parse Chat History').item.json.userParticipantId }}|{{ $('Receive Reply').item.json.body.payload.channelId }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4128,
        -96
      ],
      "id": "b6db9f24-2206-4957-b060-c7ae6f601d1e",
      "name": "Send to Slack for Approval",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14648e8e-b352-4ea4-8f5a-b9a6335dbc6b",
              "name": "lead_message",
              "value": "={{ $json.Body }}",
              "type": "string"
            },
            {
              "id": "458a8b87-069c-423f-b662-e31d5e01d4eb",
              "name": "chat_history",
              "value": "=[2026-02-05 08:10] SDR: \"Hi Miss Saigon team, Alan from Oddle here. Noticed you're on SevenRooms—are you getting full value from it?\n\nWe’re offering AU brands 'Founder Access' at A$65/mo, locked in forever. We use your data to drive revenue, not just switch software.\n\nOpen to a brief 10-min chat this week?\"",
              "type": "string"
            },
            {
              "id": "a1f86e3c-8e7a-40ae-9e1a-0a7e74578d88",
              "name": "message_type",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3056,
        112
      ],
      "id": "3d24d999-d734-42e9-9a5d-e78eb7970f8e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 308065534,
          "mode": "list",
          "cachedResultName": "au_whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        2816,
        112
      ],
      "id": "efc4327d-a866-4362-846c-d38080861d7d",
      "name": "When fetching a dataset row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32819e6c-b831-4634-9f34-1b9e4b0ae992",
              "name": "lead_message",
              "value": "={{ $json.leadMessage }}",
              "type": "string"
            },
            {
              "id": "367e8059-b953-48de-b357-2d862d36b76f",
              "name": "chat_history",
              "value": "={{ $json.conversationThreadFormatted }}",
              "type": "string"
            },
            {
              "id": "35c81836-0c3f-4a23-96a8-39476ab73c8c",
              "name": "message_type",
              "value": "={{ $('Redirect Message Types').item.json.body.payload.body.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3264,
        -96
      ],
      "id": "6e7a6b6c-b75c-42a7-8fe6-9aa4ecdfe50f",
      "name": "Map fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
          "mode": "list",
          "cachedResultName": "Evaluation for Email SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 308065534,
          "mode": "list",
          "cachedResultName": "au_whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Actual Response",
              "outputValue": "={{ $('Response Agent').item.json.output.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        3728,
        -656
      ],
      "id": "7b36ea94-f72e-477f-ab81-a32d32c2e624",
      "name": "Set Output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        3520,
        -640
      ],
      "id": "7fd9d007-f708-4981-bc76-9bfa48067510",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "customMetrics",
        "metrics": {
          "assignments": [
            {
              "name": "Accuracy",
              "value": "={{ $json.Correctness }}",
              "type": "number",
              "id": "89160e24-b3f9-4bb7-80b4-48575b983260"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        4288,
        -656
      ],
      "id": "8fe6c362-ef72-4469-8dc7-2ac6873b64f2",
      "name": "Score"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4080,
        -480
      ],
      "id": "dbcf95fe-bc56-4e4b-8a24-8d3989ab5abf",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0",
          "mode": "list",
          "cachedResultName": "Evaluation for Email SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 308065534,
          "mode": "list",
          "cachedResultName": "au_whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6TCU1z3t8LX8nkktZMfzUynYzZ3i0LkjQ45r9axai0/edit#gid=308065534"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Body": "={{ $('When fetching a dataset row').item.json.Body }}",
            "Accuracy": "={{ $json.Accuracy }}"
          },
          "matchingColumns": [
            "Body"
          ],
          "schema": [
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Expected Response",
              "displayName": "Expected Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual Response",
              "displayName": "Actual Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Accuracy",
              "displayName": "Accuracy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4496,
        -656
      ],
      "id": "334beea4-e4cb-4b63-8e75-c820aab70d94",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json['Expected Response'] }}",
        "actualAnswer": "={{ $('Response Agent').item.json.output.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        3936,
        -656
      ],
      "id": "5301a2c7-8f4f-41c6-86cf-28c538b569a1",
      "name": "Evaluation1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16,
        128
      ],
      "id": "55a6ca82-941f-49e3-b343-8ce719951e1f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gateway.latitude.so/api/v2/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"path\": \"whatsapp-sdr-alex\",\n  \"projectId\": 30399,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Map fields').item.json.lead_message }}\"\n    },\n    {\n      \"role\": \"sdr\",\n      \"content\": \"{{ $json.output.text }}\"\n    }\n  ],\n  \"customIdentifier\": \"{{ $('Receive Reply').item.json.body.payload.receiver.connector.identifierValue }}\",\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3520,
        -400
      ],
      "id": "cbca2906-8b2b-4fe4-9479-6a4db7d744c6",
      "name": "Send to Latitude",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cCn52k3tnxYrYO3l",
          "name": "Latitude API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Response Agent').item.json.output.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3728,
        -400
      ],
      "id": "7f7d4bb3-115c-4325-9401-db3f1a9e0547",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Evaluations - not set up yet",
        "height": 560,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3408,
        -768
      ],
      "typeVersion": 1,
      "id": "e34a12f5-31f6-4252-9171-3820f28d541a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c761342-1b37-4add-b95d-3d09c764111d",
              "leftValue": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue }}",
              "rightValue": "+65",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        -48
      ],
      "id": "b95cccc6-232d-43dc-9e71-72ed48e4f537",
      "name": "Check for reply from SG"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M",
          "mode": "list",
          "cachedResultName": "SG Outreach - 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1134862533,
          "mode": "list",
          "cachedResultName": "outreach_wa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLRuK4UGQY4WZkYSeJ9NBTbFlftenO9j7Od8KdFhf9M/edit#gid=1134862533"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Replied",
            "phone number": "={{ $('Receive Reply').item.json.body.payload.sender.contact.identifierValue.replace(/[+:]/g, '') }}"
          },
          "matchingColumns": [
            "phone number"
          ],
          "schema": [
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Place ID",
              "displayName": "Place ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Entry ID",
              "displayName": "Entry ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "delivery_mp",
              "displayName": "delivery_mp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reservation",
              "displayName": "reservation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number type",
              "displayName": "number type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "wa status",
              "displayName": "wa status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Target group",
              "displayName": "Target group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "remarks",
              "displayName": "remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Msg 1",
              "displayName": "Msg 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Msg 2",
              "displayName": "Msg 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Msg 3",
              "displayName": "Msg 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        -768
      ],
      "id": "7ceda314-55f0-48cb-9ad3-5c5072011cc2",
      "name": "Update status as \"Replied\"",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the main payload\nconst payload = $input.item.json.body.payload;\nconst imageBody = payload?.body?.image?.images;\nconst imagesFound = [];\n\nif (imageBody && Array.isArray(imageBody)) {\n  for (const img of imageBody) {\n    if (img.mediaUrl) {\n      // Extract Media ID from the end of the URL\n      const mediaId = img.mediaUrl.split('/').pop();\n\n      imagesFound.push({\n        messageId: payload.id, \n        mediaFileId: mediaId,\n        imageUrl: img.mediaUrl,\n        caption: payload.body.caption || \"\",\n        senderNumber: payload.sender?.contact?.identifierValue || \"\",\n        sender: payload.sender?.contact?.annotations?.name || \"Unknown\"\n      });\n    }\n  }\n}\n\n// Return the extracted data or a fallback if no images exist\nreturn imagesFound.length > 0 ? imagesFound : [{ imageUrl: null, status: \"no image found\" }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -96
      ],
      "id": "5d9ecee5-1fa1-4320-8b74-7a31b0e709ed",
      "name": "Get image file ID"
    },
    {
      "parameters": {
        "url": "=https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/{{ $('Get image file ID').item.json.messageId }}/media/{{ $('Get image file ID').item.json.mediaFileId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "AccessKey JpV6a4ZnSnvXExEeUW0Rd046hsBMwmBpjmWN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        -96
      ],
      "id": "89b8011b-f818-479e-b7bd-cfa2fd1cbb88",
      "name": "Retrieve image from Bird"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contains comprehensive product knowledge about Oddle and Oddle Shop, including what the platform does, key features, and value propositions. Use this to answer prospect questions about Oddle's products and capabilities.",
        "tableName": {
          "__rl": true,
          "value": "oddle_eshop_knowledge_base",
          "mode": "list",
          "cachedResultName": "oddle_eshop_knowledge_base"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3776,
        288
      ],
      "id": "c6210e3e-6b66-44e6-ad3e-643d9e329cb7",
      "name": "Product Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        3776,
        448
      ],
      "id": "14437758-1ed1-4c85-9f18-094f30702022",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    }
  ],
  "connections": {
    "Get User's Message": {
      "main": [
        [
          {
            "node": "Get company name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirect Message Types": {
      "main": [
        [
          {
            "node": "Check if Bot Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Bot Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image file ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Reply": {
      "main": [
        [
          {
            "node": "Check for reply from SG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Check if Bot Message",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Check if Bot Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check if Bot Message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat History": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Format image description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format image description": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format response": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Response Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Format response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update status as \"Replied\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip auto reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get conversation ID": {
      "main": [
        [
          {
            "node": "Get Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History": {
      "main": [
        [
          {
            "node": "Parse Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent": {
      "main": [
        [
          {
            "node": "Send to Slack for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Response Handling Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Response Handling Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get company name": {
      "main": [
        [
          {
            "node": "Get conversation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields": {
      "main": [
        [
          {
            "node": "Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Set Output": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Set Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluation1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation1": {
      "main": [
        [
          {
            "node": "Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Latitude": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for reply from SG": {
      "main": [
        [
          {
            "node": "Redirect Message Types",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image file ID": {
      "main": [
        [
          {
            "node": "Retrieve image from Bird",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve image from Bird": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Product Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 5,
    "timezone": "Asia/Singapore",
    "errorWorkflow": "2SWvtvGbkteCtlr0"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When fetching a dataset row": [
      {
        "json": {
          "row_number": 2,
          "Body": "NowBookIt already sends reminders",
          "Expected Response": "Fair point, we look at it slightly differently though. Reminders handle the bookings you already have, we focus on generating new ones and growing your database, like:\n• Cancellation recovery: auto win back guests who drop off\n• Targeted broadcasts: re-engage diners who haven't visited in months\n\nWould you like me to show you the difference?",
          "Actual Response": "",
          "Accuracy": "",
          "_rowsLeft": 16
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Receive Reply": [
      {
        "json": {
          "headers": {
            "host": "workflow.oddle.center",
            "content-type": "application/json; charset=utf-8",
            "messagebird-request-id": "73d27bd1-ba32-464d-abb9-9fa7d2a8562e",
            "messagebird-request-timestamp": "1772094811",
            "user-agent": "Messagebird/Requests develop:8c9cc536",
            "content-length": "1174",
            "x-cloud-trace-context": "5f8b5fe1fed6db83889fb086a1152836/4624140211033960549",
            "x-forwarded-proto": "https",
            "traceparent": "00-5f8b5fe1fed6db83889fb086a1152836-402c3f05ae477065-00",
            "x-forwarded-for": "15.206.201.69",
            "forwarded": "for=\"15.206.201.69\";proto=https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "service": "channels",
            "event": "whatsapp.inbound",
            "payload": {
              "id": "851d9f54-e819-49d6-af44-bd61bfab664d",
              "channelId": "22c5243b-3d44-4590-82d7-534d77642dbd",
              "sender": {
                "contact": {
                  "id": "a65c2810-ebf1-4fd3-aaf7-bb7c473acad3",
                  "identifierKey": "phonenumber",
                  "identifierValue": "+6585315474",
                  "annotations": {
                    "name": "Nooruddin"
                  }
                }
              },
              "receiver": {
                "connector": {
                  "id": "e2d11e1a-aae7-46bf-aaad-ed0a745ecac0",
                  "identifierValue": "+6588055922"
                }
              },
              "body": {
                "type": "image",
                "image": {
                  "images": [
                    {
                      "mediaUrl": "https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/851d9f54-e819-49d6-af44-bd61bfab664d/media/fe47f106-ad60-4615-8847-4e511a40d19c"
                    }
                  ]
                }
              },
              "meta": {
                "extraInformation": {
                  "timestamp": "1772094806",
                  "user_locale": "cmn",
                  "whatsapp.media.type": "image"
                }
              },
              "reference": "",
              "replyTo": {
                "id": "de1f0d4c-aa8e-4597-a30f-400442add7fb",
                "order": 0,
                "type": "message"
              },
              "parts": [
                {
                  "platformReference": "wamid.HBgKNjU4NTMxNTQ3NBUCABIYIEFDQkFBODZERUQ3NzE4ODUyNjU2QzJBQTE0MDIzODhGAA=="
                }
              ],
              "status": "delivered",
              "reason": "",
              "direction": "incoming",
              "chargeableUnits": 1,
              "lastStatusAt": "2026-02-26T08:33:30.933Z",
              "createdAt": "2026-02-26T08:33:30.792Z",
              "updatedAt": "2026-02-26T08:33:30.933Z",
              "batchId": null
            }
          },
          "webhookUrl": "https://workflow.oddle.center/webhook/sg-sdr-os",
          "executionMode": "production"
        }
      }
    ],
    "Get image file ID": [
      {
        "json": {
          "messageId": "851d9f54-e819-49d6-af44-bd61bfab664d",
          "mediaFileId": "fe47f106-ad60-4615-8847-4e511a40d19c",
          "imageUrl": "https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/851d9f54-e819-49d6-af44-bd61bfab664d/media/fe47f106-ad60-4615-8847-4e511a40d19c",
          "caption": "",
          "senderNumber": "+6585315474",
          "sender": "Nooruddin"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Analyze image": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "This image is a screenshot from an Android mobile phone showing a \"Thank you\" confirmation page for an online discovery call.\n\n**Image Description:**\n\nThe screenshot is predominantly white, with a gray background visible around a central white card.\n\nAt the very top, a dark gray status bar shows:\n*   On the left: \"16:33\" (time), followed by icons for what appear to be tabs, messages, and Gmail (\"M\").\n*   On the right: \"Vo)) LTE\", \"4G\" connectivity, an upward arrow, \"50%\" battery life, and a battery icon.\n\nBelow the status bar is a dark gray browser address bar, displaying:\n*   A home icon and a refresh/settings icon on the left.\n*   The URL: \"forms.oddle.me/oddle-discc\" (partially visible).\n*   On the right: The number \"11\" (likely indicating open tabs) and a three-dot menu icon.\n\nThe main content of the screen features:\n*   A light blue circle with a dark blue checkmark inside, centered at the top.\n*   Below the checkmark, the text \"Thank you\" is displayed in large, bold, dark gray letters.\n*   A white rectangular card with rounded corners is centered below the \"Thank you\" message. This card contains details about an event:\n    *   The title \"Oddle Online Discovery Call Singapore\" in bold, dark gray text.\n    *   Below the title, there's a section for the organizer: A green square icon with a white \"J\" inside, next to \"Jia Li Yew\" and \"Organizer\" below it.\n    *   Next, a globe icon is shown beside the text \"Asia/Singapore\".\n    *   A clock icon is displayed next to the date and time: \"Mar 4, 2026 10:30 AM - 11:30 AM\".\n    *   Finally, a video camera icon is present next to \"Google Meet\", indicating the meeting platform.\n\nAt the bottom of the screen, there's a standard Android navigation bar with three icons:\n*   Three vertical lines (recent apps button).\n*   A circle (home button).\n*   A left arrow (back button).\n\n**Text Transcription:**\n\n*   16:33\n*   M\n*   forms.oddle.me/oddle-discc\n*   Vo)) LTE\n*   4G\n*   50%\n*   11\n*   Thank you\n*   Oddle Online Discovery Call Singapore\n*   J\n*   Jia Li Yew\n*   Organizer\n*   Asia/Singapore\n*   Mar 4, 2026 10:30 AM - 11:30 AM\n*   Google Meet"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "e2413d9d-af1d-4c18-ad0f-b362e59eccd1",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-25T08:52:31.198Z",
      "createdAt": "2026-02-25T08:52:31.198Z",
      "role": "workflow:owner",
      "workflowId": "wNAgEdw1aQPMSRjf",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-02-25T08:52:06.128Z",
      "createdAt": "2026-02-25T08:52:06.128Z",
      "id": "noSkE7clLQKsDr2Z",
      "name": "os_marketplace"
    },
    {
      "updatedAt": "2026-02-25T08:51:58.633Z",
      "createdAt": "2026-02-25T08:51:58.633Z",
      "id": "k1knXy75FUYO6sZK",
      "name": "sg"
    }
  ]
}