[whatsapp]-process-human-approved-response-for-wa-sdr-agent-.json
{
  "updatedAt": "2026-04-22T07:14:19.650Z",
  "createdAt": "2026-02-05T06:36:49.966Z",
  "id": "iW7MF8aPEB5WE3Z2",
  "name": "[WhatsApp] Process human-approved response for WA SDR Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Slack Payload').item.json.original_message_ts }}\",\n  \"text\": \"Prospect reply updated\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Parse Slack Payload').item.json.lead_identifier }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Parse Slack Payload').item.json.contact_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Segment:*\\n{{ $('Parse Slack Payload').item.json.segment }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Parse Slack Payload').item.json.lead_message || '';\n    return JSON.stringify(rawText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ \n  (function() {\n    let agentText = $('Parse Slack Payload').item.json.ai_generated_response || '';\n    return JSON.stringify(agentText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $('Parse Slack Payload').item.json.action_id === 'approve' ? ':white_check_mark: *Approved & Sent*' : ':pencil2: *Rejected - Manual Follow-up*' }} by <@{{ $json.slack_user_id }}>\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        0
      ],
      "name": "Update Message - Approved",
      "id": "bb25144a-1f54-47d7-b136-2b8f7e394982",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Slack Payload').item.json.original_message_ts }}\",\n  \"text\": \"Prospect reply rejected\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Parse Slack Payload').item.json.lead_identifier }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Parse Slack Payload').item.json.contact_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Segment:*\\n{{ $('Parse Slack Payload').item.json.segment }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Parse Slack Payload').item.json.lead_message || '';\n    return JSON.stringify(rawText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ \n  (function() {\n    let agentText = $('Parse Slack Payload').item.json.ai_generated_response || '';\n    return JSON.stringify(agentText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":pencil2: *Rejected* by <@{{ $('Parse Slack Payload').item.json.slack_user_id }}>. Manual response pending...\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        416
      ],
      "name": "Update Message - Rejected",
      "id": "e9ad7856-b998-47ec-be7f-6e2cc9e4debb",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16,
        528
      ],
      "name": "Respond to Slack",
      "id": "db0c01fe-e130-4858-b69a-34b5ffc3aa53"
    },
    {
      "parameters": {
        "jsCode": "// Parse Slack interaction payload\nconst payload = $input.first().json.body.payload;\nlet parsedPayload;\n\nif (typeof payload === 'string') {\n  parsedPayload = JSON.parse(payload);\n} else {\n  parsedPayload = payload;\n}\n\n// Extract basic action details\nconst action = parsedPayload.actions?.[0];\nconst actionId = action?.action_id; \nconst user = parsedPayload.user;\nconst channel = parsedPayload.channel;\nconst responseUrl = parsedPayload.response_url;\nconst messageTs = parsedPayload.message?.ts;\nconst triggerId = parsedPayload.trigger_id;\n\n// Logic to extract Bird IDs from the pipe-separated value\n// Example: \"9417efce...|7a2155ed...|6e133ad8...\"\nconst rawValue = action?.value || \"\";\nconst valueParts = rawValue.split('|');\n\nconst birdConversationId = valueParts[0] || null;\n\n// Helper function to extract text from markdown fields\nfunction extractFromField(blocks, label) {\n  for (const block of blocks) {\n    if (block.type === 'section' && block.fields) {\n      for (const field of block.fields) {\n        if (field.text && field.text.includes(label)) {\n          const parts = field.text.split('\\n');\n          if (parts.length > 1) {\n            return parts[1].trim();\n          }\n        }\n      }\n    }\n  }\n  return null;\n}\n\n// Helper function to extract text inside code blocks\nfunction extractSectionText(blocks, header) {\n  for (const block of blocks) {\n    if (block.type === 'section' && block.text && block.text.text) {\n      if (block.text.text.includes(header)) {\n        const text = block.text.text;\n        const codeBlockMatch = text.match(/```([\\s\\S]*?)```/);\n        if (codeBlockMatch) {\n          return codeBlockMatch[1].trim();\n        }\n        const parts = text.split(header);\n        if (parts.length > 1) {\n          return parts[1].replace(/^\\n/, '').trim();\n        }\n      }\n    }\n  }\n  return null;\n}\n\nconst blocks = parsedPayload.message?.blocks || [];\n\n// Extraction based on the specific keys in your JSON payload\nconst restaurantName = extractFromField(blocks, '*Restaurant:*');\nconst number = extractFromField(blocks, '*Number:*');\nconst contactName = extractFromField(blocks, '*Contact name:*');\nconst segment = extractFromField(blocks, '*Segment:*');\nconst leadMessage = extractSectionText(blocks, \"*Prospect's Reply:*\");\nconst aiResponse = extractSectionText(blocks, '*Agent Generated Response:*');\n\nfunction detectCountry(phone) {\n  if (!phone) return 'Unknown';\n  if (phone.startsWith('+65')) return 'Singapore';\n  if (phone.startsWith('+60')) return 'Malaysia';\n  if (phone.startsWith('+61')) return 'Australia';\n  if (phone.startsWith('+971')) return 'Dubai';\n  return 'Unknown';\n}\n\nreturn {\n  json: {\n    action_id: actionId,\n    bird_conversation_id: birdConversationId,\n    slack_channel_id: channel?.id,\n    slack_channel_name: channel?.name,\n    slack_user_id: user?.id,\n    slack_user_name: user?.name || user?.username,\n    company_name: restaurantName,\n    contact_name: contactName || 'Unknown',\n    segment: segment || '',\n    lead_identifier: number,\n    country: detectCountry(number),\n    message_type: \"block_actions\",\n    lead_message: leadMessage,\n    ai_generated_response: aiResponse,\n    response_url: responseUrl,\n    original_message_ts: messageTs,\n    trigger_id: triggerId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        320
      ],
      "name": "Parse Slack Payload",
      "id": "9aa8b53c-bd30-4b0d-ae14-036220241ebd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-send-success",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            },
            {
              "id": "a9b819a9-7bac-4399-984e-28e3ddfd0802",
              "leftValue": "={{ $json.status }}",
              "rightValue": "accepted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        224
      ],
      "name": "Check Send Status",
      "id": "cfef757e-6380-45ea-b0c8-60863d87dbf3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"text\": \"Failed to send message\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"❌ *Failed to send message*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*To Restaurant:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Parse Slack Payload').item.json.lead_identifier }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Approved by:*\\n{{ $('Parse Slack Payload').item.json.slack_user_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Error Details:*\\n```Error sending response to prospect```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"⚠️ *Please send the reply manually via Bird.*\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1520,
        448
      ],
      "name": "Post Error status to Slack",
      "id": "abe6bd9c-2673-4240-a8ea-12310d608ad9",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"text\": \"Message sent!\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"✅ *Message Sent*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*To Restaurant:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Parse Slack Payload').item.json.lead_identifier }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Approved by:*\\n{{ $('Parse Slack Payload').item.json.slack_user_name }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1520,
        208
      ],
      "name": "Post Success status to Slack",
      "id": "7305a82e-ffdc-49ae-80cf-5191daf98a36",
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message-approved-alex",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        336
      ],
      "id": "7b57d141-7fd7-4c63-aa1b-c7416bb390a0",
      "name": "Webhook",
      "webhookId": "ef848f61-782f-4967-b0bf-5755f32f56df"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/conversations/{{ $('Parse Slack Payload').item.json.bird_conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"participantType\": \"accessKey\",\n    \"participantId\": \"60363874-e6e7-4af3-8a7f-9878ba9a173a\",\n    \"recipients\": [\n      {\n        \"type\": \"to\",\n        \"identifierKey\": \"phonenumber\",\n        \"identifierValue\": \"{{ $('Parse Slack Payload').item.json.lead_identifier }}\"\n      }\n    ],\n    \"body\": {\n      \"type\": \"text\",\n      \"text\": {\n        \"text\": \"{{ \n  (function() {\n    let agentText = $(\"Parse Slack Payload\").item.json.ai_generated_response || '';\n    return JSON.stringify(agentText).slice(1, -1);\n  })()\n}}\"\n      }\n    },\n    \"addMissingParticipants\": true\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        224
      ],
      "id": "37c0ac2e-06ae-4276-8d94-bb85e3e12188",
      "name": "Respond to Prospect",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1R4VMEjneoFtqiZe",
          "name": "Bird API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "### Receive human's response from Slack",
        "height": 80,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        208
      ],
      "typeVersion": 1,
      "id": "c0fdf043-dd70-4245-ace2-cfac4339a18e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-approve",
              "leftValue": "={{ $json.action_id }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        496,
        320
      ],
      "name": "Check if Approved",
      "id": "6d3863ce-4fb2-4f99-9881-a2d7a0bec8cd"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        224
      ],
      "id": "98d225be-0d55-4b0a-b8b8-104fd1f60d5a",
      "name": "Wait",
      "webhookId": "758333e8-fa7e-440d-8d33-079be0dbfa91"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg",
          "mode": "list",
          "cachedResultName": "Outbound SDR Training Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format('DD HH:mm') }}",
            "phone_number": "={{ $('Parse Slack Payload').item.json.lead_identifier }}",
            "contact_name": "={{ $('Parse Slack Payload').item.json.contact_name }}",
            "restaurant_name": "={{ $('Parse Slack Payload').item.json.company_name }}",
            "country": "={{ $('Parse Slack Payload').item.json.country }}",
            "bird_conversation_id": "={{ $('Parse Slack Payload').item.json.bird_conversation_id }}",
            "lead_message": "={{ $('Parse Slack Payload').item.json.lead_message }}",
            "agent_response": "={{ $('Parse Slack Payload').item.json.ai_generated_response }}",
            "final_response": "={{ $('Parse Slack Payload').item.json.ai_generated_response }}",
            "bird_message_id": "={{ $('Respond to Prospect').item.json.id }}",
            "response_type": "approved",
            "reviewer": "={{ $('Parse Slack Payload').item.json.slack_user_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "restaurant_name",
              "displayName": "restaurant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bird_conversation_id",
              "displayName": "bird_conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_message",
              "displayName": "lead_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_response",
              "displayName": "agent_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_response",
              "displayName": "final_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bird_message_id",
              "displayName": "bird_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_type",
              "displayName": "response_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviewer",
              "displayName": "reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1b00001-0001-4000-8000-000000000001",
      "name": "Log Approved to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "content": "### Setup Required\n1. Configure documentId on both Log nodes — select 'Outbound SDR Training Data' sheet, tab: response\n2. Verify bird_message_id field name from a live Bird API response (Log Approved node uses $('Respond to Prospect').item.json.id)",
        "width": 500
      },
      "id": "a1b00003-0003-4000-8000-000000000003",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "route-block-actions",
              "leftValue": "={{ (() => { const p = $json.body.payload; const parsed = typeof p === 'string' ? JSON.parse(p) : p; return parsed.type; })() }}",
              "rightValue": "block_actions",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b00010-0010-4000-8000-000000000010",
      "name": "Route Payload Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Slack Payload').item.json;\n\nconst privateMetadata = JSON.stringify({\n  bird_conversation_id: parsed.bird_conversation_id,\n  phone_number: parsed.lead_identifier,\n  contact_name: parsed.contact_name,\n  restaurant_name: parsed.company_name,\n  country: parsed.country,\n  segment: parsed.segment || '',\n  slack_channel_id: parsed.slack_channel_id,\n  original_message_ts: parsed.original_message_ts,\n  slack_user_id: parsed.slack_user_id,\n  slack_user_name: parsed.slack_user_name,\n  lead_message: (parsed.lead_message || '').substring(0, 500),\n  ai_generated_response: (parsed.ai_generated_response || '').substring(0, 300)\n});\n\nconst leadMsgSafe = (parsed.lead_message || '').substring(0, 200);\nconst aiRespSafe = (parsed.ai_generated_response || '').substring(0, 200);\nconst contactInfo = (parsed.contact_name || 'Unknown') + ' - ' + (parsed.company_name || 'Unknown');\n\nconst viewsOpenModal = {\n  trigger_id: parsed.trigger_id,\n  view: {\n    type: 'modal',\n    callback_id: 'manual_response_modal',\n    title: { type: 'plain_text', text: 'Send Manual Response' },\n    submit: { type: 'plain_text', text: 'Send' },\n    close: { type: 'plain_text', text: 'Discard' },\n    private_metadata: privateMetadata,\n    blocks: [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: '*To:* ' + contactInfo + '\\n*Their message:*\\n```' + leadMsgSafe + '```'\n        }\n      },\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: '*AI suggestion:*\\n```' + aiRespSafe + '```'\n        }\n      },\n      {\n        type: 'input',\n        block_id: 'manual_response_block',\n        label: { type: 'plain_text', text: 'Your response' },\n        element: {\n          type: 'plain_text_input',\n          action_id: 'manual_response_input',\n          multiline: true,\n          placeholder: { type: 'plain_text', text: 'Type your message to the prospect...' }\n        }\n      }\n    ]\n  }\n};\n\nreturn { json: { views_open_modal: viewsOpenModal } };"
      },
      "id": "a1b00011-0011-4000-8000-000000000011",
      "name": "Build Rejection Modal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/views.open",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.views_open_modal }}",
        "options": {}
      },
      "id": "a1b00012-0012-4000-8000-000000000012",
      "name": "Open Rejection Modal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        624
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body.payload;\nconst parsed = typeof payload === 'string' ? JSON.parse(payload) : payload;\n\nconst ctx = JSON.parse(parsed.view.private_metadata);\nconst manualResponse = (parsed.view.state.values?.manual_response_block?.manual_response_input?.value || '').trim();\n\nreturn {\n  json: {\n    bird_conversation_id: ctx.bird_conversation_id,\n    phone_number: ctx.phone_number,\n    contact_name: ctx.contact_name,\n    restaurant_name: ctx.restaurant_name,\n    country: ctx.country,\n    segment: ctx.segment || '',\n    slack_channel_id: ctx.slack_channel_id,\n    original_message_ts: ctx.original_message_ts,\n    slack_user_id: parsed.user?.id || ctx.slack_user_id,\n    slack_user_name: parsed.user?.name || parsed.user?.username || ctx.slack_user_name,\n    lead_message: ctx.lead_message,\n    ai_generated_response: ctx.ai_generated_response,\n    manual_response: manualResponse,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "a1b00013-0013-4000-8000-000000000013",
      "name": "Parse Modal Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/conversations/{{ $json.bird_conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"participantType\": \"accessKey\",\n    \"participantId\": \"60363874-e6e7-4af3-8a7f-9878ba9a173a\",\n    \"recipients\": [\n      {\n        \"type\": \"to\",\n        \"identifierKey\": \"phonenumber\",\n        \"identifierValue\": \"{{ $json.phone_number }}\"\n      }\n    ],\n    \"body\": {\n      \"type\": \"text\",\n      \"text\": {\n        \"text\": \"{{ \n  (function() {\n    let text = $json.manual_response || '';\n    return JSON.stringify(text).slice(1, -1);\n  })()\n}}\"\n      }\n    },\n    \"addMissingParticipants\": true\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "id": "a1b00014-0014-4000-8000-000000000014",
      "name": "Send Manual Response to Bird",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        848
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1R4VMEjneoFtqiZe",
          "name": "Bird API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Parse Modal Submission').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Modal Submission').item.json.original_message_ts }}\",\n  \"text\": \"Rejected - manual response sent\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Parse Modal Submission').item.json.phone_number }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Parse Modal Submission').item.json.restaurant_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Parse Modal Submission').item.json.contact_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{\n  (function() {\n    let txt = $('Parse Modal Submission').item.json.lead_message || '';\n    return JSON.stringify(txt).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Manual Response Sent:*\\n```{{\n  (function() {\n    let txt = $('Parse Modal Submission').item.json.manual_response || '';\n    return JSON.stringify(txt).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":no_entry: *Rejected* :white_check_mark: *Manual response sent* by <@{{ $('Parse Modal Submission').item.json.slack_user_id }}>\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b00015-0015-4000-8000-000000000015",
      "name": "Update Message - Manual Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        848
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "8F3Mb23D8ZFkrAh6",
          "name": "Slack's WhatsApp Agent Alex"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg",
          "mode": "list",
          "cachedResultName": "Outbound SDR Training Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Parse Modal Submission').item.json.timestamp }}",
            "phone_number": "={{ $('Parse Modal Submission').item.json.phone_number }}",
            "contact_name": "={{ $('Parse Modal Submission').item.json.contact_name }}",
            "restaurant_name": "={{ $('Parse Modal Submission').item.json.restaurant_name }}",
            "country": "={{ $('Parse Modal Submission').item.json.country }}",
            "bird_conversation_id": "={{ $('Parse Modal Submission').item.json.bird_conversation_id }}",
            "lead_message": "={{ $('Parse Modal Submission').item.json.lead_message }}",
            "agent_response": "={{ $('Parse Modal Submission').item.json.ai_generated_response }}",
            "final_response": "={{ $('Parse Modal Submission').item.json.manual_response }}",
            "bird_message_id": "={{ $('Send Manual Response to Bird').item.json.id }}",
            "response_type": "rejected_manual",
            "reviewer": "={{ $('Parse Modal Submission').item.json.slack_user_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "restaurant_name",
              "displayName": "restaurant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bird_conversation_id",
              "displayName": "bird_conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_message",
              "displayName": "lead_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_response",
              "displayName": "agent_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_response",
              "displayName": "final_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bird_message_id",
              "displayName": "bird_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_type",
              "displayName": "response_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviewer",
              "displayName": "reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1b00016-0016-4000-8000-000000000016",
      "name": "Log Manual Response to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        944,
        848
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    }
  ],
  "connections": {
    "Parse Slack Payload": {
      "main": [
        [
          {
            "node": "Check if Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Send Status": {
      "main": [
        [
          {
            "node": "Post Success status to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Error status to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Success status to Slack": {
      "main": [
        [
          {
            "node": "Log Approved to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Payload Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Prospect": {
      "main": [
        [
          {
            "node": "Check Send Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Approved": {
      "main": [
        [
          {
            "node": "Update Message - Approved",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Message - Rejected",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Rejection Modal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Respond to Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Payload Type": {
      "main": [
        [
          {
            "node": "Parse Slack Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Modal Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rejection Modal": {
      "main": [
        [
          {
            "node": "Open Rejection Modal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Modal Submission": {
      "main": [
        [
          {
            "node": "Send Manual Response to Bird",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Manual Response to Bird": {
      "main": [
        [
          {
            "node": "Update Message - Manual Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Message - Manual Sent": {
      "main": [
        [
          {
            "node": "Log Manual Response to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 5,
    "timezone": "Asia/Singapore",
    "errorWorkflow": "2SWvtvGbkteCtlr0"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "workflow.oddle.center",
            "user-agent": "Slackbot 1.0 (+https://api.slack.com/robots)",
            "accept": "application/json,*/*",
            "x-slack-signature": "v0=ffa3e1334080f74535d584697d30d355ef71d9c05ec3948bf82843de3ba1739c",
            "x-slack-request-timestamp": "1772439579",
            "content-length": "3904",
            "content-type": "application/x-www-form-urlencoded",
            "x-cloud-trace-context": "cc66bb5881f4f4dc7179d6b7a2d4b3c8/1658413158742395039;o=1",
            "x-forwarded-proto": "https",
            "traceparent": "00-cc66bb5881f4f4dc7179d6b7a2d4b3c8-1703ddfb31ac889f-01",
            "x-forwarded-for": "52.87.169.247",
            "forwarded": "for=\"52.87.169.247\";proto=https",
            "accept-encoding": "gzip,deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "payload": "{\"type\":\"block_actions\",\"user\":{\"id\":\"U06UPB4K0AW\",\"username\":\"chloei.garcia\",\"name\":\"chloei.garcia\",\"team_id\":\"T030ZCV78\"},\"api_app_id\":\"A0ABFM500DV\",\"token\":\"ypD5cbrF1Fph1wRVZBTahAOZ\",\"container\":{\"type\":\"message\",\"message_ts\":\"1772407108.854429\",\"channel_id\":\"C0AHMPEV5DX\",\"is_ephemeral\":false},\"trigger_id\":\"10603374239763.3033437246.cfea62c42164cb538b3cd6d876840ea1\",\"team\":{\"id\":\"T030ZCV78\",\"domain\":\"oddle\"},\"enterprise\":null,\"is_enterprise_install\":false,\"channel\":{\"id\":\"C0AHMPEV5DX\",\"name\":\"noti-sdr-wa-agent-sg\"},\"message\":{\"user\":\"U0ABQNMMR0T\",\"type\":\"message\",\"ts\":\"1772407108.854429\",\"bot_id\":\"B0AC0N80884\",\"app_id\":\"A0ABFM500DV\",\"text\":\"New prospect reply needs approval\",\"team\":\"T030ZCV78\",\"blocks\":[{\"type\":\"header\",\"block_id\":\"5vrWB\",\"text\":{\"type\":\"plain_text\",\"text\":\":bell: New Prospect Reply\",\"emoji\":true}},{\"type\":\"divider\",\"block_id\":\"BNxkm\"},{\"type\":\"section\",\"block_id\":\"hrBy6\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Number:*\\n+6582180123\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Restaurant:*\\nSakon Thai\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"NKUp+\"},{\"type\":\"section\",\"block_id\":\"rocU2\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Prospect's Reply:*\\n```Hi Alan, for all Sakon Thai outlets. Kindly refer to my colleague Bajin as he is the one in charge```\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"qx+wS\"},{\"type\":\"section\",\"block_id\":\"0An9\\/\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Agent Generated Response:*\\n```Thanks Jade. Do you have a phone number for Bajin by any chance? I'll reach out to him directly and update our records.```\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"doZxC\"},{\"type\":\"actions\",\"block_id\":\"approval_actions\",\"elements\":[{\"type\":\"button\",\"action_id\":\"approve\",\"text\":{\"type\":\"plain_text\",\"text\":\":white_check_mark: Approve &amp; Send\",\"emoji\":true},\"style\":\"primary\",\"value\":\"aa221fc9-5448-41c0-b0c9-a435368fc1be||22c5243b-3d44-4590-82d7-534d77642dbd\"},{\"type\":\"button\",\"action_id\":\"reject\",\"text\":{\"type\":\"plain_text\",\"text\":\":pencil2: Reject &amp; Send manually\",\"emoji\":true},\"style\":\"danger\",\"value\":\"aa221fc9-5448-41c0-b0c9-a435368fc1be||22c5243b-3d44-4590-82d7-534d77642dbd\"}]}]},\"state\":{\"values\":{}},\"response_url\":\"https:\\/\\/hooks.slack.com\\/actions\\/T030ZCV78\\/10607706632278\\/mdaFJljXVbhsN9blDDgI4esN\",\"actions\":[{\"action_id\":\"approve\",\"block_id\":\"approval_actions\",\"text\":{\"type\":\"plain_text\",\"text\":\":white_check_mark: Approve &amp; Send\",\"emoji\":true},\"value\":\"aa221fc9-5448-41c0-b0c9-a435368fc1be||22c5243b-3d44-4590-82d7-534d77642dbd\",\"style\":\"primary\",\"type\":\"button\",\"action_ts\":\"1772439579.166008\"}]}"
          },
          "webhookUrl": "https://workflow.oddle.center/webhook/message-approved-alex",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "d4df0eff-855e-4ce8-ab5c-a0066d70f6ac",
  "activeVersionId": "d4df0eff-855e-4ce8-ab5c-a0066d70f6ac",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-05T06:36:49.966Z",
      "createdAt": "2026-02-05T06:36:49.966Z",
      "role": "workflow:owner",
      "workflowId": "iW7MF8aPEB5WE3Z2",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-22T07:14:21.562Z",
    "createdAt": "2026-04-22T07:14:19.655Z",
    "versionId": "d4df0eff-855e-4ce8-ab5c-a0066d70f6ac",
    "workflowId": "iW7MF8aPEB5WE3Z2",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.update",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Slack Payload').item.json.original_message_ts }}\",\n  \"text\": \"Prospect reply updated\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Parse Slack Payload').item.json.lead_identifier }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Parse Slack Payload').item.json.contact_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Segment:*\\n{{ $('Parse Slack Payload').item.json.segment }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Parse Slack Payload').item.json.lead_message || '';\n    return JSON.stringify(rawText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ \n  (function() {\n    let agentText = $('Parse Slack Payload').item.json.ai_generated_response || '';\n    return JSON.stringify(agentText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $('Parse Slack Payload').item.json.action_id === 'approve' ? ':white_check_mark: *Approved & Sent*' : ':pencil2: *Rejected - Manual Follow-up*' }} by <@{{ $json.slack_user_id }}>\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          800,
          0
        ],
        "name": "Update Message - Approved",
        "id": "bb25144a-1f54-47d7-b136-2b8f7e394982",
        "credentials": {
          "httpBearerAuth": {
            "id": "8F3Mb23D8ZFkrAh6",
            "name": "Slack's WhatsApp Agent Alex"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.update",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Slack Payload').item.json.original_message_ts }}\",\n  \"text\": \"Prospect reply rejected\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Parse Slack Payload').item.json.lead_identifier }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Parse Slack Payload').item.json.contact_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Segment:*\\n{{ $('Parse Slack Payload').item.json.segment }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Parse Slack Payload').item.json.lead_message || '';\n    return JSON.stringify(rawText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ \n  (function() {\n    let agentText = $('Parse Slack Payload').item.json.ai_generated_response || '';\n    return JSON.stringify(agentText).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":pencil2: *Rejected* by <@{{ $('Parse Slack Payload').item.json.slack_user_id }}>. Manual response pending...\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          800,
          416
        ],
        "name": "Update Message - Rejected",
        "id": "e9ad7856-b998-47ec-be7f-6e2cc9e4debb",
        "credentials": {
          "httpBearerAuth": {
            "id": "8F3Mb23D8ZFkrAh6",
            "name": "Slack's WhatsApp Agent Alex"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "OK",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          16,
          528
        ],
        "name": "Respond to Slack",
        "id": "db0c01fe-e130-4858-b69a-34b5ffc3aa53"
      },
      {
        "parameters": {
          "jsCode": "// Parse Slack interaction payload\nconst payload = $input.first().json.body.payload;\nlet parsedPayload;\n\nif (typeof payload === 'string') {\n  parsedPayload = JSON.parse(payload);\n} else {\n  parsedPayload = payload;\n}\n\n// Extract basic action details\nconst action = parsedPayload.actions?.[0];\nconst actionId = action?.action_id; \nconst user = parsedPayload.user;\nconst channel = parsedPayload.channel;\nconst responseUrl = parsedPayload.response_url;\nconst messageTs = parsedPayload.message?.ts;\nconst triggerId = parsedPayload.trigger_id;\n\n// Logic to extract Bird IDs from the pipe-separated value\n// Example: \"9417efce...|7a2155ed...|6e133ad8...\"\nconst rawValue = action?.value || \"\";\nconst valueParts = rawValue.split('|');\n\nconst birdConversationId = valueParts[0] || null;\n\n// Helper function to extract text from markdown fields\nfunction extractFromField(blocks, label) {\n  for (const block of blocks) {\n    if (block.type === 'section' && block.fields) {\n      for (const field of block.fields) {\n        if (field.text && field.text.includes(label)) {\n          const parts = field.text.split('\\n');\n          if (parts.length > 1) {\n            return parts[1].trim();\n          }\n        }\n      }\n    }\n  }\n  return null;\n}\n\n// Helper function to extract text inside code blocks\nfunction extractSectionText(blocks, header) {\n  for (const block of blocks) {\n    if (block.type === 'section' && block.text && block.text.text) {\n      if (block.text.text.includes(header)) {\n        const text = block.text.text;\n        const codeBlockMatch = text.match(/```([\\s\\S]*?)```/);\n        if (codeBlockMatch) {\n          return codeBlockMatch[1].trim();\n        }\n        const parts = text.split(header);\n        if (parts.length > 1) {\n          return parts[1].replace(/^\\n/, '').trim();\n        }\n      }\n    }\n  }\n  return null;\n}\n\nconst blocks = parsedPayload.message?.blocks || [];\n\n// Extraction based on the specific keys in your JSON payload\nconst restaurantName = extractFromField(blocks, '*Restaurant:*');\nconst number = extractFromField(blocks, '*Number:*');\nconst contactName = extractFromField(blocks, '*Contact name:*');\nconst segment = extractFromField(blocks, '*Segment:*');\nconst leadMessage = extractSectionText(blocks, \"*Prospect's Reply:*\");\nconst aiResponse = extractSectionText(blocks, '*Agent Generated Response:*');\n\nfunction detectCountry(phone) {\n  if (!phone) return 'Unknown';\n  if (phone.startsWith('+65')) return 'Singapore';\n  if (phone.startsWith('+60')) return 'Malaysia';\n  if (phone.startsWith('+61')) return 'Australia';\n  if (phone.startsWith('+971')) return 'Dubai';\n  return 'Unknown';\n}\n\nreturn {\n  json: {\n    action_id: actionId,\n    bird_conversation_id: birdConversationId,\n    slack_channel_id: channel?.id,\n    slack_channel_name: channel?.name,\n    slack_user_id: user?.id,\n    slack_user_name: user?.name || user?.username,\n    company_name: restaurantName,\n    contact_name: contactName || 'Unknown',\n    segment: segment || '',\n    lead_identifier: number,\n    country: detectCountry(number),\n    message_type: \"block_actions\",\n    lead_message: leadMessage,\n    ai_generated_response: aiResponse,\n    response_url: responseUrl,\n    original_message_ts: messageTs,\n    trigger_id: triggerId\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          320
        ],
        "name": "Parse Slack Payload",
        "id": "9aa8b53c-bd30-4b0d-ae14-036220241ebd"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "condition-send-success",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "isEmpty"
                }
              },
              {
                "id": "a9b819a9-7bac-4399-984e-28e3ddfd0802",
                "leftValue": "={{ $json.status }}",
                "rightValue": "accepted",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1248,
          224
        ],
        "name": "Check Send Status",
        "id": "cfef757e-6380-45ea-b0c8-60863d87dbf3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"text\": \"Failed to send message\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"❌ *Failed to send message*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*To Restaurant:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Parse Slack Payload').item.json.lead_identifier }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Approved by:*\\n{{ $('Parse Slack Payload').item.json.slack_user_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Error Details:*\\n```Error sending response to prospect```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"⚠️ *Please send the reply manually via Bird.*\"\n        }\n      ]\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1520,
          448
        ],
        "name": "Post Error status to Slack",
        "id": "abe6bd9c-2673-4240-a8ea-12310d608ad9",
        "credentials": {
          "httpBearerAuth": {
            "id": "8F3Mb23D8ZFkrAh6",
            "name": "Slack's WhatsApp Agent Alex"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Parse Slack Payload').item.json.slack_channel_id }}\",\n  \"text\": \"Message sent!\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"✅ *Message Sent*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*To Restaurant:*\\n{{ $('Parse Slack Payload').item.json.company_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Parse Slack Payload').item.json.lead_identifier }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Approved by:*\\n{{ $('Parse Slack Payload').item.json.slack_user_name }}\"\n        }\n      ]\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1520,
          208
        ],
        "name": "Post Success status to Slack",
        "id": "7305a82e-ffdc-49ae-80cf-5191daf98a36",
        "credentials": {
          "httpBearerAuth": {
            "id": "8F3Mb23D8ZFkrAh6",
            "name": "Slack's WhatsApp Agent Alex"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "message-approved-alex",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -224,
          336
        ],
        "id": "7b57d141-7fd7-4c63-aa1b-c7416bb390a0",
        "name": "Webhook",
        "webhookId": "ef848f61-782f-4967-b0bf-5755f32f56df"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/conversations/{{ $('Parse Slack Payload').item.json.bird_conversation_id }}/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"participantType\": \"accessKey\",\n    \"participantId\": \"60363874-e6e7-4af3-8a7f-9878ba9a173a\",\n    \"recipients\": [\n      {\n        \"type\": \"to\",\n        \"identifierKey\": \"phonenumber\",\n        \"identifierValue\": \"{{ $('Parse Slack Payload').item.json.lead_identifier }}\"\n      }\n    ],\n    \"body\": {\n      \"type\": \"text\",\n      \"text\": {\n        \"text\": \"{{ \n  (function() {\n    let agentText = $(\"Parse Slack Payload\").item.json.ai_generated_response || '';\n    return JSON.stringify(agentText).slice(1, -1);\n  })()\n}}\"\n      }\n    },\n    \"addMissingParticipants\": true\n}",
          "options": {
            "redirect": {
              "redirect": {
                "followRedirects": false
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1008,
          224
        ],
        "id": "37c0ac2e-06ae-4276-8d94-bb85e3e12188",
        "name": "Respond to Prospect",
        "credentials": {
          "httpHeaderAuth": {
            "id": "1R4VMEjneoFtqiZe",
            "name": "Bird API Key"
          }
        }
      },
      {
        "parameters": {
          "content": "### Receive human's response from Slack",
          "height": 80,
          "width": 352
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -176,
          208
        ],
        "typeVersion": 1,
        "id": "c0fdf043-dd70-4245-ace2-cfac4339a18e",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "condition-approve",
                "leftValue": "={{ $json.action_id }}",
                "rightValue": "approve",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          496,
          320
        ],
        "name": "Check if Approved",
        "id": "6d3863ce-4fb2-4f99-9881-a2d7a0bec8cd"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          800,
          224
        ],
        "id": "98d225be-0d55-4b0a-b8b8-104fd1f60d5a",
        "name": "Wait",
        "webhookId": "758333e8-fa7e-440d-8d33-079be0dbfa91"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg",
            "mode": "list",
            "cachedResultName": "Outbound SDR Training Data",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "response",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "timestamp": "={{ $now.format('DD HH:mm') }}",
              "phone_number": "={{ $('Parse Slack Payload').item.json.lead_identifier }}",
              "contact_name": "={{ $('Parse Slack Payload').item.json.contact_name }}",
              "restaurant_name": "={{ $('Parse Slack Payload').item.json.company_name }}",
              "country": "={{ $('Parse Slack Payload').item.json.country }}",
              "bird_conversation_id": "={{ $('Parse Slack Payload').item.json.bird_conversation_id }}",
              "lead_message": "={{ $('Parse Slack Payload').item.json.lead_message }}",
              "agent_response": "={{ $('Parse Slack Payload').item.json.ai_generated_response }}",
              "final_response": "={{ $('Parse Slack Payload').item.json.ai_generated_response }}",
              "bird_message_id": "={{ $('Respond to Prospect').item.json.id }}",
              "response_type": "approved",
              "reviewer": "={{ $('Parse Slack Payload').item.json.slack_user_name }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "phone_number",
                "displayName": "phone_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "contact_name",
                "displayName": "contact_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "restaurant_name",
                "displayName": "restaurant_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "country",
                "displayName": "country",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "bird_conversation_id",
                "displayName": "bird_conversation_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "lead_message",
                "displayName": "lead_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "agent_response",
                "displayName": "agent_response",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "final_response",
                "displayName": "final_response",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "bird_message_id",
                "displayName": "bird_message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "response_type",
                "displayName": "response_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "reviewer",
                "displayName": "reviewer",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "a1b00001-0001-4000-8000-000000000001",
        "name": "Log Approved to Google Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1760,
          208
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "H3k1lZEtuCVhMzHl",
            "name": "Google Sheets account 1"
          }
        }
      },
      {
        "parameters": {
          "content": "### Setup Required\n1. Configure documentId on both Log nodes — select 'Outbound SDR Training Data' sheet, tab: response\n2. Verify bird_message_id field name from a live Bird API response (Log Approved node uses $('Respond to Prospect').item.json.id)",
          "width": 500
        },
        "id": "a1b00003-0003-4000-8000-000000000003",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1760,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "route-block-actions",
                "leftValue": "={{ (() => { const p = $json.body.payload; const parsed = typeof p === 'string' ? JSON.parse(p) : p; return parsed.type; })() }}",
                "rightValue": "block_actions",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a1b00010-0010-4000-8000-000000000010",
        "name": "Route Payload Type",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          16,
          336
        ]
      },
      {
        "parameters": {
          "jsCode": "const parsed = $('Parse Slack Payload').item.json;\n\nconst privateMetadata = JSON.stringify({\n  bird_conversation_id: parsed.bird_conversation_id,\n  phone_number: parsed.lead_identifier,\n  contact_name: parsed.contact_name,\n  restaurant_name: parsed.company_name,\n  country: parsed.country,\n  segment: parsed.segment || '',\n  slack_channel_id: parsed.slack_channel_id,\n  original_message_ts: parsed.original_message_ts,\n  slack_user_id: parsed.slack_user_id,\n  slack_user_name: parsed.slack_user_name,\n  lead_message: (parsed.lead_message || '').substring(0, 500),\n  ai_generated_response: (parsed.ai_generated_response || '').substring(0, 300)\n});\n\nconst leadMsgSafe = (parsed.lead_message || '').substring(0, 200);\nconst aiRespSafe = (parsed.ai_generated_response || '').substring(0, 200);\nconst contactInfo = (parsed.contact_name || 'Unknown') + ' - ' + (parsed.company_name || 'Unknown');\n\nconst viewsOpenModal = {\n  trigger_id: parsed.trigger_id,\n  view: {\n    type: 'modal',\n    callback_id: 'manual_response_modal',\n    title: { type: 'plain_text', text: 'Send Manual Response' },\n    submit: { type: 'plain_text', text: 'Send' },\n    close: { type: 'plain_text', text: 'Discard' },\n    private_metadata: privateMetadata,\n    blocks: [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: '*To:* ' + contactInfo + '\\n*Their message:*\\n```' + leadMsgSafe + '```'\n        }\n      },\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: '*AI suggestion:*\\n```' + aiRespSafe + '```'\n        }\n      },\n      {\n        type: 'input',\n        block_id: 'manual_response_block',\n        label: { type: 'plain_text', text: 'Your response' },\n        element: {\n          type: 'plain_text_input',\n          action_id: 'manual_response_input',\n          multiline: true,\n          placeholder: { type: 'plain_text', text: 'Type your message to the prospect...' }\n        }\n      }\n    ]\n  }\n};\n\nreturn { json: { views_open_modal: viewsOpenModal } };"
        },
        "id": "a1b00011-0011-4000-8000-000000000011",
        "name": "Build Rejection Modal",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          624
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/views.open",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.views_open_modal }}",
          "options": {}
        },
        "id": "a1b00012-0012-4000-8000-000000000012",
        "name": "Open Rejection Modal",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1040,
          624
        ],
        "credentials": {
          "httpBearerAuth": {
            "id": "8F3Mb23D8ZFkrAh6",
            "name": "Slack's WhatsApp Agent Alex"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const payload = $input.first().json.body.payload;\nconst parsed = typeof payload === 'string' ? JSON.parse(payload) : payload;\n\nconst ctx = JSON.parse(parsed.view.private_metadata);\nconst manualResponse = (parsed.view.state.values?.manual_response_block?.manual_response_input?.value || '').trim();\n\nreturn {\n  json: {\n    bird_conversation_id: ctx.bird_conversation_id,\n    phone_number: ctx.phone_number,\n    contact_name: ctx.contact_name,\n    restaurant_name: ctx.restaurant_name,\n    country: ctx.country,\n    segment: ctx.segment || '',\n    slack_channel_id: ctx.slack_channel_id,\n    original_message_ts: ctx.original_message_ts,\n    slack_user_id: parsed.user?.id || ctx.slack_user_id,\n    slack_user_name: parsed.user?.name || parsed.user?.username || ctx.slack_user_name,\n    lead_message: ctx.lead_message,\n    ai_generated_response: ctx.ai_generated_response,\n    manual_response: manualResponse,\n    timestamp: new Date().toISOString()\n  }\n};"
        },
        "id": "a1b00013-0013-4000-8000-000000000013",
        "name": "Parse Modal Submission",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          848
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/conversations/{{ $json.bird_conversation_id }}/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"participantType\": \"accessKey\",\n    \"participantId\": \"60363874-e6e7-4af3-8a7f-9878ba9a173a\",\n    \"recipients\": [\n      {\n        \"type\": \"to\",\n        \"identifierKey\": \"phonenumber\",\n        \"identifierValue\": \"{{ $json.phone_number }}\"\n      }\n    ],\n    \"body\": {\n      \"type\": \"text\",\n      \"text\": {\n        \"text\": \"{{ \n  (function() {\n    let text = $json.manual_response || '';\n    return JSON.stringify(text).slice(1, -1);\n  })()\n}}\"\n      }\n    },\n    \"addMissingParticipants\": true\n}",
          "options": {
            "redirect": {
              "redirect": {
                "followRedirects": false
              }
            }
          }
        },
        "id": "a1b00014-0014-4000-8000-000000000014",
        "name": "Send Manual Response to Bird",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          496,
          848
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "1R4VMEjneoFtqiZe",
            "name": "Bird API Key"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.update",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Parse Modal Submission').item.json.slack_channel_id }}\",\n  \"ts\": \"{{ $('Parse Modal Submission').item.json.original_message_ts }}\",\n  \"text\": \"Rejected - manual response sent\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Parse Modal Submission').item.json.phone_number }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Parse Modal Submission').item.json.restaurant_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Parse Modal Submission').item.json.contact_name }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{\n  (function() {\n    let txt = $('Parse Modal Submission').item.json.lead_message || '';\n    return JSON.stringify(txt).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Manual Response Sent:*\\n```{{\n  (function() {\n    let txt = $('Parse Modal Submission').item.json.manual_response || '';\n    return JSON.stringify(txt).slice(1, -1);\n  })()\n}}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":no_entry: *Rejected* :white_check_mark: *Manual response sent* by <@{{ $('Parse Modal Submission').item.json.slack_user_id }}>\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "id": "a1b00015-0015-4000-8000-000000000015",
        "name": "Update Message - Manual Sent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          720,
          848
        ],
        "credentials": {
          "httpBearerAuth": {
            "id": "8F3Mb23D8ZFkrAh6",
            "name": "Slack's WhatsApp Agent Alex"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg",
            "mode": "list",
            "cachedResultName": "Outbound SDR Training Data",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "response",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tsG507zazeSJjtdQPsuVbIpl2nRset30ZytjJQp9_hg/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "timestamp": "={{ $('Parse Modal Submission').item.json.timestamp }}",
              "phone_number": "={{ $('Parse Modal Submission').item.json.phone_number }}",
              "contact_name": "={{ $('Parse Modal Submission').item.json.contact_name }}",
              "restaurant_name": "={{ $('Parse Modal Submission').item.json.restaurant_name }}",
              "country": "={{ $('Parse Modal Submission').item.json.country }}",
              "bird_conversation_id": "={{ $('Parse Modal Submission').item.json.bird_conversation_id }}",
              "lead_message": "={{ $('Parse Modal Submission').item.json.lead_message }}",
              "agent_response": "={{ $('Parse Modal Submission').item.json.ai_generated_response }}",
              "final_response": "={{ $('Parse Modal Submission').item.json.manual_response }}",
              "bird_message_id": "={{ $('Send Manual Response to Bird').item.json.id }}",
              "response_type": "rejected_manual",
              "reviewer": "={{ $('Parse Modal Submission').item.json.slack_user_name }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "phone_number",
                "displayName": "phone_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "contact_name",
                "displayName": "contact_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "restaurant_name",
                "displayName": "restaurant_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "country",
                "displayName": "country",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "bird_conversation_id",
                "displayName": "bird_conversation_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "lead_message",
                "displayName": "lead_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "agent_response",
                "displayName": "agent_response",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "final_response",
                "displayName": "final_response",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "bird_message_id",
                "displayName": "bird_message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "response_type",
                "displayName": "response_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "reviewer",
                "displayName": "reviewer",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "a1b00016-0016-4000-8000-000000000016",
        "name": "Log Manual Response to Google Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          944,
          848
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "H3k1lZEtuCVhMzHl",
            "name": "Google Sheets account 1"
          }
        }
      }
    ],
    "connections": {
      "Parse Slack Payload": {
        "main": [
          [
            {
              "node": "Check if Approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Send Status": {
        "main": [
          [
            {
              "node": "Post Success status to Slack",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Post Error status to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post Success status to Slack": {
        "main": [
          [
            {
              "node": "Log Approved to Google Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Respond to Slack",
              "type": "main",
              "index": 0
            },
            {
              "node": "Route Payload Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Prospect": {
        "main": [
          [
            {
              "node": "Check Send Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if Approved": {
        "main": [
          [
            {
              "node": "Update Message - Approved",
              "type": "main",
              "index": 0
            },
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Message - Rejected",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build Rejection Modal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Respond to Prospect",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Payload Type": {
        "main": [
          [
            {
              "node": "Parse Slack Payload",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Parse Modal Submission",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Rejection Modal": {
        "main": [
          [
            {
              "node": "Open Rejection Modal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Modal Submission": {
        "main": [
          [
            {
              "node": "Send Manual Response to Bird",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Manual Response to Bird": {
        "main": [
          [
            {
              "node": "Update Message - Manual Sent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Message - Manual Sent": {
        "main": [
          [
            {
              "node": "Log Manual Response to Google Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Oddle Engineer",
    "name": "Version d4df0eff",
    "description": "",
    "autosaved": false
  },
  "tags": []
}