add-knowledge-base-to-vector-db-for-sdr-agent-.json
{
  "updatedAt": "2026-04-09T13:11:01.392Z",
  "createdAt": "2026-01-29T07:40:48.647Z",
  "id": "pwY4BW0QygQifccI",
  "name": "Add Knowledge Base to Vector DB for SDR Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Add Objections Handling guide for Email SDR Agent (AU)\nFrom Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0",
        "height": 608,
        "width": 1296,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        -880
      ],
      "typeVersion": 1,
      "id": "6b1b0b8c-dc48-4989-955f-73346852874d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When new doc is added').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        640
      ],
      "id": "51189bbe-5177-4ded-a6db-71728f66773b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        848
      ],
      "name": "Google Gemini Embeddings1",
      "id": "728580cb-69a7-4dc3-ae68-3279f02cf9c2",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{$json.id}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        368,
        848
      ],
      "id": "0975c07d-9344-4f40-b055-bea41d6d17c0",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "content": "## Add Product Knowledge from Google Docs",
        "height": 544,
        "width": 1200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        512
      ],
      "typeVersion": 1,
      "id": "e7784c48-7ec5-4f92-9082-0de5497cf968",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When doc is edited').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        1200
      ],
      "id": "f0c3564e-bbff-4cd4-b7ec-8b6f6c485a9a",
      "name": "Download file1",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tTZOi8hGY5Gbzzz0",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update changes from Google Docs files\nOnly update one doc at a time",
        "height": 496,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        1104
      ],
      "typeVersion": 1,
      "id": "85028e8e-3b0c-475d-8e0f-2be9ac03a740",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "oddle_eshop_knowledge_base",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -144,
        1200
      ],
      "id": "78f791be-7d8a-4e86-8625-db4ee5a79eb1",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        1408
      ],
      "name": "Google Gemini Embeddings2",
      "id": "a3c4b007-e5f3-456c-a4d8-7f2bde741f38",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('When doc is edited').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        1408
      ],
      "id": "5f7d39f3-5375-4125-a380-3a6d250c2ef2",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "jsCode": "// Loop through every item received from the Google Sheet node\nreturn items.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  const documentText = `Prospect’s message: \"${data.content}\"\n\nHow to respond: \n\n${data.response_sent}`;\n\n  // Return the structured object\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -784
      ],
      "id": "bf516147-4c1b-4d7e-a18a-ac26f52321e1",
      "name": "Parse training content"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        320,
        -592
      ],
      "id": "0322f487-b192-4404-b747-1116680f9509",
      "name": "Default Data Loader6"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        -416
      ],
      "id": "3982aef3-957d-4715-9399-cf79779365d7",
      "name": "Character Text Splitter1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "response_handling_guide",
          "mode": "list",
          "cachedResultName": "response_handling_guide"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        192,
        -784
      ],
      "name": "Store Objections Guide to DB1",
      "id": "abbc3a67-1ec4-4596-8ff7-c86cba9bb46f",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "response_handling_guide",
        "filterType": "string",
        "filterString": "=metadata->>type=eq.{{ $json.type }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        -128
      ],
      "id": "90a816a8-0fb4-41f2-9a2f-3ff3d143edf4",
      "name": "Delete a row2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the original data from the Google Sheets trigger node\n// Using $('Row updated').all() to reference the trigger directly,\nconst originalItems = $('Row updated').all();\n\n// Loop through every item received from the Google Sheet node\nreturn originalItems.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  // This formats the prospect message and response for the knowledge base\n  const documentText = `Prospect's message: \"${data.content}\"\n\nHow to respond:\n\n${data.response_sent}`;\n\n  // Return the structured object for the vector store\n  // - content: the text to be embedded and stored\n  // - metadata: additional fields for filtering/retrieval\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -128
      ],
      "id": "d54119d7-92f0-4367-ac4c-3a927ad1ff9f",
      "name": "Parse training content1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 15
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
          "mode": "list",
          "cachedResultName": "Objections Handling guide for SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -784
      ],
      "id": "6d19e4f6-d510-4487-8d96-12af8d9047db",
      "name": "Row added",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
          "mode": "list",
          "cachedResultName": "Objections Handling guide for SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -128
      ],
      "id": "9cd7400d-a109-48a4-8d57-601a16e9b7d6",
      "name": "Row updated",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update changes from Objections Handling for Email SDR Agent (AU)\nFrom Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0\n",
        "height": 656,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        -224
      ],
      "typeVersion": 1,
      "id": "6ef26a51-1649-40af-b45f-6114982cb518",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "response_handling_guide",
          "mode": "list",
          "cachedResultName": "response_handling_guide"
        },
        "embeddingBatchSize": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        336,
        -128
      ],
      "id": "ab1b95ad-f56f-4eb7-9cf3-b6cf5d3eb120",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        64
      ],
      "id": "f1eb0551-b241-4a4a-81fd-3c10a34296b5",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Parse training content1').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $('Parse training content1').item.json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        48
      ],
      "id": "25318ac0-380c-4968-b3f9-a1be15745e04",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        400,
        208
      ],
      "id": "df9b01c7-edd2-4d81-a210-d5c0517da73c",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        -624
      ],
      "id": "a398f889-a481-4435-8575-df2821ec0814",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add Objections Handling guide for WA SDR Agent (SG)\nFrom Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0",
        "height": 608,
        "width": 1296,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        -880
      ],
      "typeVersion": 1,
      "id": "b08eaab7-3bd4-49b4-9f23-3ce8c63ea856",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// Loop through every item received from the Google Sheet node\nreturn items.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  const documentText = `Prospect’s message: \"${data.content}\"\n\nHow to respond: \n\n${data.response_sent}`;\n\n  // Return the structured object\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -784
      ],
      "id": "8251e8c7-eccb-48b0-a569-c05fdd464d06",
      "name": "Parse training content2"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1856,
        -592
      ],
      "id": "488d3376-bc2b-4992-b7e3-e7dbebd0899a",
      "name": "Default Data Loader7"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1856,
        -416
      ],
      "id": "7345b44c-1d41-4bd8-a099-8495cf12b52d",
      "name": "Character Text Splitter2"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "response_handling_wa_sg_os",
          "mode": "list",
          "cachedResultName": "response_handling_wa_sg_os"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1728,
        -784
      ],
      "name": "Store Objections Guide to DB",
      "id": "7aa03212-3388-43a0-89df-d6c9ec333320",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "response_handling_wa_sg_os",
        "filterType": "string",
        "filterString": "=metadata->>type=eq.{{ $json.type }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        -128
      ],
      "id": "a6545749-819a-4cd5-8249-90b1665acf8e",
      "name": "Delete a row3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the original data from the Google Sheets trigger node\n// Using $('Row updated1').all() to reference the trigger directly,\nconst originalItems = $('Row updated1').all();\n\n// Loop through every item received from the Google Sheet node\nreturn originalItems.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  // This formats the prospect message and response for the knowledge base\n  const documentText = `Prospect's message: \"${data.content}\"\n\nHow to respond:\n\n${data.response_sent}`;\n\n  // Return the structured object for the vector store\n  // - content: the text to be embedded and stored\n  // - metadata: additional fields for filtering/retrieval\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -128
      ],
      "id": "1ef5b60b-4471-43a7-baa8-653a66491837",
      "name": "Parse training content3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 15
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
          "mode": "list",
          "cachedResultName": "Objections Handling guide for SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1121523145,
          "mode": "list",
          "cachedResultName": "whatsapp_sg_os",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=1121523145"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        -784
      ],
      "id": "9a7bc86d-1ab8-44ab-a292-43e0a3ecf91d",
      "name": "Row added1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
          "mode": "list",
          "cachedResultName": "Objections Handling guide for SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1121523145,
          "mode": "list",
          "cachedResultName": "whatsapp_sg_os",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=1121523145"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        1184,
        -128
      ],
      "id": "ad72b804-93a8-4da7-9b3d-a02d13586b97",
      "name": "Row updated1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update changes from Objections Handling for WA SDR Agent (SG)\nFrom Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0\n",
        "height": 656,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        -224
      ],
      "typeVersion": 1,
      "id": "8df4ff2b-d04b-4cd7-b479-7eb700cf8b3b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "response_handling_wa_sg_os",
          "mode": "list",
          "cachedResultName": "response_handling_wa_sg_os"
        },
        "embeddingBatchSize": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1872,
        -128
      ],
      "id": "29cf5fc8-79e6-44d4-9c26-06f15a2d61f4",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1776,
        64
      ],
      "id": "d8c7ecc1-2f5a-4abb-80db-4bc4abbe3078",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Parse training content3').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $('Parse training content3').item.json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1936,
        48
      ],
      "id": "8af6a974-d124-4321-9d44-33bb760b15c2",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1936,
        208
      ],
      "id": "6a375ad0-ca99-4934-971d-f74876bd81f0",
      "name": "Character Text Splitter3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1680,
        -624
      ],
      "id": "b1005d53-7c9d-4f52-8e4d-0b6fc07896ce",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 15
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "16bayXrwigTbUhTyJN06z9ZdfIcEE0B-X",
          "mode": "list",
          "cachedResultName": "Knowledge Base for SDR Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16bayXrwigTbUhTyJN06z9ZdfIcEE0B-X"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        640
      ],
      "id": "43e95781-692a-4cf1-bf66-c2e28d7e4ec6",
      "name": "When new doc is added",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "oddle_eshop_knowledge_base",
          "mode": "list",
          "cachedResultName": "oddle_eshop_knowledge_base"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        176,
        640
      ],
      "name": "Store Product Knowledge",
      "id": "7e3744dd-e8fc-4438-ac59-eb48ec8a9d2e",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 15
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1GNxA2VUUWSPycTq36Nss4sMImHZomH-177jwEj6r_a8",
          "mode": "list",
          "cachedResultName": "Oddle & Product Knowledge",
          "cachedResultUrl": "https://docs.google.com/document/d/1GNxA2VUUWSPycTq36Nss4sMImHZomH-177jwEj6r_a8/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        1200
      ],
      "id": "70c2ec94-5137-42aa-819c-6880198a0741",
      "name": "When doc is edited",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tTZOi8hGY5Gbzzz0",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "oddle_eshop_knowledge_base",
          "mode": "list",
          "cachedResultName": "oddle_eshop_knowledge_base"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        384,
        1200
      ],
      "name": "Update Product Knowledge",
      "id": "bf6aaa1d-dce0-441d-b777-834a211f1ce8",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add Objections Handling guide for WA SDR Agent (MY)\nFrom Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0",
        "height": 608,
        "width": 1296,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4128,
        -880
      ],
      "typeVersion": 1,
      "id": "61a70cbf-5b1e-4783-a0fb-0f05034790b6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "jsCode": "// Loop through every item received from the Google Sheet node\nreturn items.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  const documentText = `Prospect’s message: \"${data.content}\"\n\nHow to respond: \n\n${data.response_sent}`;\n\n  // Return the structured object\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        -784
      ],
      "id": "52d57f89-0929-4ac1-a4e4-188d8611f8bb",
      "name": "Parse training content6"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        4896,
        -592
      ],
      "id": "bdcad637-eb4a-426e-8b5b-0903eb8bc3fa",
      "name": "Default Data Loader9"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        4896,
        -416
      ],
      "id": "817478b4-2f76-400c-b11b-a27a362fb56a",
      "name": "Character Text Splitter6"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "response_handling_wa_my",
          "mode": "list",
          "cachedResultName": "response_handling_wa_my"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        4768,
        -784
      ],
      "name": "Store Objections Guide to DB3",
      "id": "237f6372-a6e7-4cfe-bf22-7ddbe89c3a4e",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "response_handling_wa_my",
        "filterType": "string",
        "filterString": "=metadata->>type=eq.{{ $json.type }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4464,
        -128
      ],
      "id": "527f0103-6fcf-48ac-b526-71529103db3b",
      "name": "Delete a row5",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the original data from the Google Sheets trigger node\n// Using $('Row updated3').all() to reference the trigger directly,\nconst originalItems = $('Row updated3').all();\n\n// Loop through every item received from the Google Sheet node\nreturn originalItems.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  // This formats the prospect message and response for the knowledge base\n  const documentText = `Prospect's message: \"${data.content}\"\n\nHow to respond:\n\n${data.response_sent}`;\n\n  // Return the structured object for the vector store\n  // - content: the text to be embedded and stored\n  // - metadata: additional fields for filtering/retrieval\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4704,
        -128
      ],
      "id": "ea444ae3-faa3-4bb1-98c2-05da1e567291",
      "name": "Parse training content7"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 15
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
          "mode": "list",
          "cachedResultName": "Objections Handling guide for SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 625641366,
          "mode": "list",
          "cachedResultName": "whatsapp_my_os_or",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=625641366"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        4240,
        -784
      ],
      "id": "2857ff94-b675-4977-9159-f7bc133e2674",
      "name": "Row added3",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
          "mode": "list",
          "cachedResultName": "Objections Handling guide for SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 625641366,
          "mode": "list",
          "cachedResultName": "whatsapp_my_os_or",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=625641366"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        4224,
        -128
      ],
      "id": "c81a4b6a-500a-488e-bc0c-d251493f4a8a",
      "name": "Row updated3",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update changes from Objections Handling for WA SDR Agent (MY)\nFrom Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0\n",
        "height": 656,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4128,
        -224
      ],
      "typeVersion": 1,
      "id": "3060a40c-cc31-417c-89f5-e954e994a428",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "response_handling_wa_my",
          "mode": "list",
          "cachedResultName": "response_handling_wa_my"
        },
        "embeddingBatchSize": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        4912,
        -128
      ],
      "id": "690a8e45-d68b-4a4e-9408-dc991a8db01f",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        4816,
        64
      ],
      "id": "77f920ad-3d9d-48b0-8a4b-cd2bbc6a2a1c",
      "name": "Embeddings Google Gemini6",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Parse training content7').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $('Parse training content7').item.json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        4976,
        48
      ],
      "id": "ffcb576f-56de-44f1-8624-d22cb02f4aa6",
      "name": "Default Data Loader5"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        4976,
        208
      ],
      "id": "ad77055e-c177-4bad-848e-517a0721f0da",
      "name": "Character Text Splitter7"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        4720,
        -624
      ],
      "id": "1f13af50-d7d8-44ad-99b9-24499ac0a195",
      "name": "Embeddings Google Gemini7",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add Objections Handling guide for WA SDR Agent (AU)\nFrom Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0",
        "height": 608,
        "width": 1296,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5584,
        -880
      ],
      "typeVersion": 1,
      "id": "48b0c2cd-f334-4b9f-b1ea-84990f41c7a7",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "jsCode": "// Loop through every item received from the Google Sheet node\nreturn items.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  const documentText = `Prospect’s message: \"${data.content}\"\n\nHow to respond: \n\n${data.response_sent}`;\n\n  // Return the structured object\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5904,
        -784
      ],
      "id": "07d93ec2-24b1-45d0-be10-94e28512a59b",
      "name": "Parse training content8"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        6352,
        -592
      ],
      "id": "8eb7e345-9c99-429b-a9c3-45266e076006",
      "name": "Default Data Loader10"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        6352,
        -416
      ],
      "id": "27e42082-b20c-4b6e-8f36-bf653034537f",
      "name": "Character Text Splitter8"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "response_handling_wa_au",
          "mode": "list",
          "cachedResultName": "response_handling_wa_au"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        6224,
        -784
      ],
      "name": "Store Objections Guide to DB4",
      "id": "f948535b-3e05-4199-a96d-0bb646d1959e",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "response_handling_wa_au",
        "filterType": "string",
        "filterString": "=metadata->>type=eq.{{ $json.type }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5920,
        -128
      ],
      "id": "314228ce-991d-4b31-aa28-f3f7c353275d",
      "name": "Delete a row6",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the original data from the Google Sheets trigger node\n// Using $('Row updated4').all() to reference the trigger directly,\nconst originalItems = $('Row updated4').all();\n\n// Loop through every item received from the Google Sheet node\nreturn originalItems.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  // This formats the prospect message and response for the knowledge base\n  const documentText = `Prospect's message: \"${data.content}\"\n\nHow to respond:\n\n${data.response_sent}`;\n\n  // Return the structured object for the vector store\n  // - content: the text to be embedded and stored\n  // - metadata: additional fields for filtering/retrieval\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6160,
        -128
      ],
      "id": "b34dde67-7926-40a5-bf5f-0b201e90fadf",
      "name": "Parse training content9"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 15
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
          "mode": "list",
          "cachedResultName": "Objections Handling guide for SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 264288353,
          "mode": "list",
          "cachedResultName": "whatsapp_au",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=264288353"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        5696,
        -784
      ],
      "id": "dadaaebe-a0c7-4cc9-b879-d0c191b1caf3",
      "name": "Row added4",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
          "mode": "list",
          "cachedResultName": "Objections Handling guide for SDR Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 264288353,
          "mode": "list",
          "cachedResultName": "whatsapp_au",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=264288353"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        5680,
        -128
      ],
      "id": "633f393d-ceec-4e2c-b30e-f1a53de98d01",
      "name": "Row updated4",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update changes from Objections Handling for WA SDR Agent (MY)\nFrom Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0\n",
        "height": 656,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5584,
        -224
      ],
      "typeVersion": 1,
      "id": "8fa16ea9-295e-4b5f-88ca-f548f70bf612",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "response_handling_wa_au",
          "mode": "list",
          "cachedResultName": "response_handling_wa_au"
        },
        "embeddingBatchSize": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        6368,
        -128
      ],
      "id": "67e7bfc4-3753-4f31-890f-0291287b74a2",
      "name": "Supabase Vector Store4",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        6272,
        64
      ],
      "id": "4b6f7902-8df3-4fbc-93ea-5ee14e4bc31c",
      "name": "Embeddings Google Gemini8",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Parse training content9').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $('Parse training content9').item.json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        6432,
        48
      ],
      "id": "b191a398-b9ca-4b3a-807a-5413fe42ee18",
      "name": "Default Data Loader11"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        6432,
        208
      ],
      "id": "6fc0dd4b-bb76-435b-b200-3716e130de0d",
      "name": "Character Text Splitter9"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        6176,
        -624
      ],
      "id": "568eb4e8-ecc0-4584-be84-d375691b7b8d",
      "name": "Embeddings Google Gemini9",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add Objections Handling guide for WA SDR Agent (Universal)\nFrom Google Sheet\nhttps://docs.google.com/spreadsheets/d/1jgh-JFBrP6NVWbt5sxIyrCIXpRii3PVGHTCmY94g3Q4/",
        "height": 608,
        "width": 1296,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        576
      ],
      "typeVersion": 1,
      "id": "c39a7356-7a1c-4e25-8346-9cae157d2263",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json;\n\n  // ── Derive channel and category from type ──────────────────────\n  // type format: {channel}_{category}_{nn}\n  // e.g. whatsapp_objection_01 → channel=whatsapp, category=objection\n  // e.g. email_sevenrooms_05   → channel=email,    category=sevenrooms\n  const parts = data.type.split('_');\n  const channel = parts[0]; // 'whatsapp' | 'email'\n  const lastPart = parts[parts.length - 1];\n  const isNumber = /^\\d+$/.test(lastPart);\n  const category = (isNumber ? parts.slice(1, -1) : parts.slice(1)).join('_');\n\n  // ── Flag rows that contain placeholders (need runtime substitution)\n  const hasPlaceholders = /\\[[A-Z_]+\\]/.test(data.response_sent);\n\n  // ── Build content string for embedding ────────────────────────\n  const documentText =\n    `Prospect's message: \"${data.content}\"\\n\\nHow to respond:\\n${data.response_sent}`;\n\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type:             data.type,\n        channel:          channel,      // 'whatsapp' | 'email'\n        category:         category,     // 'objection' | 'sevenrooms' | 'nowbookit' | 'referral' | 'general'\n        has_placeholders: hasPlaceholders, // true = agent must substitute [COUNTRY] etc.\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        672
      ],
      "id": "1cae3bb8-6728-4f04-9b5c-63c9895881cf",
      "name": "Parse training content10"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1872,
        864
      ],
      "id": "f4d24edf-9b17-4433-9bc5-bd2fff9ee5c6",
      "name": "Default Data Loader12"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1872,
        1040
      ],
      "id": "42e4cb63-9eb7-4fa4-924b-44f215907653",
      "name": "Character Text Splitter10"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "objections_handling_guide",
          "mode": "list",
          "cachedResultName": "objections_handling_guide"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1744,
        672
      ],
      "name": "Store Objections Guide to DB5",
      "id": "fc43f6ff-b389-4da9-90fb-10da36371744",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "objections_handling_guide",
        "filterType": "string",
        "filterString": "=metadata->>type=eq.{{ $json.type }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        1328
      ],
      "id": "2ebcbc38-f1b6-482d-b9c1-abd325dd8e8a",
      "name": "Delete a row7",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const originalItems = $('Row updated1').all();\n\nreturn originalItems.map(item => {\n  const data = item.json;\n\n  // ── Derive channel and category from type ──────────────────────\n  const parts = data.type.split('_');\n  const channel = parts[0];\n  const lastPart = parts[parts.length - 1];\n  const isNumber = /^\\d+$/.test(lastPart);\n  const category = (isNumber ? parts.slice(1, -1) : parts.slice(1)).join('_');\n\n  // ── Flag rows that contain placeholders ───────────────────────\n  const hasPlaceholders = /\\[[A-Z_]+\\]/.test(data.response_sent);\n\n  // ── Build content string for embedding ────────────────────────\n  const documentText =\n    `Prospect's message: \"${data.content}\"\\n\\nHow to respond:\\n${data.response_sent}`;\n\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type:             data.type,\n        channel:          channel,\n        category:         category,\n        has_placeholders: hasPlaceholders,\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1328
      ],
      "id": "6ee7c4b6-9b41-44e9-b7a7-7904748483df",
      "name": "Parse training content11"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 15
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1jgh-JFBrP6NVWbt5sxIyrCIXpRii3PVGHTCmY94g3Q4",
          "mode": "list",
          "cachedResultName": "Objections_Handling_Universal 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jgh-JFBrP6NVWbt5sxIyrCIXpRii3PVGHTCmY94g3Q4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1603881343,
          "mode": "list",
          "cachedResultName": "universal_objections",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jgh-JFBrP6NVWbt5sxIyrCIXpRii3PVGHTCmY94g3Q4/edit#gid=1603881343"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        1216,
        672
      ],
      "id": "0ec91169-cb0a-4c08-a33a-ecf09ccc2341",
      "name": "Row added5",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1jgh-JFBrP6NVWbt5sxIyrCIXpRii3PVGHTCmY94g3Q4",
          "mode": "list",
          "cachedResultName": "Objections_Handling_Universal 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jgh-JFBrP6NVWbt5sxIyrCIXpRii3PVGHTCmY94g3Q4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1603881343,
          "mode": "list",
          "cachedResultName": "universal_objections",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jgh-JFBrP6NVWbt5sxIyrCIXpRii3PVGHTCmY94g3Q4/edit#gid=1603881343"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        1328
      ],
      "id": "3b0a7404-99f1-4e65-b923-0271d0ae657e",
      "name": "Row updated5",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update changes from Objections Handling for WA SDR Agent (Universal)\nFrom Google Sheet\nhttps://docs.google.com/spreadsheets/d/1jgh-JFBrP6NVWbt5sxIyrCIXpRii3PVGHTCmY94g3Q4/\n",
        "height": 656,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        1232
      ],
      "typeVersion": 1,
      "id": "a6c58bd0-f6ab-4f9c-92bb-3f2c1e335296",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "objections_handling_guide",
          "mode": "list",
          "cachedResultName": "objections_handling_guide"
        },
        "embeddingBatchSize": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1888,
        1328
      ],
      "id": "7922c1d4-d453-4e0a-b791-b2af3de752aa",
      "name": "Supabase Vector Store5",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1792,
        1520
      ],
      "id": "60d39926-7466-416f-afae-5ea13660a807",
      "name": "Embeddings Google Gemini10",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Parse training content11').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $('Parse training content11').item.json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1952,
        1504
      ],
      "id": "bbeb5c7d-eac7-49c6-95ad-92720df6d294",
      "name": "Default Data Loader13"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1952,
        1664
      ],
      "id": "bded6ade-6e26-43fd-b302-ce33e6a75c46",
      "name": "Character Text Splitter11"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1696,
        832
      ],
      "id": "d266a2ad-31e8-408f-9b30-e477b80703dc",
      "name": "Embeddings Google Gemini11",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When new doc is added1').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        1840
      ],
      "id": "73576ece-e69a-4870-8d32-c145736e50fa",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        2048
      ],
      "name": "Google Gemini Embeddings",
      "id": "7f832e40-35d4-4eae-b84c-9ad398d3866f",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{$json.id}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        2048
      ],
      "id": "2e4c2a0f-a226-4617-a197-2bc88e94b7cb",
      "name": "Default Data Loader4"
    },
    {
      "parameters": {
        "content": "## Add Prospecting Guide from Google Docs",
        "height": 544,
        "width": 1200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        1712
      ],
      "typeVersion": 1,
      "id": "78c284b7-727b-4873-8907-2fec5538cea6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When doc is edited1').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        96,
        2400
      ],
      "id": "999c9a0e-75ed-4c39-abee-8a7310083a1c",
      "name": "Download file3",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tTZOi8hGY5Gbzzz0",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update changes from Google Docs files\nOnly update one doc at a time",
        "height": 496,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        2304
      ],
      "typeVersion": 1,
      "id": "59513bcc-843a-457d-8102-b23eefff02e9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "oddle_prospecting_guide",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -128,
        2400
      ],
      "id": "7a0dd830-3289-44f5-b864-ea3179488a59",
      "name": "Delete a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        2608
      ],
      "name": "Google Gemini Embeddings3",
      "id": "e2c52e25-44b0-472c-b11d-d00697bc7b36",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('When doc is edited1').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        2608
      ],
      "id": "9d8534c5-dd25-4045-a816-b1edcbaaa3bd",
      "name": "Default Data Loader8"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 15
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1XAS2YYUHdXqUFKM9hlWgU46-dyAPfnlc",
          "mode": "list",
          "cachedResultName": "Prospecting Guide",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XAS2YYUHdXqUFKM9hlWgU46-dyAPfnlc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        1840
      ],
      "id": "188a3401-aa05-41f3-9fe2-c9ad33c15283",
      "name": "When new doc is added1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "oddle_prospecting_guide",
          "mode": "list",
          "cachedResultName": "oddle_prospecting_guide"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        192,
        1840
      ],
      "name": "Store Product Knowledge1",
      "id": "8501376f-4347-442c-8cfa-333551f8219b",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 15
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "16YsU7cVVKS8NpK4HDWThHvjw0I2qV1hHX9f9n4lpyPc",
          "mode": "list",
          "cachedResultName": "Oddle_Prospecting_Guide 2026",
          "cachedResultUrl": "https://docs.google.com/document/d/16YsU7cVVKS8NpK4HDWThHvjw0I2qV1hHX9f9n4lpyPc/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        2400
      ],
      "id": "427d62e2-7cdd-444b-87d1-44e90fd5279a",
      "name": "When doc is edited1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tTZOi8hGY5Gbzzz0",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "oddle_prospecting_guide",
          "mode": "list",
          "cachedResultName": "oddle_prospecting_guide"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        400,
        2400
      ],
      "name": "Update Product Knowledge1",
      "id": "c4be2e44-4cad-4de6-a574-1a07288ca030",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    }
  ],
  "connections": {
    "Google Gemini Embeddings1": {
      "ai_embedding": [
        [
          {
            "node": "Store Product Knowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Store Product Knowledge",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Store Product Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Update Product Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings2": {
      "ai_embedding": [
        [
          {
            "node": "Update Product Knowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Update Product Knowledge",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader6": {
      "ai_document": [
        [
          {
            "node": "Store Objections Guide to DB1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader6",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content": {
      "main": [
        [
          {
            "node": "Store Objections Guide to DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row2": {
      "main": [
        [
          {
            "node": "Parse training content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row added": {
      "main": [
        [
          {
            "node": "Parse training content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row updated": {
      "main": [
        [
          {
            "node": "Delete a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Store Objections Guide to DB1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content2": {
      "main": [
        [
          {
            "node": "Store Objections Guide to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader7": {
      "ai_document": [
        [
          {
            "node": "Store Objections Guide to DB",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader7",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row3": {
      "main": [
        [
          {
            "node": "Parse training content3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content3": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row added1": {
      "main": [
        [
          {
            "node": "Parse training content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row updated1": {
      "main": [
        [
          {
            "node": "Delete a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Store Objections Guide to DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When new doc is added": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When doc is edited": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content6": {
      "main": [
        [
          {
            "node": "Store Objections Guide to DB3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader9": {
      "ai_document": [
        [
          {
            "node": "Store Objections Guide to DB3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter6": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader9",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row5": {
      "main": [
        [
          {
            "node": "Parse training content7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content7": {
      "main": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row added3": {
      "main": [
        [
          {
            "node": "Parse training content6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row updated3": {
      "main": [
        [
          {
            "node": "Delete a row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini6": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader5": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter7": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader5",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini7": {
      "ai_embedding": [
        [
          {
            "node": "Store Objections Guide to DB3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content8": {
      "main": [
        [
          {
            "node": "Store Objections Guide to DB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader10": {
      "ai_document": [
        [
          {
            "node": "Store Objections Guide to DB4",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter8": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader10",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row6": {
      "main": [
        [
          {
            "node": "Parse training content9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content9": {
      "main": [
        [
          {
            "node": "Supabase Vector Store4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row added4": {
      "main": [
        [
          {
            "node": "Parse training content8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row updated4": {
      "main": [
        [
          {
            "node": "Delete a row6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini8": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader11": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store4",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter9": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader11",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini9": {
      "ai_embedding": [
        [
          {
            "node": "Store Objections Guide to DB4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content10": {
      "main": [
        [
          {
            "node": "Store Objections Guide to DB5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader12": {
      "ai_document": [
        [
          {
            "node": "Store Objections Guide to DB5",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter10": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader12",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row7": {
      "main": [
        [
          {
            "node": "Parse training content11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content11": {
      "main": [
        [
          {
            "node": "Supabase Vector Store5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row added5": {
      "main": [
        [
          {
            "node": "Parse training content10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row updated5": {
      "main": [
        [
          {
            "node": "Delete a row7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini10": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store5",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader13": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store5",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter11": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader13",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini11": {
      "ai_embedding": [
        [
          {
            "node": "Store Objections Guide to DB5",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Store Product Knowledge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Store Product Knowledge1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader4": {
      "ai_document": [
        [
          {
            "node": "Store Product Knowledge1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Update Product Knowledge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings3": {
      "ai_embedding": [
        [
          {
            "node": "Update Product Knowledge1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader8": {
      "ai_document": [
        [
          {
            "node": "Update Product Knowledge1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When new doc is added1": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When doc is edited1": {
      "main": [
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Singapore",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2SWvtvGbkteCtlr0"
  },
  "staticData": {
    "node:When new doc is added": {
      "lastTimeChecked": "2026-03-19T11:02:10Z"
    },
    "node:When doc is edited": {
      "lastTimeChecked": "2026-02-25T02:03:08Z"
    },
    "node:When doc is edited1": {
      "lastTimeChecked": "2026-02-25T02:04:29Z"
    },
    "node:When doc is added": {
      "lastTimeChecked": "2026-02-25T02:04:29Z"
    },
    "node:Row added": {
      "documentId": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
      "sheetId": 0,
      "lastIndexChecked": 25
    },
    "node:Row updated": {
      "documentId": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
      "sheetId": 0,
      "lastRevision": 1042,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg&revision=1042&exportFormat=xlsx"
    },
    "node:Row added1": {
      "documentId": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
      "sheetId": 1121523145,
      "lastIndexChecked": 25
    },
    "node:Row updated1": {
      "documentId": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
      "sheetId": 1121523145,
      "lastRevision": 1042,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg&revision=1042&exportFormat=xlsx"
    },
    "node:Row added2": {
      "documentId": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
      "sheetId": 1475459238,
      "lastIndexChecked": 22
    },
    "node:Row updated2": {
      "documentId": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
      "sheetId": 1475459238,
      "lastRevision": 1042,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg&revision=1042&exportFormat=xlsx"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "67b3d59e-f89b-4c15-bff8-af8ef73c12ca",
  "activeVersionId": null,
  "triggerCount": 7,
  "shared": [
    {
      "updatedAt": "2026-01-29T07:40:48.647Z",
      "createdAt": "2026-01-29T07:40:48.647Z",
      "role": "workflow:owner",
      "workflowId": "pwY4BW0QygQifccI",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": null,
  "tags": []
}