add-knowledge-base-to-vector-db-for-sdr-agent-.json
{
  "updatedAt": "2026-02-06T07:28:58.539Z",
  "createdAt": "2026-01-29T07:40:48.647Z",
  "id": "pwY4BW0QygQifccI",
  "name": "Add Knowledge Base to Vector DB for SDR Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Add Objections Handling guide from Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0",
        "height": 608,
        "width": 1296,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        -880
      ],
      "typeVersion": 1,
      "id": "6b1b0b8c-dc48-4989-955f-73346852874d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When new doc is added').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        640
      ],
      "id": "51189bbe-5177-4ded-a6db-71728f66773b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        848
      ],
      "name": "Google Gemini Embeddings1",
      "id": "728580cb-69a7-4dc3-ae68-3279f02cf9c2",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{$json.id}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        272,
        848
      ],
      "id": "0975c07d-9344-4f40-b055-bea41d6d17c0",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "prospecting_guide",
          "mode": "list",
          "cachedResultName": "prospecting_guide"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        176,
        640
      ],
      "name": "Store Prospecting Guide to DB",
      "id": "7e3744dd-e8fc-4438-ac59-eb48ec8a9d2e",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add Prospecting Guide from Google Docs",
        "height": 544,
        "width": 1200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        512
      ],
      "typeVersion": 1,
      "id": "e7784c48-7ec5-4f92-9082-0de5497cf968",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When doc is edited').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        1200
      ],
      "id": "f0c3564e-bbff-4cd4-b7ec-8b6f6c485a9a",
      "name": "Download file1",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update changes from Google Docs files\nOnly update one doc at a time",
        "height": 496,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        1104
      ],
      "typeVersion": 1,
      "id": "85028e8e-3b0c-475d-8e0f-2be9ac03a740",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1O0RNTr8h8dlhLt4ntedPGHzJmgsIrTrH",
          "mode": "list",
          "cachedResultName": "AU Prospecting Guide for SDR Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1O0RNTr8h8dlhLt4ntedPGHzJmgsIrTrH"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        640
      ],
      "id": "4c9926e0-d393-4543-9d0e-499ceb8bc85a",
      "name": "When new doc is added",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1O0RNTr8h8dlhLt4ntedPGHzJmgsIrTrH",
          "mode": "list",
          "cachedResultName": "AU Prospecting Guide for SDR Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1O0RNTr8h8dlhLt4ntedPGHzJmgsIrTrH"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        1200
      ],
      "id": "a6e1d41a-c967-41ec-927b-bb0e2dc06db0",
      "name": "When doc is edited",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "prospecting_guide",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -144,
        1200
      ],
      "id": "78f791be-7d8a-4e86-8625-db4ee5a79eb1",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        1408
      ],
      "name": "Google Gemini Embeddings2",
      "id": "a3c4b007-e5f3-456c-a4d8-7f2bde741f38",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('When doc is edited').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        480,
        1408
      ],
      "id": "5f7d39f3-5375-4125-a380-3a6d250c2ef2",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "prospecting_guide",
          "mode": "list",
          "cachedResultName": "prospecting_guide"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        384,
        1200
      ],
      "name": "Store Prospecting Guide to DB1",
      "id": "bf6aaa1d-dce0-441d-b777-834a211f1ce8",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When doc is added').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        -576
      ],
      "id": "2f9f3b8f-a974-43ac-a639-978186650ae8",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1904,
        -368
      ],
      "name": "Google Gemini Embeddings4",
      "id": "a300df1e-5d25-435e-a92d-99abc845646e",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{$json.id}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2112,
        -368
      ],
      "id": "a8670634-06fc-4323-84a0-347b5d0a49cd",
      "name": "Default Data Loader4"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "objections_handling_guide",
          "mode": "list",
          "cachedResultName": "objections_handling_guide"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2016,
        -576
      ],
      "name": "Store Prospecting Guide to DB2",
      "id": "827c3f1a-a831-4ffa-9335-2cb041588176",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When doc is edited1').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1904,
        -32
      ],
      "id": "bc018207-a04d-441b-a530-1a42ca416081",
      "name": "Download file4",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## [Obsolete] Update changes from Objections Handling guide doc\nOnly update one doc at a time",
        "height": 528,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        -160
      ],
      "typeVersion": 1,
      "id": "80395666-28cf-4e98-b4bc-fe91e69cfd27",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1iF1668fEviYPD3AAzbB9AuWqd0XyNp4i",
          "mode": "list",
          "cachedResultName": "AU Objections Handling Guide for SDR Email Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iF1668fEviYPD3AAzbB9AuWqd0XyNp4i"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1472,
        -32
      ],
      "id": "f51baa6f-e9d0-4c6e-8784-a10240e0abb6",
      "name": "When doc is edited1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "objections_handling_guide",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        -32
      ],
      "id": "29365ec8-0679-43b8-af7f-2220d5d93620",
      "name": "Delete a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2096,
        192
      ],
      "name": "Google Gemini Embeddings5",
      "id": "24bc29ef-076e-40b9-886f-3fd40eb783c4",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('When doc is edited1').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2304,
        192
      ],
      "id": "140e8b16-1a69-4e8c-8a7b-bcc8b0cfa5d3",
      "name": "Default Data Loader5"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "objections_handling_guide",
          "mode": "list",
          "cachedResultName": "objections_handling_guide"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2208,
        -32
      ],
      "name": "Store Prospecting Guide to DB3",
      "id": "4dd110b0-e3ba-4ee5-b6d5-0f6447ba9ac3",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1iF1668fEviYPD3AAzbB9AuWqd0XyNp4i",
          "mode": "list",
          "cachedResultName": "AU Objections Handling Guide for SDR Email Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iF1668fEviYPD3AAzbB9AuWqd0XyNp4i"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1472,
        -576
      ],
      "id": "91982201-72ad-40a1-ba25-31ff73cf075d",
      "name": "When doc is added",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XQkqRkcwXsp05RId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop through every item received from the Google Sheet node\nreturn items.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  const documentText = `Prospect’s message: \"${data.content}\"\n\nHow to respond: \n\n${data.response_sent}`;\n\n  // Return the structured object\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -784
      ],
      "id": "bf516147-4c1b-4d7e-a18a-ac26f52321e1",
      "name": "Parse training content"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        320,
        -592
      ],
      "id": "0322f487-b192-4404-b747-1116680f9509",
      "name": "Default Data Loader6"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        -416
      ],
      "id": "3982aef3-957d-4715-9399-cf79779365d7",
      "name": "Character Text Splitter1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "response_handling_guide",
          "mode": "list",
          "cachedResultName": "response_handling_guide"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        192,
        -784
      ],
      "name": "Store Objections Guide to DB1",
      "id": "abbc3a67-1ec4-4596-8ff7-c86cba9bb46f",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "response_handling_guide",
        "filterType": "string",
        "filterString": "=metadata->>type=eq.{{ $json.type }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        -128
      ],
      "id": "90a816a8-0fb4-41f2-9a2f-3ff3d143edf4",
      "name": "Delete a row2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the original data from the Google Sheets trigger node\n// Using $('Row updated').all() to reference the trigger directly,\nconst originalItems = $('Row updated').all();\n\n// Loop through every item received from the Google Sheet node\nreturn originalItems.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  // This formats the prospect message and response for the knowledge base\n  const documentText = `Prospect's message: \"${data.content}\"\n\nHow to respond:\n\n${data.response_sent}`;\n\n  // Return the structured object for the vector store\n  // - content: the text to be embedded and stored\n  // - metadata: additional fields for filtering/retrieval\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -128
      ],
      "id": "d54119d7-92f0-4367-ac4c-3a927ad1ff9f",
      "name": "Parse training content1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 15
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
          "mode": "list",
          "cachedResultName": "Objections Handling guide for AU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -784
      ],
      "id": "6d19e4f6-d510-4487-8d96-12af8d9047db",
      "name": "Row added",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
          "mode": "list",
          "cachedResultName": "Objections Handling guide for AU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -128
      ],
      "id": "9cd7400d-a109-48a4-8d57-601a16e9b7d6",
      "name": "Row updated",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## [Obsolete] Add Objections Handling guide from Google Drive",
        "height": 496,
        "width": 1200,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        -688
      ],
      "typeVersion": 1,
      "id": "d6636043-f868-4bc6-89ac-1fb9ff8113b7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Update changes from Objections Handling Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0\n",
        "height": 656,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        -224
      ],
      "typeVersion": 1,
      "id": "6ef26a51-1649-40af-b45f-6114982cb518",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "response_handling_guide",
          "mode": "list",
          "cachedResultName": "response_handling_guide"
        },
        "embeddingBatchSize": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        336,
        -128
      ],
      "id": "ab1b95ad-f56f-4eb7-9cf3-b6cf5d3eb120",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        64
      ],
      "id": "f1eb0551-b241-4a4a-81fd-3c10a34296b5",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Parse training content1').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $('Parse training content1').item.json.metadata.type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        48
      ],
      "id": "25318ac0-380c-4968-b3f9-a1be15745e04",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "*&^%$&*()",
        "chunkSize": 1000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        400,
        208
      ],
      "id": "df9b01c7-edd2-4d81-a210-d5c0517da73c",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        -624
      ],
      "id": "a398f889-a481-4435-8575-df2821ec0814",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    }
  ],
  "connections": {
    "Google Gemini Embeddings1": {
      "ai_embedding": [
        [
          {
            "node": "Store Prospecting Guide to DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Store Prospecting Guide to DB",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Store Prospecting Guide to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When new doc is added": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When doc is edited": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Store Prospecting Guide to DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings2": {
      "ai_embedding": [
        [
          {
            "node": "Store Prospecting Guide to DB1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Store Prospecting Guide to DB1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Store Prospecting Guide to DB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings4": {
      "ai_embedding": [
        [
          {
            "node": "Store Prospecting Guide to DB2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader4": {
      "ai_document": [
        [
          {
            "node": "Store Prospecting Guide to DB2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Store Prospecting Guide to DB3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When doc is edited1": {
      "main": [
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings5": {
      "ai_embedding": [
        [
          {
            "node": "Store Prospecting Guide to DB3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader5": {
      "ai_document": [
        [
          {
            "node": "Store Prospecting Guide to DB3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When doc is added": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader6": {
      "ai_document": [
        [
          {
            "node": "Store Objections Guide to DB1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader6",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content": {
      "main": [
        [
          {
            "node": "Store Objections Guide to DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row2": {
      "main": [
        [
          {
            "node": "Parse training content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row added": {
      "main": [
        [
          {
            "node": "Parse training content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row updated": {
      "main": [
        [
          {
            "node": "Delete a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse training content1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Store Objections Guide to DB1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Singapore",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2SWvtvGbkteCtlr0"
  },
  "staticData": {
    "node:When new doc is added": {
      "lastTimeChecked": "2026-02-09T02:59:55Z"
    },
    "node:When doc is edited": {
      "lastTimeChecked": "2026-02-09T02:59:57Z"
    },
    "node:When doc is edited1": {
      "lastTimeChecked": "2026-02-09T02:59:56Z"
    },
    "node:When doc is added": {
      "lastTimeChecked": "2026-02-09T02:59:56Z"
    },
    "node:Row added": {
      "documentId": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
      "sheetId": 0,
      "lastIndexChecked": 17
    },
    "node:Row updated": {
      "documentId": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
      "sheetId": 0,
      "lastRevision": 87,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg&revision=87&exportFormat=xlsx"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6e815306-2fc0-4bce-8749-3ec510acd420",
  "activeVersionId": "b665e193-46d7-47b9-bb8e-afc4795c4274",
  "triggerCount": 6,
  "shared": [
    {
      "updatedAt": "2026-01-29T07:40:48.647Z",
      "createdAt": "2026-01-29T07:40:48.647Z",
      "role": "workflow:owner",
      "workflowId": "pwY4BW0QygQifccI",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-03T03:56:09.316Z",
    "createdAt": "2026-02-03T03:52:52.972Z",
    "versionId": "b665e193-46d7-47b9-bb8e-afc4795c4274",
    "workflowId": "pwY4BW0QygQifccI",
    "nodes": [
      {
        "parameters": {
          "content": "## Add Objections Handling guide from Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0",
          "height": 608,
          "width": 1296,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -448,
          -880
        ],
        "typeVersion": 1,
        "id": "6b1b0b8c-dc48-4989-955f-73346852874d",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('When new doc is added').item.json.id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -160,
          640
        ],
        "id": "51189bbe-5177-4ded-a6db-71728f66773b",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "XQkqRkcwXsp05RId",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "text-embedding-004"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          64,
          848
        ],
        "name": "Google Gemini Embeddings1",
        "id": "728580cb-69a7-4dc3-ae68-3279f02cf9c2",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "file_id",
                  "value": "={{$json.id}}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          272,
          848
        ],
        "id": "0975c07d-9344-4f40-b055-bea41d6d17c0",
        "name": "Default Data Loader1"
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "prospecting_guide",
            "mode": "list",
            "cachedResultName": "prospecting_guide"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          176,
          640
        ],
        "name": "Store Prospecting Guide to DB",
        "id": "7e3744dd-e8fc-4438-ac59-eb48ec8a9d2e",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Add Prospecting Guide from Google Docs",
          "height": 544,
          "width": 1200,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -448,
          512
        ],
        "typeVersion": 1,
        "id": "e7784c48-7ec5-4f92-9082-0de5497cf968",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('When doc is edited').item.json.id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          80,
          1200
        ],
        "id": "f0c3564e-bbff-4cd4-b7ec-8b6f6c485a9a",
        "name": "Download file1",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "XQkqRkcwXsp05RId",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Update changes from Google Docs files\nOnly update one doc at a time",
          "height": 496,
          "width": 1200
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -448,
          1104
        ],
        "typeVersion": 1,
        "id": "85028e8e-3b0c-475d-8e0f-2be9ac03a740",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1O0RNTr8h8dlhLt4ntedPGHzJmgsIrTrH",
            "mode": "list",
            "cachedResultName": "AU Prospecting Guide for SDR Agent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1O0RNTr8h8dlhLt4ntedPGHzJmgsIrTrH"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -368,
          640
        ],
        "id": "4c9926e0-d393-4543-9d0e-499ceb8bc85a",
        "name": "When new doc is added",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "XQkqRkcwXsp05RId",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1O0RNTr8h8dlhLt4ntedPGHzJmgsIrTrH",
            "mode": "list",
            "cachedResultName": "AU Prospecting Guide for SDR Agent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1O0RNTr8h8dlhLt4ntedPGHzJmgsIrTrH"
          },
          "event": "fileUpdated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -352,
          1200
        ],
        "id": "a6e1d41a-c967-41ec-927b-bb0e2dc06db0",
        "name": "When doc is edited",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "XQkqRkcwXsp05RId",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "prospecting_guide",
          "filterType": "string",
          "filterString": "=metadata->>file_id=eq.{{ $json.id }}"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -144,
          1200
        ],
        "id": "78f791be-7d8a-4e86-8625-db4ee5a79eb1",
        "name": "Delete a row",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "text-embedding-004"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          272,
          1408
        ],
        "name": "Google Gemini Embeddings2",
        "id": "a3c4b007-e5f3-456c-a4d8-7f2bde741f38",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "file_id",
                  "value": "={{ $('When doc is edited').item.json.id }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          480,
          1408
        ],
        "id": "5f7d39f3-5375-4125-a380-3a6d250c2ef2",
        "name": "Default Data Loader2"
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "prospecting_guide",
            "mode": "list",
            "cachedResultName": "prospecting_guide"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          384,
          1200
        ],
        "name": "Store Prospecting Guide to DB1",
        "id": "bf6aaa1d-dce0-441d-b777-834a211f1ce8",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('When doc is added').item.json.id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1680,
          -576
        ],
        "id": "2f9f3b8f-a974-43ac-a639-978186650ae8",
        "name": "Download file3",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "XQkqRkcwXsp05RId",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "text-embedding-004"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          1904,
          -368
        ],
        "name": "Google Gemini Embeddings4",
        "id": "a300df1e-5d25-435e-a92d-99abc845646e",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "file_id",
                  "value": "={{$json.id}}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          2112,
          -368
        ],
        "id": "a8670634-06fc-4323-84a0-347b5d0a49cd",
        "name": "Default Data Loader4"
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "objections_handling_guide",
            "mode": "list",
            "cachedResultName": "objections_handling_guide"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          2016,
          -576
        ],
        "name": "Store Prospecting Guide to DB2",
        "id": "827c3f1a-a831-4ffa-9335-2cb041588176",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('When doc is edited1').item.json.id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1904,
          -32
        ],
        "id": "bc018207-a04d-441b-a530-1a42ca416081",
        "name": "Download file4",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "XQkqRkcwXsp05RId",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "content": "## [Obsolete] Update changes from Objections Handling guide doc\nOnly update one doc at a time",
          "height": 528,
          "width": 1200,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1376,
          -160
        ],
        "typeVersion": 1,
        "id": "80395666-28cf-4e98-b4bc-fe91e69cfd27",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1iF1668fEviYPD3AAzbB9AuWqd0XyNp4i",
            "mode": "list",
            "cachedResultName": "AU Objections Handling Guide for SDR Email Agent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1iF1668fEviYPD3AAzbB9AuWqd0XyNp4i"
          },
          "event": "fileUpdated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          1472,
          -32
        ],
        "id": "f51baa6f-e9d0-4c6e-8784-a10240e0abb6",
        "name": "When doc is edited1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "XQkqRkcwXsp05RId",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "objections_handling_guide",
          "filterType": "string",
          "filterString": "=metadata->>file_id=eq.{{ $json.id }}"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1680,
          -32
        ],
        "id": "29365ec8-0679-43b8-af7f-2220d5d93620",
        "name": "Delete a row1",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "text-embedding-004"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          2096,
          192
        ],
        "name": "Google Gemini Embeddings5",
        "id": "24bc29ef-076e-40b9-886f-3fd40eb783c4",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "file_id",
                  "value": "={{ $('When doc is edited1').item.json.id }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          2304,
          192
        ],
        "id": "140e8b16-1a69-4e8c-8a7b-bcc8b0cfa5d3",
        "name": "Default Data Loader5"
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "objections_handling_guide",
            "mode": "list",
            "cachedResultName": "objections_handling_guide"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          2208,
          -32
        ],
        "name": "Store Prospecting Guide to DB3",
        "id": "4dd110b0-e3ba-4ee5-b6d5-0f6447ba9ac3",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1iF1668fEviYPD3AAzbB9AuWqd0XyNp4i",
            "mode": "list",
            "cachedResultName": "AU Objections Handling Guide for SDR Email Agent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1iF1668fEviYPD3AAzbB9AuWqd0XyNp4i"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          1472,
          -576
        ],
        "id": "91982201-72ad-40a1-ba25-31ff73cf075d",
        "name": "When doc is added",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "XQkqRkcwXsp05RId",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Loop through every item received from the Google Sheet node\nreturn items.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  const documentText = `Topic: ${data.topic}\nProspect’s message: \"${data.content}\"\n\nHow we respond: \n\n${data.response_sent}`;\n\n  // Return the structured object\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n        topic: data.topic\n      }\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -128,
          -784
        ],
        "id": "bf516147-4c1b-4d7e-a18a-ac26f52321e1",
        "name": "Parse training content"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          128,
          -592
        ],
        "name": "Google Gemini Embeddings6",
        "id": "ade7612e-f227-4fff-8dc5-d61cf383f931",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $json.content }}",
          "textSplittingMode": "custom",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "type",
                  "value": "={{ $json.metadata.type }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          320,
          -592
        ],
        "id": "0322f487-b192-4404-b747-1116680f9509",
        "name": "Default Data Loader6"
      },
      {
        "parameters": {
          "separator": "*&^%$&*()",
          "chunkSize": 1000000
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          320,
          -416
        ],
        "id": "3982aef3-957d-4715-9399-cf79779365d7",
        "name": "Character Text Splitter1"
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "objections_handling_guide",
            "mode": "list",
            "cachedResultName": "objections_handling_guide"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          192,
          -784
        ],
        "name": "Store Objections Guide to DB1",
        "id": "abbc3a67-1ec4-4596-8ff7-c86cba9bb46f",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "objections_handling_guide",
          "filterType": "string",
          "filterString": "=metadata->>type=eq.{{ $json.type }}"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -128,
          112
        ],
        "id": "90a816a8-0fb4-41f2-9a2f-3ff3d143edf4",
        "name": "Delete a row2",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Loop through every item received from the Google Sheet node\nreturn items.map(item => {\n  const data = item.json;\n\n  // Prepare the human-readable document content\n  const documentText = `Topic: ${data.topic}\nProspect’s message: \"${data.content}\"\n\nHow we respond: \n\n${data.response_sent}`;\n\n  // Return the structured object\n  return {\n    json: {\n      content: documentText,\n      metadata: {\n        type: data.type,\n        topic: data.topic\n      }\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          -128
        ],
        "id": "d54119d7-92f0-4367-ac4c-3a927ad1ff9f",
        "name": "Parse training content1"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 19
              }
            ]
          },
          "documentId": {
            "__rl": true,
            "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
            "mode": "list",
            "cachedResultName": "Objections Handling guide for AU",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=0"
          },
          "event": "rowAdded",
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "typeVersion": 1,
        "position": [
          -336,
          -784
        ],
        "id": "6d19e4f6-d510-4487-8d96-12af8d9047db",
        "name": "Row added",
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "pDR6QZ9oC3DsT1h3",
            "name": "Google Sheets Account 2"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 19
              }
            ]
          },
          "documentId": {
            "__rl": true,
            "value": "1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg",
            "mode": "list",
            "cachedResultName": "Objections Handling guide for AU",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit#gid=0"
          },
          "event": "rowUpdate",
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "typeVersion": 1,
        "position": [
          -352,
          -128
        ],
        "id": "9cd7400d-a109-48a4-8d57-601a16e9b7d6",
        "name": "Row updated",
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "pDR6QZ9oC3DsT1h3",
            "name": "Google Sheets Account 2"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          336,
          64
        ],
        "name": "Google Gemini Embeddings7",
        "id": "572eea84-3958-497e-9fcc-ac4a4640c9d1",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $json.content }}",
          "textSplittingMode": "custom",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "type",
                  "value": "={{ $json.metadata.type }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          528,
          64
        ],
        "id": "97e2cfe2-2bfe-4e4d-bd30-9a235d6e4dad",
        "name": "Default Data Loader7"
      },
      {
        "parameters": {
          "separator": "*&^%$&*()",
          "chunkSize": 1000000
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          528,
          240
        ],
        "id": "0ad5222a-b89e-47a7-82a4-ab6b29503ffe",
        "name": "Character Text Splitter2"
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "objections_handling_guide",
            "mode": "list",
            "cachedResultName": "objections_handling_guide"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          400,
          -128
        ],
        "name": "Store Objections Guide to DB2",
        "id": "a432b620-bc41-4338-b41d-a966b33cc297",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "content": "## [Obsolete] Add Objections Handling guide from Google Drive",
          "height": 496,
          "width": 1200,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1376,
          -688
        ],
        "typeVersion": 1,
        "id": "d6636043-f868-4bc6-89ac-1fb9ff8113b7",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Update changes from Objections Handling Google Sheet\nhttps://docs.google.com/spreadsheets/d/1XJjPFKlKXynehqTQv4K_kmRSi0fRnqqwBB_xdngQFSg/edit?gid=0#gid=0\n",
          "height": 656,
          "width": 1296,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -448,
          -224
        ],
        "typeVersion": 1,
        "id": "6ef26a51-1649-40af-b45f-6114982cb518",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -128,
          -128
        ],
        "id": "0222d720-2e97-4ca4-bae1-681984208540",
        "name": "Wait",
        "webhookId": "d9fa627d-b247-4a2a-857e-445ba474d8ee"
      }
    ],
    "connections": {
      "Google Gemini Embeddings1": {
        "ai_embedding": [
          [
            {
              "node": "Store Prospecting Guide to DB",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader1": {
        "ai_document": [
          [
            {
              "node": "Store Prospecting Guide to DB",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Store Prospecting Guide to DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When new doc is added": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When doc is edited": {
        "main": [
          [
            {
              "node": "Delete a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file1": {
        "main": [
          [
            {
              "node": "Store Prospecting Guide to DB1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Embeddings2": {
        "ai_embedding": [
          [
            {
              "node": "Store Prospecting Guide to DB1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader2": {
        "ai_document": [
          [
            {
              "node": "Store Prospecting Guide to DB1",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Delete a row": {
        "main": [
          [
            {
              "node": "Download file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file3": {
        "main": [
          [
            {
              "node": "Store Prospecting Guide to DB2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Embeddings4": {
        "ai_embedding": [
          [
            {
              "node": "Store Prospecting Guide to DB2",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader4": {
        "ai_document": [
          [
            {
              "node": "Store Prospecting Guide to DB2",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Download file4": {
        "main": [
          [
            {
              "node": "Store Prospecting Guide to DB3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When doc is edited1": {
        "main": [
          [
            {
              "node": "Delete a row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a row1": {
        "main": [
          [
            {
              "node": "Download file4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Embeddings5": {
        "ai_embedding": [
          [
            {
              "node": "Store Prospecting Guide to DB3",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader5": {
        "ai_document": [
          [
            {
              "node": "Store Prospecting Guide to DB3",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "When doc is added": {
        "main": [
          [
            {
              "node": "Download file3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Embeddings6": {
        "ai_embedding": [
          [
            {
              "node": "Store Objections Guide to DB1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader6": {
        "ai_document": [
          [
            {
              "node": "Store Objections Guide to DB1",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Character Text Splitter1": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader6",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Parse training content": {
        "main": [
          [
            {
              "node": "Store Objections Guide to DB1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a row2": {
        "main": [
          []
        ]
      },
      "Row added": {
        "main": [
          [
            {
              "node": "Parse training content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Row updated": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            },
            {
              "node": "Delete a row2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Embeddings7": {
        "ai_embedding": [
          [
            {
              "node": "Store Objections Guide to DB2",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader7": {
        "ai_document": [
          [
            {
              "node": "Store Objections Guide to DB2",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Character Text Splitter2": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader7",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Parse training content1": {
        "main": [
          [
            {
              "node": "Store Objections Guide to DB2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Parse training content1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Oddle Engineer",
    "name": "Version b665e193",
    "description": "",
    "autosaved": false
  },
  "tags": []
}