brandcheck-inbound-lead:-google-sheet-→-attio-[old]-.json
{
  "updatedAt": "2026-03-13T09:09:29.082Z",
  "createdAt": "2026-03-13T01:48:10.443Z",
  "id": "ZG6Lz3T70kBrCuUe",
  "name": "BrandCheck Inbound Lead: Google Sheet → Attio [old]",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1UVyw2m4OqdHpnp7EOWrthXmhOIWXfd7CHtvj_xWNmLE",
          "mode": "list",
          "cachedResultName": "Brand Check Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UVyw2m4OqdHpnp7EOWrthXmhOIWXfd7CHtvj_xWNmLE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UVyw2m4OqdHpnp7EOWrthXmhOIWXfd7CHtvj_xWNmLE/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "6b7c3bfe-1a7a-44cd-8e4c-c1a739d2af75",
      "name": "New Record Created",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        1248,
        320
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pDR6QZ9oC3DsT1h3",
          "name": "Google Sheets Account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UVyw2m4OqdHpnp7EOWrthXmhOIWXfd7CHtvj_xWNmLE",
          "mode": "list",
          "cachedResultName": "Brand Check Leads"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master leads"
        },
        "options": {}
      },
      "id": "e6f1567d-8b5b-4ae9-a1c4-61c1143f7f0c",
      "name": "Read All Sheet Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1456,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3k1lZEtuCVhMzHl",
          "name": "Google Sheets account 1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\nconst triggerData = $('New Record Created').item.json;\nconst currentPhoneNumber = String(triggerData.phoneNumber || '');\n\nconst matchCount = allRows.filter(item => String(item.json.phoneNumber || '') === currentPhoneNumber).length;\nconst isDuplicate = matchCount > 1;\n\n// Convert timestamp to ISO 8601 date format (YYYY-MM-DD)\nconst rawTimestamp = triggerData.timestamp || '';\nlet dateOnly = '';\nif (rawTimestamp) {\n  // Extract just the date part (YYYY-MM-DD)\n  const parts = rawTimestamp.match(/^(\\d{4}-\\d{2}-\\d{2})/);\n  if (parts) {\n    dateOnly = parts[1];\n  }\n}\n\nreturn [{\n  json: {\n    isDuplicate,\n    placeName: triggerData.placeName || '',\n    placeId: triggerData.placeId || '',\n    phoneNumber: currentPhoneNumber,\n    email: (triggerData.email || '').trim(),\n    instagramHandle: triggerData.instagramHandle || '',\n    overallScore: triggerData.overallScore || '',\n    role: triggerData.role || '',\n    country: triggerData.country || '',\n    website: triggerData.website || '',\n    cuisine: triggerData.cuisine || '',\n    signatureDishes: triggerData.signatureDishes || '',\n    timestamp: dateOnly,\n    pdfLink: triggerData.pdfLink || ''\n  }\n}];"
      },
      "id": "bf5529b4-d8de-4f07-aabe-e2725871a90c",
      "name": "Deduplicate Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-new",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "342ff412-005f-45aa-8e93-50f0b8520036",
      "name": "Is New Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1872,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-has-email",
              "leftValue": "={{ $json.email }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "e385775a-dac1-4bf3-a680-d927de64b94c",
              "leftValue": "={{ $('Deduplicate Check').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "45e72072-e121-4e6d-8860-bf70bd0cfa6c",
              "leftValue": "={{ $json.phoneNumber }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "6336666d-8125-40d9-a765-e90bed627f72",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2096,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-email-found",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1515fd48-308f-45ad-a850-ba966fe4ddb2",
      "name": "Person Exists via Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2688,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-phone-found",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0fa48cc-3a13-4db8-bd67-51769db50572",
      "name": "Person Exists via Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2688,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/people/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"values\": {\n      \"name\": \"{{ $('Deduplicate Check').item.json.placeName }}\",\n      \"email_addresses\": [\"{{ $('Deduplicate Check').item.json.email }}]\",\n      \"phone_numbers\": [\"{{ $('Deduplicate Check').item.json.phoneNumber }}]\",\n      \"job_title\": \"{{ $('Deduplicate Check').item.json.role }}\",\n      \"person_restaurant_name\": \"{{ $('Deduplicate Check').item.json.placeName }}\",\n      \"primary_location\": \"{{ $('Deduplicate Check').item.json.country }}\",\n      \"submission_date\": \"{{ $('Deduplicate Check').item.json.timestamp }}\",\n      \"inbound_qualification_status\": \"To Qualify\",\n      \"marketing_conversion_channel\": \"Lead Magnet (Brand Check)\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "881305db-95d1-4a30-908e-a376d27c9b24",
      "name": "Create New Person (Email Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/lists/864c26d9-7a92-4cfd-aaa9-86787ba925f8/entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"parent_record_id\": \"{{ $json.data.id.record_id }}\",\n    \"parent_object\": \"people\",\n    \"entry_values\": {\n      \"restaurant_name\": \"{{ $('Deduplicate Check').item.json.placeName }}\",\n      \"cuisine_type\": \"{{ $('Deduplicate Check').item.json.cuisine }}\",\n      \"country\": \"{{ $('Deduplicate Check').item.json.country }}\",\n      \"brand_check_score\": \"{{ $('Deduplicate Check').item.json.overallScore }}\",\n      \"comments\": \"{{ $('Deduplicate Check').item.json.pdfLink }}\",\n      \"qualification_stage\": \"To Qualify\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "acd7f71c-76a5-484b-a0c5-061ef2185516",
      "name": "Add New Person to Inbound List (Email)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/lists/864c26d9-7a92-4cfd-aaa9-86787ba925f8/entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"parent_record_id\": \"{{ $('Search Attio Person by Phone').item.json.data[0].id.record_id }}\",\n    \"parent_object\": \"people\",\n    \"entry_values\": {\n      \"restaurant_name\": \"{{ $('Deduplicate Check').item.json.placeName }}\",\n      \"cuisine_type\": \"{{ $('Deduplicate Check').item.json.cuisine }}\",\n      \"country\": \"{{ $('Deduplicate Check').item.json.country }}\",\n      \"brand_check_score\": \"{{ $('Deduplicate Check').item.json.overallScore }}\",\n      \"comments\": \"{{ $('Deduplicate Check').item.json.pdfLink }}\",\n      \"qualification_stage\": \"To Qualify\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "eba1f001-96fb-4ac0-b807-e67c3de8c413",
      "name": "Add Existing to Inbound List (Phone)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        496
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/people/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"values\": {\n      \"name\": \"{{ $('Deduplicate Check').item.json.placeName }}\",\n      \"email_addresses\": \"{{ $('Deduplicate Check').item.json.email }}\",\n      \"phone_numbers\": \"{{ $('Deduplicate Check').item.json.phoneNumber }}\",\n      \"job_title\": \"{{ $('Deduplicate Check').item.json.role }}\",\n      \"person_restaurant_name\": \"{{ $('Deduplicate Check').item.json.placeName }}\",\n      \"primary_location\": \"{{ $('Deduplicate Check').item.json.country }}\",\n      \"submission_date\": \"{{ $('Deduplicate Check').item.json.timestamp }}\",\n      \"inbound_qualification_status\": \"To Qualify\",\n      \"marketing_conversion_channel\": \"Lead Magnet (Brand Check)\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "ce88807e-e0c5-4e7c-a6d4-6af5af51c6d6",
      "name": "Create New Person (Phone Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        736
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/lists/864c26d9-7a92-4cfd-aaa9-86787ba925f8/entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"parent_record_id\": \"{{ $json.data.id.record_id }}\",\n    \"parent_object\": \"people\",\n    \"entry_values\": {\n      \"restaurant_name\": \"{{ $('Deduplicate Check').item.json.placeName }}\",\n      \"cuisine_type\": \"{{ $('Deduplicate Check').item.json.cuisine }}\",\n      \"country\": \"{{ $('Deduplicate Check').item.json.country }}\",\n      \"brand_check_score\": \"{{ $('Deduplicate Check').item.json.overallScore }}\",\n      \"comments\": \"{{ $('Deduplicate Check').item.json.pdfLink }}\",\n      \"qualification_stage\": \"To Qualify\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "21660d67-cb47-4d46-85e9-0a6780637faa",
      "name": "Add New Person to Inbound List (Phone)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        736
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/people/records/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"filter\": {\"email_addresses\": \"{{ $('Deduplicate Check').item.json.email }}\"}}",
        "options": {}
      },
      "id": "e3f91115-f0f5-4193-9812-e64725c8b5f8",
      "name": "Search Attio Person by Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/people/records/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"filter\": {\"phone_numbers\": \"{{ $('Deduplicate Check').item.json.phoneNumber }}\"}}",
        "options": {}
      },
      "id": "df5748ad-d019-4212-bd5d-e7b42ecf6c82",
      "name": "Search Attio Person by Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        624
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/lists/864c26d9-7a92-4cfd-aaa9-86787ba925f8/entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"parent_record_id\": \"{{ $('Search Attio Person by Email').item.json.data[0].id.record_id }}\",\n    \"parent_object\": \"people\",\n    \"entry_values\": {\n      \"restaurant_name\": \"{{ $('Deduplicate Check').item.json.placeName }}\",\n      \"cuisine_type\": \"{{ $('Deduplicate Check').item.json.cuisine }}\",\n      \"country\": \"{{ $('Deduplicate Check').item.json.country }}\",\n      \"brand_check_score\": \"{{ $('Deduplicate Check').item.json.overallScore }}\",\n      \"comments\": \"{{ $('Deduplicate Check').item.json.pdfLink }}\",\n      \"qualification_stage\": \"To Qualify\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "4044e8f8-7ace-4903-b348-561dc58eac16",
      "name": "Add Person to Inbound Leads list (Email)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        -112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.attio.com/v2/objects/people/records/{{ $json.data[0].id.record_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"values\": {\n      \"phone_numbers\": [\"{{ $('Deduplicate Check').item.json.phoneNumber }}\"],\n      \"job_title\": \"{{ $('Deduplicate Check').item.json.role }}\",\n      \"person_restaurant_name\": \"{{ $('Deduplicate Check').item.json.placeName }}\",\n      \"email_addresses\": [\"{{ $('Deduplicate Check').item.json.email }}\"],\n      \"primary_location\": \"{{ $('Deduplicate Check').item.json.country }}\",\n      \"submission_date\": \"{{ $('Deduplicate Check').item.json.timestamp }}\",\n      \"inbound_qualification_status\": \"To Qualify\",\n      \"marketing_conversion_channel\": \"Lead Magnet (Brand Check)\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "77282ae2-d378-4423-acd7-1c5c6c4af723",
      "name": "Update Person (Email Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        -112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.attio.com/v2/objects/people/records/{{ $json.data[0].id.record_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"values\": {\n      \"phone_numbers\": \"{{ $('Deduplicate Check').item.json.phoneNumber }}\",\n      \"job_title\": \"{{ $('Deduplicate Check').item.json.role }}\",\n      \"person_restaurant_name\": \"{{ $('Deduplicate Check').item.json.placeName }}\",\n      \"email_addresses\": \"{{ $('Deduplicate Check').item.json.email }}\",\n      \"primary_location\": \"{{ $('Deduplicate Check').item.json.country }}\",\n      \"submission_date\": \"{{ $('Deduplicate Check').item.json.timestamp }}\",\n      \"inbound_qualification_status\": \"To Qualify\",\n      \"marketing_conversion_channel\": \"Lead Magnet (Brand Check)\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "ec1aef85-ecc7-4708-b2b9-c32379cf3676",
      "name": "Update Person (Phone Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        496
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "771dfc06-01d5-4488-aac5-27bc3c523d92",
      "name": "Merge Company Search Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3728,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const deduplicateData = $('Deduplicate Check').item.json;\nconst website = deduplicateData.website || '';\nconst email = deduplicateData.email || '';\nconst instagramHandle = deduplicateData.instagramHandle || '';\nconst placeId = deduplicateData.placeId || '';\nconst placeName = deduplicateData.placeName || '';\n\nfunction extractDomain(url) {\n  if (!url) return '';\n  try {\n    let domain = url.replace(/^https?:\\/\\//, '').replace(/^www\\./, '');\n    domain = domain.split('/')[0].toLowerCase();\n    return domain;\n  } catch (e) { return ''; }\n}\n\nfunction extractEmailDomain(email) {\n  if (!email || !email.includes('@')) return '';\n  return email.split('@')[1].toLowerCase();\n}\n\n// Website domain blacklist (social/booking platforms)\nconst websiteBlacklist = ['facebook.com', 'instagram.com', 'chope.co', 'quandoo.com', 'fb.com', 'm.facebook.com', 'chope.com.sg'];\n\n// Email domain blacklist (social/booking + B2C email providers)\nconst emailBlacklist = [\n  // Social/booking platforms\n  'facebook.com', 'instagram.com',\n  // B2C email providers\n  'gmail.com', 'yahoo.com', 'outlook.com', 'hotmail.com', 'live.com', 'msn.com',\n  'icloud.com', 'me.com', 'mac.com', 'aol.com', 'protonmail.com', 'proton.me',\n  'ymail.com', 'rocketmail.com', 'mail.com', 'zoho.com', 'gmx.com', 'gmx.net'\n];\n\nfunction isWebsiteBlacklisted(domain) {\n  if (!domain) return true;\n  return websiteBlacklist.some(bl => domain === bl || domain.endsWith('.' + bl));\n}\n\nfunction isEmailBlacklisted(domain) {\n  if (!domain) return true;\n  return emailBlacklist.some(bl => domain === bl || domain.endsWith('.' + bl));\n}\n\nconst websiteDomain = extractDomain(website);\nconst emailDomain = extractEmailDomain(email);\n\n// Get personRecordId from the Set Person ID node (passed via Merge)\nconst personRecordId = $json.personRecordId || '';\n\nreturn [{\n  json: {\n    websiteDomain: isWebsiteBlacklisted(websiteDomain) ? '' : websiteDomain,\n    emailDomain: isEmailBlacklisted(emailDomain) ? '' : emailDomain,\n    instagramHandle: instagramHandle.replace('@', ''),\n    placeId,\n    placeName,\n    country: deduplicateData.country || '',\n    cuisine: deduplicateData.cuisine || '',\n    personRecordId\n  }\n}];"
      },
      "id": "b60bcb17-7188-4fcb-92b7-2c1e5c81b7d8",
      "name": "Prepare Company Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/companies/records/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"filter\": {\"domains\": \"{{ $json.websiteDomain }}\"}}",
        "options": {}
      },
      "id": "3ee55df1-83c1-4b93-8a6f-7094eb8f518b",
      "name": "Search Company by Website Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        -144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/companies/records/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"filter\": {\"domains\": \"{{ $json.emailDomain }}\"}}",
        "options": {}
      },
      "id": "a8562679-602b-4ae8-8c28-62384f7ff971",
      "name": "Search Company by Email Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/companies/records/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"filter\": {\"instagram\": \"{{ $json.instagramHandle }}\"}}",
        "options": {}
      },
      "id": "43a0a61b-8ab3-45a4-a121-48e5c3e2c793",
      "name": "Search Company by Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/companies/records/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"filter\": {\"place_id\": \"{{ $json.placeId }}\"}}",
        "options": {}
      },
      "id": "b4f2f6c0-b2c5-4d6b-9525-4a6b30d08292",
      "name": "Search Company by PlaceId",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        528
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/companies/records/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"filter\": {\"name\": \"{{ $json.placeName }}\"}}",
        "options": {}
      },
      "id": "230df454-6cc1-430e-8b13-903728064376",
      "name": "Search Company by PlaceName",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        752
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const preparedData = $('Prepare Company Search').item.json;\n\nlet companyFound = null;\nlet foundByMethod = null;\n\nconst searchNodes = [\n  { name: 'websiteDomain', node: 'Search Company by Website Domain' },\n  { name: 'emailDomain', node: 'Search Company by Email Domain' },\n  { name: 'instagram', node: 'Search Company by Instagram' },\n  { name: 'placeId', node: 'Search Company by PlaceId' },\n  { name: 'placeName', node: 'Search Company by PlaceName' }\n];\n\nfor (const search of searchNodes) {\n  try {\n    const result = $(search.node).item.json;\n    if (result?.data?.length > 0) {\n      companyFound = result.data[0];\n      foundByMethod = search.name;\n      break;\n    }\n  } catch (e) {}\n}\n\nreturn [{\n  json: {\n    companyFound: !!companyFound,\n    companyRecordId: companyFound?.id?.record_id || '',\n    foundByMethod,\n    needsInstagramUpdate: companyFound && foundByMethod !== 'instagram' && preparedData.instagramHandle,\n    ...preparedData\n  }\n}];"
      },
      "id": "17b133bb-2011-42d7-a1b7-8a85e3ee9ed3",
      "name": "Consolidate Company Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4784,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-company-found",
              "leftValue": "={{ $json.companyFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9bd09fea-54cf-4f78-900c-ee4673211039",
      "name": "Company Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5008,
        288
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.attio.com/v2/objects/people/records/{{ $json.personRecordId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"values\": {\n      \"company\": [{ \"target_object\": \"companies\", \"target_record_id\": \"{{ $json.companyRecordId }}\" }]\n    }\n  }\n}",
        "options": {}
      },
      "id": "8e1ae585-362e-47ad-abee-7dfe121c2be5",
      "name": "Link Company to Person",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-needs-ig",
              "leftValue": "={{ $json.needsInstagramUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d59184d-f4bf-40eb-aa8a-39aec57786ea",
      "name": "Needs Instagram Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5504,
        128
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.attio.com/v2/objects/companies/records/{{ $json.companyRecordId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"values\": {\n      \"instagram\": \"{{ $json.instagramHandle }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "92eb668f-3ea1-403a-b428-ecab972ae87f",
      "name": "Update Company Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5776,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/companies/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"values\": {\n      \"name\": \"{{ $json.placeName }}\",\n      \"primary_location\": \"{{ $json.country }}\",\n      \"country\": \"{{ $json.country }}\",\n      \"instagram\": \"{{ $json.instagramHandle }}\",\n      \"place_id\": \"{{ $json.placeId }}\",\n      \"cuisine\": \"{{ $json.cuisine }}\",\n      \"categories\": \"Restaurants\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "5552d1cf-6765-45a9-9d41-36e0ef8ad6a0",
      "name": "Create New Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.attio.com/v2/objects/people/records/{{ $('Consolidate Company Results').item.json.personRecordId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"values\": {\n      \"company\": [{ \"target_object\": \"companies\", \"target_record_id\": \"{{ $json.data.id.record_id }}\" }]\n    }\n  }\n}",
        "options": {}
      },
      "id": "6390c3da-d51e-4cc1-a2d2-a2d9950c97cc",
      "name": "Link New Company to Person",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5504,
        432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9CO17PzdcubAn70Q",
          "name": "Attio API Key"
        }
      }
    },
    {
      "parameters": {},
      "id": "1a174e75-8fe7-41e0-b21a-316debaadc2a",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5776,
        432
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2096,
        496
      ],
      "id": "baf64313-a51b-417f-aaac-e189bf58c75c",
      "name": "Skip existing lead"
    },
    {
      "parameters": {
        "jsCode": "// Email Existing Path: Person was found by email search\nconst personRecordId = $('Search Attio Person by Email').item.json.data[0].id.record_id;\n\nreturn [{\n  json: {\n    personRecordId,\n    listEntryData: $json\n  }\n}];"
      },
      "id": "974cd29e-3d75-4206-a218-bf2a9efd49b5",
      "name": "Set Person ID (Email Existing)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Email New Path: Person was just created\nconst personRecordId = $('Create New Person (Email Path)').item.json.data.id.record_id;\n\nreturn [{\n  json: {\n    personRecordId,\n    listEntryData: $json\n  }\n}];"
      },
      "id": "aa02fd92-9101-4177-8572-876a539f3245",
      "name": "Set Person ID (Email New)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phone Existing Path: Person was found by phone search\nconst personRecordId = $('Search Attio Person by Phone').item.json.data[0].id.record_id;\n\nreturn [{\n  json: {\n    personRecordId,\n    listEntryData: $json\n  }\n}];"
      },
      "id": "95cf1a11-38b8-427f-99b8-fb929ca258d0",
      "name": "Set Person ID (Phone Existing)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phone New Path: Person was just created\nconst personRecordId = $('Create New Person (Phone Path)').item.json.data.id.record_id;\n\nreturn [{\n  json: {\n    personRecordId,\n    listEntryData: $json\n  }\n}];"
      },
      "id": "53b62ea1-9d09-4b5c-8e94-cfb32f0ce6f1",
      "name": "Set Person ID (Phone New)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        736
      ]
    },
    {
      "parameters": {
        "content": "## Add blacklist for domain"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        96
      ],
      "typeVersion": 1,
      "id": "b6706d40-1ed6-48b4-bf35-28c24455bfb8",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "New Record Created": {
      "main": [
        [
          {
            "node": "Read All Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Sheet Rows": {
      "main": [
        [
          {
            "node": "Deduplicate Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Check": {
      "main": [
        [
          {
            "node": "Is New Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Lead?": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip existing lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Search Attio Person by Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Attio Person by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Person Exists via Email?": {
      "main": [
        [
          {
            "node": "Update Person (Email Path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Person (Email Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Person Exists via Phone?": {
      "main": [
        [
          {
            "node": "Update Person (Phone Path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Person (Phone Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Person (Email Path)": {
      "main": [
        [
          {
            "node": "Add New Person to Inbound List (Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Person to Inbound List (Email)": {
      "main": [
        [
          {
            "node": "Set Person ID (Email New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Existing to Inbound List (Phone)": {
      "main": [
        [
          {
            "node": "Set Person ID (Phone Existing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Person (Phone Path)": {
      "main": [
        [
          {
            "node": "Add New Person to Inbound List (Phone)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Person to Inbound List (Phone)": {
      "main": [
        [
          {
            "node": "Set Person ID (Phone New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Attio Person by Email": {
      "main": [
        [
          {
            "node": "Person Exists via Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Attio Person by Phone": {
      "main": [
        [
          {
            "node": "Person Exists via Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Person to Inbound Leads list (Email)": {
      "main": [
        [
          {
            "node": "Set Person ID (Email Existing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Person (Email Path)": {
      "main": [
        [
          {
            "node": "Add Person to Inbound Leads list (Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Person (Phone Path)": {
      "main": [
        [
          {
            "node": "Add Existing to Inbound List (Phone)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Person ID (Email Existing)": {
      "main": [
        [
          {
            "node": "Merge Company Search Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Person ID (Email New)": {
      "main": [
        [
          {
            "node": "Merge Company Search Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Company Search Paths": {
      "main": [
        [
          {
            "node": "Prepare Company Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company Search": {
      "main": [
        [
          {
            "node": "Search Company by Website Domain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Company by Email Domain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Company by Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Company by PlaceId",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Company by PlaceName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Company by Website Domain": {
      "main": [
        [
          {
            "node": "Consolidate Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Company by Email Domain": {
      "main": [
        [
          {
            "node": "Consolidate Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Company Results": {
      "main": [
        [
          {
            "node": "Company Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Found?": {
      "main": [
        [
          {
            "node": "Link Company to Person",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link Company to Person": {
      "main": [
        [
          {
            "node": "Needs Instagram Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Instagram Update?": {
      "main": [
        [
          {
            "node": "Update Company Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Company Instagram": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Company": {
      "main": [
        [
          {
            "node": "Link New Company to Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link New Company to Person": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Person ID (Phone Existing)": {
      "main": [
        [
          {
            "node": "Merge Company Search Paths",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Set Person ID (Phone New)": {
      "main": [
        [
          {
            "node": "Merge Company Search Paths",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Search Company by Instagram": {
      "main": [
        [
          {
            "node": "Consolidate Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Company by PlaceId": {
      "main": [
        [
          {
            "node": "Consolidate Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Company by PlaceName": {
      "main": [
        [
          {
            "node": "Consolidate Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "New Record Created": [
      {
        "json": {
          "timestamp": "2026-03-09 4:25:17",
          "placeName": "Kam Par Claypot Bak Kut Teh & Claypot Chicken Rice - 金宝砂煲肉骨茶。砂煲鸡饭",
          "placeId": "ChIJ80TtsP4R2jERPriDSS8LpeY",
          "phoneNumber": 6598372486,
          "cuisine": "Bak Kut Teh, Claypot Rice",
          "signatureDishes": "Claypot Bak Kut Teh, Claypot Chicken Rice",
          "website": "https://www.facebook.com/KamParClaypotFood/",
          "instagramHandle": "@kamparclaypotfood",
          "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
          "overallScore": "33/100",
          "searchRankingScore": "0/30",
          "reputationScore": "9/30",
          "gmbScore": "20/20",
          "socialMediaScore": "4/10",
          "websiteSEOScore": "0/10",
          "role": "Restaurant Owner",
          "country": "Singapore",
          "email": "jayjayho92@gmail.com",
          "pdfLink": "https://prod-scorecard.s3.ap-southeast-1.amazonaws.com/scorecards/Kam_Par_Claypot_Bak_Kut_Teh_Claypot_Chicken_Rice_-_ff5d955260eedf81dff00e07147d2b1a_Oddle_Scorecard.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAY5KXPP337VY4MIAF%2F20260309%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20260309T042532Z&X-Amz-Expires=604800&X-Amz-Signature=b8e0c8deff9b1cbbf7825e0788815ff87558f28230071cf24d18ce069e0630d0&X-Amz-SignedHeaders=host&x-amz-checksum-mode=ENABLED&x-id=GetObject",
          "date": "9-Mar",
          "week": "9-Mar",
          "month": "2026 Mar",
          "hs target?": "",
          "existing?": "",
          "duplicates?": ""
        }
      }
    ],
    "Prepare Company Search": [
      {
        "json": {
          "websiteDomain": "",
          "emailDomain": "",
          "instagramHandle": "kamparclaypotfood",
          "placeId": "ChIJ80TtsP4R2jERPriDSS8LpeY",
          "placeName": "Kam Par Claypot Bak Kut Teh & Claypot Chicken Rice - 金宝砂煲肉骨茶。砂煲鸡饭",
          "country": "Singapore",
          "cuisine": "Bak Kut Teh, Claypot Rice",
          "personRecordId": "6fa08e54-e79c-4a47-b1d6-e73fb6b1c5a6"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Merge Company Search Paths": [
      {
        "json": {
          "personRecordId": "6fa08e54-e79c-4a47-b1d6-e73fb6b1c5a6",
          "listEntryData": {
            "data": {
              "id": {
                "workspace_id": "34d0d3bf-f09b-4920-8db2-9a74c725a8ab",
                "list_id": "864c26d9-7a92-4cfd-aaa9-86787ba925f8",
                "entry_id": "ec9f54c5-b856-48f6-9e7a-727985f69650"
              },
              "parent_record_id": "6fa08e54-e79c-4a47-b1d6-e73fb6b1c5a6",
              "parent_object": "people",
              "created_at": "2026-03-13T01:36:44.745000000Z",
              "entry_values": {
                "entry_id": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "value": "ec9f54c5-b856-48f6-9e7a-727985f69650",
                    "attribute_type": "text"
                  }
                ],
                "created_at": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "value": "2026-03-13T01:36:44.745000000Z",
                    "attribute_type": "timestamp"
                  }
                ],
                "created_by": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "referenced_actor_type": "api-token",
                    "referenced_actor_id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d",
                    "attribute_type": "actor-reference"
                  }
                ],
                "restaurant_name": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "value": "Kam Par Claypot Bak Kut Teh & Claypot Chicken Rice - 金宝砂煲肉骨茶。砂煲鸡饭",
                    "attribute_type": "text"
                  }
                ],
                "establishment_year": [],
                "cuisine_type": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "value": "Bak Kut Teh, Claypot Rice",
                    "attribute_type": "text"
                  }
                ],
                "average_spending": [],
                "interested_products": [],
                "existing_platforms": [],
                "url": [],
                "submission_date": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "value": "2026-03-13",
                    "attribute_type": "date"
                  }
                ],
                "qualification_stage": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "status": {
                      "id": {
                        "workspace_id": "34d0d3bf-f09b-4920-8db2-9a74c725a8ab",
                        "object_id": "864c26d9-7a92-4cfd-aaa9-86787ba925f8",
                        "attribute_id": "4dfe6cd2-5308-4439-afda-d0018790f483",
                        "status_id": "5e1217d0-12a7-466c-aeee-3a5ba2f89d1f"
                      },
                      "title": "To Qualify",
                      "is_archived": false,
                      "target_time_in_status": null,
                      "celebration_enabled": false
                    },
                    "attribute_type": "status"
                  }
                ],
                "request_type": [],
                "country": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "value": "Singapore",
                    "attribute_type": "text"
                  }
                ],
                "comments": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "value": "https://prod-scorecard.s3.ap-southeast-1.amazonaws.com/scorecards/Kam_Par_Claypot_Bak_Kut_Teh_Claypot_Chicken_Rice_-_ff5d955260eedf81dff00e07147d2b1a_Oddle_Scorecard.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAY5KXPP337VY4MIAF%2F20260309%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20260309T042532Z&X-Amz-Expires=604800&X-Amz-Signature=b8e0c8deff9b1cbbf7825e0788815ff87558f28230071cf24d18ce069e0630d0&X-Amz-SignedHeaders=host&x-amz-checksum-mode=ENABLED&x-id=GetObject",
                    "attribute_type": "text"
                  }
                ],
                "comments_7": [],
                "utm_source": [],
                "utm_source_5": [],
                "utm_source_5_8": [],
                "utm_source_5_8_4": [],
                "last_contact_date": [],
                "ad_description": [],
                "outreach_method": [],
                "assigned_sdr": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "referenced_actor_type": "api-token",
                    "referenced_actor_id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d",
                    "attribute_type": "actor-reference"
                  }
                ],
                "contacted": [],
                "brand_check_score": [
                  {
                    "active_from": "2026-03-13T01:36:44.745000000Z",
                    "active_until": null,
                    "created_by_actor": {
                      "type": "api-token",
                      "id": "5f703fd4-2af3-413b-851d-e5dcd45bce7d"
                    },
                    "value": "33/100",
                    "attribute_type": "text"
                  }
                ]
              }
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "ad802b78-af75-46c9-909f-811073686452",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-13T01:48:10.443Z",
      "createdAt": "2026-03-13T01:48:10.443Z",
      "role": "workflow:owner",
      "workflowId": "ZG6Lz3T70kBrCuUe",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": null,
  "tags": []
}