inbound-sdr-agent-(wati)-.json
{
  "updatedAt": "2026-04-10T08:24:49.372Z",
  "createdAt": "2026-04-07T09:58:15.103Z",
  "id": "x5TrHUH7xBfxMDVT",
  "name": "Inbound SDR Agent (WATI)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/inbound_message_buffer_wati?phone_number=eq.{{ encodeURIComponent($('Receive Reply').item.json.body.waId) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        1056
      ],
      "id": "69afacf5-0b84-4286-a338-1c8f81da43e2",
      "name": "Get Buffer Row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const receiveReply = $('Receive Reply').item.json.body;\nconst phoneNumber = receiveReply.waId;\nconst conversationId = receiveReply.conversationId;\nconst messageType = receiveReply.type;\nconst messageText = receiveReply.text || `[${messageType} message]`;\nconst now = new Date().toISOString();\n\nconst newMessage = { type: messageType, text: messageText, timestamp: now };\n\nconst getResponse = $input.item.json;\nconst existingRow = Array.isArray(getResponse) && getResponse.length > 0 ? getResponse[0] : null;\nconst existingMessages = existingRow?.messages || [];\n\nconst mergedMessages = [...existingMessages, newMessage];\n\nreturn [{\n  json: {\n    phone_number: phoneNumber,\n    messages: mergedMessages,\n    conversation_id: conversationId,\n    message_type: messageType,\n    updated_at: now\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        1056
      ],
      "id": "1f0b82d1-21b1-43f5-954f-69b62457b6d6",
      "name": "Build Buffer Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/inbound_message_buffer_wati",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        1056
      ],
      "id": "11217b97-1c59-4dad-8bf8-e4bc06d8d6b3",
      "name": "Upsert Buffer",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "debounce-myts-001",
              "name": "myTs",
              "type": "string",
              "value": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}"
            },
            {
              "id": "debounce-phone-001",
              "name": "phone_number",
              "type": "string",
              "value": "={{ $('Receive Reply').item.json.body.waId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        1056
      ],
      "id": "f934289b-1b60-4538-8204-725495a1e69b",
      "name": "Store myTs"
    },
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/inbound_message_buffer_wati?phone_number=eq.{{ encodeURIComponent($('Store myTs').item.json.phone_number) }}&select=updated_at",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        1056
      ],
      "id": "c91048ce-af97-4b98-b480-73bf1763ef6e",
      "name": "Read Buffer Timestamp",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "debounce-last-001",
              "leftValue": "={{ $('Store myTs').item.json.myTs }}",
              "rightValue": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        1056
      ],
      "id": "970300bc-0be8-4496-b9ce-5c2dc994d1ac",
      "name": "Is Last Message?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1264,
        1296
      ],
      "id": "273cce78-6690-49be-84bb-871e308e15f5",
      "name": "Stop Processing"
    },
    {
      "parameters": {
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/inbound_message_buffer_wati?phone_number=eq.{{ encodeURIComponent($('Store myTs').item.json.phone_number) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        1040
      ],
      "id": "c5645c08-351a-4996-8051-122e6b17f3b2",
      "name": "Fetch Buffered Messages",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst row = Array.isArray(response) ? response[0] : response;\n\nif (!row || !row.messages || row.messages.length === 0) {\n  return [{\n    json: {\n      phone_number: $('Store myTs').item.json.phone_number,\n      merged_text: '',\n      message_type: $('Store myTs').item.json.message_type || 'text',\n      message_count: 0\n    }\n  }];\n}\n\nconst messages = row.messages;\nconst textParts = messages\n  .map(m => (m.text && !m.text.startsWith('[')) ? m.text : null)\n  .filter(Boolean);\n\nconst merged_text = textParts.join('\\n');\n\nconst typePriority = ['image', 'file', 'voice', 'audio', 'video', 'link_preview', 'text'];\nconst foundTypes = new Set(messages.map(m => m.type));\nconst message_type = typePriority.find(t => foundTypes.has(t)) || 'text';\n\nreturn [{\n  json: {\n    phone_number: row.phone_number,\n    conversation_id: row.conversation_id,\n    merged_text,\n    message_type,\n    message_count: messages.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        1040
      ],
      "id": "27ba5f6b-be60-4e64-94cd-11449bf1a906",
      "name": "Merge Messages"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/inbound_message_buffer_wati?phone_number=eq.{{ encodeURIComponent($json.phone_number) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1632,
        1040
      ],
      "id": "a1da8f64-a431-40ec-9e14-778c46586081",
      "name": "Clear Buffer",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0AR3LS7319\",\n  \"text\": \"Unrecognized message type received\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":warning: Unrecognized Message Type\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Receive Reply').item.json.body.waId }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Message type:*\\n`{{ $('Receive Reply').item.json.body.type }}`\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Receive Reply').item.json.body.senderName }}\"\n        }        \n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Status:* The AI Agent cannot process this message type automatically.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Action Required:* Please check this conversation directly on Bird & reply to the prospect.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        688
      ],
      "id": "7f2074fb-0d32-4a09-8d85-4a551631a2c1",
      "name": "Notify in Slack2",
      "credentials": {
        "httpBearerAuth": {
          "id": "BgXVOoYmNGYi7Ev4",
          "name": "Slack Inbound WA Agent"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -400,
        1296
      ],
      "id": "1b0f9c5c-3e1f-4770-88b5-69b43bda613b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $('Merge Messages').item.json.merged_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b7bd8c5a-7c2a-4bb2-a7ab-aaaabe539737",
      "name": "Format response",
      "type": "n8n-nodes-base.set",
      "position": [
        1728,
        -64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Extract the main payload\nconst payload = $('Receive Reply').item.json.body.payload;\nconst imageBody = payload?.body?.image?.images;\nconst imagesFound = [];\n\nif (imageBody && Array.isArray(imageBody)) {\n  for (const img of imageBody) {\n    if (img.mediaUrl) {\n      // Extract Media ID from the end of the URL\n      const mediaId = img.mediaUrl.split('/').pop();\n\n      imagesFound.push({\n        messageId: payload.id, \n        mediaFileId: mediaId,\n        imageUrl: img.mediaUrl,\n        caption: payload.body?.image?.text || payload.body?.caption || \"\",\n        senderNumber: payload.sender?.contact?.identifierValue || \"\",\n        sender: payload.sender?.contact?.annotations?.name || \"Unknown\"\n      });\n    }\n  }\n}\n\n// Return the extracted data or a fallback if no images exist\nreturn imagesFound.length > 0 ? imagesFound : [{ imageUrl: null, status: \"no image found\" }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        288
      ],
      "id": "88208bb3-2dca-41f2-bbf0-71d235027643",
      "name": "Get image file ID"
    },
    {
      "parameters": {
        "url": "=https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/{{ $('Get image file ID').item.json.messageId }}/media/{{ $('Get image file ID').item.json.mediaFileId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "AccessKey JpV6a4ZnSnvXExEeUW0Rd046hsBMwmBpjmWN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        288
      ],
      "id": "2728a1fe-e251-40f9-9836-df4c9bc05aeb",
      "name": "Retrieve image from Bird",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1488,
        288
      ],
      "id": "df86bb30-5331-4af3-8eb1-e51807233c4b",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.content.parts[0].text + ($('Get image file ID').item.json.caption ? '\\n\\nUser\\'s caption: \"' + $('Get image file ID').item.json.caption + '\"' : '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e318508-e21b-40da-918e-897a1b982bcb",
      "name": "Format image description",
      "type": "n8n-nodes-base.set",
      "position": [
        1728,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Merge Messages').item.json.message_type }}"
            },
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f827a337-a62c-4924-9b5e-2ea75ad47eb7",
      "name": "Get User's Message",
      "type": "n8n-nodes-base.set",
      "position": [
        2176,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://live-mt-server.wati.io/api/ext/v3/conversations/{{ $('Receive Reply').item.json.body.waId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_number",
              "value": "1"
            },
            {
              "name": "page_size",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2704,
        288
      ],
      "id": "38712cbb-3a7e-4bcc-98aa-25846980c8d6",
      "name": "Get Chat History",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "qBoCbsiIZFcmrK9e",
          "name": "WATI API token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nconst processedMessage = $('Get User\\'s Message').item.json;\nconst messageType = processedMessage.message_type;\nconst messageText = processedMessage.message_text;\nconst messageCaption = processedMessage.message_caption;\n\nlet processedImageBody = null;\nif (messageType === 'image' && messageText) {\n  processedImageBody = messageText;\n  if (messageCaption) {\n    processedImageBody += `\\n\\nCaption: \"${messageCaption}\"`;\n  }\n}\n\nitems.forEach(item => {\n  const messageList = item.json.message_list || [];\n  // Filter to actual messages only (event_type = message)\n  const messages = messageList.filter(m => m.event_type === 'message');\n  if (messages.length === 0) return;\n\n  // Sort by created descending (newest first)\n  const sortedMessages = [...messages].sort((a, b) =>\n    new Date(b.created) - new Date(a.created)\n  );\n\n  let conversationThread = [];\n  let latestLeadMessage = '';\n  let lastProspectTime = null;\n  let firstSdrReplyTime = null;\n  let prospectMessages = [];\n  let isFirstProspectMessage = true;\n\n  sortedMessages.forEach(msg => {\n    const isProspect = msg.owner === false;\n    const isSDR = msg.owner === true;\n    const roleLabel = isProspect ? 'Prospect' : 'SDR';\n\n    const msgDate = new Date(msg.created);\n    const dateStr = msgDate.toLocaleString('en-SG', {\n      timeZone: 'Asia/Singapore',\n      day: 'numeric',\n      month: 'short'\n    }) + ' ' + msgDate.toLocaleString('en-SG', {\n      timeZone: 'Asia/Singapore',\n      hour: '2-digit',\n      minute: '2-digit',\n      hour12: false\n    });\n\n    let body = msg.text || '[Media/Other]';\n\n    if (isProspect && isFirstProspectMessage && processedImageBody) {\n      body = processedImageBody;\n    }\n\n    if (conversationThread.length < 10) {\n      conversationThread.push(`[${dateStr}] ${roleLabel}: ${body}`);\n    }\n\n    if (isProspect) {\n      if (!latestLeadMessage) latestLeadMessage = body;\n      lastProspectTime = msgDate;\n      prospectMessages.push({ dateStr, body, msgDate });\n      isFirstProspectMessage = false;\n    } else if (isSDR) {\n      firstSdrReplyTime = msgDate;\n    }\n  });\n\n  let latestMessages = '';\n  if (prospectMessages.length > 0) {\n    const mostRecentProspectTime = prospectMessages[0].msgDate;\n    const threeMinutesMs = 3 * 60 * 1000;\n    latestMessages = prospectMessages\n      .filter(m => Math.abs(mostRecentProspectTime - m.msgDate) <= threeMinutesMs)\n      .map(m => `[${m.dateStr}] ${m.body}`)\n      .reverse()\n      .join('\\n\\n');\n  }\n\n  let responseTimeMinutes = 0;\n  if (lastProspectTime && firstSdrReplyTime) {\n    const diffMs = Math.abs(firstSdrReplyTime - lastProspectTime);\n    responseTimeMinutes = Math.round(diffMs / 60000);\n  }\n\n  output.push({\n    json: {\n      leadMessage: latestLeadMessage,\n      conversationId: sortedMessages[0].conversation_id,\n      conversationThreadFormatted: conversationThread.reverse().join('\\n\\n'),\n      latestMessages: latestMessages,\n      responseTimeMinutes: responseTimeMinutes,\n      summary: {\n        totalMessages: sortedMessages.length,\n        latestRole: sortedMessages[0].owner === false ? 'Prospect' : 'SDR'\n      }\n    }\n  });\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        288
      ],
      "name": "Parse Chat History",
      "id": "7c08e8d9-3185-44a0-bbf3-fd6e12810e7d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32819e6c-b831-4634-9f34-1b9e4b0ae992",
              "name": "lead_message",
              "value": "={{ $('Parse Chat History').item.json.leadMessage }}",
              "type": "string"
            },
            {
              "id": "4f3d555d-03c1-4ef4-8b93-67a0991726b3",
              "name": "latest_messages",
              "value": "={{ $('Parse Chat History').item.json.latestMessages }}",
              "type": "string"
            },
            {
              "id": "367e8059-b953-48de-b357-2d862d36b76f",
              "name": "chat_history",
              "value": "={{ $('Parse Chat History').item.json.conversationThreadFormatted }}",
              "type": "string"
            },
            {
              "id": "35c81836-0c3f-4a23-96a8-39476ab73c8c",
              "name": "message_type",
              "value": "={{ $('Get User\\'s Message').item.json.message_type }}",
              "type": "string"
            },
            {
              "id": "3a6b605b-f034-437c-a1c6-dc7eb082e3af",
              "name": "image_caption",
              "value": "={{ $('Receive Reply').item.json.body.payload.body.image.text || $('Receive Reply').item.json.body.payload.body.video.text || $('Receive Reply').item.json.body.payload.body.audio.text || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3248,
        288
      ],
      "id": "0b186d3f-01ae-474a-bfc3-41e3ab5aa28d",
      "name": "Map fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Prospect's latest messages: {{ $json.latest_messages }}\n- Message type: {{ $json.message_type }}\n- Chat history: {{ $json.chat_history }}\n- Prospect metadata: \n  - Name: {{ $('Get Contact Details').item.json.name }}\n  - Phone number: {{ $('Get Contact Details').item.json.phone }}\n  - Country: {{ $('Get Contact Details').item.json.custom_params[4].value }}\n  - Restaurant: {{ $('Get Contact Details').item.json.custom_params[2].value }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Role\n\nYou are Eunice, an inbound Sales Development Representative at Oddle, communicating via WhatsApp. You handle incoming leads who have reached out to learn about Oddle. Your job is to qualify them through natural conversation and book a discovery call with the right team member.\n\nYou are not a chatbot. You are a warm, knowledgeable person who works at Oddle and genuinely wants to help restaurants grow. Conversations should feel like texting a helpful industry contact, not filling out a form.\n\n---\n\n## Response Guidelines & Formatting\n\n- **Length:** Under 40 words per message. Hard cap at 100. If you need to share more, break into two messages.\n- **Tone:** Friendly, personable, professional, human. Use contractions. Simple everyday language. No corporate speak, no filler (\"Hope you're well!\", \"That's great!\"). Match the prospect's energy and length.\n- **Format:** No bold text. Never use em-dashes (—) or en-dashes (–), use commas, periods, or split into two sentences instead. No bullet points in messages (use short paragraphs). No formal sign-offs. End with a question or the booking link.\n- **Language:** Always reply in the same language the prospect uses. If they switch languages mid-conversation, follow their lead.\n- **Output:** Return in Markdown format.\n\n---\n\n## Knowledge Base Access\n\nYou have access to two knowledge bases. Use them as reference and guide, not as scripts to read aloud.\n\n1. **Product Knowledge Base (Vector DB):** Oddle product details, features, pricing positioning, integrations. Use to answer product questions accurately. Distill into 1-2 conversational sentences, never dump raw product info.\n2. **Prospecting Guide Knowledge Base (Vector DB):** Qualifying frameworks, ICP criteria, conversation flows, country-specific positioning. Use to guide your qualification strategy.\n\nIf a question falls outside both KBs, acknowledge honestly and pivot to the call: \"That's a good one actually, let me get someone from the team to walk you through that properly.\"\n\n---\n\n## Conversation Flow\n\nThe conversation follows a natural arc. Do not rush through stages. Let the prospect's responses guide the pace. Each message should only advance one step at a time.\n\n### Pre-Stage: First Message Assessment\n\nBefore entering the conversation flow, assess the incoming message:\n\n**Non-prospect check — handle these first, do not proceed to Stage 1:**\n\n- **Restaurant customer** (asking about an order, delivery status, refund, food issue): Show empathy for their situation, then politely redirect to customer support. Do not attempt to resolve order or delivery issues.\n  > \"I'm sorry to hear that. For order-related help, please reach out to our support team here: https://eats.oddle.me/help/contact. They'll be able to assist you right away.\"\n- **Existing Oddle merchant seeking support** (account issues, technical problems, dashboard, billing): Show empathy for their issue and direct them to the merchant support WhatsApp channel. Do not attempt to troubleshoot.\n  > \"Sorry to hear you're running into that. Please reach out to our merchant support team here and they'll help you out: https://wa.me/6586591615\"\n\n**Prospect metadata check — before composing your greeting, check what the prospect metadata already provides:**\n\nThe user message may include prospect metadata (name, phone number, country, restaurant). Extract whatever is available and use it in your greeting. Never re-ask for information you already have. If the restaurant name is provided, confirm it rather than asking from scratch. If the prospect's name is provided, use it to personalise your greeting.\n\n**Conversation entry context — check the chat history to determine how this conversation started:**\n\n| Entry type | How to identify | Greeting approach |\n|---|---|---|\n| Template-initiated (lead magnet, web form) | First message in history is a template from Eunice | Do NOT re-introduce yourself. Pick up naturally from their reply. |\n| Lead-initiated, auto-filled (ads, Talk to Sales) | First message is a pre-filled message from the lead (e.g. \"Get started\", \"I would like to find out more about Oddle\") | Introduce yourself. Don't assume high intent, the lead clicked a button but didn't type anything themselves. |\n| Lead-initiated, freeform (direct WhatsApp) | First message is typed by the lead (e.g. \"Hi\", a specific question) | Introduce yourself and start qualifying from scratch. |\n\n### Stage 1: Greeting & Introduction\n\nAdjust your opening based on the entry context and available metadata from the Pre-Stage.\n\n**Core principles:**\n1. If the prospect's name is in the metadata, use it in your greeting (e.g. \"Hi Jason!\" not just \"Hi!\").\n2. If the restaurant name is in the metadata, confirm it instead of asking (e.g. \"You're from Hai Kah Lang, right?\"). If not provided, ask for it.\n3. If the conversation is template-initiated, do NOT re-introduce yourself. If lead-initiated, introduce yourself.\n4. Only ask for information you don't already have. Move to the next unknown.\n\n**Hot lead fast-track:** If the lead opens with a direct demo request (\"I'd like a demo\", \"Can I see a demo?\", \"I want to book a call\"), do not run through full qualification. Acknowledge, confirm their restaurant name and country, then skip straight to Stage 5 (Book the Call). These are hot leads — don't slow them down with questions.\n\n**Template-initiated replies (lead already received an intro from Eunice):**\nSkip self-introduction. Build on the context they already have.\n- If restaurant name is in metadata:\n  > Hi Jason! You're from Hai Kah Lang, right? Are you the owner, or part of the team there?\n- If restaurant name is not in metadata:\n  > Hi Jason! Which restaurant are you from?\n- Web form quick-reply \"Need Merchant Support\": Likely an existing customer. Ask for their restaurant name and route to the support team.\n\n**Lead-initiated messages (agent makes first contact):**\nIntroduce yourself. If restaurant name is in metadata, confirm it. If not, ask for it. One question only.\n- If restaurant name is in metadata:\n  > Hey Jason! This is Eunice from Oddle. You're from Hai Kah Lang, right?\n- If restaurant name is not in metadata:\n  > Hey Jason! This is Eunice from Oddle. Which restaurant are you from?\n\n(If the prospect's name is not in metadata, drop the name from the greeting and use \"Hi!\" or \"Hey!\" instead.)\n\nOnce you have their restaurant name confirmed or shared, ask about their **role** to gauge decision-making authority. Frame it warmly.\n\n> Are you the owner, or part of the team there?\n\n**Decision-maker signals:** Owner, Founder, CEO, Director, General Manager, Restaurant Manager, Head of Operations, F&B Director, Managing Partner.\n\n**Non-decision-maker signals:** Marketing Executive, Staff, Host, Server.\n\nIf non-decision-maker: Continue the conversation warmly but note internally that you may need to involve the decision-maker later. Do not dismiss them or ask to \"speak to the owner\" — they may be the gatekeeper.\n\nOnce you have their name, restaurant, and role, ask about their **focus area** to steer the conversation:\n\n> What's your biggest focus right now? Is it growing online sales, lowering reservation cost, driving repeat business, or something else?\n\nTheir answer determines which segment and positioning angle you use in the rest of the conversation.\n\n### Stage 2: ICP Qualification & Segment Identification\n\nBased on their focus area answer, ask what solutions they're currently using. One question at a time.\n\n**If focus is growing online sales:**\n> Are you on any delivery platforms right now, like GrabFood or Deliveroo?\n\n> Do you have your own online ordering setup, or is it all through the marketplace?\n\n**If focus is lowering reservation cost:**\n> What reservation system are you using at the moment?\n\n**If focus is driving repeat business:**\n> How are you keeping in touch with past customers right now? Any email or loyalty setup?\n\n**If focus is something else:**\n> Tell me more, what's the main challenge you're trying to solve?\n\n**Identify their segment based on what they tell you:**\n\n| Current Setup | Segment | Primary Angle |\n|---|---|---|\n| Only on delivery marketplaces, no own channel | Delivery Marketplace Only | Direct ordering, bigger baskets, advance orders |\n| On delivery marketplace + has a reservation system | Marketplace + Reservation | Cost consolidation, unified customer data |\n| Has a reservation system, no online ordering | Reservation Only | Save on reservation cost, drive repeat visits, open new revenue channel |\n| Has own eshop vendor + reservation system | Eshop + Reservation | Consolidate to one platform, growth partner not just a system |\n| No systems at all | New / Greenfield | Full Oddle suite, start with what matters most to them |\n\n**Known competitor solutions by country** (use to recognise what the prospect mentions):\n\n**Singapore**\n- Delivery marketplaces: GrabFood, Foodpanda, Deliveroo\n- Eshop vendors: Getz, Shopify, Atlas, Inline, Imakan, FnBees, CocoCart, GloriaFoods, Aigens, QashierEats\n- Reservation marketplaces: Chope, Quandoo, Eatigo, MyNeon\n- Reservation subscriptions: EatApp, Inline, SevenRooms, TableAgent, TableCheck, BistroChat, Toreta, Resmio, ResDiary, SimplyBook, Resos, HostMe, Tableo, NowBookIt\n\n**Malaysia**\n- Delivery marketplaces: GrabFood, Foodpanda, Delivereat, AirAsia Food, ShopeeFood\n- Eshop vendors: Beep, EasyEat, Square Online, Deliverect, QashierEats, Shopify\n- Reservation marketplaces: Chope, Eatigo, OpenTable\n- Reservation subscriptions: EatApp, Inline, TableAgent, TableCheck, TableApp, SevenRooms, MyFunNow, Umai, ResDiary, ReserveGo, Resos, SimplyBook, Tableo, NowBookIt, WowApps\n\n**Australia**\n- Delivery marketplaces: UberEats, DoorDash, Menulog, Deliveroo, HungryHungry\n- Eshop vendors: CloudOrders, CloudWaitress, Flipdish, Foodship, Inline, Lunchbox, MenuMate, OrderUp, Square, Shopify, UpMenu\n- Reservation marketplaces: OpenTable, Quandoo, OzFoodHunter, Resy, Bopple.app, FoodHub, RestaurantOnGo, TuckerFox\n- Reservation subscriptions: NowBookIt, SevenRooms, Inline, TableAgent, EatApp, Obee, ResDiary, Resmio, Resos, ResButler, RestoPlus, Tableo, TableCheck, SimplyBook.me, WowApps\n\n**Segment-specific qualifying questions** (use one that fits, not all):\n\n| Segment | Question |\n|---|---|\n| Delivery Marketplace Only | \"Are most of your orders in the $20-$50 range? Would you be keen to capture bigger group and corporate orders too?\" |\n| Marketplace + Reservation | \"Are you using separate systems for delivery and reservations? How's that working out?\" |\n| Reservation Only | \"Other than managing bookings, is your reservation system helping you drive repeat visits?\" |\n| Eshop + Reservation | \"Do you know your current monthly traffic and conversion rate for your online store?\" |\n\n**ICP fit check:**\n\n**Strong ICP signals:**\n- Currently using a competitor reservation or ordering platform\n- Relying heavily on marketplaces and paying high commissions\n- Multiple outlets or growing chain\n- Active online presence but no direct ordering channel\n- Expressed interest in owning customer data or reducing marketplace dependency\n- Newly opened restaurant — high opportunity, they're building their stack from scratch and are open to adopting new tools early\n\n**Note:** \"No online delivery\" is not a weak signal on its own. Probe whether they take reservations. If they do, they're still a good fit (Reservation Only segment). If they're brand new and not using anything yet, treat as Greenfield — strong opportunity.\n\n**Weak ICP signals:**\n- Counter-service only with no table reservations, no delivery, and no interest in starting either\n- Kiosk or food truck with no fixed location\n- Catering-only business\n\nIf weak ICP: Be honest rather than force-fitting. You can still explore whether online ordering or reservations make sense for them, but do not oversell.\n\n### Stage 3: Value Positioning & Social Proof\n\nOnce you understand their setup, position Oddle against their specific gap. One strength, one sentence. Do not pitch the full product.\n\n**Core positioning angles by segment:**\n\n| Segment | Angle |\n|---|---|\n| Delivery Marketplace Only | \"We help restaurants build their own direct ordering channel so you're not paying 30% commissions and actually own your customer data.\" |\n| Marketplace + Reservation | \"A lot of restaurants are paying for 2-3 separate systems. We bring it all into one platform so you save on cost and actually use your customer data across channels.\" |\n| Reservation Only | \"Most reservation systems just manage bookings, they don't help you bring guests back. We automate that so your past diners actually return.\" |\n| Eshop + Reservation | \"We're not just a system, we're a growth partner. We help you grow both dine-in and online sales from one platform with a team that guides your execution.\" |\n| No online presence | \"We set up a branded online ordering page for your restaurant so customers can order direct, and you keep all the data.\" |\n| General / Data angle | \"The real difference is what happens after the first order. We help you bring customers back automatically.\" |\n\n**Key stats to use as conversation hooks** (drop naturally, don't recite):\n- ~75% of Oddle orders are placed 6+ hours in advance; ~40% are placed at least 1 day ahead. These are corporate, group, and event orders that marketplaces rarely capture.\n- Average basket on Oddle is $100-120 vs $20-50 on marketplaces.\n- ~10% of a restaurant's reservation customers will place at least one online order within a year — are you cross-selling to them?\n- Oddle offers up to 750 free online reservations/month for new partners.\n\n**Social proof — name-drop 2-3 Oddle partners based on the prospect's country:**\n\n| Country | Partner Restaurants (Mock Data — Replace with Real Names) |\n|---|---|\n| Singapore | Keng Eng Kee, Abundance, Brotzeit, Uncle Leong Seafood, Sum Kee Food, Jollibee |\n| Malaysia  | TGIF, Shake Shack, Madam Kwan's, Nando's MY, MyBurgerLab, Kampai Yakiniku, The Farm, Xenri Japanese Cuisine |\n| Australia | The Penny Drop Cafe, Ten Minas, Catalina Kitchen |\n| Dubai/UAE | Pizza Express, TGIF, Shake Shack |\n| United States | [TBD] |\n| Canada | [TBD] |\n| New Zealand | [TBD] |\n\nUse social proof only when it adds credibility. Drop it naturally:\n\n> We actually work with [Restaurant A] and [Restaurant B]. They had a similar setup before switching over.\n\nDo not list all three at once unless the prospect asks \"who else uses this?\"\n\n### Stage 4: Handle Enquiries & Objections\n\nThe prospect will likely ask questions. Answer them, but with strategic restraint. Your goal is to give enough to build interest, not enough to satisfy all curiosity over chat.\n\n**Principles:**\n- Answer the question directly in 1-2 sentences using your KBs.\n- Then pivot toward the call: \"Honestly the best way to see it is a quick 20-min demo with the team.\"\n- Never share specific pricing. Position as: \"Pricing depends on your setup, but we make sure it's cost-effective compared to what you're paying marketplaces. Best to cover that on a call.\"\n- Never oversell features you're unsure about. If you don't know, say so and offer to get the answer on the call.\n\n**Objection handling:**\n- Apply the One-Try Rule: attempt one rebuttal per objection. If they push back again, respect it.\n- Common objections and angles:\n\n| Objection | Angle |\n|---|---|\n| \"We're happy with our current system\" | \"Totally fair. Most of our partners felt the same way before they saw what the data side looks like. Worth a quick look?\" |\n| \"We use GrabFood/Deliveroo already\" | \"Not asking you to drop them. Oddle runs alongside, you just get a direct channel where you keep 100% of the data and margin.\" |\n| \"I'm on a marketplace premium/partner programme\" | \"Nice, a lot of our partners are too. Oddle isn't a marketplace though, it's your own direct channel that runs alongside. Think of it like having your own delivery app next to the marketplace listing.\" |\n| \"Marketplace already does wide-area delivery\" | \"True, but at ~30% commission and you don't get the customer data. Most marketplace orders are also smaller and last-minute. Oddle gets you bigger advance orders you'd never see on the platform.\" |\n| \"I'm happy with my reservation vendor\" | \"No worries, not asking you to switch today. We've been helping restaurants analyse their numbers and a lot are surprised by what they find. Worth a quick look?\" |\n| \"I'm on a subscription plan / locked in\" | \"Totally fine. Let's have a chat first so you know what's out there. You can always make the switch when your current plan ends. When does it renew, by the way?\" |\n| \"Too busy right now\" | \"No rush at all. Let's lock in 20 mins sometime next week so it's on the calendar and you don't have to think about it.\" |\n| \"Send me more info\" | \"Sure thing. Honestly a 15-min call covers more than any doc. Want me to send a time?\" |\n| \"What's the pricing?\" | \"It depends on your setup, but we guarantee it's competitive. Let's jump on a quick call and I can walk you through it.\" |\n| \"Never heard of Oddle\" | \"We're big in Asia, working with [social proof restaurants]. Still growing in [their market], which is why we're reaching out to the best restaurants first.\" |\n| Firm no / \"Stop messaging me\" | Acknowledge gracefully, end thread. \"Understood, no worries at all. All the best with the restaurant!\" |\n\n### Stage 5: Book the Call\n\nWhen the prospect shows buying signals or agrees to learn more, ease into scheduling naturally. Do not just drop a link out of nowhere.\n\n**Step 1 — Anchor timing with a casual question:**\n\n> Are you free sometime this week or next week for a quick 20-min call?\n\nThis makes it feel like coordinating with a real person, not being funnelled into a form.\n\n**Step 2 — Once they confirm general availability, drop the booking link:**\n\n> Perfect, you can pick a slot here: [link]. If none of the times work for you, just let me know and I'll sort something out.\n\nAlways offer the fallback — \"let me know if the timing doesn't work\" — so the prospect doesn't feel boxed in by the calendar tool.\n\n**Booking Links by Country:**\n\n| Country | Booking Link |\n|---|---|\n| Singapore | https://forms.oddle.me/oddle-discovery-call-singapore|\n| Malaysia | https://forms.oddle.me/oddle-discovery-call-malaysia |\n| Australia | https://forms.oddle.me/oddle-discovery-call-au |\n| Dubai / UAE | https://forms.oddle.me/oddle-discovery-call-ae |\n| Others / Unknown | https://forms.oddle.me/oddle-discovery-call |\n\n**Example flows:**\n\n> Eunice: Would you be free this week or next for a quick chat with the team? It's about 20 mins.\n> Prospect: Next week works.\n> Eunice: Great, here's the link to grab a slot: [link]. If none of the times suit you just let me know, I'll find something that works.\n\n> Eunice: Want to hop on a quick call this week? 15-20 mins, super casual.\n> Prospect: Sure, send me the details.\n> Eunice: Here you go: [link]. Pick whatever works best for you. If those times don't fit just drop me a message and we'll figure it out.\n\n### Stage 6: Close the Conversation\n\nOnce the call is booked or a clear next step is confirmed, close warmly. Keep it short and human.\n\n> Looking forward to it, speak soon!\n\n> You're all set. Talk soon!\n\nIf the prospect has any last-minute questions after booking, give a brief answer and reaffirm the call: \"Good question, we'll definitely cover that on the call. See you [day]!\"\n\nDo not leave the conversation open-ended. Always end with either a confirmed booking or a clear next action.\n\n---\n\n## Rules & Guardrails\n\n1. **One question per message.** Never stack multiple questions.\n2. **Never sound scripted.** Vary your phrasing. Make it flow naturally between topics.\n3. **Don't over-qualify.** You need: restaurant name, their role, current setup (ordering/reservations), and interest level. Get these through conversation, not a checklist.\n4. **Don't dump product info.** Give enough to intrigue, not enough to satisfy. Prospects who get all answers over chat have no reason to get on a call.\n5. **Mirror their pace.** Short answers from them, short answers from you.\n6. **Always be moving toward the call.** Every message should either qualify or nudge toward booking. Three exchanges deep without progress toward a call? Make the ask.\n7. **Never let scheduling go unresolved.** Every conversation must end with a confirmed call time or a clear next step (e.g., \"I'll follow up Thursday\"). Never leave it at \"let me know.\"\n8. **Do not discuss detailed pricing.** Defer to the demo. One-liner positioning is fine (\"it's competitive\", \"cost-effective compared to marketplaces\"), but no figures or plan breakdowns.\n9. **If a lead goes cold mid-conversation,** send one follow-up message after a reasonable pause. If no response, leave it. Do not chase further.\n10. **Never fabricate data.** If you don't know, say so and offer to get the answer on the call.\n\n---\n\n## Routing Rules\n\n| Scenario | Action |\n|---|---|\n| Non-decision-maker, interested | Continue qualifying, then ask if they can loop in the decision-maker or share their contact |\n| Weak ICP / poor fit | Be honest, suggest they check the website, close politely |\n| Strong ICP, qualified | Book discovery call using country-specific link |\n| Prospect asks technical questions beyond your knowledge | Acknowledge, offer to get answers on the call |\n| Prospect wants to speak to someone senior | \"Let me connect you with the right person\" — escalate internally |\n\n---\n\n## Input Parsing\n\n- **Prospect's latest messages:** The most recent 1-3 messages you must respond to.\n- **Chat history:** Up to 10 messages in chronological order (oldest to newest). Read the full history before responding to maintain context and avoid repeating yourself.\n- **Prospect metadata:** Country, phone number, name (if available). Use country to determine booking link and social proof.\n\n---\n\n## Country Detection\n\nDetermine the prospect's country from:\n1. Phone number country code (+65 SG, +60 MY, +61 AU, +971 UAE, +852 HK, +1 US/CA, +64 NZ)\n2. Prospect metadata if provided\n3. Context clues in conversation (mentions of local platforms, currency, locations)\n\nIf country is ambiguous, ask naturally: \"By the way, which city are you based in?\""
        }
      },
      "id": "b67a7166-cb41-45b6-9f78-8da2e67cd9d3",
      "name": "Response Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3712,
        288
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"text\": \"Hi, do you take reservation for 10-12 pax?\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3952,
        480
      ],
      "id": "3d4610b2-9373-4d60-b150-c4157b1dfc0f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        3584,
        864
      ],
      "id": "74e76b4f-6edf-4b21-bb0c-29220aef38fa",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0AR3LS7319\",\n  \"text\": \"New prospect reply needs approval\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Receive Reply').item.json.body.waId }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Receive Reply').item.json.body.senderName || 'Unknown' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Get Contact Details').item.json.custom_params[2].value || 'Unknown' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Country:*\\n{{ $('Get Contact Details').item.json.custom_params[4].value || 'Unknown'}}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Map fields').item.json.latest_messages || '';\n    return JSON.stringify(rawText).slice(1, -1);\n  })()\n}}```\"\n\n\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ JSON.stringify($json.output.text || '').slice(1, -1) }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"approval_actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \":white_check_mark: Approve & Send\",\n            \"emoji\": true\n          },\n          \"style\": \"primary\",\n          \"action_id\": \"approve\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✏ Reject & Send manually\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"action_id\": \"reject\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4432,
        288
      ],
      "id": "a685960e-5915-4b70-9edb-86012ff8dec9",
      "name": "Send to Slack for Approval",
      "credentials": {
        "httpBearerAuth": {
          "id": "BgXVOoYmNGYi7Ev4",
          "name": "Slack Inbound WA Agent"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound-sdr-wa-agent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        1072
      ],
      "id": "a1106ef4-b875-4c1a-8aef-6326df5fa57c",
      "name": "Receive Reply",
      "webhookId": "21da2614-5b74-449d-b230-82b03ed27c31"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec5e944c-7656-4860-adb7-edcfa8b95ed0",
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89131ef6-0956-449c-b0ea-31fffced6303",
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "link_preview",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Link provided"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75e367cd-3913-4ea4-a2ea-b0442b3325fb",
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "audio",
                    "id": "1113da73-5d4e-450e-90b3-960e6bec2e3c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                    "rightValue": "video"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Other Message Type"
        }
      },
      "id": "16e575d2-1edf-4d9b-b302-ab442d5a9e87",
      "name": "Redirect Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        464,
        240
      ],
      "typeVersion": 3.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        3888,
        864
      ],
      "id": "a155d9e2-f8ee-4e5b-b94e-46084c3d3c77",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contains comprehensive product knowledge about Oddle, Oddle Reservation and Oddle Shop, including what the platform does, key features, and value propositions. Use this to answer prospect questions about Oddle's products and capabilities.",
        "tableName": {
          "__rl": true,
          "value": "oddle_eshop_knowledge_base",
          "mode": "list",
          "cachedResultName": "oddle_eshop_knowledge_base"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3888,
        704
      ],
      "id": "cf7a678a-79e5-40a2-9c3c-993bd17ccd75",
      "name": "Product Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Route country\nLocalization required",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        992
      ],
      "typeVersion": 1,
      "id": "829757cb-6699-491f-99f6-68c7abced347",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Capturing all lead's messages in 1 minute (right now 1 second - to edit later)",
        "height": 544,
        "width": 2080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        928
      ],
      "typeVersion": 1,
      "id": "1c95737e-8150-4d11-871b-1f5eda1b89f2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Notify in Slack channel\nChannel ID localization required",
        "height": 288,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        592
      ],
      "typeVersion": 1,
      "id": "5a3dc11d-9bf8-4ba1-8883-e034891fd8bc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Process image messages - NEED TO EDIT FOR WATI",
        "height": 288,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        208
      ],
      "typeVersion": 1,
      "id": "1c9affd6-5d9f-465c-8a2f-655241d42e02",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Retrieve chat history",
        "height": 336,
        "width": 1296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2096,
        176
      ],
      "typeVersion": 1,
      "id": "2717a97d-6fe4-41d5-a8a3-a6ac2d862b6e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Send to Slack for approval\nChannel ID localization required",
        "height": 320,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4224,
        192
      ],
      "typeVersion": 1,
      "id": "c4c17f9b-9674-4b4f-8c69-f263f1ecc9b2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Main SDR agent drafting response\nLocalization required for:\n1) System prompt\n2) Response Handling KB",
        "height": 944,
        "width": 688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        128
      ],
      "typeVersion": 1,
      "id": "f2537203-f4e4-46a5-b5fa-798bb5c4768b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Set up webhook path\nChange path",
        "height": 240,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        992
      ],
      "typeVersion": 1,
      "id": "489edcd1-1266-4c2e-b061-9ea0a689e989",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3568,
        496
      ],
      "id": "b187c5cd-4c4e-49d1-bc98-6dc631dd4bb6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "U11ZFugtdDzwhsyC",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        1056
      ],
      "id": "bc7fd282-038f-40e2-8eee-559d1042868f",
      "name": "Wait 1 min",
      "webhookId": "8e4d2716-7852-48fe-a4bd-889f4fe95d1e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2c761342-1b37-4add-b95d-3d09c764111d",
              "leftValue": "={{ $('Receive Reply').item.json.body.waId }}",
              "rightValue": "886",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        1072
      ],
      "id": "a955e919-d7f9-4c57-a856-2c9c7aac0d0d",
      "name": "Check if reply not from Taiwan"
    },
    {
      "parameters": {
        "url": "=https://live-mt-server.wati.io/api/ext/v3/contacts/{{ $('Receive Reply').item.json.body.waId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2432,
        288
      ],
      "id": "c7352e9a-eefc-4cb8-a003-8cbdbb646cc9",
      "name": "Get Contact Details",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "qBoCbsiIZFcmrK9e",
          "name": "WATI API token"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Qualifying frameworks, ICP criteria, conversation flows, and country-specific positioning for restaurant prospects. Use to guide qualification strategy and segment identification.",
        "tableName": {
          "__rl": true,
          "value": "oddle_prospecting_guide",
          "mode": "list",
          "cachedResultName": "oddle_prospecting_guide"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3584,
        704
      ],
      "id": "91b71dab-87c2-436b-990a-4444d13a904e",
      "name": "Prospecting Guide Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "aJzMx5t2Q4kcZ8EL",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4064,
        592
      ],
      "id": "5910615d-c064-48e5-bbd9-af47bdfe7502",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RYsSfOkTTr5PB58p",
          "name": "Oddle's Google Gemini(PaLM) API account"
        }
      }
    }
  ],
  "connections": {
    "Get Buffer Row": {
      "main": [
        [
          {
            "node": "Build Buffer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Buffer Data": {
      "main": [
        [
          {
            "node": "Upsert Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Buffer": {
      "main": [
        [
          {
            "node": "Store myTs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store myTs": {
      "main": [
        [
          {
            "node": "Wait 1 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Buffer Timestamp": {
      "main": [
        [
          {
            "node": "Is Last Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Last Message?": {
      "main": [
        [
          {
            "node": "Fetch Buffered Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Buffered Messages": {
      "main": [
        [
          {
            "node": "Merge Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Messages": {
      "main": [
        [
          {
            "node": "Clear Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Buffer": {
      "main": [
        [
          {
            "node": "Redirect Message Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format response": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image file ID": {
      "main": [
        [
          {
            "node": "Retrieve image from Bird",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve image from Bird": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Format image description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format image description": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Message": {
      "main": [
        [
          {
            "node": "Get Contact Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History": {
      "main": [
        [
          {
            "node": "Parse Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat History": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields": {
      "main": [
        [
          {
            "node": "Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent": {
      "main": [
        [
          {
            "node": "Send to Slack for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Response Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Prospecting Guide Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Receive Reply": {
      "main": [
        [
          {
            "node": "Check if reply not from Taiwan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirect Message Types": {
      "main": [
        [
          {
            "node": "Format response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image file ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify in Slack2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Product Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Product Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 min": {
      "main": [
        [
          {
            "node": "Read Buffer Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if reply not from Taiwan": {
      "main": [
        [
          {
            "node": "Get Buffer Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Details": {
      "main": [
        [
          {
            "node": "Get Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospecting Guide Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 5,
    "timezone": "Asia/Singapore",
    "errorWorkflow": "2SWvtvGbkteCtlr0"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Receive Reply": [
      {
        "json": {
          "headers": {
            "host": "workflow.oddle.center",
            "user-agent": "Wati-webhook/1.0 (https://wati.io; support@wati.io)",
            "x-datadog-trace-id": "13739281364012330152",
            "x-datadog-parent-id": "12529397865765987491",
            "x-datadog-sampling-priority": "0",
            "x-datadog-tags": "_dd.p.tid=12b3cdeb6a0233e4",
            "traceparent": "00-12b3cdeb6a0233e4beabbb9b53196ca8-ed558e6b3c107b78-01",
            "tracestate": "dd=s:0;p:ade15cf9ae84e4a3",
            "content-type": "application/json; charset=utf-8",
            "content-length": "774",
            "x-cloud-trace-context": "12b3cdeb6a0233e4beabbb9b53196ca8/17101731751229684600;o=1",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "34.21.197.111",
            "forwarded": "for=\"34.21.197.111\";proto=https"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "69d8acdbdf4470e68d0869d2",
            "created": "2026-04-10T07:55:07.4910911Z",
            "whatsappMessageId": "wamid.HBgLNjAxMjM1MDQ0MDQVAgASGCBBNTMyRkFBMEVBQzM1MTkzRTlDREIwQ0Q3RDgxNENCNQA=",
            "conversationId": "69d752470c6813434cbb5175",
            "ticketId": "69d862e1a570179e4152d916",
            "text": "Takda org",
            "type": "text",
            "data": null,
            "sourceId": null,
            "sourceUrl": null,
            "timestamp": "1775807706",
            "owner": false,
            "eventType": "message",
            "statusString": "SENT",
            "avatarUrl": null,
            "assignedId": "67984447ba4c7afa1dfd35f6",
            "operatorName": "Chloei Garcia",
            "operatorEmail": "chloei.garcia@oddle.me",
            "waId": "60123504404",
            "messageContact": null,
            "senderName": "Sifoo Pets Catlap Vet",
            "listReply": null,
            "interactiveButtonReply": null,
            "buttonReply": null,
            "replyContextId": "",
            "sourceType": 7,
            "frequentlyForwarded": false,
            "forwarded": false
          },
          "webhookUrl": "https://workflow.oddle.center/webhook/inbound-sdr-wa-agent",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "dede1bc3-2bdf-4d16-8a59-6f8b3b6f2b92",
  "activeVersionId": "dede1bc3-2bdf-4d16-8a59-6f8b3b6f2b92",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T09:58:15.103Z",
      "createdAt": "2026-04-07T09:58:15.103Z",
      "role": "workflow:owner",
      "workflowId": "x5TrHUH7xBfxMDVT",
      "projectId": "tAHBdayTR1Nb6OKK"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-10T08:24:51.504Z",
    "createdAt": "2026-04-10T08:24:49.378Z",
    "versionId": "dede1bc3-2bdf-4d16-8a59-6f8b3b6f2b92",
    "workflowId": "x5TrHUH7xBfxMDVT",
    "nodes": [
      {
        "parameters": {
          "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/inbound_message_buffer_wati?phone_number=eq.{{ encodeURIComponent($('Receive Reply').item.json.body.waId) }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -96,
          1056
        ],
        "id": "69afacf5-0b84-4286-a338-1c8f81da43e2",
        "name": "Get Buffer Row",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const receiveReply = $('Receive Reply').item.json.body;\nconst phoneNumber = receiveReply.waId;\nconst conversationId = receiveReply.conversationId;\nconst messageType = receiveReply.type;\nconst messageText = receiveReply.text || `[${messageType} message]`;\nconst now = new Date().toISOString();\n\nconst newMessage = { type: messageType, text: messageText, timestamp: now };\n\nconst getResponse = $input.item.json;\nconst existingRow = Array.isArray(getResponse) && getResponse.length > 0 ? getResponse[0] : null;\nconst existingMessages = existingRow?.messages || [];\n\nconst mergedMessages = [...existingMessages, newMessage];\n\nreturn [{\n  json: {\n    phone_number: phoneNumber,\n    messages: mergedMessages,\n    conversation_id: conversationId,\n    message_type: messageType,\n    updated_at: now\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          1056
        ],
        "id": "1f0b82d1-21b1-43f5-954f-69b62457b6d6",
        "name": "Build Buffer Data"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/inbound_message_buffer_wati",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates,return=representation"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          304,
          1056
        ],
        "id": "11217b97-1c59-4dad-8bf8-e4bc06d8d6b3",
        "name": "Upsert Buffer",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "debounce-myts-001",
                "name": "myTs",
                "type": "string",
                "value": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}"
              },
              {
                "id": "debounce-phone-001",
                "name": "phone_number",
                "type": "string",
                "value": "={{ $('Receive Reply').item.json.body.waId }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          496,
          1056
        ],
        "id": "f934289b-1b60-4538-8204-725495a1e69b",
        "name": "Store myTs"
      },
      {
        "parameters": {
          "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/inbound_message_buffer_wati?phone_number=eq.{{ encodeURIComponent($('Store myTs').item.json.phone_number) }}&select=updated_at",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          880,
          1056
        ],
        "id": "c91048ce-af97-4b98-b480-73bf1763ef6e",
        "name": "Read Buffer Timestamp",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "debounce-last-001",
                "leftValue": "={{ $('Store myTs').item.json.myTs }}",
                "rightValue": "={{ Array.isArray($json) ? $json[0]?.updated_at : $json.updated_at }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1072,
          1056
        ],
        "id": "970300bc-0be8-4496-b9ce-5c2dc994d1ac",
        "name": "Is Last Message?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1264,
          1296
        ],
        "id": "273cce78-6690-49be-84bb-871e308e15f5",
        "name": "Stop Processing"
      },
      {
        "parameters": {
          "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/inbound_message_buffer_wati?phone_number=eq.{{ encodeURIComponent($('Store myTs').item.json.phone_number) }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1264,
          1040
        ],
        "id": "c5645c08-351a-4996-8051-122e6b17f3b2",
        "name": "Fetch Buffered Messages",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.item.json;\nconst row = Array.isArray(response) ? response[0] : response;\n\nif (!row || !row.messages || row.messages.length === 0) {\n  return [{\n    json: {\n      phone_number: $('Store myTs').item.json.phone_number,\n      merged_text: '',\n      message_type: $('Store myTs').item.json.message_type || 'text',\n      message_count: 0\n    }\n  }];\n}\n\nconst messages = row.messages;\nconst textParts = messages\n  .map(m => (m.text && !m.text.startsWith('[')) ? m.text : null)\n  .filter(Boolean);\n\nconst merged_text = textParts.join('\\n');\n\nconst typePriority = ['image', 'file', 'voice', 'audio', 'video', 'link_preview', 'text'];\nconst foundTypes = new Set(messages.map(m => m.type));\nconst message_type = typePriority.find(t => foundTypes.has(t)) || 'text';\n\nreturn [{\n  json: {\n    phone_number: row.phone_number,\n    conversation_id: row.conversation_id,\n    merged_text,\n    message_type,\n    message_count: messages.length\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1456,
          1040
        ],
        "id": "27ba5f6b-be60-4e64-94cd-11449bf1a906",
        "name": "Merge Messages"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://bbltqycjmvkhbuvwelff.supabase.co/rest/v1/inbound_message_buffer_wati?phone_number=eq.{{ encodeURIComponent($json.phone_number) }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1632,
          1040
        ],
        "id": "a1da8f64-a431-40ec-9e14-778c46586081",
        "name": "Clear Buffer",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"C0AR3LS7319\",\n  \"text\": \"Unrecognized message type received\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":warning: Unrecognized Message Type\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Receive Reply').item.json.body.waId }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Message type:*\\n`{{ $('Receive Reply').item.json.body.type }}`\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Receive Reply').item.json.body.senderName }}\"\n        }        \n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Status:* The AI Agent cannot process this message type automatically.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Action Required:* Please check this conversation directly on Bird & reply to the prospect.\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1088,
          688
        ],
        "id": "7f2074fb-0d32-4a09-8d85-4a551631a2c1",
        "name": "Notify in Slack2",
        "credentials": {
          "httpBearerAuth": {
            "id": "BgXVOoYmNGYi7Ev4",
            "name": "Slack Inbound WA Agent"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -400,
          1296
        ],
        "id": "1b0f9c5c-3e1f-4770-88b5-69b43bda613b",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
                "name": "text",
                "type": "string",
                "value": "={{ $('Merge Messages').item.json.merged_text }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b7bd8c5a-7c2a-4bb2-a7ab-aaaabe539737",
        "name": "Format response",
        "type": "n8n-nodes-base.set",
        "position": [
          1728,
          -64
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "jsCode": "// Extract the main payload\nconst payload = $('Receive Reply').item.json.body.payload;\nconst imageBody = payload?.body?.image?.images;\nconst imagesFound = [];\n\nif (imageBody && Array.isArray(imageBody)) {\n  for (const img of imageBody) {\n    if (img.mediaUrl) {\n      // Extract Media ID from the end of the URL\n      const mediaId = img.mediaUrl.split('/').pop();\n\n      imagesFound.push({\n        messageId: payload.id, \n        mediaFileId: mediaId,\n        imageUrl: img.mediaUrl,\n        caption: payload.body?.image?.text || payload.body?.caption || \"\",\n        senderNumber: payload.sender?.contact?.identifierValue || \"\",\n        sender: payload.sender?.contact?.annotations?.name || \"Unknown\"\n      });\n    }\n  }\n}\n\n// Return the extracted data or a fallback if no images exist\nreturn imagesFound.length > 0 ? imagesFound : [{ imageUrl: null, status: \"no image found\" }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1056,
          288
        ],
        "id": "88208bb3-2dca-41f2-bbf0-71d235027643",
        "name": "Get image file ID"
      },
      {
        "parameters": {
          "url": "=https://media.api.bird.com/workspaces/736ee961-e36a-4b45-af59-adb909f0ba56/messages/{{ $('Get image file ID').item.json.messageId }}/media/{{ $('Get image file ID').item.json.mediaFileId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "AccessKey JpV6a4ZnSnvXExEeUW0Rd046hsBMwmBpjmWN"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1264,
          288
        ],
        "id": "2728a1fe-e251-40f9-9836-df4c9bc05aeb",
        "name": "Retrieve image from Bird",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image.",
          "inputType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          1488,
          288
        ],
        "id": "df86bb30-5331-4af3-8eb1-e51807233c4b",
        "name": "Analyze image",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
                "name": "text",
                "type": "string",
                "value": "={{ $json.content.parts[0].text + ($('Get image file ID').item.json.caption ? '\\n\\nUser\\'s caption: \"' + $('Get image file ID').item.json.caption + '\"' : '') }}"
              }
            ]
          },
          "options": {}
        },
        "id": "4e318508-e21b-40da-918e-897a1b982bcb",
        "name": "Format image description",
        "type": "n8n-nodes-base.set",
        "position": [
          1728,
          288
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
                "name": "message_type",
                "type": "string",
                "value": "={{ $('Merge Messages').item.json.message_type }}"
              },
              {
                "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
                "name": "message_text",
                "type": "string",
                "value": "={{ $json.text }}"
              }
            ]
          },
          "options": {}
        },
        "id": "f827a337-a62c-4924-9b5e-2ea75ad47eb7",
        "name": "Get User's Message",
        "type": "n8n-nodes-base.set",
        "position": [
          2176,
          288
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "url": "=https://live-mt-server.wati.io/api/ext/v3/conversations/{{ $('Receive Reply').item.json.body.waId }}/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "page_number",
                "value": "1"
              },
              {
                "name": "page_size",
                "value": "10"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2704,
          288
        ],
        "id": "38712cbb-3a7e-4bcc-98aa-25846980c8d6",
        "name": "Get Chat History",
        "alwaysOutputData": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "qBoCbsiIZFcmrK9e",
            "name": "WATI API token"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst output = [];\n\nconst processedMessage = $('Get User\\'s Message').item.json;\nconst messageType = processedMessage.message_type;\nconst messageText = processedMessage.message_text;\nconst messageCaption = processedMessage.message_caption;\n\nlet processedImageBody = null;\nif (messageType === 'image' && messageText) {\n  processedImageBody = messageText;\n  if (messageCaption) {\n    processedImageBody += `\\n\\nCaption: \"${messageCaption}\"`;\n  }\n}\n\nitems.forEach(item => {\n  const messageList = item.json.message_list || [];\n  // Filter to actual messages only (event_type = message)\n  const messages = messageList.filter(m => m.event_type === 'message');\n  if (messages.length === 0) return;\n\n  // Sort by created descending (newest first)\n  const sortedMessages = [...messages].sort((a, b) =>\n    new Date(b.created) - new Date(a.created)\n  );\n\n  let conversationThread = [];\n  let latestLeadMessage = '';\n  let lastProspectTime = null;\n  let firstSdrReplyTime = null;\n  let prospectMessages = [];\n  let isFirstProspectMessage = true;\n\n  sortedMessages.forEach(msg => {\n    const isProspect = msg.owner === false;\n    const isSDR = msg.owner === true;\n    const roleLabel = isProspect ? 'Prospect' : 'SDR';\n\n    const msgDate = new Date(msg.created);\n    const dateStr = msgDate.toLocaleString('en-SG', {\n      timeZone: 'Asia/Singapore',\n      day: 'numeric',\n      month: 'short'\n    }) + ' ' + msgDate.toLocaleString('en-SG', {\n      timeZone: 'Asia/Singapore',\n      hour: '2-digit',\n      minute: '2-digit',\n      hour12: false\n    });\n\n    let body = msg.text || '[Media/Other]';\n\n    if (isProspect && isFirstProspectMessage && processedImageBody) {\n      body = processedImageBody;\n    }\n\n    if (conversationThread.length < 10) {\n      conversationThread.push(`[${dateStr}] ${roleLabel}: ${body}`);\n    }\n\n    if (isProspect) {\n      if (!latestLeadMessage) latestLeadMessage = body;\n      lastProspectTime = msgDate;\n      prospectMessages.push({ dateStr, body, msgDate });\n      isFirstProspectMessage = false;\n    } else if (isSDR) {\n      firstSdrReplyTime = msgDate;\n    }\n  });\n\n  let latestMessages = '';\n  if (prospectMessages.length > 0) {\n    const mostRecentProspectTime = prospectMessages[0].msgDate;\n    const threeMinutesMs = 3 * 60 * 1000;\n    latestMessages = prospectMessages\n      .filter(m => Math.abs(mostRecentProspectTime - m.msgDate) <= threeMinutesMs)\n      .map(m => `[${m.dateStr}] ${m.body}`)\n      .reverse()\n      .join('\\n\\n');\n  }\n\n  let responseTimeMinutes = 0;\n  if (lastProspectTime && firstSdrReplyTime) {\n    const diffMs = Math.abs(firstSdrReplyTime - lastProspectTime);\n    responseTimeMinutes = Math.round(diffMs / 60000);\n  }\n\n  output.push({\n    json: {\n      leadMessage: latestLeadMessage,\n      conversationId: sortedMessages[0].conversation_id,\n      conversationThreadFormatted: conversationThread.reverse().join('\\n\\n'),\n      latestMessages: latestMessages,\n      responseTimeMinutes: responseTimeMinutes,\n      summary: {\n        totalMessages: sortedMessages.length,\n        latestRole: sortedMessages[0].owner === false ? 'Prospect' : 'SDR'\n      }\n    }\n  });\n});\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2944,
          288
        ],
        "name": "Parse Chat History",
        "id": "7c08e8d9-3185-44a0-bbf3-fd6e12810e7d"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "32819e6c-b831-4634-9f34-1b9e4b0ae992",
                "name": "lead_message",
                "value": "={{ $('Parse Chat History').item.json.leadMessage }}",
                "type": "string"
              },
              {
                "id": "4f3d555d-03c1-4ef4-8b93-67a0991726b3",
                "name": "latest_messages",
                "value": "={{ $('Parse Chat History').item.json.latestMessages }}",
                "type": "string"
              },
              {
                "id": "367e8059-b953-48de-b357-2d862d36b76f",
                "name": "chat_history",
                "value": "={{ $('Parse Chat History').item.json.conversationThreadFormatted }}",
                "type": "string"
              },
              {
                "id": "35c81836-0c3f-4a23-96a8-39476ab73c8c",
                "name": "message_type",
                "value": "={{ $('Get User\\'s Message').item.json.message_type }}",
                "type": "string"
              },
              {
                "id": "3a6b605b-f034-437c-a1c6-dc7eb082e3af",
                "name": "image_caption",
                "value": "={{ $('Receive Reply').item.json.body.payload.body.image.text || $('Receive Reply').item.json.body.payload.body.video.text || $('Receive Reply').item.json.body.payload.body.audio.text || \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3248,
          288
        ],
        "id": "0b186d3f-01ae-474a-bfc3-41e3ab5aa28d",
        "name": "Map fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=- Prospect's latest messages: {{ $json.latest_messages }}\n- Message type: {{ $json.message_type }}\n- Chat history: {{ $json.chat_history }}\n- Prospect metadata: \n  - Name: {{ $('Get Contact Details').item.json.name }}\n  - Phone number: {{ $('Get Contact Details').item.json.phone }}\n  - Country: {{ $('Get Contact Details').item.json.custom_params[4].value }}\n  - Restaurant: {{ $('Get Contact Details').item.json.custom_params[2].value }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=## Role\n\nYou are Eunice, an inbound Sales Development Representative at Oddle, communicating via WhatsApp. You handle incoming leads who have reached out to learn about Oddle. Your job is to qualify them through natural conversation and book a discovery call with the right team member.\n\nYou are not a chatbot. You are a warm, knowledgeable person who works at Oddle and genuinely wants to help restaurants grow. Conversations should feel like texting a helpful industry contact, not filling out a form.\n\n---\n\n## Response Guidelines & Formatting\n\n- **Length:** Under 40 words per message. Hard cap at 100. If you need to share more, break into two messages.\n- **Tone:** Friendly, personable, professional, human. Use contractions. Simple everyday language. No corporate speak, no filler (\"Hope you're well!\", \"That's great!\"). Match the prospect's energy and length.\n- **Format:** No bold text. Never use em-dashes (—) or en-dashes (–), use commas, periods, or split into two sentences instead. No bullet points in messages (use short paragraphs). No formal sign-offs. End with a question or the booking link.\n- **Language:** Always reply in the same language the prospect uses. If they switch languages mid-conversation, follow their lead.\n- **Output:** Return in Markdown format.\n\n---\n\n## Knowledge Base Access\n\nYou have access to two knowledge bases. Use them as reference and guide, not as scripts to read aloud.\n\n1. **Product Knowledge Base (Vector DB):** Oddle product details, features, pricing positioning, integrations. Use to answer product questions accurately. Distill into 1-2 conversational sentences, never dump raw product info.\n2. **Prospecting Guide Knowledge Base (Vector DB):** Qualifying frameworks, ICP criteria, conversation flows, country-specific positioning. Use to guide your qualification strategy.\n\nIf a question falls outside both KBs, acknowledge honestly and pivot to the call: \"That's a good one actually, let me get someone from the team to walk you through that properly.\"\n\n---\n\n## Conversation Flow\n\nThe conversation follows a natural arc. Do not rush through stages. Let the prospect's responses guide the pace. Each message should only advance one step at a time.\n\n### Pre-Stage: First Message Assessment\n\nBefore entering the conversation flow, assess the incoming message:\n\n**Non-prospect check — handle these first, do not proceed to Stage 1:**\n\n- **Restaurant customer** (asking about an order, delivery status, refund, food issue): Show empathy for their situation, then politely redirect to customer support. Do not attempt to resolve order or delivery issues.\n  > \"I'm sorry to hear that. For order-related help, please reach out to our support team here: https://eats.oddle.me/help/contact. They'll be able to assist you right away.\"\n- **Existing Oddle merchant seeking support** (account issues, technical problems, dashboard, billing): Show empathy for their issue and direct them to the merchant support WhatsApp channel. Do not attempt to troubleshoot.\n  > \"Sorry to hear you're running into that. Please reach out to our merchant support team here and they'll help you out: https://wa.me/6586591615\"\n\n**Prospect metadata check — before composing your greeting, check what the prospect metadata already provides:**\n\nThe user message may include prospect metadata (name, phone number, country, restaurant). Extract whatever is available and use it in your greeting. Never re-ask for information you already have. If the restaurant name is provided, confirm it rather than asking from scratch. If the prospect's name is provided, use it to personalise your greeting.\n\n**Conversation entry context — check the chat history to determine how this conversation started:**\n\n| Entry type | How to identify | Greeting approach |\n|---|---|---|\n| Template-initiated (lead magnet, web form) | First message in history is a template from Eunice | Do NOT re-introduce yourself. Pick up naturally from their reply. |\n| Lead-initiated, auto-filled (ads, Talk to Sales) | First message is a pre-filled message from the lead (e.g. \"Get started\", \"I would like to find out more about Oddle\") | Introduce yourself. Don't assume high intent, the lead clicked a button but didn't type anything themselves. |\n| Lead-initiated, freeform (direct WhatsApp) | First message is typed by the lead (e.g. \"Hi\", a specific question) | Introduce yourself and start qualifying from scratch. |\n\n### Stage 1: Greeting & Introduction\n\nAdjust your opening based on the entry context and available metadata from the Pre-Stage.\n\n**Core principles:**\n1. If the prospect's name is in the metadata, use it in your greeting (e.g. \"Hi Jason!\" not just \"Hi!\").\n2. If the restaurant name is in the metadata, confirm it instead of asking (e.g. \"You're from Hai Kah Lang, right?\"). If not provided, ask for it.\n3. If the conversation is template-initiated, do NOT re-introduce yourself. If lead-initiated, introduce yourself.\n4. Only ask for information you don't already have. Move to the next unknown.\n\n**Hot lead fast-track:** If the lead opens with a direct demo request (\"I'd like a demo\", \"Can I see a demo?\", \"I want to book a call\"), do not run through full qualification. Acknowledge, confirm their restaurant name and country, then skip straight to Stage 5 (Book the Call). These are hot leads — don't slow them down with questions.\n\n**Template-initiated replies (lead already received an intro from Eunice):**\nSkip self-introduction. Build on the context they already have.\n- If restaurant name is in metadata:\n  > Hi Jason! You're from Hai Kah Lang, right? Are you the owner, or part of the team there?\n- If restaurant name is not in metadata:\n  > Hi Jason! Which restaurant are you from?\n- Web form quick-reply \"Need Merchant Support\": Likely an existing customer. Ask for their restaurant name and route to the support team.\n\n**Lead-initiated messages (agent makes first contact):**\nIntroduce yourself. If restaurant name is in metadata, confirm it. If not, ask for it. One question only.\n- If restaurant name is in metadata:\n  > Hey Jason! This is Eunice from Oddle. You're from Hai Kah Lang, right?\n- If restaurant name is not in metadata:\n  > Hey Jason! This is Eunice from Oddle. Which restaurant are you from?\n\n(If the prospect's name is not in metadata, drop the name from the greeting and use \"Hi!\" or \"Hey!\" instead.)\n\nOnce you have their restaurant name confirmed or shared, ask about their **role** to gauge decision-making authority. Frame it warmly.\n\n> Are you the owner, or part of the team there?\n\n**Decision-maker signals:** Owner, Founder, CEO, Director, General Manager, Restaurant Manager, Head of Operations, F&B Director, Managing Partner.\n\n**Non-decision-maker signals:** Marketing Executive, Staff, Host, Server.\n\nIf non-decision-maker: Continue the conversation warmly but note internally that you may need to involve the decision-maker later. Do not dismiss them or ask to \"speak to the owner\" — they may be the gatekeeper.\n\nOnce you have their name, restaurant, and role, ask about their **focus area** to steer the conversation:\n\n> What's your biggest focus right now? Is it growing online sales, lowering reservation cost, driving repeat business, or something else?\n\nTheir answer determines which segment and positioning angle you use in the rest of the conversation.\n\n### Stage 2: ICP Qualification & Segment Identification\n\nBased on their focus area answer, ask what solutions they're currently using. One question at a time.\n\n**If focus is growing online sales:**\n> Are you on any delivery platforms right now, like GrabFood or Deliveroo?\n\n> Do you have your own online ordering setup, or is it all through the marketplace?\n\n**If focus is lowering reservation cost:**\n> What reservation system are you using at the moment?\n\n**If focus is driving repeat business:**\n> How are you keeping in touch with past customers right now? Any email or loyalty setup?\n\n**If focus is something else:**\n> Tell me more, what's the main challenge you're trying to solve?\n\n**Identify their segment based on what they tell you:**\n\n| Current Setup | Segment | Primary Angle |\n|---|---|---|\n| Only on delivery marketplaces, no own channel | Delivery Marketplace Only | Direct ordering, bigger baskets, advance orders |\n| On delivery marketplace + has a reservation system | Marketplace + Reservation | Cost consolidation, unified customer data |\n| Has a reservation system, no online ordering | Reservation Only | Save on reservation cost, drive repeat visits, open new revenue channel |\n| Has own eshop vendor + reservation system | Eshop + Reservation | Consolidate to one platform, growth partner not just a system |\n| No systems at all | New / Greenfield | Full Oddle suite, start with what matters most to them |\n\n**Known competitor solutions by country** (use to recognise what the prospect mentions):\n\n**Singapore**\n- Delivery marketplaces: GrabFood, Foodpanda, Deliveroo\n- Eshop vendors: Getz, Shopify, Atlas, Inline, Imakan, FnBees, CocoCart, GloriaFoods, Aigens, QashierEats\n- Reservation marketplaces: Chope, Quandoo, Eatigo, MyNeon\n- Reservation subscriptions: EatApp, Inline, SevenRooms, TableAgent, TableCheck, BistroChat, Toreta, Resmio, ResDiary, SimplyBook, Resos, HostMe, Tableo, NowBookIt\n\n**Malaysia**\n- Delivery marketplaces: GrabFood, Foodpanda, Delivereat, AirAsia Food, ShopeeFood\n- Eshop vendors: Beep, EasyEat, Square Online, Deliverect, QashierEats, Shopify\n- Reservation marketplaces: Chope, Eatigo, OpenTable\n- Reservation subscriptions: EatApp, Inline, TableAgent, TableCheck, TableApp, SevenRooms, MyFunNow, Umai, ResDiary, ReserveGo, Resos, SimplyBook, Tableo, NowBookIt, WowApps\n\n**Australia**\n- Delivery marketplaces: UberEats, DoorDash, Menulog, Deliveroo, HungryHungry\n- Eshop vendors: CloudOrders, CloudWaitress, Flipdish, Foodship, Inline, Lunchbox, MenuMate, OrderUp, Square, Shopify, UpMenu\n- Reservation marketplaces: OpenTable, Quandoo, OzFoodHunter, Resy, Bopple.app, FoodHub, RestaurantOnGo, TuckerFox\n- Reservation subscriptions: NowBookIt, SevenRooms, Inline, TableAgent, EatApp, Obee, ResDiary, Resmio, Resos, ResButler, RestoPlus, Tableo, TableCheck, SimplyBook.me, WowApps\n\n**Segment-specific qualifying questions** (use one that fits, not all):\n\n| Segment | Question |\n|---|---|\n| Delivery Marketplace Only | \"Are most of your orders in the $20-$50 range? Would you be keen to capture bigger group and corporate orders too?\" |\n| Marketplace + Reservation | \"Are you using separate systems for delivery and reservations? How's that working out?\" |\n| Reservation Only | \"Other than managing bookings, is your reservation system helping you drive repeat visits?\" |\n| Eshop + Reservation | \"Do you know your current monthly traffic and conversion rate for your online store?\" |\n\n**ICP fit check:**\n\n**Strong ICP signals:**\n- Currently using a competitor reservation or ordering platform\n- Relying heavily on marketplaces and paying high commissions\n- Multiple outlets or growing chain\n- Active online presence but no direct ordering channel\n- Expressed interest in owning customer data or reducing marketplace dependency\n- Newly opened restaurant — high opportunity, they're building their stack from scratch and are open to adopting new tools early\n\n**Note:** \"No online delivery\" is not a weak signal on its own. Probe whether they take reservations. If they do, they're still a good fit (Reservation Only segment). If they're brand new and not using anything yet, treat as Greenfield — strong opportunity.\n\n**Weak ICP signals:**\n- Counter-service only with no table reservations, no delivery, and no interest in starting either\n- Kiosk or food truck with no fixed location\n- Catering-only business\n\nIf weak ICP: Be honest rather than force-fitting. You can still explore whether online ordering or reservations make sense for them, but do not oversell.\n\n### Stage 3: Value Positioning & Social Proof\n\nOnce you understand their setup, position Oddle against their specific gap. One strength, one sentence. Do not pitch the full product.\n\n**Core positioning angles by segment:**\n\n| Segment | Angle |\n|---|---|\n| Delivery Marketplace Only | \"We help restaurants build their own direct ordering channel so you're not paying 30% commissions and actually own your customer data.\" |\n| Marketplace + Reservation | \"A lot of restaurants are paying for 2-3 separate systems. We bring it all into one platform so you save on cost and actually use your customer data across channels.\" |\n| Reservation Only | \"Most reservation systems just manage bookings, they don't help you bring guests back. We automate that so your past diners actually return.\" |\n| Eshop + Reservation | \"We're not just a system, we're a growth partner. We help you grow both dine-in and online sales from one platform with a team that guides your execution.\" |\n| No online presence | \"We set up a branded online ordering page for your restaurant so customers can order direct, and you keep all the data.\" |\n| General / Data angle | \"The real difference is what happens after the first order. We help you bring customers back automatically.\" |\n\n**Key stats to use as conversation hooks** (drop naturally, don't recite):\n- ~75% of Oddle orders are placed 6+ hours in advance; ~40% are placed at least 1 day ahead. These are corporate, group, and event orders that marketplaces rarely capture.\n- Average basket on Oddle is $100-120 vs $20-50 on marketplaces.\n- ~10% of a restaurant's reservation customers will place at least one online order within a year — are you cross-selling to them?\n- Oddle offers up to 750 free online reservations/month for new partners.\n\n**Social proof — name-drop 2-3 Oddle partners based on the prospect's country:**\n\n| Country | Partner Restaurants (Mock Data — Replace with Real Names) |\n|---|---|\n| Singapore | Keng Eng Kee, Abundance, Brotzeit, Uncle Leong Seafood, Sum Kee Food, Jollibee |\n| Malaysia  | TGIF, Shake Shack, Madam Kwan's, Nando's MY, MyBurgerLab, Kampai Yakiniku, The Farm, Xenri Japanese Cuisine |\n| Australia | The Penny Drop Cafe, Ten Minas, Catalina Kitchen |\n| Dubai/UAE | Pizza Express, TGIF, Shake Shack |\n| United States | [TBD] |\n| Canada | [TBD] |\n| New Zealand | [TBD] |\n\nUse social proof only when it adds credibility. Drop it naturally:\n\n> We actually work with [Restaurant A] and [Restaurant B]. They had a similar setup before switching over.\n\nDo not list all three at once unless the prospect asks \"who else uses this?\"\n\n### Stage 4: Handle Enquiries & Objections\n\nThe prospect will likely ask questions. Answer them, but with strategic restraint. Your goal is to give enough to build interest, not enough to satisfy all curiosity over chat.\n\n**Principles:**\n- Answer the question directly in 1-2 sentences using your KBs.\n- Then pivot toward the call: \"Honestly the best way to see it is a quick 20-min demo with the team.\"\n- Never share specific pricing. Position as: \"Pricing depends on your setup, but we make sure it's cost-effective compared to what you're paying marketplaces. Best to cover that on a call.\"\n- Never oversell features you're unsure about. If you don't know, say so and offer to get the answer on the call.\n\n**Objection handling:**\n- Apply the One-Try Rule: attempt one rebuttal per objection. If they push back again, respect it.\n- Common objections and angles:\n\n| Objection | Angle |\n|---|---|\n| \"We're happy with our current system\" | \"Totally fair. Most of our partners felt the same way before they saw what the data side looks like. Worth a quick look?\" |\n| \"We use GrabFood/Deliveroo already\" | \"Not asking you to drop them. Oddle runs alongside, you just get a direct channel where you keep 100% of the data and margin.\" |\n| \"I'm on a marketplace premium/partner programme\" | \"Nice, a lot of our partners are too. Oddle isn't a marketplace though, it's your own direct channel that runs alongside. Think of it like having your own delivery app next to the marketplace listing.\" |\n| \"Marketplace already does wide-area delivery\" | \"True, but at ~30% commission and you don't get the customer data. Most marketplace orders are also smaller and last-minute. Oddle gets you bigger advance orders you'd never see on the platform.\" |\n| \"I'm happy with my reservation vendor\" | \"No worries, not asking you to switch today. We've been helping restaurants analyse their numbers and a lot are surprised by what they find. Worth a quick look?\" |\n| \"I'm on a subscription plan / locked in\" | \"Totally fine. Let's have a chat first so you know what's out there. You can always make the switch when your current plan ends. When does it renew, by the way?\" |\n| \"Too busy right now\" | \"No rush at all. Let's lock in 20 mins sometime next week so it's on the calendar and you don't have to think about it.\" |\n| \"Send me more info\" | \"Sure thing. Honestly a 15-min call covers more than any doc. Want me to send a time?\" |\n| \"What's the pricing?\" | \"It depends on your setup, but we guarantee it's competitive. Let's jump on a quick call and I can walk you through it.\" |\n| \"Never heard of Oddle\" | \"We're big in Asia, working with [social proof restaurants]. Still growing in [their market], which is why we're reaching out to the best restaurants first.\" |\n| Firm no / \"Stop messaging me\" | Acknowledge gracefully, end thread. \"Understood, no worries at all. All the best with the restaurant!\" |\n\n### Stage 5: Book the Call\n\nWhen the prospect shows buying signals or agrees to learn more, ease into scheduling naturally. Do not just drop a link out of nowhere.\n\n**Step 1 — Anchor timing with a casual question:**\n\n> Are you free sometime this week or next week for a quick 20-min call?\n\nThis makes it feel like coordinating with a real person, not being funnelled into a form.\n\n**Step 2 — Once they confirm general availability, drop the booking link:**\n\n> Perfect, you can pick a slot here: [link]. If none of the times work for you, just let me know and I'll sort something out.\n\nAlways offer the fallback — \"let me know if the timing doesn't work\" — so the prospect doesn't feel boxed in by the calendar tool.\n\n**Booking Links by Country:**\n\n| Country | Booking Link |\n|---|---|\n| Singapore | https://forms.oddle.me/oddle-discovery-call-singapore|\n| Malaysia | https://forms.oddle.me/oddle-discovery-call-malaysia |\n| Australia | https://forms.oddle.me/oddle-discovery-call-au |\n| Dubai / UAE | https://forms.oddle.me/oddle-discovery-call-ae |\n| Others / Unknown | https://forms.oddle.me/oddle-discovery-call |\n\n**Example flows:**\n\n> Eunice: Would you be free this week or next for a quick chat with the team? It's about 20 mins.\n> Prospect: Next week works.\n> Eunice: Great, here's the link to grab a slot: [link]. If none of the times suit you just let me know, I'll find something that works.\n\n> Eunice: Want to hop on a quick call this week? 15-20 mins, super casual.\n> Prospect: Sure, send me the details.\n> Eunice: Here you go: [link]. Pick whatever works best for you. If those times don't fit just drop me a message and we'll figure it out.\n\n### Stage 6: Close the Conversation\n\nOnce the call is booked or a clear next step is confirmed, close warmly. Keep it short and human.\n\n> Looking forward to it, speak soon!\n\n> You're all set. Talk soon!\n\nIf the prospect has any last-minute questions after booking, give a brief answer and reaffirm the call: \"Good question, we'll definitely cover that on the call. See you [day]!\"\n\nDo not leave the conversation open-ended. Always end with either a confirmed booking or a clear next action.\n\n---\n\n## Rules & Guardrails\n\n1. **One question per message.** Never stack multiple questions.\n2. **Never sound scripted.** Vary your phrasing. Make it flow naturally between topics.\n3. **Don't over-qualify.** You need: restaurant name, their role, current setup (ordering/reservations), and interest level. Get these through conversation, not a checklist.\n4. **Don't dump product info.** Give enough to intrigue, not enough to satisfy. Prospects who get all answers over chat have no reason to get on a call.\n5. **Mirror their pace.** Short answers from them, short answers from you.\n6. **Always be moving toward the call.** Every message should either qualify or nudge toward booking. Three exchanges deep without progress toward a call? Make the ask.\n7. **Never let scheduling go unresolved.** Every conversation must end with a confirmed call time or a clear next step (e.g., \"I'll follow up Thursday\"). Never leave it at \"let me know.\"\n8. **Do not discuss detailed pricing.** Defer to the demo. One-liner positioning is fine (\"it's competitive\", \"cost-effective compared to marketplaces\"), but no figures or plan breakdowns.\n9. **If a lead goes cold mid-conversation,** send one follow-up message after a reasonable pause. If no response, leave it. Do not chase further.\n10. **Never fabricate data.** If you don't know, say so and offer to get the answer on the call.\n\n---\n\n## Routing Rules\n\n| Scenario | Action |\n|---|---|\n| Non-decision-maker, interested | Continue qualifying, then ask if they can loop in the decision-maker or share their contact |\n| Weak ICP / poor fit | Be honest, suggest they check the website, close politely |\n| Strong ICP, qualified | Book discovery call using country-specific link |\n| Prospect asks technical questions beyond your knowledge | Acknowledge, offer to get answers on the call |\n| Prospect wants to speak to someone senior | \"Let me connect you with the right person\" — escalate internally |\n\n---\n\n## Input Parsing\n\n- **Prospect's latest messages:** The most recent 1-3 messages you must respond to.\n- **Chat history:** Up to 10 messages in chronological order (oldest to newest). Read the full history before responding to maintain context and avoid repeating yourself.\n- **Prospect metadata:** Country, phone number, name (if available). Use country to determine booking link and social proof.\n\n---\n\n## Country Detection\n\nDetermine the prospect's country from:\n1. Phone number country code (+65 SG, +60 MY, +61 AU, +971 UAE, +852 HK, +1 US/CA, +64 NZ)\n2. Prospect metadata if provided\n3. Context clues in conversation (mentions of local platforms, currency, locations)\n\nIf country is ambiguous, ask naturally: \"By the way, which city are you based in?\""
          }
        },
        "id": "b67a7166-cb41-45b6-9f78-8da2e67cd9d3",
        "name": "Response Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          3712,
          288
        ],
        "typeVersion": 1.6
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n\t\"text\": \"Hi, do you take reservation for 10-12 pax?\"\n}",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          3952,
          480
        ],
        "id": "3d4610b2-9373-4d60-b150-c4157b1dfc0f",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-001"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          3584,
          864
        ],
        "id": "74e76b4f-6edf-4b21-bb0c-29220aef38fa",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"C0AR3LS7319\",\n  \"text\": \"New prospect reply needs approval\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bell: New Prospect Reply\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Number:*\\n{{ $('Receive Reply').item.json.body.waId }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Contact name:*\\n{{ $('Receive Reply').item.json.body.senderName || 'Unknown' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Restaurant:*\\n{{ $('Get Contact Details').item.json.custom_params[2].value || 'Unknown' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Country:*\\n{{ $('Get Contact Details').item.json.custom_params[4].value || 'Unknown'}}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Prospect's Reply:*\\n```{{ \n  (function() {\n    let rawText = $('Map fields').item.json.latest_messages || '';\n    return JSON.stringify(rawText).slice(1, -1);\n  })()\n}}```\"\n\n\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Agent Generated Response:*\\n```{{ JSON.stringify($json.output.text || '').slice(1, -1) }}```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"approval_actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \":white_check_mark: Approve & Send\",\n            \"emoji\": true\n          },\n          \"style\": \"primary\",\n          \"action_id\": \"approve\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✏ Reject & Send manually\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"action_id\": \"reject\",\n          \"value\": \"{{ $('Parse Chat History').item.json.conversationId }}\"\n        }\n      ]\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4432,
          288
        ],
        "id": "a685960e-5915-4b70-9edb-86012ff8dec9",
        "name": "Send to Slack for Approval",
        "credentials": {
          "httpBearerAuth": {
            "id": "BgXVOoYmNGYi7Ev4",
            "name": "Slack Inbound WA Agent"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "inbound-sdr-wa-agent",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -944,
          1072
        ],
        "id": "a1106ef4-b875-4c1a-8aef-6326df5fa57c",
        "name": "Receive Reply",
        "webhookId": "21da2614-5b74-449d-b230-82b03ed27c31"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ec5e944c-7656-4860-adb7-edcfa8b95ed0",
                      "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Text Message"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "89131ef6-0956-449c-b0ea-31fffced6303",
                      "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                      "rightValue": "link_preview",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Link provided"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                      "rightValue": "image"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Image Message"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "75e367cd-3913-4ea4-a2ea-b0442b3325fb",
                      "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                      "rightValue": "voice",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Voice Message"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                      "rightValue": "audio",
                      "id": "1113da73-5d4e-450e-90b3-960e6bec2e3c"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Audio Message"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $('Merge Messages').item.json.message_type }}",
                      "rightValue": "video"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Video Message"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "Other Message Type"
          }
        },
        "id": "16e575d2-1edf-4d9b-b302-ab442d5a9e87",
        "name": "Redirect Message Types",
        "type": "n8n-nodes-base.switch",
        "position": [
          464,
          240
        ],
        "typeVersion": 3.2,
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-001"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          3888,
          864
        ],
        "id": "a155d9e2-f8ee-4e5b-b94e-46084c3d3c77",
        "name": "Embeddings Google Gemini1",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Contains comprehensive product knowledge about Oddle, Oddle Reservation and Oddle Shop, including what the platform does, key features, and value propositions. Use this to answer prospect questions about Oddle's products and capabilities.",
          "tableName": {
            "__rl": true,
            "value": "oddle_eshop_knowledge_base",
            "mode": "list",
            "cachedResultName": "oddle_eshop_knowledge_base"
          },
          "topK": 5,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          3888,
          704
        ],
        "id": "cf7a678a-79e5-40a2-9c3c-993bd17ccd75",
        "name": "Product Knowledge Base",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Route country\nLocalization required",
          "height": 240,
          "width": 368,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -720,
          992
        ],
        "typeVersion": 1,
        "id": "829757cb-6699-491f-99f6-68c7abced347",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Capturing all lead's messages in 1 minute (right now 1 second - to edit later)",
          "height": 544,
          "width": 2080,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -144,
          928
        ],
        "typeVersion": 1,
        "id": "1c95737e-8150-4d11-871b-1f5eda1b89f2",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## Notify in Slack channel\nChannel ID localization required",
          "height": 288,
          "width": 352,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          992,
          592
        ],
        "typeVersion": 1,
        "id": "5a3dc11d-9bf8-4ba1-8883-e034891fd8bc",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Process image messages - NEED TO EDIT FOR WATI",
          "height": 288,
          "width": 912,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          976,
          208
        ],
        "typeVersion": 1,
        "id": "1c9affd6-5d9f-465c-8a2f-655241d42e02",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "content": "## Retrieve chat history",
          "height": 336,
          "width": 1296,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2096,
          176
        ],
        "typeVersion": 1,
        "id": "2717a97d-6fe4-41d5-a8a3-a6ac2d862b6e",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "## Send to Slack for approval\nChannel ID localization required",
          "height": 320,
          "width": 432,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4224,
          192
        ],
        "typeVersion": 1,
        "id": "c4c17f9b-9674-4b4f-8c69-f263f1ecc9b2",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Main SDR agent drafting response\nLocalization required for:\n1) System prompt\n2) Response Handling KB",
          "height": 944,
          "width": 688,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3472,
          128
        ],
        "typeVersion": 1,
        "id": "f2537203-f4e4-46a5-b5fa-798bb5c4768b",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Set up webhook path\nChange path",
          "height": 240,
          "width": 304,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1056,
          992
        ],
        "typeVersion": 1,
        "id": "489edcd1-1266-4c2e-b061-9ea0a689e989",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "gpt-4.1"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          3568,
          496
        ],
        "id": "b187c5cd-4c4e-49d1-bc98-6dc631dd4bb6",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "U11ZFugtdDzwhsyC",
            "name": "OpenAI Account"
          }
        }
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          688,
          1056
        ],
        "id": "bc7fd282-038f-40e2-8eee-559d1042868f",
        "name": "Wait 1 min",
        "webhookId": "8e4d2716-7852-48fe-a4bd-889f4fe95d1e"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "2c761342-1b37-4add-b95d-3d09c764111d",
                "leftValue": "={{ $('Receive Reply').item.json.body.waId }}",
                "rightValue": "886",
                "operator": {
                  "type": "string",
                  "operation": "notStartsWith"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -656,
          1072
        ],
        "id": "a955e919-d7f9-4c57-a856-2c9c7aac0d0d",
        "name": "Check if reply not from Taiwan"
      },
      {
        "parameters": {
          "url": "=https://live-mt-server.wati.io/api/ext/v3/contacts/{{ $('Receive Reply').item.json.body.waId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2432,
          288
        ],
        "id": "c7352e9a-eefc-4cb8-a003-8cbdbb646cc9",
        "name": "Get Contact Details",
        "alwaysOutputData": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "qBoCbsiIZFcmrK9e",
            "name": "WATI API token"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Qualifying frameworks, ICP criteria, conversation flows, and country-specific positioning for restaurant prospects. Use to guide qualification strategy and segment identification.",
          "tableName": {
            "__rl": true,
            "value": "oddle_prospecting_guide",
            "mode": "list",
            "cachedResultName": "oddle_prospecting_guide"
          },
          "topK": 5,
          "options": {
            "queryName": "match_documents"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          3584,
          704
        ],
        "id": "91b71dab-87c2-436b-990a-4444d13a904e",
        "name": "Prospecting Guide Knowledge Base",
        "credentials": {
          "supabaseApi": {
            "id": "aJzMx5t2Q4kcZ8EL",
            "name": "Supabase Account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          4064,
          592
        ],
        "id": "5910615d-c064-48e5-bbd9-af47bdfe7502",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "RYsSfOkTTr5PB58p",
            "name": "Oddle's Google Gemini(PaLM) API account"
          }
        }
      }
    ],
    "connections": {
      "Get Buffer Row": {
        "main": [
          [
            {
              "node": "Build Buffer Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Buffer Data": {
        "main": [
          [
            {
              "node": "Upsert Buffer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Buffer": {
        "main": [
          [
            {
              "node": "Store myTs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store myTs": {
        "main": [
          [
            {
              "node": "Wait 1 min",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Buffer Timestamp": {
        "main": [
          [
            {
              "node": "Is Last Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Last Message?": {
        "main": [
          [
            {
              "node": "Fetch Buffered Messages",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Buffered Messages": {
        "main": [
          [
            {
              "node": "Merge Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Messages": {
        "main": [
          [
            {
              "node": "Clear Buffer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clear Buffer": {
        "main": [
          [
            {
              "node": "Redirect Message Types",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format response": {
        "main": [
          [
            {
              "node": "Get User's Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get image file ID": {
        "main": [
          [
            {
              "node": "Retrieve image from Bird",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve image from Bird": {
        "main": [
          [
            {
              "node": "Analyze image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze image": {
        "main": [
          [
            {
              "node": "Format image description",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format image description": {
        "main": [
          [
            {
              "node": "Get User's Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User's Message": {
        "main": [
          [
            {
              "node": "Get Contact Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Chat History": {
        "main": [
          [
            {
              "node": "Parse Chat History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Chat History": {
        "main": [
          [
            {
              "node": "Map fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map fields": {
        "main": [
          [
            {
              "node": "Response Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Response Agent": {
        "main": [
          [
            {
              "node": "Send to Slack for Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Response Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Prospecting Guide Knowledge Base",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Receive Reply": {
        "main": [
          [
            {
              "node": "Check if reply not from Taiwan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redirect Message Types": {
        "main": [
          [
            {
              "node": "Format response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get image file ID",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify in Slack2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify in Slack2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify in Slack2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify in Slack2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini1": {
        "ai_embedding": [
          [
            {
              "node": "Product Knowledge Base",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Product Knowledge Base": {
        "ai_tool": [
          [
            {
              "node": "Response Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Response Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Wait 1 min": {
        "main": [
          [
            {
              "node": "Read Buffer Timestamp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if reply not from Taiwan": {
        "main": [
          [
            {
              "node": "Get Buffer Row",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Contact Details": {
        "main": [
          [
            {
              "node": "Get Chat History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prospecting Guide Knowledge Base": {
        "ai_tool": [
          [
            {
              "node": "Response Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Oddle Engineer",
    "name": "Version dede1bc3",
    "description": "",
    "autosaved": false
  },
  "tags": []
}